<div class="signin-wrapper" ng-if ="logInValue">
  <div class="signin-box">
    <h2 class="slim-logo"><a href="javascript:void(0)" ng-click="home()">SVM</a></h2>
    <h3 class="signin-title-primary">Welcome back!</h2>
    <h5 class="signin-title-secondary">Sign in to continue.</h3>

    <div class="form-group" ng-class="{validateError: validate.loginEmail}">
      <input type="text" class="form-control" placeholder="email" ng-model="logIn.email" ng-class="{error: validate.loginEmail}">
      <span class="tx-danger" ng-if="validate.loginEmail.require">Email field is required</span>
      <span class="tx-danger" ng-if="validate.loginEmail.regexMatch">{{validate.loginEmail.regexMatch}}</span>
    </div><!-- form-group -->
    <div class="form-group" ng-class="{validateError: validate.loginPassword}">
      <input type="password" class="form-control" placeholder="passsword" ng-model="logIn.password" ng-class="{error: validate.loginPassword}">
      <span class="text-danger" ng-if="validate.loginPassword.require">Password field is required</span>
    </div><!-- form-group -->
    <a href class="btn btn-primary btn-block btn-signin mg-b-20" style="text-transform: none;" ng-click="userLogin();">Sign in</a>
    <div class="tx-danger tx-center" ng-if="errorMessage"><label ng-bind="errorMessage"></label></div>
    <div class="tx-success tx-center" ng-if="successMessage"><label ng-bind="successMessage"></label></div>
    <div class="signup-separator"><span>or Sign in using</span></div>
    <button class="btn btn-linkedin btn-block" style="text-transform: none;" disabled>Sign in using LinkedIn <i class="fa fa-linkedin tx-white mg-r-5"></i></button>
    <button class="btn btn-google btn-block" style="text-transform: none;" disabled>Sign in using Gmail <i class="fa fa-google tx-white mg-r-5"></i></button>
    <br>
    <p class="mg-b-0">Trouble logging in? <a style="cursor:pointer;color:#1b84e7" ng-click="cardView('forgotPassword')">Forgot Password</a></p>
    <p class="mg-b-0">Don't have an account? <a style="cursor:pointer;color:#1b84e7" ng-click="cardView('signUp')">Explore & Sign up</a></p>
  </div><!-- signin-box -->
</div><!-- signin-wrapper -->
<div class="signin-wrapper" ng-if ="forgotPasswordValue">
  <div class="signin-box">
    <h2 class="slim-logo"><a href="javascript:void(0)" ng-click="home()">SVM</a></h2>
    <h5 class="signin-title-secondary">Enter your registered email to continue. You will receive a password reset link to your email.</h3>

    <div class="form-group" ng-class="{validateError: validate.forgotPasswordEmail}">
      <input type="text" class="form-control" placeholder="email" ng-model="forgotPassword.email" ng-class="{error: validate.forgotPasswordEmail}">
      <span class="tx-danger" ng-if="validate.forgotPasswordEmail.require">Email field is required</span>
      <span class="tx-danger" ng-if="validate.forgotPasswordEmail.regexMatch">{{validate.forgotPasswordEmail.regexMatch}}</span>
    </div><!-- form-group -->
    <a href class="btn btn-primary btn-block btn-signin mg-b-20" style="text-transform: none;" ng-click="userForgotPassword();">Submit</a>
    <div class="tx-danger tx-center" ng-if="errorMessage"><label ng-bind="errorMessage"></label></div>
    <div class="tx-success tx-center" ng-if="successMessage"><label ng-bind="successMessage"></label></div>
    <p class="mg-b-0">Want to try logging in again? <a style="cursor:pointer;color:#1b84e7" ng-click="cardView('logIn')">Log In</a></p>
  </div><!-- signin-box -->
</div><!-- signin-wrapper -->
<div class="signin-wrapper" ng-if ="signUpValue">
  <div class="signin-box signup">
    <h3 class="slim-logo"><a href="javascript:void(0)" ng-click="home()">SVM</a></h2>
    <h4 class="signin-title-primary">Get Started!</h3>
    <h5 class="signin-title-secondary lh-4">It's free to Sign up and only takes a minute!</h5>
    <div class="row row-xs mg-b-10">
      <div class="col-sm">
        <span>Sector :</span>
        <input type="text" class="form-control" ng-model="userData.type" placeholder="sector" disabled>
      </div>
      <div class="col-sm mg-t-10 mg-sm-t-0">
        <span>Persona :</span>
        <input type="text" class="form-control" ng-model="userData.areaOfInterest" placeholder="persona" disabled>
      </div>
    </div><!-- row -->
    <div class="row row-xs mg-b-10">
      <div class="col-sm" ng-class="{validateError: validate.firstName}">
        <input type="text" class="form-control" ng-model="signUp.firstName" placeholder="first name" ng-class="{error: validate.firstName}">
        <span class="tx-danger" ng-if="validate.firstName.require">First Name field is required</span>
        <span class="tx-danger" ng-if="validate.firstName.regexMatch">Please enter valid First Name</span>
      </div>
      <div class="col-sm mg-t-10 mg-sm-t-0" ng-class="{validateError: validate.lastName}">
        <input type="text" class="form-control" ng-model="signUp.lastName" placeholder="last name" ng-class="{error: validate.lastName}">
        <span class="tx-danger" ng-if="validate.lastName.require">Last Name field is required</span>
        <span class="tx-danger" ng-if="validate.lastName.regexMatch">Please enter valid First Name</span>
      </div>
    </div><!-- row -->

    <div class="row row-xs mg-b-20">
      <div class="col-sm" ng-class="{validateError: validate.signUpEmail}">
        <input type="text" class="form-control" ng-model="signUp.email" placeholder="email" ng-class="{error: validate.signUpEmail}">
        <span class="tx-danger" ng-if="validate.signUpEmail.require">Email field is required</span>
        <span class="tx-danger" ng-if="validate.signUpEmail.regexMatch">{{validate.signUpEmail.regexMatch}}</span>
      </div>
      <div class="col-sm mg-t-10 mg-sm-t-0" ng-class="{validateError: validate.signUpPassword}">
        <input type="password" class="form-control" ng-model="signUp.password" placeholder="password" ng-class="{error: validate.signUpPassword}">
        <span class="tx-danger" ng-if="validate.signUpPassword.require">Password field is required</span>
        <span class="tx-danger" ng-if="validate.signUpPassword.regexMatch">{{validate.signUpPassword.regexMatch}}</span>
      </div>
    </div><!-- row --> 

    <div class="row row-xs mg-b-20">
      <div class="col-sm" ng-class="{validateError: validate.signUpState}">
        <span>State :</span>
        <select>
            <option value="volvo">n/a</option>
            <option value="volvo">Andhra Pradesh</option>
            <option value="saab">Arunachal Pradesh</option>
            <option value="mercedes"> Assam</option>
            <option value="audi"> Bihar</option>
            <option value="audi"> Chhattisgarh</option>
            <option value="audi"> Goa</option>
            <option value="audi"> Gujarat</option>
            <option value="audi"> Haryana</option>
            <option value="audi"> Himachal Pradesh</option>
            <option value="audi"> Jammu and Kashmir</option>
            <option value="audi"> Jharkhand</option>
            <option value="audi"> Karnataka</option>
            <option value="audi"> Kerala</option>
            <option value="audi"> Madhya Pradesh</option>
            <option value="audi"> Maharashtra</option>
            <option value="audi"> Manipur</option>
            <option value="audi"> Meghalaya</option>
            <option value="audi"> Mizoram</option>
            <option value="audi"> Nagaland</option>
            <option value="audi"> Odisha</option>
            <option value="audi"> Punjab</option>
            <option value="audi"> Rajasthan </option>
            <option value="audi"> Sikkim</option>
            <option value="audi"> Tamil Nadu</option>
            <option value="audi"> Telangana</option>
            <option value="audi"> Tripura</option>
            <option value="audi"> Uttar Pradesh</option>
            <option value="audi"> Uttarakhand</option>
            <option value="audi"> West Bengal</option>
        </select>
        <span class="tx-danger" ng-if="validate.signUpState.require">State is required</span>
        <span class="tx-danger" ng-if="validate.signUpState.regexMatch">{{validate.signUpState.regexMatch}}</span>
      </div>
    </div><!-- row that I made--> 

    <a href="" class="btn btn-primary btn-block btn-signin"  style="text-transform: none;" ng-click="userSignUp();">Sign up</a>
    <div class="tx-danger tx-center" ng-if="errorMessage"><label ng-bind="errorMessage"></label></div>
    <div class="tx-success tx-center" ng-if="successMessage"><label  ng-bind="successMessage"></label></div>


    <div class="signup-separator"><span>or Sign up using</span></div>
    <button class="btn btn-linkedin btn-block" style="text-transform: none;" disabled>Sign up using LinkedIn <i class="fa fa-linkedin tx-white mg-r-5"></i></button>
    <button class="btn btn-google btn-block" style="text-transform: none;" disabled>Sign up using Gmail <i class="fa fa-google tx-white mg-r-5"></i></button>

    <p class="mg-t-40 mg-b-0">Already have an account? <a ng-click="cardView('logIn')" style="cursor:pointer;color:#1b84e7; text-transform: none;">Sign in</a></p>
  </div><!-- signin-box -->
</div>