<style>
    .black-background {
        align-items: center;
        background-color: rgba(51, 51, 51, .8);
        display:flex;
        flex: 1;
        height: 100%;
        justify-content: center;
        left: 0px;
        min-height: 0;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 10000;
    }
</style>
<sign-up ng-if="view().signUpView"></sign-up>
<main-body ng-if="!view().signUpView && !view().landingView && !view().resetPasswordView && !view().activateUserView && !view().errorPageView"></main-body>
<landing-page ng-if="view().landingView"></landing-page>
<reset-password ng-if="view().resetPasswordView && changePassword"></reset-password>
<activate-user ng-if ="view().activateUserView && activateUser "></activate-user>
<error-page ng-if ="view().errorPageView && errorPage"></error-page>
<div class="black-background" ng-if="loader()">
    <div class="loader">
        <img src="assets/img/loader.svg">
    </div>
</div>