<style type="text/css">
.card-contact{
  padding: 0px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 50%;
  width: 200px;
}
.invoice-header{
  flex-direction: column !important;
}
.tags{
  font-size: 0.85em;
  border: 1px solid #cccbcb;
  border-radius: 3px;
  background: #eeeeee;
}
li.tab-active{
  text-decoration: underline;
}
.note-editing-area{
  margin-top: 15px !important;
}
.ellipsis2{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
</style>
  
<div class="">
  <div class="slim-mainpanel">
    <div class="container">
      <div class="slim-pageheader">
        <div style="display: flex;">
            
        </div>
        <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="collaborateView('collaborateView')">Collaborate</a></li>
            <li class="breadcrumb-item">
              <a href="javascript:void(0)" ng-click="collaborateView('editCollaborateView')">{{singleCollaborateData.name}}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Edit Collaborate</li>
        </ol>
      </div><!-- slim-pageheader -->
      <div class="section-wrapper">
        <label class="section-title">Edit Collaborator</label>  
        <div id="accordion4" class="accordion-two accordion-two-primary" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="primaryDetailsHeading">
              <a data-toggle="collapse" data-parent="#accordion4" href="#collaboratePrimaryDetails" aria-expanded="true" aria-controls="collaboratePrimaryDetails" class="tx-gray-800 transition">Primary Details</a>
            </div><!-- card-header -->
            <div id="collaboratePrimaryDetails" class="collapse show" role="tabpanel" aria-labelledby="primaryDetailsHeading">
              <div class="section-wrapper">
                <div class="form-layout">
                  <div class="row mg-b-25">
                    <div class="col-lg-4">        
                      <div class="form-group" ng-class="{validateError: validate.name}">
                        <label class="form-control-label">Collaboration Name: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="collaborateName" ng-model="singleCollaborateData.name" placeholder="Enter Solution Name" ng-class="{error: validate.name}" maxlength="200"/>
                        <span class="tx-danger" ng-if="validate.name.require">Name is required</span>
                      </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">Website: <span class="tx-danger"></span></label>
                        <input class="form-control" type="text" name="Website" ng-model="singleCollaborateData.website" placeholder="Enter Website"/>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group" ng-class="{validateError: validate.sector}">
                        <label class="form-control-label">Sector: <span class="tx-danger">*</span></label>                                  
                        <select id="challengeType" class="form-control select2" ng-model="singleCollaborateData.sector"  ng-class="{error: validate.sector}" data-placeholder="Select Sector" multiple>
                          <!-- <option label="Select Sector"></option> -->
                          <option value="Agriculture">Agriculture</option>
                          <option value="Healthcare">Healthcare</option>
                          <option value="Transportation">Transportation</option>
                          <option value="Water & Sanitation">Water & Sanitation</option>
                          <option value="Connectivity">Connectivity</option>
                          <option value="Education">Education</option>
                          <option value="Energy">Energy</option>
                          <option value="Livelihood">Livelihood</option>
                        </select>
                        <span class="tx-danger" ng-if="validate.sector.require">Sector is required</span>
                      </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                      <div class="form-group mg-b-10-force" ng-class="{validateError: validate.type}">
                        <label class="form-control-label">Persona: <span class="tx-danger">*</span></label>
                        <select class="form-control select2" ng-model="singleCollaborateData.type" ng-class="{error: validate.type}" data-placeholder="Select Persona">
                          <!-- <option label="Select Persona"></option> -->
                          <option value="People">People</option>
                          <option value="University">University</option>
                          <option value="Startup">Startup</option>
                          <option value="Government">Government</option>
                          <option value="Corporations">Corporations</option>
                        </select>
                        <span class="tx-danger" ng-if="validate.type.require">Persona is required</span>
                      </div>
                    </div><!-- col-8 -->
                    <div class="col-lg-4">
                      <div class="form-group mg-b-10-force">
                        <label class="form-control-label">Keyword: </label>
                        <input class="form-control" type="text" name="Keyword" ng-model="singleCollaborateData.keyword" placeholder="Enter Keyword"/>
                      </div>
                    </div><!-- col-8 -->    
                    <div class="col-lg-4">
                      <div class="form-group mg-b-10-force" ng-class="{validateError: validate.location}">
                        <label class="form-control-label">Location: </label>
                        <input class="form-control" type="text" name="Location" ng-model="singleCollaborateData.location" placeholder="Enter Location" ng-class="{error: validate.location}"/>
                        <span class="tx-danger" ng-if="validate.location.require">Location is required</span>
                      </div>
                    </div><!-- col-8 --> 
                    <div class="col-lg-4">
                      <label class="form-control-label">Profile Picture:</label>
                      <div class="custom-file">
                        <!-- <input type="file" class="custom-file-input" id="logo"> -->
                        <input type='file' class="custom-file-input" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
                        <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                        <span class="mg-t-5 tx-inverse" ng-if="image1"><b>Selected File:</b> {{image1}}</span>
                        <br/>
                        <span class="tx-danger" ng-if="validate.logo.require">Please upload a valid jpg/png image</span>
                      </div><!-- custom-file -->
                    </div><!-- col-6 -->
                  </div><!-- row -->    
                  <div class="alert alert-success" role="alert" id="successMessage1" ng-if="successMessage1">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong>Success!</strong> {{successMessage1}}.
                  </div>
                  <div class="alert alert-danger" role="alert" id="errorMessage1" ng-if="errorMessage1">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong>Error!</strong> {{errorMessage1}}.
                  </div>                             
                  <div class="form-layout-footer">
                    <button id="primaryDetails" class="btn btn-primary bd-0" ng-click="collaboratePrimaryDetails()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                  </div><!-- form-layout-footer -->
                </div><!-- form-layout -->
              </div><!-- section-wrapper -->
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="aboutCollaborateHeading">
              <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#aboutCollaborate" aria-expanded="false" aria-controls="aboutCollaborate">About</a>
            </div>
            <div id="aboutCollaborate" class="collapse" role="tabpanel" aria-labelledby="aboutCollaborateHeading">
              <div class="section-wrapper">
                <!-- <label class="section-title">Top Label Layout</label>
                <p class="mg-b-20 mg-sm-b-40">A form with a label on top of each form control.</p> -->
                <div class="form-layout">
                  <div class="row mg-b-25">
                    <div class="col-lg-9">
                      <div class="form-group">
                        <label class="form-control-label">About</label>
                        <textarea id="about"></textarea>
                      </div>
                    </div><!-- col-4 -->
                  </div><!-- row -->
                  <div class="alert alert-success" role="alert" id="successMessage2" ng-if="successMessage2">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong>Success!</strong> {{successMessage2}}.
                  </div>
                  <div class="alert alert-danger" role="alert" id="errorMessage2" ng-if="errorMessage2">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong>Error!</strong> {{errorMessage2}}.
                  </div>
                  <div class="form-layout-footer">
                    <button id="about" class="btn btn-primary bd-0" ng-click="about()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                  </div><!-- form-layout-footer -->
                </div><!-- form-layout -->
              </div><!-- section-wrapper -->
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="interestDetailsHeading">
                <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#interestDetails" aria-expanded="false" aria-controls="interestDetails">
                Interest
                </a>
            </div>
            <div id="interestDetails" class="collapse" role="tabpanel" aria-labelledby="interestDetailsHeading">
              <div class="section-wrapper">
                <!-- <label class="section-title">Top Label Layout</label>
                <p class="mg-b-20 mg-sm-b-40">A form with a label on top of each form control.</p> -->
                <div class="form-layout">
                  <div class="row mg-b-25">
                    <div class="col-lg-9">
                      <div class="form-group">
                        <label class="form-control-label">Interest</label>
                        <textarea id="interest"></textarea>
                      </div>
                    </div><!-- col-4 -->
                  </div><!-- row -->
                  <div class="alert alert-success" role="alert" id="successMessage3" ng-if="successMessage3">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong>Success!</strong> {{successMessage3}}.
                  </div>
                  <div class="alert alert-danger" role="alert" id="errorMessage3" ng-if="errorMessage3">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong>Error!</strong> {{errorMessage3}}.
                  </div>
                  <div class="form-layout-footer">
                    <button id="interests" class="btn btn-primary bd-0" ng-click="interest()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                  </div><!-- form-layout-footer -->
                </div><!-- form-layout -->
              </div><!-- section-wrapper -->
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="previousEngagementHeading">
              <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#previousEngagement" aria-expanded="false" aria-controls="previousEngagement">
                  Previous Engagement
              </a>
            </div>
            <div id="previousEngagement" class="collapse" role="tabpanel" aria-labelledby="previousEngagementHeading">
              <div class="section-wrapper">
                <div class="form-layout">
                  <div class="row mg-b-25">
                    <div class="col-lg-9">
                      <div class="form-group">
                        <label class="form-control-label"> Previous Engagement</label>
                        <textarea id="prevEngagement"></textarea>
                      </div>
                    </div><!-- col-4 -->
                  </div><!-- row -->
                  <div class="alert alert-success" role="alert" id="successMessage4" ng-if="successMessage4">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong>Success!</strong> {{successMessage4}}.
                  </div>
                  <div class="alert alert-danger" role="alert" id="errorMessage4" ng-if="errorMessage4">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong>Error!</strong> {{errorMessage4}}.
                  </div>
                  <div class="form-layout-footer">
                    <button id="prevEngagement" class="btn btn-primary bd-0" ng-click="prevEngagement()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                  </div><!-- form-layout-footer -->
                </div><!-- form-layout -->
              </div><!-- section-wrapper -->
            </div>
          </div>
        </div><!-- accordion -->
      </div><!-- section-wrapper -->
    </div><!-- container -->
  </div><!-- slim-mainpanel -->

  <div class="slim-footer">
    <div class="container">
      <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
      <p>Version 1.0(Beta)</p>
    </div><!-- container -->
  </div><!-- slim-footer -->
</div>
  
  