<html>
    <head>
        <link rel="stylesheet" href="assets/landingPage/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/landingPage/css/line-icons.css">
        <link rel="stylesheet" href="assets/landingPage/css/animate.min.css">
        <link rel="stylesheet" href="assets/landingPage/css/main.css">    
        <link rel="stylesheet" href="assets/landingPage/css/responsive.css">
        
    </head>
    <body>
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="assets/landingPage/js/jquery-min.js"></script>
    <script src="assets/landingPage/js/bootstrap.min.js"></script>     
    <script src="assets/landingPage/js/jquery.nav.min.js"></script>    
    <!-- <script src="assets/landingPage/js/scrolling-nav.js"></script>    --> 
    <script src="assets/landingPage/js/jquery.easing.min.js"></script>
    <script src="assets/landingPage/js/main.js"></script>
    </body>
</html>
<landing-page-home ng-if="view().landingPageHomeView"></landing-page-home>
<tracker ng-if="view().trackerView"></tracker>
<challenge-open ng-if="view().challengeOpenView" ></challenge-open>
<solution-open ng-if="view().solutionOpenView" ></solution-open>
<collaborate-open ng-if="view().collaborateOpenView" ></collaborate-open>
<terms ng-if="view().termsView()"></terms>