<style>
    .font-size-40 {
        font-size: 40px!important;
    }
</style>
<div class="page-error-wrapper" ng-if="value == 'error'">
    <div>
        <h1 class="error-title">404</h1>
        <h5 class="tx-sm-24 tx-normal">Oopps. The page you were looking for doesn't exist.</h5>
        <p class="mg-b-50">You may have mistyped the address or the page may have moved.</p>
        <p class="mg-b-50"><a href="javascript:void(0)" ng-click="home()" class="btn btn-error">Back to Home</a></p>
        <p class="error-footer">&copy; Copyright 2018. All Rights Reserved.</p>
    </div>
</div>
<div class="page-error-wrapper" ng-if="value == 'expiredlink'">
    <div>
        <h4 class="error-title font-size-40">Your account has been already activated</h4>
        <p class="mg-b-50 mg-t-30"><a href="javascript:void(0)" ng-click="login()" class="btn btn-error">Back to Login</a></p>
        <p class="error-footer">&copy; Copyright 2018. All Rights Reserved.</p>
    </div>
</div>
  