<top-nav></top-nav>
<challenge ng-if="view().challengeView"></challenge>
<edit-challenge ng-if="view().editChallengeView"></edit-challenge>
<user-profile ng-if="view().userProfileView"></user-profile>
<user-messages ng-if="view().userMessageView"></user-messages>
<edit-profile ng-if="view().editProfileView"></edit-profile>
<edit-challenge-data ng-if="view().editChallengeDataView"></edit-challenge-data>
<discussions ng-if="view().discussionsView"></discussions>
<solution ng-if="view().solutionView"></solution>
<village-bulletin ng-if="view().villageBulletinView"></village-bulletin>
<edit-solution ng-if="view().editSolutionView"></edit-solution>
<edit-solution-data ng-if="view().editSolutionDataView"></edit-solution-data>
<collaborate ng-if="view().collaborateView"></collaborate>
<edit-collaborate ng-if="view().editCollaborateView"></edit-collaborate>
<edit-collaborate-data ng-if="view().editCollaborateDataView" ></edit-collaborate-data>
<project ng-if="view().projectView"></project>
<project-list ng-if="view().projectListView"></project-list>
<project-data ng-if="view().projectDataView"></project-data>
<research ng-if="view().researchView"></research>
<research-projects ng-if="view().researchProjectsView"></research-projects>
<project-profiles ng-if="view().projectProfilesView"></project-profiles>
<project-folder-users ng-if="view().projectFolderUsersView"></project-folder-users>
<edit-project-data ng-if="view().editProjectDataView"></edit-project-data>
<user-follow ng-if="view().userFollowView"></user-follow>
<settings ng-if="view().settingsView"></settings>
<village-bulletin-data  ng-if="view().villageBulletinDataView"></village-bulletin-data>
<village-bulletin-information ng-if="view().villageBulletinInformationView" ></village-bulletin-information>
<request-information ng-if="view().requestInformationView"></request-information>