
    <style type="text/css">
      .card-contact{
        padding: 0px;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 50%;
        width: 200px;
      }
      .invoice-header{
        flex-direction: column !important;
      }
      .tags{
        font-size: 0.85em;
        border: 1px solid #cccbcb;
        border-radius: 3px;
        background: #eeeeee;
      }
      li.tab-active{
        text-decoration: underline;
      }
      .note-editing-area{
        margin-top: 15px !important;
      }
    </style>

  
  <div class="">
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <div style="display: flex;">

          </div>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="" ng-click="challengeViews('challengeView');">Challenges</a></li>
            <li class="breadcrumb-item"><a href="" ng-click="challengeViews('editChallengeView');">{{singleChallengeData.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Challenge</li>
          </ol>
        </div><!-- slim-pageheader -->

        <div class="section-wrapper">
          <label class="section-title">Edit Challenge</label>

          <div id="accordion4" class="accordion-two accordion-two-primary" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="primaryDetailsHeading">
                <a data-toggle="collapse" data-parent="#accordion4" href="#challengePrimaryDetails" aria-expanded="true" aria-controls="challengePrimaryDetails" class="tx-gray-800 transition">
                  Primary Details
                </a>
              </div><!-- card-header -->
              <div id="challengePrimaryDetails" class="collapse show" role="tabpanel" aria-labelledby="primaryDetailsHeading">
                <!-- <div class="card-body">
                  A concisely coded CSS3 button set increases usability across the board, gives you a ton of options, and keeps all the code involved to an absolute minimum. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                </div> -->
                <div class="section-wrapper">
                  <!-- <label class="section-title">Top Label Layout</label>
                  <p class="mg-b-20 mg-sm-b-40">A form with a label on top of each form control.</p> -->
                  <div class="form-layout">
                    <div class="row mg-b-25">
                      <div class="col-lg-4">
                        <div class="form-group" ng-class="{validateError: validate.title}">
                          <label class="form-control-label">Challenge Name: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="text" name="challengeName" ng-model="singleChallengeData.title" placeholder="Enter Challenge Name" ng-class="{error: validate.title}" maxlength="150">
                          <span class="tx-danger" ng-if="validate.title.require">Challenge Name is required</span>
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                        <div class="form-group" ng-class="{validateError: validate.description}">
                          <label class="form-control-label">Short Description: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="text" name="location" ng-model="singleChallengeData.description" placeholder="Enter location" maxlength="200" ng-class="{error: validate.description}">                          
                          <span class="tx-danger" ng-if="validate.description.require">Description is required</span>
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4" ng-class="{validateError: validate.location}">
                        <div class="form-group">
                          <label class="form-control-label">Location: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="text" name="location" ng-model="singleChallengeData.location" placeholder="Enter location" ng-class="{error: validate.location}" maxlength="250">
                          <span class="tx-danger" ng-if="validate.location.require">Location is required</span>
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Keyword: </label>
                          <input class="form-control" type="text" name="location" ng-model="singleChallengeData.keyword" placeholder="Enter keyword">
                        </div>
                      </div>
                      <div class="col-lg-4" ng-class="{validateError: validate.sector}">
                        <div class="form-group mg-b-10-force">
                          <label class="form-control-label"> Sector: <span class="tx-danger">*</span></label>
                          <select id="challengeType" class="form-control" ng-model="singleChallengeData.sector" ng-class="{error: validate.sector}" data-placeholder="Select Sector">
                            <option label="Select Sector"></option>
                            <option value="Agriculture">Agriculture</option>
                            <option value="Healthcare">Healthcare</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Water & Sanitation">Water & Sanitation</option>
                            <option value="Connectivity">Connectivity</option>
                            <option value="Education">Education</option>
                            <option value="Energy">Energy</option>
                            <option value="Livelihood">Livelihood</option>
                          </select>
                          <span class="tx-danger" ng-if="validate.sector.require">Sector is required</span>
                        </div>
                      </div><!-- col-8 -->
                    </div><!-- row -->
                    <div class="alert alert-success" role="alert" id="successMessage1" ng-if="successMessage1">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <strong>Success!</strong> {{successMessage1}}.
                    </div>
                    <div class="alert alert-danger" role="alert" id="errorMessage1" ng-if="errorMessage1">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <strong>Error!</strong> {{errorMessage1}}.
                    </div>
                    <div class="form-layout-footer">
                      <button id="primaryDetails" class="btn btn-primary bd-0" ng-click="updateChallengeDetails()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                    </div><!-- form-layout-footer -->
                  </div><!-- form-layout -->
                </div><!-- section-wrapper -->
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="challengeSummaryHeading">
                <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#challengeSummary" aria-expanded="false" aria-controls="challengeSummary">
                  Challenge Summary
                </a>
              </div>
              <div id="challengeSummary" class="collapse" role="tabpanel" aria-labelledby="challengeSummaryHeading">
                <div class="section-wrapper">
                  <!-- <label class="section-title">Top Label Layout</label>
                  <p class="mg-b-20 mg-sm-b-40">A form with a label on top of each form control.</p> -->
                  <div class="form-layout">
                    <div class="row mg-b-25">
                      <div class="col-lg-9">
                        <div class="form-group">
                          <label class="form-control-label">Challenge Summary</label>
                          <textarea id="generalDetails"></textarea>
                          
                          <!-- <textarea class="form-control" type="text" name="Description" ng-model="singleChallengeData.generalDetails" placeholder="Enter General Details" ng-class="{error: validate.editDescription}"></textarea> -->
                        </div>
                      </div><!-- col-4 -->
                    </div><!-- row -->
                    <div class="alert alert-success" role="alert" id="successMessage2" ng-if="successMessage2">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <strong>Success!</strong> {{successMessage2}}.
                    </div>
                    <div class="alert alert-danger" role="alert" id="errorMessage2" ng-if="errorMessage2">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <strong>Error!</strong> {{errorMessage2}}.
                    </div>
                    <div class="form-layout-footer">
                      <button id="generalDetails" class="btn btn-primary bd-0" ng-click="updateGeneralDetails()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                    </div><!-- form-layout-footer -->
                  </div><!-- form-layout -->
                </div><!-- section-wrapper -->
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="challengeDetailsHeading">
                <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#challengeDetails" aria-expanded="false" aria-controls="challengeDetails">
                  Challenge Details
                </a>
              </div>
              <div id="challengeDetails" class="collapse" role="tabpanel" aria-labelledby="challengeDetailsHeading">
                <div class="section-wrapper">
                  <!-- <label class="section-title">Top Label Layout</label>
                  <p class="mg-b-20 mg-sm-b-40">A form with a label on top of each form control.</p> -->
                  <div class="form-layout">
                    <div class="row mg-b-25">
                      <div class="col-lg-9">
                        <div class="form-group">
                          <label class="form-control-label">Challenge Details</label>
                          <textarea id="painPoints"></textarea>
                          <!-- <textarea class="form-control" type="text" ng-model="singleChallengeData.painPoints" placeholder="Enter Pain Points"></textarea> -->
                        </div>
                      </div><!-- col-4 -->
                    </div><!-- row -->
                    <div class="alert alert-success" role="alert" id="successMessage3" ng-if="successMessage3">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <strong>Success!</strong> {{successMessage3}}.
                    </div>
                    <div class="alert alert-danger" role="alert" id="errorMessage3" ng-if="errorMessage3">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <strong>Error!</strong> {{errorMessage3}}.
                    </div>
                    <div class="form-layout-footer">
                      <button id="painPoints" class="btn btn-primary bd-0" ng-click="updatePainPoints()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                    </div><!-- form-layout-footer -->
                  </div><!-- form-layout -->
                </div><!-- section-wrapper -->
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="impactDetailsHeading">
                <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#impactDetails" aria-expanded="false" aria-controls="impactDetails">
                  Impact
                </a>
              </div>
              <div id="impactDetails" class="collapse" role="tabpanel" aria-labelledby="impactDetailsHeading">
                <div class="section-wrapper">
                  <!-- <label class="section-title">Top Label Layout</label>
                  <p class="mg-b-20 mg-sm-b-40">A form with a label on top of each form control.</p> -->
                  <div class="form-layout">
                    <div class="row mg-b-25">
                      <div class="col-lg-9">
                        <div class="form-group">
                          <label class="form-control-label">Impact</label>
                          <textarea id="impact"></textarea>
                          <!-- <textarea class="form-control" type="text" name="impact" ng-model="singleChallengeData.impact" placeholder="Enter Impact"></textarea> -->
                        </div>
                      </div><!-- col-4 -->
                    </div><!-- row -->
                    <div class="alert alert-success" role="alert" id="successMessage4" ng-if="successMessage4">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <strong>Success!</strong> {{successMessage4}}.
                    </div>
                    <div class="alert alert-danger" role="alert" id="errorMessage4" ng-if="errorMessage4">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <strong>Error!</strong> {{errorMessage4}}.
                    </div>
                    <div class="form-layout-footer">
                      <button id="impact" class="btn btn-primary bd-0" ng-click="updateImpact()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                    </div><!-- form-layout-footer -->
                  </div><!-- form-layout -->
                </div><!-- section-wrapper -->
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="referenceDetailsHeading">
                <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#referenceDetails" aria-expanded="false" aria-controls="referenceDetails">
                  References
                </a>
              </div>
              <div id="referenceDetails" class="collapse" role="tabpanel" aria-labelledby="referenceDetailsHeading">
                <div class="section-wrapper">
                  <!-- <div class="media">
                    <div class="media-body">
                      <p >
                        <span class="mg-b-0 mg-r-20 padding-bottom-10" ng-repeat="x in files">
                        <a href = "{{x.filePath}}"><img style="width:70px;" src="assets/img/file.jpg" class="resources" alt="">{{x.fileName}}</a></span>
                      </p>
                    </div>
                  </div> -->
                  <div class="form-layout">
                      <div class="row mg-b-25">
                        <div class="col-lg-4">
                          <div class="form-group" ng-class="{validateError: validate.fileName1}">
                            <label class="form-control-label">Reference Name: <span class="tx-danger">*</span></label>
                            <input class="form-control" type="text" name="resourceName" ng-model="upload.fileName1"  placeholder="Enter Reference Name" ng-class="{error: validate.fileName1}" maxlength="100">
                            <span class="tx-danger" ng-if="validate.fileName1.require"> References Name is required</span>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label">Description: </label>
                            <input class="form-control" type="text" name="resourceName" ng-model="upload.description1" placeholder="Enter Reference Description">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div >
                            <label class="form-control-label">Document Upload: <span class="tx-danger">*</span></label>
                          </div>
                          <div class="col-sm-8 custom-file" ng-class="{validateError: validate.file1}">
                              <input type="file" class="custom-file-input" id="customFile2" onchange="angular.element(this).scope().fileNameChanged1(this)" ng-class="{error: validate.file1}">
                              <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                              <span class="mg-t-5 tx-inverse" ng-if="selectedResource"><b>Selected File:</b> {{selectedResource}}</span>
                              <br/>
                              <span class="tx-danger" ng-if="validate.file1.require">Please select a file</span>
                          </div>                        
                        </div><!-- col-4 -->
                      </div><!-- row -->
                      <div class="alert alert-success" role="alert" id="successMessage5" ng-if="successMessage5">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                        <strong>Success!</strong> {{successMessage5}}.
                      </div>
                      <div class="alert alert-danger" role="alert" id="errorMessage5" ng-if="errorMessage5">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                        <strong>Error!</strong> {{errorMessage5}}.
                      </div>
                      <div class="form-layout-footer">
                        <button id="resource" class="btn btn-primary bd-0" ng-click="resource()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                      </div><!-- form-layout-footer -->
                  </div><!-- form-layout -->
                  <div class="row row-sm">
                    <div class="col-lg-12 mg-t-20">
                        <div class="card card-table" style="border-color:#495057 !important">
                            <div class="card-header bg-royal">
                              <h6 class="slim-card-title tx-white icon ion-ios-briefcase">References</h6>
                            </div><!-- card-header -->
                            <div class="table-responsive">
                                <table class="table mg-b-0 tx-12">
                                    <thead>
                                    <tr class="tx-10">
                                      <th>Reference Name</th>
                                      <th>Description</th>
                                      <th>Attachments</th>
                                      <th>Uploaded By</th>
                                      <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="y in files track by $index">
                                        <td>
                                            {{y.fileName}}
                                        </td>
                                        <td class="tx-13">
                                          {{y.description}}
                                        </td>
                                        <td class="tx-13">
                                          <a href = "{{x.filePath}}" download>{{y.originalName}}</a>
                                        </td>
                                        <td class="tx-13">
                                          {{y.uploadBy}}
                                        </td>
                                        <td class="tx-13">
                                          <button type="button" class="btn btn-secondary active mg-l-10" ng-click="deleteResources(y.fileId)"><i class="fa fa-trash-o"></i></button>
                                        </td>  
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- table-responsive -->
                        </div><!-- card -->
                    </div>
                  </div>
                </div><!-- section-wrapper -->
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="expressInterestHeading">
                <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#expressInterest" aria-expanded="false" aria-controls="expressInterest">
                  Express Interest
                </a>
              </div>
              <div id="expressInterest" class="collapse" role="tabpanel" aria-labelledby="expressInterestHeading">
                <div class="section-wrapper">
                  <div class="form-layout">
                    <div class="row mg-b-25">
                      <div class="col-lg-4">
                        <div class="form-group" ng-class="{validateError: validate.fileName2}">
                          <label class="form-control-label">Proposal Name: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="text" name="resourceName" ng-model="upload.fileName2"  placeholder="Enter Proposal Name" ng-class="{error: validate.fileName2}" maxlength="100">
                          <span class="tx-danger" ng-if="validate.fileName2.require">Name is required</span>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Description: </label>
                          <input class="form-control" type="text" name="resourceName" ng-model="upload.description2" placeholder="Enter proposal Description">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div >
                          <label class="form-control-label">Document Upload: <span class="tx-danger">*</span></label>
                        </div>
                        <div class="col-sm-8 custom-file" ng-class="{validateError: validate.file2}">
                            <input type="file" class="custom-file-input" id="customFile2" onchange="angular.element(this).scope().fileNameChanged2(this)" ng-class="{error: validate.file2}">
                            <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                            <span class="mg-t-5 tx-inverse" ng-if="selectedProposal"><b>Selected File:</b> {{selectedProposal}}</span>
                            <br/>
                            <span class="tx-danger" ng-if="validate.file2.require">Please select a file</span>
                        </div>                      
                      </div><!-- col-4 -->
                    </div><!-- row -->
                    <div class="alert alert-success" role="alert" id="successMessage6" ng-if="successMessage6">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <strong>Success!</strong> {{successMessage6}}.
                    </div>
                    <div class="alert alert-danger" role="alert" id="errorMessage6" ng-if="errorMessage6">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <strong>Error!</strong> {{errorMessage6}}.
                    </div>   
                    <div class="form-layout-footer">
                      <button id="proposal" class="btn btn-primary bd-0" ng-click="uploadProposal()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                    </div><!-- form-layout-footer -->
                  </div><!-- form-layout -->
                  <div class="row row-sm">
                    <div class="col-lg-12 mg-t-20">
                      <div class="card card-table">
                        <div class="card-header bg-royal">
                          <h6 class="slim-card-title tx-white icon ion-easel"> Proposals</h6>
                        </div><!-- card-header -->
                        <div class="table-responsive">
                          <table class="table mg-b-0 tx-12">
                            <thead>
                              <tr class="tx-10">
                                <th class="pd-y-5">Proposal name</th>
                                <th class="pd-y-5">Description</th>
                                <th class="pd-y-5">Attachments</th>
                                <th class="pd-y-5">Uploaded By</th>
                                <th class="pd-y-5">Delete</th>
                              </tr>
                            </thead>
                            <tbody ng-if="getDocumentData.length > 0">
                              <tr ng-repeat="x in getDocumentData">
                                <td>
                                  <div style="display: flex;flex-direction: row;">
                                    <a href class="tx-inverse tx-14 tx-medium d-block" target="_blank">{{x.fileName}}</a>
                                  </div>
                                </td>
                                <td class="tx-13">
                                  {{x.description}}
                                </td>
                                <td class="tx-13">
                                  <a href = "{{x.filePath}}" download>{{x.originalName}}</a>
                                </td>
                                <td class="tx-13">
                                    {{x.uploadBy}}
                                </td>
                                <td class="tx-13">
                                  <button type="button" class="btn btn-secondary active mg-l-10" ng-click="deleteExpressIntrest(x.fileId)"><i class="fa fa-trash-o"></i></button>
                                </td> 
                              </tr>
                            </tbody>
                            <tbody ng-if="x.length == 0">
                              <tr>
                                <td>No Results to Display</td>
                              </tr>
                            </tbody>
                          </table>
                        </div><!-- table-responsive -->
                      </div><!-- card -->
                    </div>
                  </div><!-- row -->
                </div><!-- section-wrapper --> 
              </div><!-- section-wrapper -->
            </div>
        
          </div><!-- accordion -->
        </div><!-- section-wrapper -->
      </div><!-- container -->
    </div><!-- slim-mainpanel -->

    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->
</div>

 <script src="assets/js/summernote/js/summernote-bs4.min.js"></script>
