<style type="text/css">
    .card-contact{
      padding: 0px;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 50%;
      width: 200px;
    }
    .invoice-header{
      flex-direction: column !important;
    }
    .tags{
      font-size: 0.85em;
      border: 1px solid #cccbcb;
      border-radius: 3px;
      background: #eeeeee;
    }
    li.tab-active{
      text-decoration: underline;
    }
    .note-editing-area{
     margin-top: 15px !important;
    }
    .dropdown-item{
      padding: 0.25rem 0.9rem !important;
    }
    .dropdown-item:hover{
      background-color: #1b84e7;
      color: #fff; 
    }
</style>
  
    
    <div class="">
      <div class="slim-mainpanel">
        <div class="container">
          <div class="slim-pageheader">
            <div style="display: flex;">
              <div class="dropdown" ng-if="!userDetails.isAdmin">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-archive mg-r-5"></i> Uploads
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="javascript:void(0)" ng-click="changeSectionView('submission')"><i class="fa fa-bars mg-r-5"></i> Project Submissions</a>
                  <a class="dropdown-item" href="javascript:void(0)" ng-click="changeSectionView('onGroundData')"><i class="fa fa-globe mg-r-5"></i> On-Ground Data</a>
                  <a class="dropdown-item" href="javascript:void(0)" ng-click="changeSectionView('academicResearch')"><i class="fa fa-clipboard mg-r-5"></i> Academic Research</a>
                  <a class="dropdown-item" href="javascript:void(0)" ng-click="changeSectionView('useCases')"><i class="fa fa-puzzle-piece mg-r-5"></i> Use Cases</a>
                  <a class="dropdown-item" href="javascript:void(0)" ng-click="changeSectionView('presentation')"><i class="fa fa-object-group mg-r-5"></i> Presentations</a>
                </div><!-- dropdown-menu -->
              </div><!-- dropdown -->
            </div>
            <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="projectViews('projectView')">Folder List</a></li>
              <li class="breadcrumb-item" ng-if="projectFolderName == 'Settings' && userDetails.isAdmin == true"><a href="javascript:void(0)" ng-click="changeView('settingsView')">{{projectFolderName}}</a></li>
              <li class="breadcrumb-item" ng-if="projectFolderName == 'Following' && userDetails.isAdmin == true"><a href="javascript:void(0)" ng-click="changeView('userFollowView')">{{projectFolderName}}</a></li>
              <li class="breadcrumb-item" ng-if="projectFolderName != 'Settings' && projectFolderName != 'Following'"><a href="javascript:void(0)" ng-click="projectViews('projectListView')">{{projectFolderName}}</a></li>
              <li class="breadcrumb-item"><a href="" ng-click="projectViews('projectDataView')">{{singleProjectData.name}}</a></li>
              <li class="breadcrumb-item active" aria-current="page" ng-if="type == 'resources'">Edit Project</li>  
              <li class="breadcrumb-item active" aria-current="page" ng-if="type == 'submission'">Project Submissions</li>
              <li class="breadcrumb-item active" aria-current="page" ng-if="type == 'onGroundData'">On-Ground Data</li>
              <li class="breadcrumb-item active" aria-current="page" ng-if="type == 'academicResearch'">Academic Research</li>
              <li class="breadcrumb-item active" aria-current="page" ng-if="type == 'useCases'">Use Cases</li>
              <li class="breadcrumb-item active" aria-current="page" ng-if="type == 'presentation'">Final Presentation</li>            
            </ol>
          </div><!-- slim-pageheader -->
  
          <div class="section-wrapper">
            <label class="section-title" ng-if="type == 'resources'">Edit Project</label>   
            <label class="section-title" ng-if="type == 'submission'">Project Submissions</label>
            <label class="section-title" ng-if="type == 'onGroundData'">On-Ground Data</label>
            <label class="section-title" ng-if="type == 'academicResearch'">Academic Research</label>
            <label class="section-title" ng-if="type == 'useCases'">Use Cases</label>
            <label class="section-title" ng-if="type == 'presentation'">Final Presentation</label>         
            <div id="accordion4" class="accordion-two accordion-two-primary" role="tablist" aria-multiselectable="true">
              <div class="card" ng-if="type == 'resources'">
                <div class="card-header" role="tab" id="headingOne4">
                  <a data-toggle="collapse" data-parent="#accordion4" href="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4" class="tx-gray-800 transition">
                    Primary Details
                  </a>
                </div><!-- card-header -->
                <div id="collapseOne4" class="collapse show" role="tabpanel" aria-labelledby="headingOne4">
                  <div class="section-wrapper">
                    <div class="form-layout">
                      <div class="row mg-b-25">
                        <div class="col-lg-4">
                          <div class="form-group" ng-class="{validateError: validate.name}">
                              <label class="form-control-label">Project Name: <span class="tx-danger">*</span></label>
                              <input class="form-control" type="text" name="projectName" ng-model="singleProjectData.name" placeholder="Enter Project Name" ng-class="{error: validate.name}" maxlength="200">
                              <span class="tx-danger" ng-if="validate.name.require">Project Name is required</span>
                          </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                          <div class="form-group" ng-class="{validateError: validate.description}">
                              <label class="form-control-label">Description: <span class="tx-danger">*</span></label>
                              <textarea class="form-control" type="text" name="Description" ng-model="singleProjectData.description" placeholder="Enter Description" ng-class="{error: validate.description}"></textarea>
                              <span class="tx-danger" ng-if="validate.description.require">Description is required</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group" ng-class="{validateError: validate.sector}">
                            <label class="form-control-label">Sector: <span class="tx-danger">*</span><span class="tx-12" style="font-style: italic;">(you can select one or more.)</span></label>
                            <br>
                              <select id="projectSector" class="form-control select2" ng-model="singleProjectData.sector" style="width: 70%"  ng-class="{error: validate.sector}" data-placeholder="Select Sector" multiple>
                                <option label="Select Sector"></option>
                                <option value="Agriculture">Agriculture</option>
                                <option value="Healthcare">Healthcare</option>
                                <option value="Transportation">Transportation</option>
                                <option value="Water & Sanitation">Water & Sanitation</option>
                                <option value="Connectivity">Connectivity</option>
                                <option value="Education">Education</option>
                                <option value="Energy">Energy</option>
                                <option value="Livelihood">Livelihood</option>
                              </select>
                              <br>
                              <span class="tx-danger" ng-if="validate.sector.require">Sector is required</span>
                          </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" ng-class="{validateError: validate.status}">
                              <label class="form-control-label">Status: <span class="tx-danger">*</span></label>
                              <br>
                              <select class="form-control select2" ng-model="singleProjectData.status" style="width: 70%" ng-class="{error: validate.status}" data-placeholder="Select Status">
                                <option value="new">New</option>
                                <option value="inProgress">In-progress</option>
                                <option value="completed">Completed</option>
                              </select>
                              <span class="tx-danger" ng-if="validate.status.require">Status is required</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                              <label class="form-control-label">Contact Person: </span></label>
                              <input class="form-control" type="text" name="contactPerson" ng-model="singleProjectData.contactPerson" placeholder="Enter Contact Person" >
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                              <label class="form-control-label">Contact Number: </span></label>
                              <input id="phoneMask" class="form-control" type="text" name="contactName" ng-model="singleProjectData.phone" placeholder="(999) 999-9999" >
                          </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                          <div class="form-group">
                              <label class="form-control-label">Email: </span></label>
                              <input class="form-control" type="text" name="email" ng-model="singleProjectData.email" placeholder="Enter Email" >
                          </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                          <label class="form-control-label">Profile Picture:</label>
                          <div class="custom-file">
                            <!-- <input type="file" class="custom-file-input" id="logo"> -->
                            <input type='file' class="custom-file-input" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)"/>
                            <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                            <span class="mg-t-5 tx-inverse" ng-if="image1"><b>Selected File:</b> {{image1}}</span>
                          </div><!-- custom-file -->
                        </div><!-- col-6 -->
                      </div>
                      <div class="alert alert-success" role="alert" id="successMessage1" ng-if="successMessage1">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                        <strong>Success!</strong> {{successMessage1}}.
                      </div>
                      <div class="alert alert-danger" role="alert" id="errorMessage1" ng-if="errorMessage1">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                        <strong>Error!</strong> {{errorMessage1}}.
                      </div>
                      <div class="form-layout-footer">
                        <button id="primaryDetails" class="btn btn-primary bd-0" ng-click="projectPrimaryDetails()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                      </div><!-- form-layout-footer -->
                    </div><!-- form-layout -->
                  </div><!-- section-wrapper -->
                </div>
              </div>
              <div class="card" ng-if="type == 'resources'">
                <div class="card-header" role="tab" id="headingTwo4">
                  <a class="tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
                    Executive Summary
                  </a>
                </div>
                <div id="collapseTwo4" role="tabpanel" aria-labelledby="headingTwo4">
                  <div class="section-wrapper">
                    <!-- <label class="section-title">Top Label Layout</label>
                    <p class="mg-b-20 mg-sm-b-40">A form with a label on top of each form control.</p> -->
                    <div class="form-layout">
                      <div class="row mg-b-25">
                        <div class="col-lg-9">
                          <div class="form-group">
                            <label class="form-control-label">Executive Summary</label>
                            <textarea id="details"></textarea>
                            
                            <!-- <textarea class="form-control" type="text" name="Description" ng-model="singleChallengeData.generalDetails" placeholder="Enter General Details" ng-class="{error: validate.editDescription}"></textarea> -->
                          </div>
                        </div><!-- col-4 -->
                      </div><!-- row -->
                      <div class="alert alert-success" role="alert" id="successMessage2" ng-if="successMessage2">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                        <strong>Success!</strong> {{successMessage2}}.
                      </div>
                      <div class="alert alert-danger" role="alert" id="errorMessage2" ng-if="errorMessage2">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                        <strong>Error!</strong> {{errorMessage2}}.
                      </div>
                      <div class="form-layout-footer">
                        <button id="projectDetails" class="btn btn-primary bd-0" ng-click="projectDetails()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                      </div><!-- form-layout-footer -->
                    </div><!-- form-layout -->
                  </div><!-- section-wrapper -->
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingFive4">
                  <a class="tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#collapseFive4" aria-expanded="false" aria-controls="collapseFive4">
                    <span ng-if="type == 'resources'">Resources</span>
                    <span ng-if="type == 'submission'">Project Submissions</span>
                    <span ng-if="type == 'onGroundData'">On-Ground Data</span>
                    <span ng-if="type == 'academicResearch'">Academic Research</span>
                    <span ng-if="type == 'useCases'">Use Cases</span>
                    <span ng-if="type == 'presentation'">Presentations</span>                    
                  </a>
                </div>
                <div id="collapseFive4" role="tabpanel" aria-labelledby="headingFive4">
                  <div class="section-wrapper">
                    <!-- <div class="media">
                      <div class="media-body">
                        <p>
                          <span class="mg-b-0 mg-r-20 padding-bottom-10" ng-repeat="x in files">
                          <a href ="{{x.filePath}}" target="_blank">
                            <img ng-src="assets/img/powerpoint.png" ng-if='x.mimeType == "application/vnd.openxmlformats-officedocument.presentationml.presentation"' class="resources" style="height: 60px;" alt="">
                            <img ng-src="assets/img/excel.png" ng-if='x.mimeType == "application/vnd.ms-excel"' class="resources" style="height: 60px;" alt="">
                            <img ng-src="assets/img/adobe.png" ng-if='x.mimeType == "application/pdf"'  class="resources" style="height: 60px;" alt="">
                            <img ng-src="assets/img/word.png" ng-if='x.mimeType == "application/vnd.openxmlformats-officedocument.wordprocessingml.document"'  class="resources" style="height: 60px;" alt="">
                            <img ng-src="assets/img/word.png" ng-if='x.mimeType == "application/msword"'  class="resources" style="height: 60px;" alt="">
                            <img ng-src="assets/img/picture.png" ng-if='x.mimeType == "image/png"'  class="resources" style="height: 60px;" alt="">
                            <img ng-src="assets/img/picture.png" ng-if='x.mimeType == "image/jpeg"'  class="resources" style="height: 60px;" alt="">
                            <img ng-src="assets/img/picture.png" ng-if='x.mimeType == "image/gif"'  class="resources" style="height: 60px;" alt="">
                            {{x.fileName}}
                          </a></span>
                        </p>
                      </div>
                    </div> -->
                    <div class="form-layout">
                        <div class="row mg-b-25">
                          <div class="col-lg-4">
                            <div class="form-group" ng-class="{validateError: validate.fileName}">
                              <label class="form-control-label">
                                  <span ng-if="type == 'submission'">Project Submission Name:</span>
                                  <span ng-if="type == 'onGroundData'">On-Ground Data Name:</span>
                                  <span ng-if="type == 'academicResearch'">Academic Research Title:</span>
                                  <span ng-if="type == 'useCases'">Use Case Name:</span>
                                  <span ng-if="type == 'presentation'">Presentation Name:</span> 
                                  <span ng-if="type == 'resources'">Resource Name:</span>
                                  <span class="tx-danger">*</span>
                              </label>
                              <input class="form-control" type="text" name="resourceName" style="text-transform: capitalize;" ng-model="upload.fileName1" placeholder="Enter Submission Name" ng-class="{error: validate.fileName}" ng-if="type == 'submission'"/>
                              <input class="form-control" type="text" name="resourceName" style="text-transform: capitalize;" ng-model="upload.fileName1" placeholder="Enter Ground Data Name" ng-class="{error: validate.fileName}" ng-if="type == 'onGroundData'"/>
                              <input class="form-control" type="text" name="resourceName" style="text-transform: capitalize;" ng-model="upload.fileName1" placeholder="Enter Research Name" ng-class="{error: validate.fileName}" ng-if="type == 'academicResearch'"/>
                              <input class="form-control" type="text" name="resourceName" style="text-transform: capitalize;" ng-model="upload.fileName1" placeholder="Enter Use Case Name" ng-class="{error: validate.fileName}" ng-if="type == 'useCases'"/>
                              <input class="form-control" type="text" name="resourceName" style="text-transform: capitalize;" ng-model="upload.fileName1" placeholder="Enter Presentation Name" ng-class="{error: validate.fileName}" ng-if="type == 'presentation'"/>
                              <input class="form-control" type="text" name="resourceName" style="text-transform: capitalize;" ng-model="upload.fileName1" placeholder="Enter Resource Name" ng-class="{error: validate.fileName}" ng-if="type == 'resources'"/>
                              <span class="tx-danger" ng-if="validate.fileName.require">Name is required</span>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label">Description:<span class="tx-danger">*</span></label>
                              <textarea class="form-control" type="text" name="Description" ng-model="upload.description" placeholder="Enter Description"></textarea>
                              <span class="tx-danger" ng-if="validate.description.require">Description is required</span>
                            </div>
                          </div>
                          <div class="col-lg-4" ng-if="type == 'academicResearch'">
                              <div class="form-group">
                                  <label class="form-control-label">KeyWords: </label>
                                  <input class="form-control" type="text" name="Key Words" ng-model="upload.keyWords" placeholder="Enter Key words"/>
                                </div>
                            </div>
                          <div class="col-lg-4" ng-if="type == 'academicResearch'">
                              <div class="form-group">
                                <label class="form-control-label">Author: </label>
                                <input class="form-control" type="text" name="author" ng-model="upload.author" placeholder="Enter Author"/>
                              </div>
                          </div>
                          <div class="col-lg-4" ng-if="type == 'academicResearch'">
                            <div class="form-group">
                                <label class="form-control-label">URL: </label>
                                <input class="form-control" type="text" name="URL" ng-model="upload.url" placeholder="Enter Description"/>
                              </div>
                          </div>
                          <div class="col-lg-4">
                            <div >
                              <label class="form-control-label">Document Upload: <span class="tx-danger">*</span></label>
                            </div>
                            <div class="col-sm-8 custom-file">
                                <input type="file" class="custom-file-input" id="customFile2" onchange="angular.element(this).scope().fileNameChanged(this)">
                                <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                                <span class="mg-t-5 tx-inverse" ng-if="selectedResource"><b>Selected File:</b> {{selectedResource}}</span>
                                <br>
                                <span class="tx-danger" ng-if="validate.file.require">Please select a file</span>
                            </div>
                          
                          </div><!-- col-4 -->
                        </div><!-- row -->
                        <div class="alert alert-success" role="alert" id="successMessage3" ng-if="successMessage3">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                          <strong>Success!</strong> {{successMessage3}}.
                        </div>
                        <div class="alert alert-danger" role="alert" id="errorMessage3" ng-if="errorMessage3">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                          <strong>Error!</strong> {{errorMessage3}}.
                        </div>
                        <div class="form-layout-footer">
                          <button id="{{type}}" class="btn btn-primary bd-0" ng-click="save(type)" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                        </div><!-- form-layout-footer -->
                    </div><!-- form-layout -->
                  </div><!-- section-wrapper -->
                </div>
              </div>              
            </div>
            </div><!-- accordion -->
          </div><!-- section-wrapper -->
        </div><!-- container -->
        <div class="slim-footer">
          <div class="container">
            <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
            <p>Version 1.0(Beta)</p>
          </div><!-- container -->
        </div><!-- slim-footer -->
      </div><!-- slim-mainpanel -->
  </div>
  