    
<style type="text/css">
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ellipsis2{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }
  .card-contact{
    padding: 0px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 50%;
    width: 200px;
  }
  .tags{
    font-size: 0.85em;
    border: 1px solid #cccbcb;
    border-radius: 3px;
    background: #eeeeee;
  }
  .billed-from{
    width:100% !important;
  }
  li.tab-active{
    text-decoration: underline;
  }
  .img-buttons{
    height: 35px;
    width: 35px;
  }
  .signin-left, .signin-right{
    position: relative !important;
    width: 100% !important;
    display: flex !important;
    padding: 30px !important;
    background: #fff !important;
    align-items: unset !important;
    justify-content: center !important;
  }
  .signin-right::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 1px solid #ced4da;
  }
  .invoice-title {
    max-width: 250px;
  }
</style>
<div class="">
<div class="slim-mainpanel">
  <div class="container">
    <div class="slim-pageheader">
      <div style="display: flex;">
        <div class="tx-center mg-l-10">
          <a href class="btn btn-primary btn-block mg-b-10" ng-if="userDetails.isAdmin" ng-click="changeCollaborateView('editCollaborateDataView')"><i class="fa fa-pencil"></i> Edit Collaborate</a>
        </div>
        <!-- <div class="tx-center mg-l-10">
          <a href="javascript:void(0)" class="btn btn-secondary disabled btn-block mg-b-10"><i class="fa fa-users"></i> People</a>
        </div> -->
       <!--  <div class="tx-center mg-l-10">
          <a href="javascript:void(0)" class="btn btn-secondary disabled btn-block mg-b-10"><i class="icon ion-ios-flower"></i> Projects</a>
        </div> -->
      </div>
      <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path == null">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="collaborateView()">Collaborate</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ singleCollaborateData.name }}</li>
      </ol>
      <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path == 'Settings'">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="changeView('settingsView');">{{path}}</a></li>
        <li class="breadcrumb-item"><a href="" class="tx-inverse">Collaborate</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ singleCollaborateData.name }}</li>
      </ol>
    </div><!-- slim-pageheader -->

    <div class="d-md-flex flex-row">
      <div class="signin-left col-lg-3">
        <div class="invoice-header">             
          <a href="javascript:void(0)" style="cursor: default;" class="tx-right">
            <i class="icon ion-heart tx-gray-500" title="Follow" style="font-size: 25px;cursor: pointer;" ng-click="follow(singleCollaborateData.collaborateId,1)" ng-if="followData.length == 0"></i>
            <i style="font-size: 25px;cursor: pointer;" title="Following" ng-if="followData.length == 1" ng-click="follow(singleCollaborateData.collaborateId, 0)" class="icon ion-heart tx-danger"></i>
          </a>
          <div class="billed-from tx-center">
            <img ng-if=" singleCollaborateData.logo  != null" src="{{ singleCollaborateData.logo }}" class="card-contact card-img" alt=""/>
            <img ng-if=" singleCollaborateData.logo  == null" src="../assets/img/cooperation.png" class="card-contact card-img" alt=""/>
            <div class="tx-center mg-t-20 mg-l-10">
              <a href="" class="btn btn-primary btn-block mg-b-10" data-toggle="modal" data-target="#modaldemo6"> Collaborate</a>
            </div>
            <h1 class="tx-inverse invoice-title ellipsis tx-22" title="{{ singleCollaborateData.name }}">{{ singleCollaborateData.name }}</h1>
            <hr class="mg-b-30">
            <div class="col-md">
              <label class="section-label-sm tx-gray-500">Collaborate Information</label>
              <p class="invoice-info-row">
                <span>Website:</span>
                <span><a href="http://{{singleCollaborateData.website}}">{{ singleCollaborateData.website}}</a></span>
              </p>
              <p class="invoice-info-row">
                <span>Persona:</span>
                <span>{{ singleCollaborateData.type}}</span>
              </p>
              <p class="invoice-info-row">
                <span>Location:</span>
                <span>{{singleCollaborateData.location}}</span>
              </p>
              <p class="invoice-info-row">
                <span>Share:</span>
                <span>
                  <a href="javascript:void(0)" class="tx-gray-500" disabled><i class="fa fa-linkedin"></i></a>
                  <a href="javascript:void(0)" class="tx-gray-500" disabled><i class="fa fa-google mg-l-5"></i></a>
                </span>
              </p>
              <p class="invoice-info-row">
                <span>Ratings:</span>
                <span class="seperation-inCards tx-14">
                  <span ng-repeat="i in getNumber(number) track by $index">
                    <a href ng-if="$index+1<=singleCollaborateData.avgRating" ng-click="rateCollaborator(singleCollaborateData.collaborateId, $index+1)" class="tx-warning"><i class="icon ion-star"></i></a>
                    <a href ng-if="$index+1>singleCollaborateData.avgRating" ng-click="rateCollaborator(singleCollaborateData.collaborateId, $index+1)" class="tx-gray-500"><i class="icon ion-star"></i></a>
                  </span>
                  <span> ({{singleCollaborateData.totalRating}} Ratings)</span>
                </span>
              </p>
              <p class=" invoice-info-row tx-gray-600">
                <span>Sectors: </span>
                  <span class="mg-r-3 ellipsis2" title="{{singleCollaborateData.sector.join(',')}}">{{singleCollaborateData.sector.join(',')}}</span>
              </p>
              <p class=" invoice-info-row tx-gray-600">
                  <span>Name of the Institution: </span>
                  <span>
                    <span class="tags mg-r-3">{{singleCollaborateData.institution}}</span>
                  </span>
              </p>
            </div><!-- col -->
          </div><!-- billed-from -->
        </div><!-- invoice-header -->
      </div><!-- signin-right -->
      <div class="signin-right col-lg-9">
        <div class="col-lg-12">
          <ul class="nav nav-activity-profile mg-t-20">
            <li id="about" class="nav-item"><a href ng-click="about()" class="nav-link"><i class="icon ion-document-text tx-purple"></i> About</a></li>
            <li id ="interest"class="nav-item"><a href ng-click="interest()" class="nav-link"><i class="icon ion-image tx-primary"></i> Interests</a></li>
            <li id="previousEngagement" class="nav-item"><a ng-click="prevSV()" class="nav-link"><i class="icon ion-document-text tx-success"></i> Previous Engagements</a></li>
          </ul><!-- nav -->
          <br>

          <div id="about1" ng-if="aboutValue" class="slim-card-title">About</div>
            <div id="about2" ng-if="aboutValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
              <div class="">
                <div class="row">
                  <br>
                  <p style="text-align: justify;" ng-bind-html='toTrustedHTML( singleCollaborateData.about )'></p>
                </div><!-- row -->
              </div><!-- card -->
            </div>
            <div id="interests1" ng-if="interestValue" class="slim-card-title">Interests</div>
            <div id="interests2" ng-if="interestValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
              <div class="">
                <div class="row">
                  <br>
                  <p style="text-align: justify;" ng-bind-html='toTrustedHTML( singleCollaborateData.interests )'></p>
                </div><!-- row -->
              </div><!-- card -->
            </div>
            <div id="previousEngagement1" ng-if="prevSvValue" class="slim-card-title">Previous Engagements</div>
            <div id="previousEngagement2" ng-if="prevSvValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
              <div class="">
                <div class="row">
                  <br>
                  <p style="text-align: justify;" ng-bind-html='toTrustedHTML( singleCollaborateData.previousSV )'></p>
                </div><!-- row -->
              </div><!-- card -->
            </div>
        </div><!-- invoice-header -->
      </div><!-- signin-left -->
    </div><!-- d-flex -->
  </div><!-- container -->
</div><!-- slim-mainpanel -->
<div class="slim-footer">
  <div class="container">
    <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
    <p>Version 1.0(Beta)</p>
  </div><!-- container -->
</div><!-- slim-footer -->
<div id="modaldemo6" class="modal fade">
  <div class="modal-dialog modal-dialog-vertical-center modal-lg" role="document">
    <div class="modal-content bd-0 tx-14">
      <div class="modal-header">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Request for Collaboration</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body pd-25">
        <!-- <h5 class="lh-3 mg-b-20 tx-inverse hover-primary">Write details about your request for collaboration</h5> -->
        <textarea class="form-control" type="text" name="location" placeholder="Write details about your request for collaboration"></textarea>
        <button type="button" class="btn btn-primary mg-t-20">Send Request</button>
      </div>
      <!-- <div class="modal-footer">
        
      </div> -->
    </div>
  </div><!-- modal-dialog -->
</div>
</div>



