<style type="text/css">
  .card-footer {
    border: 1px solid #ced4da !important;
  }
  .seperation-inCards {
    border-top: 1px solid #dee2e6;
    padding:10px 0px 0px 0px;
  }
  .italic-font {
    font-style:italic;
  }
  .modal-dimension {
    height: auto;
    background-color: white;
  }
  .data-center {
    align-items: center;
  }
  .button-center {
    display:flex;
    justify-content: center;
  }
  .modal-header{
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
  }
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ellipsis2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }
  th{
    cursor: pointer;
  }
  /* .align-th {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .align-thead {
    display: flex !important;
    flex-direction: column !important;
  } */
  td {
      vertical-align: middle !important;
    }
</style>
<div class="">
  <div class="slim-mainpanel">
    <div class="container">
      <div class="slim-pageheader">
        <div style="display: flex;">
          <div class="tx-center mg-r-10 mg-l-10">
            <a href="" class="btn btn-primary btn-block mg-b-10" ng-if="userDetails.isAdmin" data-toggle="modal" data-target="#modaldemo6" ng-click="loadSelect()"><i class="fa fa-plus"></i> Add Project</a>
          </div>
          <div class="tx-center">
            <a href="" class="btn btn-primary btn-block mg-b-10" ng-if="userDetails.isAdmin" ng-click="addUsers()"><i class="icon ion-ios-people"></i> Add Users</a>
          </div>
        </div>
        <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
           <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="projectViews('projectView')">Folder List</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ projectFolderName }}</li>
        </ol>
      </div><!-- slim-pageheader -->
      <div class="card-invoice">
          <div class="invoice-header">
            <div class="tx-center">
              <select class="form-control select2-show-search" ng-model="category" ng-change = "searchData()" data-placeholder="Filter..">
                <option label="Filter"></option>
                <option value="All">All</option>
                <!-- <option value="Following">Following</option> -->
                <option value="University">University</option>
                <option value="Startup">Startup</option>
                <option value="Corporations">Corporations</option>
              </select>
            </div><!-- tx-center -->
            <div class="billed-from" style="width: 90%;">
              <div class="search-box">
                <input type="text" class="form-control"  ng-model="searchString" style="width:100%" placeholder="Search">
                <button class="btn btn-primary" style="margin-left: auto;"><i class="fa fa-search"></i></button>
              </div>
            </div><!-- billed-from -->
          </div><!-- invoice-header -->
      </div>

      <div class="section-wrapper mg-t-20">
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-table">
              <div class="table-responsive">
                <table class="table mg-b-0 tx-12" id="projectTable">
                  <thead class="align-thead ">
                    <tr class="tx-10 align-thead ">
                      <th class="wd-5p pd-y-5 align-th">&nbsp;</th>
                      <th class="pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(2)')"><span>Sector</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="wd-10p pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(3)')"><span>Project Name</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="wd-15p pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(4)')"><span>Short Desc.</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(5)')"><span>Category</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(6)')"><span>Project Type</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="pd-y-5 align-th align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(7)')"><span>Start Date</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(8)')"><span>End Date</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(9)')"><span>Status</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(10)')"><span>Rating</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="item" ng-repeat="x in projectList | searchProject:searchString" ng-if="x.isActive == true">
                      <td class="pd-l-20">
                        <img src="http://via.placeholder.com/500x500"  ng-if="!x.logo" class="wd-40 rounded-circle" alt="Image">
                        <img src="{{x.logo}}" ng-if="x.logo" class="wd-40 rounded-circle" alt="Image">
                      </td>
                      <!-- <td class="pd-l-20">
                        <img src="assets/img/Agriculture.png" ng-if="x.sector == 'Agriculture'" class="wd-50" alt="Image"/>
                        <img src="assets/img/Healthcare.png" ng-if="x.sector == 'Healthcare'" class="wd-50" alt="Image"/>
                        <img src="assets/img/Transportation.png" ng-if="x.sector == 'Transportation'" class="wd-50" alt="Image"/>
                        <img src="assets/img/Water & Sanitation.png" ng-if="x.sector == 'Water & Sanitation'" class="wd-50" alt="Image"/>
                        <img src="assets/img/Connectivity.png" ng-if="x.sector == 'Connectivity'" class="wd-50" alt="Image"/>
                        <img src="assets/img/Education.png" ng-if="x.sector == 'Education'" class="wd-50" alt="Image"/>
                        <img src="assets/img/Energy.png"ng-if="x.sector == 'Energy'" class="wd-50" alt="Image"/>
                        <img src="assets/img/Livelihood.png" ng-if="x.sector == 'Livelihood'" class="wd-50" alt="Image"/>
                      </td> -->
                      <td class="tx-13" title="{{x.sector.join(',')}}">
                        {{x.sector.join(",")}}
                      </td>
                      <td>
                        <div style="display: flex;flex-direction: row;">
                          <a href ng-click="editProject(x.projectId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.name}}">{{x.name}}</a>
                          <a href="" title="Following" class="tx-15 tx-danger mg-l-5">
                              <i class="icon ion-heart tx-gray-500" ng-click="follow(x.projectId, x.isFollowing)" ng-if="x.isFollowing == 0"></i>
                              <i ng-if="x.isFollowing == 1" ng-click="follow(x.projectId, x.isFollowing)" class="icon ion-heart tx-danger"></i>
                          </a>
                        </div>
                        <!-- <span class="tx-11 d-block">Sector:{{x.sector.join(",")}}</span> -->
                        <!-- <div class="tx-11">
                          <span ng-repeat="i in getNumber(number) track by $index">
                            <a href ng-if="$index+1<=x.avgRating" ng-click="rateProject(x.projectId, $index+1)" class="tx-warning"><i class="icon ion-star"></i></a>
                            <a href ng-if="$index+1>x.avgRating" ng-click="rateProject(x.projectId, $index+1)" class="tx-gray-500"><i class="icon ion-star"></i></a>
                          </span>
                          <a href=""><span> ({{x.totalRating}} Ratings)</span></a>
                        </div> -->
                      </td>
                      <td class="tx-13 ellipsis2" title="{{x.description}}">
                        <a href ng-click="editProject(x.projectId)" class="tx-inverse">{{x.description}}</a>
                      </td>
                      <td class="tx-13">
                        {{x.categories}}
                      </td>
                      <td class="tx-13">
                        {{x.type}}
                      </td>
                      <td class="tx-13">{{x.startDate|convertToISTDate}}</td>
                      <td class="tx-13">{{x.endDate | convertToISTDate}}</td>
                      <td class="tx-13">
                        <span class="square-8 mg-r-5 rounded-circle" 
                          ng-class = '{"bg-danger" : x.status == "completed","bg-warning":x.status == "inProgress","bg-success":x.status == "new"}'>
                        </span> {{ x.status | projectStatus }}
                      </td>
                      <td class="tx-13">
                        <span ng-repeat="i in getNumber(number) track by $index">
                          <a href ng-if="$index+1<=x.avgRating" ng-click="rateProject(x.projectId, $index+1)" class="tx-warning"><i class="icon ion-star"></i></a>
                          <a href ng-if="$index+1>x.avgRating" ng-click="rateProject(x.projectId, $index+1)" class="tx-gray-500"><i class="icon ion-star"></i></a>
                        </span>
                        <p>
                          {{x.avgRating}} out of 5
                          <a href="">
                            <span> ({{x.totalRating}} Ratings)</span>
                          </a>
                        </p>
                      </td>
                    </tr>                    
                  </tbody>
                </table>
              </div><!-- table-responsive -->
            </div><!-- card -->
          </div>
        </div><!-- row -->
      </div><!-- section-wrapper -->
    </div>
  </div>

  <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->

  <!-- MODAL GRID -->
  <div   id="modaldemo6" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
        <div class="modal-header pd-x-20">
          <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Add Project</h6>
          <button type="button" class="close" ng-click="closeAddProject()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pd-0">
          <div class="row no-gutters">
            <div class="col-lg-12 bg-white">
              <div class="pd-40 modal-dimension">
                <div class="form-layout form-layout-4">
                  <div class="row data-center pd-b-20">
                    <label class="col-sm-4 form-control-label">Project Name<span class="tx-danger">*</span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0" ng-class="{validateError: validate.name}">
                      <input type="text" class="form-control" ng-model="projectData.name" placeholder="Enter Project Name" ng-class="{error: validate.name}">
                      <span class="tx-danger" ng-if="validate.name.require">Project Name is required</span>
                    </div>
                  </div>
                  <div class="row data-center pd-b-20">
                    <label class="col-sm-4 form-control-label">Description<span class="tx-danger">* </span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0" ng-class="{validateError: validate.description}">
                      <textarea class="form-control" ng-model="projectData.description" placeholder="Enter  Description" ng-class="{error: validate.description}"></textarea>
                      <span class="tx-danger" ng-if="validate.description.require">Description is required</span>
                    </div>
                  </div>
                  <div class="row data-center pd-b-20">
                    <label class="col-sm-4 form-control-label">Persona<span class="tx-danger">* </span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0" ng-class="{validateError: validate.type}">
                      <select id="type" class="form-control select2-show-search" ng-model="projectData.categories" ng-class="{error: validate.type}" data-placeholder="Select Persona">
                        <option label="Select Persona"></option>
                        <option value="People">People</option>
                        <option value="University">University</option>
                        <option value="Startup">Startup</option>
                        <option value="Government">Government</option>
                        <option value="Corporations">Corporations</option>
                      </select>
                      <span class="tx-danger" ng-if="validate.type.require">Persona is required</span>
                    </div>
                  </div>
                  <div class="row data-center pd-b-20">
                    <label class="col-sm-4 form-control-label">Sector<span class="tx-danger">* </span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0" ng-class="{validateError: validate.sector}">     
                      <select id="sector" class="form-control select2-show-search" ng-model="projectData.sector" ng-class="{error: validate.sector}"  data-placeholder="Select Sector" multiple> 
                        <option value="">Select Sector</option>
                        <option value="Agriculture">Agriculture</option>
                        <option value="Healthcare">Healthcare</option>
                        <option value="Transportation">Transportation</option>
                        <option value="Water & Sanitation">Water & Sanitation</option>
                        <option value="Connectivity">Connectivity</option>
                        <option value="Education">Education</option>
                        <option value="Energy">Energy</option>
                        <option value="Livelihood">Livelihood</option>
                      </select> 
                      <span class="tx-12">(you can select one or more.)</span>
                      <span class="tx-danger" ng-if="validate.sector.require">Sector is required</span>
                    </div>     
                  </div>
                  <div class="row data-center pd-b-20">
                    <label class="col-sm-4 form-control-label">Project Type<span class="tx-danger">* </span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0" ng-class="{validateError: validate.projectType}">
                      <select id="projectType" class="form-control select2-show-search" ng-model="projectData.type" ng-class="{error: validate.projectType}" data-placeholder="Select Project Type">
                        <option label="Select Project Type"></option>
                        <option value="Research">Research</option>
                        <option value="Collaboration">Collaboration</option>
                        <option value="Student Project">Student Project</option>
                      </select>
                      <span class="tx-danger" ng-if="validate.projectType.require">Project Type is required</span>
                    </div>
                  </div>
                  <div class="row data-center pd-b-20">
                    <label class="col-sm-4 form-control-label">Status<span class="tx-danger">* </span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0" ng-class="{validateError: validate.status}">
                      <select id="status" class="form-control select2" ng-model="projectData.status" ng-class="{error: validate.status}" data-placeholder="Select Status">
                        <option value="">Select Status</option>
                        <option value="new" selected>New</option>
                        <option value="inProgress">In-progress</option>
                        <option value="completed">Completed</option>
                      </select>
                      <span class="tx-danger" ng-if="validate.status.require">Status is required</span>
                    </div>
                  </div>
                  <div class="row data-center pd-b-20">
                    <label class="col-sm-4 form-control-label">Start Date<span class="tx-danger">*</span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0" ng-class="{validateError: validate.startDate}">
                      <!-- <input type="date" class="form-control" ng-model="projectData.startDate" placeholder="Enter Start Name" ng-class="{error: validate.startDate}"> -->
                      <datepicker date-format="MM/dd/yyyy">
                        <input class="form-control" ng-model="projectData.startDate"  placeholder="Enter Start Date" ng-class="{error: validate.startDate}" type="text"/>
                      </datepicker>  
                      <span class="tx-danger" ng-if="validate.startDate.require">Start Date is required</span>
                    </div>
                  </div>
                  <div class="row data-center pd-b-20">
                    <label class="col-sm-4 form-control-label">End Date<span class="tx-danger">*</span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0" ng-class="{validateError: validate.endDate}">
                      <!-- <input type="date" class="form-control" ng-model="projectData.endDate" placeholder="Enter End date" ng-class="{error: validate.endDate}"> -->
                      <datepicker date-format="MM/dd/yyyy">
                        <input class="form-control" ng-model="projectData.endDate"  placeholder="Enter End Date" ng-class="{error: validate.endDate}" type="text"/>
                      </datepicker> 
                      <span class="tx-danger" ng-if="validate.endDate.require">End Date is required</span>
                    </div>
                  </div>
                  <div class="file-upload data-center pd-b-20" style="display:flex;">
                    <label class="col-sm-4 form-control-label" > Logo Upload :</label>
                    <div class="col-sm-8 custom-file mg-t-10 mg-sm-t-0" style="margin-left:10px">
                        <input type='file' class="custom-file-input" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
                        <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                        <span class="mg-t-5 tx-inverse" ng-if="image1"><b>Selected File:</b> {{image1}}</span>
                        <br/>
                    </div><!-- custom-file -->
                  </div>
                </div>
              </div>  
            </div><!-- col-6 -->
          </div><!-- row -->
        </div><!-- modal-body -->
        <div class="modal-footer  button-center">
          <button id="closeButton"class="btn btn-primary bd-0 mg-l-10" ng-click="saveProject()">Submit </button>
          <button class="btn btn-secondary bd-0" ng-click="clear()">Clear</button>
        </div>
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div>

  <!-- MODAL GRID -->
  <div   id="modaldemo7" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
        <div class="modal-header pd-x-20">
          <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Add User</h6>
          <button type="button" class="close" ng-click="closeAddUsers()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pd-0">
          <div class="row no-gutters">
            <div class="col-lg-12 bg-white">
              <div class="pd-40 modal-dimension">
                <div class="form-layout form-layout-4">
                  <div class="row data-center pd-b-20">
                    <label class="col-sm-4 form-control-label">Add User<span class="tx-danger"> </span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0" ng-class="{validateError: validate.users}">
                      <select id="users" class="form-control select2-show-search" ng-model="folderData.userIds" ng-class="{error: validate.users}" data-placeholder="Select Users" multiple>
                        <option class="tx-left" ng-repeat="x in usersList" value="{{x.userId}}">{{x.firstName}} {{x.lastName}}</option>
                      </select>
                      <span class="tx-danger" ng-if="validate.users.require">Select atleast one user</span>
                    </div>
                  </div>
                </div>
                <span class="tx-center tx-success" ng-if="successMessage">{{successMessage}}</span>
              </div>  
            </div><!-- col-6 -->
          </div><!-- row -->
        </div><!-- modal-body -->
        <div class="modal-footer  button-center">
          <button id="closeButton"class="btn btn-primary bd-0 mg-l-10" ng-click="addUsers()">Submit </button>
        </div>
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div>
</div>
 

