<style>
    messenger>div.main {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    messenger>div.main>div {
        display: flex;
        flex: 1;
    }

    messenger>div.main>div.row {
        background-color: #ffffff;
        flex-direction: row;
        margin: 0px;
        align-items: center;
        color: #000;
    }
    messenger>div.main>div.row:first-child{
        border-bottom: 1px solid #dee2e6;
        max-height: 70px;
    }
    messenger>div.main>div.row:last-child{
        border-top: 1px solid #dee2e6;
        max-height: 40px;
    }

    messenger>div.main>div>.logo {
        /*background-color: darkgray;
        border: 1px solid grey;*/
        border-radius: 50%;
        height: 60px;
        margin: 5px;
        padding: 0px;
        width: 60px;
    }

    messenger>div.main>div>span {
        align-self: center;
        font-size: 24px;
        font-weight: 700;
    }

    messenger>div.main>div>div.input-div {
        display: flex;
        flex: 1;
        flex-direction: row;
    }

    messenger>div.main>div>div.input-div>input {
        border: none;
        display: flex;
        flex: 1;
        line-height: 29px;
        outline: none;
        padding: 5px;
    }

    messenger>div.main>div>div.input-div>i {
        align-self: center;
        cursor: pointer;
        font-size: 32px;
    }

    messenger>div.main>div.column {
        flex-direction: column;
        overflow-y: auto;
        visibility: hidden;
    }

    messenger>div.main>div.column:hover,
    messenger>div.main>div.column:focus {
        visibility: visible;
    }

    messenger>div.main>div.column::-webkit-scrollbar {
        width: 4px;
    }

    messenger>div.main>div.column::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    }

    messenger>div.main>div.column::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }

    messenger>div.main>div.column:hover {
        transition: visibility 0s 0.2s;
    }

    messenger>div.main>div.column>div.message {
        display: flex;
        flex-direction: row;
        visibility: visible;
    }


    messenger>div.main>div.column>div.message>div {
        display: flex;
        flex: 1;
        flex-direction: row;
    }

    messenger>div.main>div.column>div>.left-align {
        justify-content: flex-start;
    }

    messenger>div.main>div.column>div>.right-align {
        justify-content: flex-end;
    }

    messenger>div.main>div.column>div.message>div>.logo {

        border-radius: 50%;
        height: 32px;
        margin: 5px;
        padding: 0px;
        width: 32px;
    }

    messenger>div.main>div.column>div.message>div>div {
        background-color: #4662D4;
        color: #ffffff;
        margin: 3px 8px;
        padding: 8px;
    }
    .reverse{
        background-color: #dee2e6 !important;
        color: #4e5059 !important;
    }
</style>

<div class="main">
    <div class="row">
        <img class="logo" ng-if="!currentList().recepientDetails.logo" ng-src="assets/img/user.png"></img>
        <img class="logo" ng-if="currentList().recepientDetails.logo" ng-src="{{currentList().recepientDetails.logo}}" />
        <h6>{{currentList().recepientDetails.userName}}</h6>
    </div>
    <div class="column" id="messenger">
        <div class="message" ng-repeat="listItem in currentList().list">
            <div ng-if="listItem.senderId != userDetails.userId" class="left-align">
                <img class="logo" ng-if="!listItem.logo" ng-src="assets/img/user.png"></img>
                <img class="logo" ng-if="listItem.logo" ng-src="{{listItem.logo}}" />
                <div class="tx-13">{{listItem.message}}</div>
            </div>
            <div ng-if="listItem.senderId == userDetails.userId" class="right-align">
                <div class="tx-13 reverse">{{listItem.message}}</div>
                <img class="logo" ng-if="!listItem.logo" ng-src="assets/img/user.png"></img>
                <img class="logo" ng-if="listItem.logo" ng-src="{{listItem.logo}}" />
            </div>

        </div>
    </div>
    <div class="row">
        <div class="input-div">
            <!-- <div editable="true"></div> -->
            <input type="text" ng-model="msg" ng-keyup="msgOnKeyUp(msg, $event)" />
            <button class="btn btn-primary" ng-click="sendMessage(msg)" style="margin-left: auto;">
                <i class="fa fa-paper-plane-o"></i>
            </button>
            <!-- <i class="fa fa-paper-plane-o" ng-click="sendMessage(msg)"></i> -->
        </div>

    </div>
</div>