<style type="text/css">
  .card-contact{
    padding: 0px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 50%;
    width: 200px;
}
  .invoice-header{
    flex-direction: column !important;
}
.tags{
    font-size: 0.85em;
    border: 1px solid #cccbcb;
    border-radius: 3px;
    background: #eeeeee;
}
li.tab-active{
    text-decoration: underline;
}
.note-editing-area{
    margin-top: 15px !important;
}
</style>
<div class="">
    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <div style="display: flex;">                
                </div>
                <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item"><a href="" ng-click="editSolution('solutionView')">Technologies</a></li>
                    <li class="breadcrumb-item"><a href="" ng-click="editSolution('editSolutionView')">{{ singleSolutionData.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Technology</li>
                </ol>
            </div><!-- slim-pageheader -->

            <div class="section-wrapper">
                <label class="section-title">Edit Technology</label>
                <div id="accordion4" class="accordion-two accordion-two-primary" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="primaryDetailsHeading">
                            <a data-toggle="collapse" data-parent="#accordion4" href="#solutionPrimaryDetails" aria-expanded="true" aria-controls="solutionPrimaryDetails" class="tx-gray-800 transition">
                            Primary Details
                            </a>
                        </div><!-- card-header -->
                        <div id="solutionPrimaryDetails" class="collapse show" role="tabpanel" aria-labelledby="primaryDetailsHeading">
                            <div class="section-wrapper">
                                <div class="form-layout">
                                    <div class="row mg-b-25">
                                        <div class="col-lg-4">
                                            <div class="form-group" ng-class="{validateError: validate.name}">
                                                <label class="form-control-label">Technology Name: <span class="tx-danger">*</span></label>
                                                <input class="form-control" type="text" name="solutionName" ng-model="singleSolutionData.name" placeholder="Enter Technology Name" ng-class="{error: validate.name}" maxlength="150"/>
                                                <span class="tx-danger" ng-if="validate.name.require">Technology Name is required</span>
                                            </div>
                                        </div><!-- col-4 -->
                                        <div class="col-lg-4">
                                            <div class="form-group" ng-class="{validateError: validate.descriptionOfSolution}">
                                                <label class="form-control-label">Description: <span class="tx-danger">*</span></label>
                                                <textarea class="form-control" type="text" name="Description" ng-model="singleSolutionData.descriptionOfSolution" placeholder="Enter Description" ng-class="{error: validate.descriptionOfSolution}"></textarea>
                                                <span class="tx-danger" ng-if="validate.descriptionOfSolution.require">Description is required</span>
                                            </div>
                                        </div><!-- col-4 -->
                                        <div class="col-lg-4">
                                            <div class="form-group" ng-class="{validateError: validate.location}">
                                                <label class="form-control-label">Location <span class="tx-danger">*</span>:</label>
                                                <input class="form-control" type="text" name="location" ng-model="singleSolutionData.location" placeholder="Enter location" ng-class="{error: validate.location}">
                                                <span class="tx-danger" ng-if="validate.location.require">Location is required</span>
                                            </div>
                                        </div><!-- col-4 -->
                                        <div class="col-lg-4">
                                            <div class="form-group" ng-class="{validateError: validate.sector} " >
                                                <label class="form-control-label">Sector: <span class="tx-danger">*</span></label>   
                                                <select class="form-control select2" ng-model="singleSolutionData.sector[0]" ng-class="{error: validate.sector}" data-placeholder="Select Sector">
                                                    <!-- <option label="Select Sector"></option> -->
                                                    <option value="Agriculture">Agriculture</option>
                                                    <option value="Healthcare">Healthcare</option>
                                                    <option value="Transportation">Transportation</option>
                                                    <option value="Water & Sanitation">Water & Sanitation</option>
                                                    <option value="Connectivity">Connectivity</option>
                                                    <option value="Education">Education</option>
                                                    <option value="Energy">Energy</option>
                                                    <option value="Livelihood">Livelihood</option>
                                                </select>
                                                <span class="tx-danger" ng-if="validate.sector.require">Sector is required</span>
                                            </div>
                                        </div><!-- col-4 -->
                                        <div class="col-lg-4">
                                            <div class="form-group mg-b-10-force" ng-class="{validateError: validate.affiliated}">
                                                <label class="form-control-label">Type: <span class="tx-danger">*</span></label>
                                                <select class="form-control select2" ng-model="singleSolutionData.affiliated" ng-class="{error: validate.affiliated}" data-placeholder="Select Persona">
                                                    <!-- <option label="Select Persona"></option> -->
                                                    <option value="People">People</option>
                                                    <option value="University">University</option>
                                                    <option value="Startup">Startup</option>
                                                    <option value="Government">Government</option>
                                                    <option value="Corporations">Corporations</option>
                                                </select>
                                                <span class="tx-danger" ng-if="validate.affiliated.require">Type is required</span>
                                            </div>
                                        </div><!-- col-8 -->
                                        <div class="col-lg-4">
                                            <div class="form-group mg-b-10-force">
                                                <label class="form-control-label">Type: </label>
                                                <select class="form-control select2" ng-model="singleSolutionData.type" data-placeholder="Select Persona">
                                                    <!-- <option label="Select Type"></option> -->
                                                    <option value="halfBaked">Half Baked</option>
                                                    <option value="fullyBaked">Fully Baked</option>
                                                    <option value="commercialized">Commercialized</option>
                                                </select>
                                            </div>
                                        </div><!-- col-8 -->
                                        <div class="col-lg-4">
                                            <div class="form-group mg-b-10-force">
                                                <label class="form-control-label">Website: <span class="tx-danger"></span></label>
                                                <input class="form-control" type="text" name="description" ng-model="singleSolutionData.website" placeholder="Enter Website">
                                            </div>
                                        </div><!-- col-8 -->
                                        <div class="col-lg-4">
                                            <label class="form-control-label">Logo upload:</label>
                                            <div class="custom-file" ng-class="{validateError: validate.logo}">
                                              <input type='file' class="custom-file-input" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" ng-class="{error: validate.logo}"/>
                                              <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                                              <span class="mg-t-5 tx-inverse" ng-if="image"><b>Selected File:</b> {{image}}</span>
                                              <span class="tx-danger" ng-if="validate.logo.require">Please upload a valid jpg/png image</span>
                                            </div><!-- custom-file -->
                                        </div><!-- col-6 -->
                                    </div><!-- row -->
                                    <div class="alert alert-success" role="alert" id="successMessage1" ng-if="successMessage1">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <strong>Success!</strong> {{successMessage1}}.
                                    </div>
                                    <div class="alert alert-danger" role="alert" id="errorMessage1" ng-if="errorMessage1">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">×</span>
                                        </button>
                                        <strong>Error!</strong> {{errorMessage1}}.
                                    </div>         
                                    <div class="form-layout-footer">
                                        <button id="primaryDetails" class="btn btn-primary bd-0" ng-click="solutionPrimaryDetails()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                                    </div><!-- form-layout-footer -->
                                </div><!-- form-layout -->
                            </div><!-- section-wrapper -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="generalDetailsHeading">
                            <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#generalDetails" aria-expanded="false" aria-controls="generalDetails">General Details</a>
                        </div>
                        <div id="generalDetails" class="collapse" role="tabpanel" aria-labelledby="generalDetailsHeading">
                            <div class="section-wrapper">
                                <div class="form-layout">
                                    <div class="row mg-b-25">
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <label class="form-control-label">General Details</label>
                                                <textarea id="description"></textarea>
                                            </div>
                                        </div><!-- col-4 -->
                                    </div><!-- row -->
                                    <div class="alert alert-success" role="alert" id="successMessage2" ng-if="successMessage2">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <strong>Success!</strong> {{successMessage2}}.
                                    </div>
                                    <div class="alert alert-danger" role="alert" id="errorMessage2" ng-if="errorMessage2">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">×</span>
                                        </button>
                                        <strong>Error!</strong> {{errorMessage2}}.
                                    </div>
                                    <div class="form-layout-footer">
                                        <button id="description" class="btn btn-primary bd-0" ng-click="description()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                                    </div><!-- form-layout-footer -->
                                </div><!-- form-layout -->
                            </div><!-- section-wrapper -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="impactHeading">
                            <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#impactDetails" aria-expanded="false" aria-controls="impactDetails">Impact</a>
                        </div>
                        <div id="impactDetails" class="collapse" role="tabpanel" aria-labelledby="impactHeading">
                            <div class="section-wrapper">
                                <div class="form-layout">
                                    <div class="row mg-b-25">
                                        <div class="col-lg-9">
                                            <div class="form-group">
                                                <label class="form-control-label">Impact</label>
                                                <textarea id="impact"></textarea>
                                            </div>
                                        </div><!-- col-4 -->
                                    </div><!-- row -->
                                    <div class="alert alert-success" role="alert" id="successMessage3" ng-if="successMessage3">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <strong>Success!</strong> {{successMessage3}}.
                                    </div>
                                    <div class="alert alert-danger" role="alert" id="errorMessage3" ng-if="errorMessage3">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">×</span>
                                        </button>
                                        <strong>Error!</strong> {{errorMessage3}}.
                                    </div>
                                    <div class="form-layout-footer">
                                        <button id="impact" class="btn btn-primary bd-0" ng-click="impact()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                                    </div><!-- form-layout-footer -->
                                </div><!-- form-layout -->
                            </div><!-- section-wrapper -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="resourcesHeading">
                          <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#solutionResources" aria-expanded="false" aria-controls="solutionResources">
                            Resources
                          </a>
                        </div>
                        <div id="solutionResources" class="collapse" role="tabpanel" aria-labelledby="resourcesHeading">
                            <div class="section-wrapper">
                                <!-- <div class="media">
                                  <div class="media-body">
                                    <p>
                                      <span class="mg-b-0 mg-r-20 padding-bottom-10" ng-repeat="x in files">
                                      <a href = "{{x.filePath}}"><img style="width:70px;" src="assets/img/file.jpg" class="resources" alt="">{{x.fileName}}</a></span>
                                    </p>
                                  </div>
                                </div> -->
                                <div class="form-layout">
                                    <div class="row mg-b-25">
                                      <div class="col-lg-4">
                                        <div class="form-group">
                                          <label class="form-control-label">Resource Name: <span class="tx-danger">*</span></label>
                                          <input class="form-control" type="text" name="resourceName" ng-model="upload.fileName1"  placeholder="Enter Resource Name">
                                          <span class="tx-danger" ng-if="validate.fileName1.require">File is required</span>
                                        </div>
                                      </div>
                                      <div class="col-lg-4">
                                        <div class="form-group">
                                          <label class="form-control-label">Description: </label>
                                          <input class="form-control" type="text" name="resourceName" ng-model="upload.description" placeholder="Enter Resource Description">
                                        </div>
                                      </div>
                                      <div class="col-lg-4">
                                        <div >
                                          <label class="form-control-label">Document Upload: <span class="tx-danger">*</span></label>
                                        </div>
                                        <div class="col-sm-8 custom-file">
                                            <input type="file" class="custom-file-input" id="customFile2" onchange="angular.element(this).scope().fileNameChanged(this)">
                                            <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                                            <span class="mg-t-5 tx-inverse" ng-if="name"><b>Selected File:</b> {{name}}</span>
                                            <span class="tx-danger" ng-if="validate.file1.require">File is required</span>
                                        </div>                                      
                                      </div><!-- col-4 -->
                                    </div><!-- row -->
                                    <div class="alert alert-success" role="alert" id="successMessage4" ng-if="successMessage4">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <strong>Success!</strong> {{successMessage4}}.
                                    </div>
                                    <div class="alert alert-danger" role="alert" id="errorMessage4" ng-if="errorMessage4">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">×</span>
                                        </button>
                                        <strong>Error!</strong> {{errorMessage4}}.
                                    </div>
                                    <div class="form-layout-footer">
                                      <button id="resources" class="btn btn-primary bd-0" ng-click="resource()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                                    </div><!-- form-layout-footer -->
                                </div><!-- form-layout -->
                                <div class="row row-sm">
                                        <div class="col-lg-12 mg-t-20">
                                            <div class="card card-table" style="border-color:#495057 !important">
                                                <div class="card-header bg-royal">
                                                    <h6 class="slim-card-title tx-white icon ion-ios-briefcase">Resource</h6>
                                                </div><!-- card-header -->
                                                <div class="table-responsive">
                                                    <table class="table mg-b-0 tx-12">
                                                        <thead>
                                                        <tr class="tx-10">
                                                            <th class="pd-y-5">Resource Name</th>
                                                            <th class="pd-y-5">Description</th>
                                                            <th class="pd-y-5">Attachments</th>
                                                            <th class="pd-y-5">Uploaded By</th>
                                                            <th class="pd-y-5">Delete</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="x in getDocumentData track by $index">
                                                            <td>
                                                            <div style="display: flex;flex-direction: row;">
                                                                <a href class="tx-inverse tx-14 tx-medium d-block" target="_blank">{{x.fileName}}</a>
                                                            </div>
                                                            </td>
                                                            <td class="tx-13">
                                                                {{x.description}}
                                                            </td>
                                                            <td class="tx-13">
                                                                <a href = "{{x.filePath}}" download>{{x.originalName}}</a>
                                                            </td>
                                                            <td class="tx-13">
                                                                {{x.uploadBy}}
                                                            </td>
                                                            <td class="tx-13">
                                                                <button type="button" class="btn btn-secondary active mg-l-10" ng-click="deleteResources(x.fileId)"><i class="fa fa-trash-o"></i></button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div><!-- table-responsive -->
                                            </div><!-- card -->
                                        </div>
                                    </div><!-- row -->
                            </div><!-- section-wrapper -->
                        </div>
                    </div>
                    <div class="card">
                            <div class="card-header" role="tab" id="webArticlesHeading">
                              <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion5" href="#SolutionWebArticles" aria-expanded="false" aria-controls="SolutionWebArticles">
                               Web Articles
                              </a>
                            </div>
                            <div id="SolutionWebArticles" class="collapse" role="tabpanel" aria-labelledby="webArticlesHeading">
                                <div class="section-wrapper">                                    
                                    <div class="form-layout">
                                        <div class="row mg-b-25">
                                          <div class="col-lg-4">
                                            <div class="form-group" ng-class="{validateError: validate.name}">
                                              <label class="form-control-label">Article Name: <span class="tx-danger">*</span></label>
                                              <input class="form-control" type="text" name="resourceName" ng-model="addArticle.name"  placeholder="Enter Article Name" ng-class="{error: validate.name}">
                                              <span class="tx-danger" ng-if="validate.name.require">Name is required</span>
                                            </div>
                                          </div>
                                          <div class="col-lg-4">
                                            <div class="form-group">
                                              <label class="form-control-label">Link: <span class="tx-danger">*</span></label>
                                              <input class="form-control" type="text" name="link" ng-model="addArticle.link" placeholder="Enter Link">
                                              <span class="tx-danger" ng-if="validate.link.require">Link is required</span>
                                            </div>
                                          </div>
                                        </div><!-- row -->
                                        <div class="alert alert-success" role="alert" id="successMessage5" ng-if="successMessage5">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <strong>Success!</strong> {{successMessage5}}.
                                        </div>
                                        <div class="alert alert-danger" role="alert" id="errorMessage5" ng-if="errorMessage5">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">×</span>
                                            </button>
                                            <strong>Error!</strong> {{errorMessage5}}.
                                        </div> 
                                        <div class="form-layout-footer">
                                          <button id="webArticles" class="btn btn-primary bd-0" ng-click="addArticles()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                                        </div><!-- form-layout-footer -->
                                    </div><!-- form-layout -->
                                    <div class="row row-sm">
                                            <div class="col-lg-12 mg-t-20">
                                                <div class="card card-table" style="border-color:#495057 !important">
                                                    <div class="card-header bg-royal">
                                                        <h6 class="slim-card-title tx-white icon ion-ios-briefcase">Web Article</h6>
                                                    </div><!-- card-header -->
                                                    <div class="table-responsive">
                                                        <table class="table mg-b-0 tx-12">
                                                            <thead>
                                                            <tr class="tx-10">
                                                                <th class="wd-15p">Web Article Name</th>
                                                                <th class="wd-20p"> Link</th>
                                                                <th class="wd-10p">Delete</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="y in webArticle track by $index">
                                                                <td>
                                                                    {{y.name}}
                                                                </td>
                                                                <td class="tx-13">
                                                                    <a href = " http://{{y.link}}"target="_blank" download>{{y.link}}</a>
                                                                </td>
                                                                <td class="tx-13">
                                                                    <button type="button" class="btn btn-secondary active mg-l-10" ng-click="deleteWebArticle($index)"><i class="fa fa-trash-o"></i></button>
                                                                </td>  
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div><!-- table-responsive -->
                                                </div><!-- card -->
                                            </div>
                                    </div>
                                </div><!-- section-wrapper -->
                            </div>
                        </div>
                </div><!-- accordion -->
            </div><!-- section-wrapper -->
        </div><!-- container -->
    </div><!-- slim-mainpanel -->

    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->
</div>

