    <style type="text/css">
      .card-footer{
        border: 1px solid #ced4da !important;
      }
      .seperation-inCards {
        border-top: 1px solid #dee2e6;
        padding: 25px 0px 25px 0px;
      }
      border-bottom {
        border-bottom: 1px solid #dee2e6;

      }
      .italic-font {
        font-style:italic;
      }
      .modal-dimension {
        height: auto;
        background-color: white;
      }
      .data-center {
        align-items: center;
      }
      .button-center {
        display:flex;
        justify-content: center;
      }
      .modal-header{
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
      }
      .space {
        display: flex;
        flex:0.95;
      }
      .margin-b-r-15 {
        margin:0px 0px 10px 15px;
      }
      .img-circle {
        border: 2px solid #1b84e7;
        border-radius: 50%;
        height: 50px;
        padding: 5px;
        width: 50px;
      }
      .pad-10 {
        padding: 10px
      }
      .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .tx-danger{
        color: #e4606c;
      }
      .ion-heart{
        float: right;
      }
      .card-item-img {
        cursor: pointer;
      }
      .card-item-img:hover img, .card-item-img img{
        opacity: 1;
        height: 195px;
      }
      .card-hover:hover{
        box-shadow: 0 9px 11px -5px rgba(0,0,0,.2), 0 18px 28px 2px rgba(0,0,0,.14), 0 7px 34px 6px rgba(0,0,0,.12);
      }
      .card-body{
        border: none !important;
      }
      .card{
        border: 0.08em solid #eee !important;
      }
      figure{
        border-bottom: 0.08em solid #eee !important;
      }
      .circle-align{
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
      }
      .center-element {
        display: flex;
        justify-content: center;
      }
      .align-center {
        height: 50px; 
        align-items: center;
      }
    </style>

  <div class="" ng-if="sectorView">
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <div style="display: flex;">
            <div class="tx-center margin-right-10">
              <a href="" class="btn btn-primary btn-block mg-b-10" data-toggle="modal" data-target="#modaldemo7" ng-click="loadSelect()"><i class="fa fa-plus"></i> New Technology</a>
            </div><!-- tx-center -->
          </div>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Technologies</li>
          </ol>
        </div><!-- slim-pageheader -->
        <div class="card-invoice">
          <div class="invoice-header">
            <div class="billed-from" style="width: 100%;">
                <div class="search-box">
                  <input type="text" class="form-control" style="width: 100%;" ng-model="searchSector" placeholder="Search">
                  <button class="btn btn-primary" style="margin-left: auto;"><i class="fa fa-search"></i></button>
                </div>
            </div>
          </div><!-- invoice-header -->
        </div>
        <div class="section-wrapper mg-t-20">

          <div class="row" style="width: 100%;justify-content: space-evenly;margin-bottom: 3%">
            <div class="mg-b-40 tx-26 tx-inverse">
                <b>Select by Sector</b>
            </div>
            <div class="mar-40" style="width: 100%;justify-content: space-around;display: flex; flex-wrap: wrap; align-items: center;">
              <div style="flex: 1; max-width: 300px;text-align: center; margin: 10px; padding: 5px;" ng-click="searchData(x.name)" class="circle-align" ng-repeat="x in sectorNames | searchSectorName:searchSector track by $index"  >
                  <span class="center-element"><img src="assets/img/{{ x.name }}.png" style="height: 50px; align-items: center;" /></span>
                  <span class="font-size-18 tx-inverse mg-t-20">{{ x.name }}</span>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->

    <!-- MODAL GRID -->
     <div   id="modaldemo7" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
          <div class="modal-header pd-y-20 pd-x-25">
            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Add Technology</h6>
            <button type="button" class="close" ng-click="closeDialog()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pd-0">
            <div class="row no-gutters">
              <div class="col-lg-12 bg-white">
                <div class="pd-40 modal-dimension">
                  <div class="form-layout form-layout-4">
                    <div class="row data-center pd-b-20" ng-class="{validateError: validate.name}">
                      <label class="col-sm-4 form-control-label"> Technology Name <span class="tx-danger">*</span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <input type="text" class="form-control" ng-model="solutionDetail.name" placeholder="Enter Technology Name" ng-class="{error: validate.name}" maxlength="150">
                        <span class="tx-danger" ng-if="validate.name.require">Technology Name is required</span>
                      </div>
                    </div>
                    <div class="row data-center pd-b-20" ng-class="{validateError: validate.descriptionOfSolution}">
                      <label class="col-sm-4 form-control-label">Description <span class="tx-danger">* </span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <textarea class="form-control" ng-model="solutionDetail.descriptionOfSolution"  placeholder="Enter  Description" ng-class="{error: validate.descriptionOfSolution}"></textarea>
                        <span class="tx-danger" ng-if="validate.descriptionOfSolution.require">Description is required</span>
                      </div>
                    </div>
                    <div class="row data-center pd-b-20" ng-class="{validateError: validate.location}">
                        <label class="col-sm-4 form-control-label">Location <span class="tx-danger">* </span>:</label>
                        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                            <input type="text" class="form-control" ng-model="solutionDetail.location" placeholder="Enter Location" ng-class="{error: validate.location}">
                            <span class="tx-danger" ng-if="validate.location.require">Location is required</span>
                          </div> 
                      </div>
                    <div class="row data-center pd-b-20" ng-class="{validateError: validate.sector}">
                      <label class="col-sm-4 form-control-label">Sector <span class="tx-danger">* </span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <select id="sector" class="form-control select2-show-search" ng-model="solutionDetail.sector"  ng-class="{error: validate.sector}" data-placeholder="Select a sector">
                            <option label="Select a sector"></option>
                            <option label="Select Type"></option>
                            <option value="Agriculture">Agriculture</option>
                            <option value="Healthcare">Healthcare</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Water & Sanitation">Water & Sanitation</option>
                            <option value="Connectivity">Connectivity</option>
                            <option value="Education">Education</option>
                            <option value="Energy">Energy</option>
                            <option value="Livelihood">Livelihood</option>
                        </select>
                        <span class="tx-danger" ng-if="validate.sector.require">Sector is required</span>
                      </div>
                    </div>
                    <div class="row data-center pd-b-20" ng-class="{validateError: validate.type}">
                      <label class="col-sm-4 form-control-label">Product Cycle <span class="tx-danger">* </span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <select id="productCycle" class="form-control select2" ng-model="solutionDetail.type" data-placeholder="Select a type" ng-class="{error: validate.type}">
                            <option label="Select Type"></option>
                            <option value="halfBaked">Half Baked</option>
                            <option value="fullyBaked">Fully Baked</option>
                            <option value="commercialized">Commercialized</option>
                        </select>
                        <span class="tx-danger" ng-if="validate.type.require">Type is required</span>
                      </div>
                    </div>
                    <div class="row data-center pd-b-20" ng-class="{validateError: validate.affiliated}">
                        <label class="col-sm-4 form-control-label">Affiliated<span class="tx-danger">* </span>:</label>
                        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                          <select id="affiliated" class="form-control select2-show-search" ng-model="solutionDetail.affiliated" ng-class="{error: validate.affiliated}" data-placeholder="Select Persona">
                              <option label="Select Persona"></option>
                              <option value="People">People</option>
                              <option value="University">University</option>
                              <option value="Startup">Startup</option>
                              <option value="Government">Government</option>
                              <option value="Corporations">Corporations</option>
                          </select>
                          <span class="tx-danger" ng-if="validate.affiliated.require">Affiliated is required</span>
                        </div>
                    </div>
                    <div class="row data-center pd-b-20">
                        <label class="col-sm-4 form-control-label"> Website:</label>
                        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                          <input type="text" class="form-control" ng-model="solutionDetail.website" placeholder="Enter Website">
                        </div>
                    </div>
                    <div class="file-upload data-center pd-b-20" ng-class="{validateError: validate.logo}" style="display:flex;">
                      <label class="col-sm-4 form-control-label" style="padding:0px;" > Logo Upload  </span>:</label>
                      <div class="col-sm-8 custom-file mg-t-10 mg-sm-t-0" style="margin-left:10px">
                        <input type='file' class="custom-file-input" ng-model-instant onchange="angular.element(this).scope().imageUpload1(event)" ng-class="{error: validate.logo}"/>
                        <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                        <span class="mg-t-5 tx-inverse" ng-if="image1"><b>Selected File:</b> {{image1}}</span>
                        <br/>
                        <span class="tx-danger" ng-if="validate.logo.require">Please upload a valid jpg/png image</span>
                      </div>
                    </div> 
                  </div>                  
                </div>
              </div><!-- col-6 -->
            </div><!-- row -->
          </div><!-- modal-body -->
          <div class="modal-footer  button-center">
            <button id="closeButton"class="btn btn-primary bd-0 mg-l-10" ng-click="saveSolution()">Submit </button>
            <button class="btn btn-secondary bd-0" ng-click="clear()">Clear</button>
          </div>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <div id="tooltip-content" class="tx-20" style="display: none;">
      <a href="" class="tx-primary mg-r-5 tx-15" title="Linkedin"><i class="fa fa-linkedin"></i></a>
      <a href="" class="tx-danger mg-r-5 tx-15" title="Google"><i class="fa fa-google"></i></a>
      <a href="" class="tx-primary mg-r-5 tx-15" title="Copy Link"><i class="fa fa-link"></i></a>
    </div>
  </div>
  <div ng-if="!sectorView">
    <div ng-include="'./directives/mainPage/mainBody/solution/sectorSolution.html'"></div>
  </div>