    <style type="text/css">
      .card-footer{
        border: 1px solid #ced4da !important;
      }
      .seperation-inCards {
        border-top: 1px solid #dee2e6;
        padding: 25px 0px 25px 0px;
      }
      border-bottom {
        border-bottom: 1px solid #dee2e6;

      }
      .italic-font {
        font-style:italic;
      }
      .modal-dimension {
        height: auto;
        width: 550px;
        background-color: white;
      }
      .data-center {
        align-items: center;
      }
      .button-center {
        display:flex;
        justify-content: center;
      }
      .modal-header{
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
      }
      .space {
        display: flex;
        flex:0.95;
      }
      .img-circle {
        border: 2px solid #1b84e7;
        border-radius: 50%;
        height: 50px;
        padding: 5px;
        width: 50px;
      }
      .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .tx-danger{
        color: #e4606c;
      }
      .pricing-price {
        cursor: pointer;
      }
      .card-hover:hover{
        box-shadow: 0 9px 11px -5px rgba(0,0,0,.2), 0 18px 28px 2px rgba(0,0,0,.14), 0 7px 34px 6px rgba(0,0,0,.12);
      }
      .circle-align{
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
      }
      .center-element {
        display: flex;
        justify-content: center;
      }
      .align-center {
        height: 50px; 
        align-items: center;
      }
    </style>
  <div class="">
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
            <div style="display: flex;">
                <!-- <div class="tx-center mg-r-10">
                    <a href="" class="btn btn-primary btn-block mg-b-10" ng-if="userDetails.isAdmin" data-toggle="modal" data-target="#modaldemo8" ng-click="loadSelect()"><i class="fa fa-plus"></i> New collaborate</a>
                </div> -->
            </div>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Village Bulletin</li>
          </ol>
        </div><!-- slim-pageheader -->
        <div class="card-invoice">
          <div class="invoice-header">
            <div class="billed-from" style="width: 100%;">
              <div class="search-box">
                <input type="text" class="form-control" style="width: 100%;" placeholder="Search" ng-model="searchSector">
                <button class="btn btn-primary" style="margin-left: auto;"><i class="fa fa-search"></i></button>
              </div>
            </div><!-- billed-from -->
          </div><!-- invoice-header -->
        </div>
        <div class="section-wrapper mg-t-20">
          <div class="row" style="width: 100%;justify-content: space-evenly;margin-bottom: 3%">
            <div class="mg-b-40 tx-26 tx-inverse">
                <b>Select by Sector</b>
            </div>
            <div class="mar-40" style="width: 100%;justify-content: space-evenly;display: flex; flex-wrap: wrap; align-items: center;">
              <div style="flex: 1; max-width: 300px;text-align: center; margin: 10px; padding: 5px;" ng-click="searchData(x.name)" class="circle-align" ng-repeat="x in sectorNames | searchSectorName:searchSector track by $index">
                  <span class="center-element"><img src="assets/img/{{ x.name }}.png" style="height: 50px; align-items: center;" /></span>
                  <span class="font-size-18 tx-inverse mg-t-20">{{ x.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->

    <div id="tooltip-content" class="tx-20" style="display: none;">
      <a href="" class="tx-primary mg-r-5 tx-15" title="Linkedin"><i class="fa fa-linkedin"></i></a>
      <a href="" class="tx-danger mg-r-5 tx-15" title="Google"><i class="fa fa-google"></i></a>
      <a href="" class="tx-primary mg-r-5 tx-15" title="Copy Link"><i class="fa fa-link"></i></a>
    </div>
  </div>
  <!-- <div ng-if="">
    <div ng-include="'./directives/mainPage/mainBody/villageBulletin/villageBulletinDetail.html'"></div>
  </div> -->
