<style>
.heading {
    margin: 0px 0px 20px 0px;
    text-align: center;
}
</style>
<div class="signin-wrapper">
    <div class="signin-box">
    <h2 class="slim-logo"><a href="javascript:void(0)" ng-click="home()">SVM</a></h2>
    <h4 class="heading">Reset Password</h4>
    <div class="form-group" ng-class="{validateError: validate.newPassword}">
        <input type="password" class="form-control" placeholder="new password" ng-model="resetPassword.newPassword" ng-class="{error: validate.newPassword}">
        <span class="tx-danger" ng-if="validate.newPassword.require">Email field is required</span>
        <span class="tx-danger" ng-if="validate.newPassword.regexMatch">{{validate.newPassword.regexMatch}}</span>
    </div>
    <div class="form-group" ng-class="{validateError: validate.confirmPassword}">
        <input type="password" class="form-control" placeholder="confirm new password" ng-model="resetPassword.confirmPassword" ng-class="{error: validate.confirmPassword}">
        <span class="tx-danger" ng-if="validate.confirmPassword.require">Email field is required</span>
        <span class="tx-danger" ng-if="validate.confirmPassword.regexMatch">{{validate.confirmPassword.regexMatch}}</span>
    </div><!-- form-group -->
    <a href class="btn btn-primary btn-block btn-signin mg-b-20" style="text-transform: none;" ng-click="savePassword();">Submit</a>
    <div class="tx-danger tx-center" ng-if="errorMessage"><label ng-bind="errorMessage"></label></div>
    <div class="tx-success tx-center" ng-if="successMessage"><label ng-bind="successMessage"></label></div>
    
    </div><!-- signin-box -->
</div>