<style type="text/css">
    user-messages{
        display: flex;
        height: calc(100% - 178px);
        margin: 178px 100px 20px 100px;
    }
    user-messages > message-list {
        max-width: 400px;
    }
    user-messages > message-list,  user-messages > messenger{
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 10px 25px;
        padding: 5px;
    }
</style>
<message-list></message-list>
<messenger ng-if="view().messages"></messenger>