<style type="text/css">
  .modal-dimension {
    height: auto;
    background-color: white;
  }
  .card-dimension {
    max-height: 400px;
    width: 400px;
    overflow-y: auto;
  }
  .modal-header{
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
  }
  .resources {
    width: 20px !important;
  }
  .data-center {
    align-items: center;
  }
  .tags{
    font-size: 0.85em;
    border: 1px solid #cccbcb;
    border-radius: 3px;
    background: #eeeeee;
    color: #000000;
  }
  .dropdown-item{
    padding: 0.25rem 0.9rem !important;
  }
  .padding-0 {
    padding:0px !important;
  }
  .dropdown-item:hover {
    background-color: #1b84e7;
    color: #fff; 
  }
  img {
    max-width: 100%;
  }
  .btn-group {
    float: right;
  }
  .button-center {
    display:flex;
    justify-content: center;
  }
  .file-upload {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
  }
  .ellipsis {
    /* white-space: nowrap; */
    overflow-x: auto;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  .profile-image {
    max-width: 100%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid;
    border: none;
  }
</style>
  
<div class="">
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <div style="display: flex;">
            <div class="tx-center mg-r-10 mg-l-10">
              <a href="javascript:void(0)" class="btn btn-primary btn-block mg-b-10" data-toggle="modal" data-target="#modaldemo6" ng-click="loadSelect();" title="Request For Information"><i class="fa fa-plus"></i> RFI </a>
            </div>
            <div class="dropdown" ng-if="!userDetails.isAdmin">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-archive mg-r-5"></i> Uploads
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="javascript:void(0)" ng-click="editProject('submission')"><i class="fa fa-bars mg-r-5"></i> Project Submissions</a>
                <a class="dropdown-item" href="javascript:void(0)" ng-click="editProject('onGroundData')"><i class="fa fa-globe mg-r-5"></i> On-Ground Data</a>
                <a class="dropdown-item" href="javascript:void(0)" ng-click="editProject('academicResearch')"><i class="fa fa-clipboard mg-r-5"></i> Academic Research</a>
                <a class="dropdown-item" href="javascript:void(0)" ng-click="editProject('useCases')"><i class="fa fa-puzzle-piece mg-r-5"></i> Use Cases</a>
                <a class="dropdown-item" href="javascript:void(0)" ng-click="editProject('presentation')"><i class="fa fa-object-group mg-r-5"></i> Presentations</a>
              </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
            <div class="tx-center mg-l-10" ng-if="userDetails.isAdmin">
              <a href ng-click="editProject('resources')" class="btn btn-primary btn-block mg-b-10"><i class="fa fa-pencil"></i> Edit Project</a>
            </div>
            <div class="tx-center mg-l-10">
              <a href="javascript:void(0)" ng-click="discussion(singleProjectData)" class="btn btn-primary btn-block mg-b-10"><i class="icon ion-ios-chatboxes"></i> Discussions</a>
            </div>
            <div class="tx-center mg-l-10">
              <a href="javascript:void(0)" class="btn btn-primary btn-block mg-b-10" ng-click="addUsers(singleProjectData.name, 'All')"><i class="icon ion-ios-person tx-18 lh-0"></i> Team </a>
            </div>
          </div>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="projectViews('projectView')">Folder List</a></li>
            <li class="breadcrumb-item" ng-if="projectFolderName == 'Settings' && userDetails.isAdmin == true"><a href="javascript:void(0)" ng-click="changeView('settingsView')">{{projectFolderName}}</a></li>
            <li class="breadcrumb-item" ng-if="projectFolderName == 'Following' && userDetails.isAdmin == true"><a href="javascript:void(0)" ng-click="changeView('userFollowView')">{{projectFolderName}}</a></li>
            <li class="breadcrumb-item" ng-if="projectFolderName != 'Settings' && projectFolderName != 'Following'"><a href="javascript:void(0)" ng-click="projectViews('projectListView')">{{projectFolderName}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{singleProjectData.name}}</li>
          </ol>
        </div>

        <div class="row row-sm">
          <div class="col-lg-8">
            <div class="card card-profile">
              <div class="card-body">
                <div class="media">
                  <img src="http://via.placeholder.com/500x500" ng-if="!singleProjectData.logo" alt="">
                  <img src="{{singleProjectData.logo}}" ng-if="singleProjectData.logo" alt="">
                  <div class="media-body">
                    <h3 class="card-profile-name">{{singleProjectData.name}}
                        <a href="" title="Following" class="tx-15 tx-danger mg-l-5" style="float: right;">
                          <i class="icon ion-heart tx-gray-500" style="font-size: 25px;" ng-click="follow(singleProjectData.projectId,1)" ng-if="followData.length == 0"></i>
                          <i ng-if="followData.length == 1" style="font-size: 25px;" ng-click="follow(singleProjectData.projectId, 0)" class="icon ion-heart tx-danger"></i>
                        </a>
                    </h3>
                    
                    <span ng-repeat="i in getNumber(number) track by $index">
                      <a href ng-if="$index+1<=singleProjectData.avgRating" ng-click="rateProject(singleProjectData.projectId, $index+1)" class="tx-warning"><i class="icon ion-star"></i></a>
                      <a href ng-if="$index+1>singleProjectData.avgRating" ng-click="rateProject(singleProjectData.projectId, $index+1)" class="tx-gray-500"><i class="icon ion-star"></i></a>
                    </span>
                    <span> ( {{singleProjectData.totalRating}} Ratings )</span>
                    <p class="mg-b-0">{{singleProjectData.description}}</p>
                  </div><!-- media-body -->
                </div><!-- media -->
              </div><!-- card-body -->
            </div><!-- card -->

            <div class="card card-latest-activity mg-t-20 ellipsis">
              <div class="card-body">
                <div class="slim-card-title">Executive Summary</div>
                <div class="mg-t-20" ng-bind-html='toTrustedHTML( singleProjectData.details )'></div>
              </div><!-- card-body -->
            </div><!-- card -->
          </div>

          <div class="col-lg-4 mg-t-20 mg-lg-t-0">
            <div class="card pd-25">
              <div class="slim-card-title">Project Info</div>
              <div class="media-list mg-t-25">
                <div class="media">
                  <div><i class="icon ion-ios-color-filter tx-24 lh-0"></i></div>
                  <div class="media-body mg-l-15 mg-t-4">
                      <h6 class="tx-14 tx-gray-700">Persona</h6>
                      <span class="tags">{{singleProjectData.categories}}</span>
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media mg-t-25">
                  <div><i class="icon ion-ios-person tx-24 lh-0"></i></div>
                  <div class="media-body mg-l-15 mg-t-4">
                    <h6 class="tx-14 tx-gray-700">Project Team</h6>
                    <div class="d-flex align-items-center">
                      <a href="">
                        <span class="square-10 bg-primary rounded-circle"></span>
                        <span><a href="javascript:void(0)" ng-click="addUsers(singleProjectData.name,'All')"><span class="mg-l-10">Team</span></a></span>
                        <span class="mg-l-auto tx-lato tx-right">{{singleProjectData.people.length}}</span>
                      </a>
                    </div>
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media mg-t-25">
                  <div><i class="icon ion-ios-people tx-24 lh-0"></i></div>
                  <div class="media-body mg-l-15 mg-t-4">
                    <h6 class="tx-14 tx-gray-700">Collaborators</h6>
                    <div class="d-flex align-items-center">
                      <span class="square-10 bg-teal rounded-circle"></span>
                      <a href="javascript:void(0)" ng-click="addUsers(singleProjectData.name,'University')" ><span class="mg-l-10">University</span></a>
                      <span class="mg-l-auto tx-lato tx-right">{{university.length}}</span>
                    </div>
                    <div class="d-flex align-items-center">
                      <span class="square-10 bg-warning rounded-circle"></span>
                      <a href="javascript:void(0)" ng-click="addUsers(singleProjectData.name,'Startup')"><span class="mg-l-10">Startup</span></a>
                      <span class="mg-l-auto tx-lato tx-right">{{startup.length}}</span>
                    </div>
                    <div class="d-flex align-items-center">
                      <span class="square-10 bg-purple rounded-circle"></span>
                      <a href="javascript:void(0)" ng-click="addUsers(singleProjectData.name,'Corporation')"><span class="mg-l-10">Corporations</span></a>
                      <span class="mg-l-auto tx-lato tx-right">{{corporation.length}}</span>
                    </div>
                    <div class="d-flex align-items-center">
                      <span class="square-10 bg-indigo rounded-circle"></span>
                      <a href="javascript:void(0)" ng-click="addUsers(singleProjectData.name,'People')"><span class="mg-l-10">People</span></a>
                      <span class="mg-l-auto tx-lato tx-right">{{people.length}}</span>
                    </div>
                    <div class="d-flex align-items-center">
                      <span class="square-10 bg-pink rounded-circle"></span>
                      <a href="javascript:void(0)" ng-click="addUsers(singleProjectData.name,'Government')"><span class="mg-l-10">Government</span></a>
                      <span class="mg-l-auto tx-lato tx-right">{{government.length}}</span>
                    </div>
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media mg-t-25">
                  <div><i class="icon ion-ios-telephone-outline tx-24 lh-0"></i></div>
                  <div class="media-body mg-l-15 mg-t-4">
                    <h6 class="tx-14 tx-gray-700">Contact Person</h6>
                    <span class="d-block">{{singleProjectData.contactPerson}}</span>
                  </div><!-- media-body -->
                </div>
                <div class="media mg-t-25">
                  <div><i class="icon ion-ios-telephone-outline tx-24 lh-0"></i></div>
                  <div class="media-body mg-l-15 mg-t-4">
                    <h6 class="tx-14 tx-gray-700">Contact Number</h6>
                    <span class="d-block">{{singleProjectData.phone}}</span>
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media mg-t-25">
                  <div><i class="icon ion-ios-email-outline tx-24 lh-0"></i></div>
                  <div class="media-body mg-l-15 mg-t-4">
                    <h6 class="tx-14 tx-gray-700">Email Address</h6>
                    <a href="mailto:{{singleProjectData.email}}"><span class="d-block">{{singleProjectData.email}}</span></a>
                  </div><!-- media-body -->
                </div><!-- media -->
              </div><!-- media-list -->
            </div><!-- card -->
          </div><!-- col-4 -->

          <div class="col-lg-12 section-wrapper mg-t-20">
            <div class="row">
              <div class="col-md">
                <div class="card">
                  <div class="card-header bg-grandeur">
                    <ul class="nav nav-tabs nav-tabs-for-dark card-header-tabs">
                      <li class="nav-item" ng-repeat="tab in tabs">
                        <a class="nav-link bd-0" ng-class="{'active': $index == 0}" href="#{{tab.t}}" data-toggle="tab" ng-model="projectTabb" ng-click="pageRefresh();">{{tab.l}}</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane"  ng-class="{'active': $index == 0}" ng-repeat="tab in tabs" id="{{tab.t}}">
                        <div class="row">
                          <div class="col-lg-12 table-responsive" ng-repeat="(key, x) in files" ng-if="key == tab.t && 'requestInformation' != tab.t">
                              <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th class="wd-5p">#</th>
                                      <th class="wd-5p">Download</th>
                                      <th>File Name</th>
                                      <th>Uploaded By</th>
                                      <th>Description</th>
                                      <th>Original Name</th>
                                      <th>Created Date</th>
                                    </tr>
                                  </thead>
                                  <tbody ng-repeat="file in x">
                                    <tr>
                                      <td>{{$index+1}}</td>
                                      <td>
                                        <a href="{{file.filePath}}" target="_blank">
                                          <img ng-src="assets/img/powerpoint.png" ng-if='file.originalName.indexOf(".ppt") > -1 || file.originalName.indexOf(".pptx") > -1' class="resources" style="height: 20px;" alt="">
                                          <img ng-src="assets/img/video-player.png" ng-if='file.originalName.indexOf(".mp4") > -1' class="resources" style="height: 20px;" alt="">
                                          <img ng-src="assets/img/adobe.png" ng-if='file.originalName.indexOf(".pdf") > -1'  class="resources" style="height: 20px;" alt="">
                                          <img ng-src="assets/img/excel.png" ng-if='file.originalName.indexOf(".xls") > -1 || file.originalName.indexOf(".xlsx") > -1'  class="resources" style="height: 20px;" alt="">
                                          <img ng-src="assets/img/word.png" ng-if='file.originalName.indexOf(".doc") > -1 || file.originalName.indexOf(".docx") > -1'  class="resources" style="height: 20px;" alt="">
                                          <img ng-src="assets/img/picture.png" ng-if='file.originalName.indexOf(".jpg") > -1 || file.originalName.indexOf(".jpeg") > -1 || file.originalName.indexOf(".png") > -1 || file.originalName.indexOf(".gif") > -1 || file.originalName.indexOf(".PNG") > -1 || file.originalName.indexOf(".JPEG") > -1 || file.originalName.indexOf(".JPG") > -1'  class="resources" style="height: 20px;" alt="">
                                          <img ng-src="assets/img/file.jpg" ng-if='file.originalName.indexOf(".jpg") < 0 && file.originalName.indexOf(".jpeg") < 0 && file.originalName.indexOf(".png") < 0 && file.originalName.indexOf(".gif") < 0 && file.originalName.indexOf(".PNG") < 0 && file.originalName.indexOf(".JPEG") < 0 && 
                                           file.originalName.indexOf(".JPG") < 0 && file.originalName.indexOf(".doc") < 0 && file.originalName.indexOf(".docx") < 0 && file.originalName.indexOf(".xls") < 0 && file.originalName.indexOf(".xlsx") < 0  && file.originalName.indexOf(".pdf") < 0 && file.originalName.indexOf(".ppt") < 0 && file.originalName.indexOf(".pptx") < 0' class="resources" style="height: 50px;" alt="">
                                        </a>
                                      </td>
                                      <td>{{file.fileName}}</td>
                                      <td>{{file.uploadBy}}</td>
                                      <td>{{file.description}}</td>
                                      <td>{{file.originalName}}</td>
                                      <td>
                                        {{file.createdDate | date : 'MM/dd/yyyy @ h:mma'}}
                                        <div class="btn-group" role="group" ng-if="file.createdBy == userDetails.userId">
                                          <button type="button" class="btn btn-secondary active" ng-click="deleteUploadedRecord(singleProjectData, key, file)"><i class="fa fa-trash-o"></i></button>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                          </div>
                          <div class="col-lg-12 table-responsive" ng-if="'requestInformation' == tab.t">
                            <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th class="wd-5p">#</th>
                                    <th class="wd-25p">Request</th>
                                    <th class="wd-10p">Requested By</th>
                                    <th class="wd-10p">Time</th>
                                    <th class="wd-25p">Latest Response</th>
                                    <th class="wd-10p">Responded By</th>
                                    <th class="wd-10p">Action</th>
                                  </tr>
                                </thead>
                                <tbody ng-repeat="y in singleProjectData.requests">
                                  {{y}}
                                  <tr>
                                    <td>{{$index + 1}}</td>
                                    <td>{{y.message}}</td>
                                    <td>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#modaldemo9" ng-click="viewProfile(y.requestedBy.userId)">
                                      {{y.requestedBy.userName}}</td>
                                    <td> {{y.createdDate | date : 'MM/dd/yyyy @ h:mma'}}</td>
                                    <td>
                                      <span style="cursor:pointer;" data-toggle="modal" data-target="#modaldemo8" ng-click="responsesData(y.requestId)">{{y.responses[y.responses.length-1].message}} </span>
                                      <a href="{{y.responses[y.responses.length-1].file.filePath}}" target="_blank" ng-if="y.responses[y.responses.length-1].file.fileName"><i class="fa fa-paperclip"></i>{{ y.responses[y.responses.length-1].file.fileName }}</a>
                                      <br>
                                      <a href="javascript:void(0)" class="tx-12" data-toggle="modal" data-target="#modaldemo8" ng-click="responsesData(y.requestId)" ng-if="y.responses.length > 1">..all responses</a>
                                    </td>
                                    <td>
                                      <a href="javascript:void(0)" data-toggle="modal" data-target="#modaldemo9" ng-click="viewProfile(y.responses[y.responses.length-1].userId)">
                                        {{y.responses[y.responses.length-1].userName}}
                                      </a>
                                    </td>
                                    <td>
                                      <div class="button-center">
                                        <button type="button" data-toggle="modal" data-target="#modaldemo7" class="btn btn-secondary active" ng-click="requestInfo(y.requestId)"><i class="fa fa-reply"></i></button>
                                        <button type="button" class="btn btn-secondary active mg-l-10" ng-click="deleteRequest(y.requestId)" ng-if="y.requestedBy.userId == userDetails.userId"><i class="fa fa-trash-o"></i></button>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- row -->

      </div><!-- container -->
    </div><!-- slim-mainpanel -->
    <div   id="modaldemo6" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
          <div class="modal-body pd-0">
            <div class="modal-header pd-y-20 pd-x-25">
              <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">New Request</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeDialog();">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="row no-gutters">
              <div class="col-lg-12 bg-white">
                <div class="pd-40 modal-dimension">
                  <div class="form-layout form-layout-4">
                      <div class="row data-center pd-b-20" ng-class="{validateError: validate.message}">
                          <label class="col-sm-4 form-control-label">Request<span class="tx-danger">*</span>:</label>
                          <div class="col-sm-8 mg-t-10 mg-sm-t-0 padding-0" >
                            <textarea type="text" class="form-control" ng-model="request.message" ng-class="{error: validate.message}" placeholder="Enter Request For Information" maxlength="200"></textarea>
                            <span class="tx-danger" ng-if="validate.message.require">Request is required</span>
                          </div>
                      </div>
                  </div>                   
                </div>
              </div><!-- col-6 -->
            </div><!-- row -->
            <div class="modal-footer  button-center">
                <button class="btn btn-primary bd-0 mg-l-10" ng-click="saveRequest()">Submit </button>
              <button class="btn btn-secondary bd-0" ng-click="clear()">Clear</button>
            </div>
          </div><!-- modal-body -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->
    <div   id="modaldemo7" class="modal fade">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
            <div class="modal-body pd-0">
              <div class="modal-header pd-y-20 pd-x-25">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Response</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeDialog();">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-12 bg-white">
                  <div class="pd-40 modal-dimension">
                    <div class="form-layout form-layout-4">
                      <div class="row data-center pd-b-20" ng-class="{validateError: validate.message}">
                        <label class="col-sm-4 form-control-label">Response <span class="tx-danger">*</span>:</label>
                        <div class="col-sm-8 mg-t-10 mg-sm-t-0 padding-0" >
                          <textarea type="text" class="form-control" ng-model="response.message" ng-class="{error: validate.message}" placeholder="Enter Response" maxlength="200"></textarea>
                          <span class="tx-danger" ng-if="validate.message.require">Response is required</span>
                        </div>
                      </div>
                      <div class="file-upload data-center pd-b-20">
                        <label class="col-sm-4 form-control-label"> File Upload  </span>:</label>
                        <div class="col-sm-8 custom-file" >
                            <input type="file" class="custom-file-input" id="customFile2" onchange="angular.element(this).scope().fileNameChanged(this)">
                            <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                            <span class="mg-t-5 tx-inverse" ng-if="name"><b>Selected File:</b> {{name}}</span>
                            <br/>
                        </div><!-- custom-file -->
                      </div>
                    </div>                   
                  </div>
                </div><!-- col-6 -->
              </div><!-- row -->
              <div class="modal-footer  button-center">
                <button class="btn btn-primary bd-0 mg-l-10" ng-click="saveResponse()">Submit </button>
                <button class="btn btn-secondary bd-0" ng-click="clear()">Clear</button>
              </div>
            </div><!-- modal-body -->
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    <div id="modaldemo8" class="modal fade">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
            <div class="modal-body pd-0 card-dimension">
              
              <div class="card card-activities">
                  <button type="button" class="close" data-dismiss="modal" style="outline:none;" aria-label="Close">
                    <span aria-hidden="true" style="float: right;">&times;</span>
                  </button>
                  <h6 class="slim-card-title mg-b-15" style="margin-top: -15px;"> All Responses</h6>
                  <!-- <p>Last activity was 1 hour ago</p> -->
                  <div class="media-list">
                    <div class="media" ng-repeat="data in responseData[0].responses">
                      <div class="activity-icon bg-purple" ng-if="data.file">
                        <i class="fa fa-paperclip"></i>
                      </div>
                      <div class="activity-icon bg-primary" ng-if="!data.file">
                        <i class="fa fa-envelope-o"></i>
                      </div><!-- activity-icon -->
                      <div class="media-body">
                        <h6>{{ data.message }}</h6>
                        <p><a href="{{data.file.filePath}}" target="_blank" ng-if="data.file"><i class="fa fa-paperclip"></i>{{ data.file.fileName }}</a></p>
                        <!-- <p></p> -->
                        <span>Replied By: {{data.userName}} @ {{data.createdDate | date : 'MM/dd/yyyy h:mma'}}</span>
                      </div><!-- media-body -->
                    </div><!-- media -->
                  </div><!-- media-list -->
              </div><!-- card -->
            </div>
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    <div id="modaldemo9" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
          <div class="modal-header pd-x-20">
            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">{{user.firstName}} {{user.lastName}} Profile </h6>
            <button type="button" class="close" data-dismiss="modal" style="outline:none;" aria-label="Close">
              <span aria-hidden="true" style="float: right;">&times;</span>
            </button>
          </div>
          <div class="modal-body pd-0">
            <div class="row no-gutters">
              <div class="col-lg-12 bg-white">
                <div class="pd-40 modal-dimension">
                  <div class="form-layout form-layout-4">
                      <div class="row data-center pd-b-20">
                          <img ng-if="user.logo == null" class="profile-image"src="assets/img/boy.png" alt="">
                          <img ng-if="user.logo != null" class="profile-image" src={{user.logo}} alt="">
                        <span style="display: flex;flex-direction:column;">
                          <span class="mg-l-20 tx-medium">{{user.firstName}} {{user.lastName}}</span>
                          <span class="mg-l-20">{{user.designation}}</span>
                        </span>
                       
                      </div>
                    <div class="row data-center pd-b-20">
                      <label class="col-lg-6 tx-medium">Email<span class="tx-danger"></span></label>
                      <span >: {{user.email}}</span>
                      <label class="col-lg-6 tx-medium">Phone Number<span class="tx-danger"></span></label>
                      <span ng-if="user.phone">: {{user.phone}}</span>
                      <span ng-if="user.phone == 0 " >: Not Available</span>
                      <label class="col-lg-6 tx-medium">Company Name<span class="tx-danger"></span></label>
                      <span ng-if="user.companyName">: {{user.companyName}}</span>
                      <span ng-if="user.companyName == null ">: Not Available</span>
                      <label class="col-lg-6 tx-medium">Location<span class="tx-danger"></span></label>
                      <span ng-if="user.location">: {{user.location}}</span>
                      <span ng-if="user.location == null">: Not Available</span>
                      <label class="col-lg-6 tx-medium">Sector<span class="tx-danger"></span></label>
                      <span ng-if="user.type">: {{user.type}}</span>
                      <span ng-if="user.type == null "> : Not Available</span>
                      <label class="col-lg-6 tx-medium">Persona<span class="tx-danger"></span></label>
                      <span>: {{user.areaOfInterest.join(",")}}</span>
                      <label class="col-lg-6 tx-medium">Website<span class="tx-danger"></span></label>
                      <a ng-if="user.website" href="http://{{user.website}}" target="_blank" class="d-block"> : {{user.website}}</a>
                      <span ng-if="user.website == null">: Not Available</span>
                      <label class="col-lg-6 tx-medium">Linkedin<span class="tx-danger"></span></label>
                      <span  ng-if="user.Linkedin" >: {{user.Linkedin}}</span>
                      <span ng-if="user.Linkedin == null">: Not Available</span>
                      <label class="col-lg-6 tx-medium">CV<span class="tx-danger"></span></label>
                      <a href="{{profile[0].filePath}}"  target="_blank" ng-if="profile[0].filePath" download>: {{profile[0].fileName }}</a>
                      <span ng-if="profile[0].filePath == null">: Not Available</span>
                    </div>
                  </div>  
                </div>
              </div><!-- col-6 -->
            </div><!-- row -->
          </div><!-- modal-body -->
          <div class="modal-footer" style="justify-content: center;">
            <!-- <button type="button" class="btn btn-primary" ng-click="addDiscussion(userDiscussions)">Save </button>
            <button type="button" class="btn btn-secondary" ng-click="clear()">Clear</button> -->
          </div>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
  </div>
    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->
</div>
