<style type="text/css">
  th {
    cursor: pointer;
  }
  td {
    vertical-align: middle !important;
  }
  tbody > tr > td > img {
    max-height: 50px !important;
  }
  .card-footer {
    border: 1px solid #ced4da !important;
  }
  .margin-bottom-30 {
    margin:0px 0px 30px 0px;
  }
  .seperation-inCards {
    border-top: 1px solid #dee2e6;
    padding:10px 0px 0px 0px;
  }
  .padding-bottom-10 {
    padding: 0px 0px 10px 0px;
  }
  .italic-font {
    font-style:italic;
  }
  .modal-dimension {
    height: auto;
    width: 500px;
    background-color: white;
    overflow-y: auto;
  }
  .data-center {
    align-items: center;
  }
  .button-center {
    display:flex;
    justify-content: center;
  }
  .modal-header{
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
  }
  .ellipsis{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }
  .btn-outline-gray{
    border-color: #adb5bd !important;
  }
  .tab-content > .active {
    display: flex !important;
  }
  .tab-pane {
    flex-direction: row;
    justify-content: space-between;
  }
  .card .list-group{
    height: 280px;
    overflow-y: auto;
    width: 48%;
  }
  .card-body-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #0000bd;
  }
</style>
<div class="">
  <div class="slim-mainpanel">
    <div class="container">
      <div class="slim-pageheader">
        <div style="display: flex;">
          <div class="tx-center mg-r-10 mg-l-10">
            <a href="javascript:void(0)" class="btn btn-primary btn-block mg-b-10" data-toggle="modal" data-target="#modaldemo6" ng-click="loadSelect();"><i class="fa fa-plus"></i> New Request</a>
          </div>
        </div>
        <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="projectViews('projectView')">Folder List</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="projectViews('projectView')">Lancaster</a></li>
          <li class="breadcrumb-item" ng-if="projectName != null"><a href="javascript:void(0)" ng-click="projectViews('projectDataView')">Kiwi</a></li>
          <li class="breadcrumb-item active" aria-current="page">Request Information</li>
        </ol>
      </div><!-- slim-pageheader -->
      <div class="card-invoice">
      </div>

      <div class="section-wrapper">
        <div class="row">
          <label class="section-title col-lg-9 pd-t-5">Requests</label>
          <div class="billed-from col-lg-3 pd-b-5" style="width: 25%;">
            <div class="search-box">
              <input type="text" class="form-control"  ng-model="searchUsers" style="width:100%" placeholder="Search">
              <button class="btn btn-primary" style="margin-left: auto;"><i class="fa fa-search"></i></button>
            </div>
          </div><!-- billed-from -->
        </div>
        <div class="card">
          <div class="card-body">
            <div class="col-lg-12">
                  <div class="card card-table">
                    <div class="table-responsive">
                      <table class="table mg-b-0 tx-12" id="allUsersTable">
                        <thead>
                          <tr class="tx-10">
                            <th class="wd-10p">S.No</th>
                            <th class="wd-15p" onclick="w3.sortHTML('#selectedUsersTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Title</th>
                            <th class="wd-25p" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Body</th>
                            <th class="wd-20p" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Requested By</th>
                            <th class="wd-25p" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Time</th>
                            <!-- <th class="pd-y-5" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="item">
                            <td>1</td>
                            <td class="tx-13 tx-primary">
                              <span class="tx-14 tx-medium d-block ellipsis2" >Request 1</span>
                            </td>
                            <td class="tx-13 tx-primary">
                              <span class="tx-14 tx-medium d-block ellipsis2">Description</span>
                            </td>
                            <td class="tx-13">
                             <a href="javascript:void(0)" data-toggle="modal" data-target="#modaldemo7">Nikhil A</a> 
                            </td>
                            <td>9/10/2019 12:30</td>
                          </tr>    
                          <tr class="item">
                              <td>2</td>
                              <td class="tx-13 tx-primary">
                                <span class="tx-14 tx-medium d-block ellipsis2">Request 2</span>
                              </td>
                              <td class="tx-13 tx-primary">
                                <span class="tx-14 tx-medium d-block ellipsis2">Description</span>
                              </td>
                              <td class="tx-13">
                               <a href="javascript:void(0)" data-toggle="modal" data-target="#modaldemo7" >Mahesh G</a> 
                              </td>
                              <td>9/9/2019 12:30</td>
                          </tr>  
                          <tr class="item">
                              <td>3</td>
                              <td class="tx-13 tx-primary">
                                <span class="tx-14 tx-medium d-block ellipsis2">Request 3</span>
                              </td>
                              <td class="tx-13 tx-primary">
                                <span class="tx-14 tx-medium d-block ellipsis2">Description</span>
                              </td>
                              <td class="tx-13">
                               <a href="javascript:void(0)" data-toggle="modal" data-target="#modaldemo7" >Kalyan T</a> 
                              </td>
                              <td>9/9/2019 10:30</td>
                          </tr>    
                          <tr class="item">
                              <td>4</td>
                              <td class="tx-13 tx-primary">
                                <span class="tx-14 tx-medium d-block ellipsis2">Request 4</span>
                              </td>
                              <td class="tx-13 tx-primary">
                                <span class="tx-14 tx-medium d-block ellipsis2" data-toggle="modal" data-target="#modaldemo7">Description</span>
                              </td>
                              <td class="tx-13">
                               <a href="javascript:void(0)">Naveen R</a> 
                              </td>
                              <td>9/8/2019 8:30</td>
                            </tr>     
                        </tbody>
                      </table>
                    </div><!-- table-responsive -->
                  </div><!-- card -->
            </div>
            <div class="alert alert-success" role="alert" id="successMessage" ng-if="successMessage">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <strong>Success!</strong> {{successMessage}}.
            </div>
            <div class="alert alert-danger" role="alert" id="errorMessage" ng-if="errorMessage">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <strong>Error!</strong> {{errorMessage}}.
            </div>
            <!-- <div class="tx-center mg-t-10">
              <a href="javascript:void(0)" id="addUsers" class="btn btn-primary btn-block mg-b-10" ng-if="userDetails.isAdmin" ng-click="addFolderUsers()"data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving"> Save</a>
            </div> -->
          </div>
        </div>
      </div><!-- section-wrapper -->
    </div>
  </div>
  <div id="modaldemo6" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
          <div class="modal-header pd-x-20">
            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">New Request </h6>
            <button type="button" class="close" aria-label="Close" ng-click="closeDialog()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pd-0">
            <div class="row no-gutters">
              <div class="col-lg-6 bg-white">
                <div class="pd-40 modal-dimension">
                  <div class="form-layout form-layout-4">
                    <div class="row data-center pd-b-20" >
                      <label class="col-sm-4 form-control-label">Title<span class="tx-danger">*</span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <input type="text" class="form-control"  placeholder="">
                        <!-- <span class="tx-danger" ng-if="validate.discussionName.require">Discussion Title is required</span> -->
                      </div>
                    </div>
                    <div class="row data-center pd-b-20">
                      <label class="col-sm-4 form-control-label">Body<span class="tx-danger">* </span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <textarea class="form-control"  placeholder="Enter Body"></textarea>
                        <!-- <span class="tx-danger" ng-if="validate.body.require">Description is required</span> -->
                      </div>
                    </div>
                    <div class="row data-center pd-b-20">
                      <label class="col-sm-4 form-control-label">Request To <span class="tx-danger">* </span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0 padding-0 ">
                        <select id="sector" class="form-control select2-show-search"  multiple>
                          <option value="Agriculture">nikhil A</option>
                          <option value="Healthcare">Kalyan T</option>
                          <option value="Transportation">maheshbabu G</option> 
                          <option value="Water & Sanitation">Aditya</option>
                        </select>
                        <!-- <span class="tx-danger" ng-if="validate.sector.require">Sector is required</span> -->
                      </div>
                    </div>
                    </div>
                  </div>  
                </div>
              </div><!-- col-6 -->
            </div><!-- row -->
          </div><!-- modal-body -->
          <div class="modal-footer" style="justify-content: center;">
            <button type="button" class="btn btn-primary" ng-click="addDiscussion(userDiscussions)">Submit </button>
            <button type="button" class="btn btn-secondary" ng-click="clear()">Clear</button>
          </div>
        </div><!-- modal-content -->
  </div><!-- modal-dialog -->
  </div>
  <div id="modaldemo7" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
          <div class="modal-header pd-x-20">
            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">User Profile </h6>
            <button type="button" class="close" aria-label="Close" ng-click="closeDialog()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pd-0">
            <div class="row no-gutters">
              <div class="col-lg-6 bg-white">
                <div class="pd-40 modal-dimension">
                  <div class="form-layout form-layout-4">
                    <div class="row data-center pd-b-20">
                      <label class="col-lg-6 tx-medium">First Name<span class="tx-danger"></span>:</label>
                      <span  disabled >Nikhil</span>
                      <label class="col-lg-6 tx-medium">Last Name<span class="tx-danger"></span>:</label>
                      <span disabled >A</span>
                      <label class="col-lg-6 tx-medium">Email<span class="tx-danger"></span>:</label>
                      <span  disabled >nikhil@edvenswa.in</span>
                      <label class="col-lg-6 tx-medium">Phone Number<span class="tx-danger"></span>:</label>
                      <span  disabled >(720)-7459-716</span>
                      <label class="col-lg-6 tx-medium">Persona<span class="tx-danger"></span>:</label>
                      <span  disabled >Startup</span>
                      <label class="col-lg-6 tx-medium">Sector<span class="tx-danger"></span>:</label>
                      <span  disabled >Connectivity</span>
                    </div>
                  </div>  
                </div>
              </div><!-- col-6 -->
            </div><!-- row -->
          </div><!-- modal-body -->
          <div class="modal-footer" style="justify-content: center;">
            <!-- <button type="button" class="btn btn-primary" ng-click="addDiscussion(userDiscussions)">Save </button>
            <button type="button" class="btn btn-secondary" ng-click="clear()">Clear</button> -->
          </div>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
  </div>

  <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->
</div>