<style>
    message-list>div.search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px 0px;
        padding: 5px;
    }

    message-list>div.list {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
        max-height: 100%;
        overflow-y: auto;
        visibility: hidden;
        padding: 5px;
    }

    message-list>div.list:hover,
    message-list>div.list:focus {
        visibility: visible;
    }

    message-list>div.list>.list-item {
        background-color: #ffffff;
        border-bottom: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        padding: 8px;
        position: relative;
        transition: visibility 0s 0.2s;
        visibility: visible;
        width: 100%
    }

    message-list>div.list>.active,
    message-list>div.list>.list-item:hover {
        background-color: #f8f9fa;
        border-left: 5px solid #4662D4;
    }

    message-list>div.list>.list-item:first-child {
        border-top: 1px solid #dee2e6;
    }

    message-list>div.list>.list-item>.logo {
        /*background-color: darkgray;
        border: 1px solid #dee2e6;*/
        border-radius: 50%;
        height: 60px;
        margin: 5px;
        padding: 0px;
        width: 60px;

    }
    message-list>div.list>.list-item>div.status{        
        border: 1px solid #fafafa;
        border-radius: 50%;
        height: 10px;
        left: 58px;
        position: absolute;
        top: 60px;
        width: 10px;
    }
    message-list>div.list>.list-item>.status-online {
        background-color: #23BF08;
    }
    message-list>div.list>.list-item>.status-offline{
        background-color: darkgray;
    }

    message-list>div.list>.list-item>.message-detail {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-top: 10px;
        /* margin: 5px; */
        padding: 5px;
    }

    message-list>div.list>.list-item>.message-detail>span.message {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    message-list>div.list>.list-item>.message-detail>span.userName {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    message-list>div.list>.list-item>.date {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 5px;
        padding: 5px;
    }
</style>

<div class="search-box">
    <input type="text" class="form-control" placeholder="Search" ng-model="searchMessages" />
    <button class="btn btn-primary" style="margin-left: auto;">
        <i class="fa fa-search"></i>
    </button>
</div>

<div class="list">
    <div class="list-item" ng-class="{'active': listItem.isActive}" ng-repeat="listItem in list | filter: searchMessages | orderBy: '-isActive'" ng-click="openSelectedChat(listItem)">
        <img class="logo" ng-if="!listItem.logo" ng-src="assets/img/user.png" ng-click="openSelectedChat(listItem)"></img>
        <img class="logo" ng-if="listItem.logo" ng-src="{{listItem.logo}}" ng-click="openSelectedChat(listItem)" />
        <div class="status" ng-class="{'status-online': listItem.isOnline, 'status-offline': !listItem.isOnline}"></div>
        <div class="message-detail" ng-click="openSelectedChat(listItem)">
            <h6 class="userName" ng-click="openSelectedChat(listItem)">{{listItem.userName}}</h6>
            <span class="message" ng-click="openSelectedChat(listItem)">{{listItem.messages[0].message}}</span>
        </div>
        <div class="date" ng-click="openSelectedChat(listItem)">
            <span class="tx-12">{{listItem.messages[0].date | dateMonthFilter}}</span>
        </div>
    </div>
</div>