

    <style type="text/css">
      .card-footer {
        border: 1px solid #ced4da !important;
      }
      .margin-bottom-30 {
        margin:0px 0px 30px 0px;
      }
      .seperation-inCards {
        border-top: 1px solid #dee2e6;
        padding:10px 0px 0px 0px;
      }
      .padding-bottom-10 {
        padding: 0px 0px 10px 0px;
      }
      .italic-font {
        font-style:italic;
      }
      .modal-dimension {
        height: 400px;
        width: 500px;
        background-color: white;
      }
      .data-center {
        align-items: center;
      }
      .padding-bottom-20{
        padding: 0px 0px 20px 0px;
      }
      .button-center {
        display:flex;
        justify-content: center;
      }
      .margin-left-10 {
        margin: 0px 10px 0px 0px;
      }
      .modal-header{
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
      }
      .margin-right-10 {
        margin: 0px 0px 0px 10px;
      }
      .ht-400 {
        height: 400px;
      }
    </style>
  <div class="">
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <div style="display: flex;">
          </div>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Following</li>
          </ol>
        </div><!-- slim-pageheader -->
        <div class="card-invoice">
            <div class="invoice-header">
              <div class="tx-center">
                <select ng-model="followingFilter" class="form-control select2-show-search" data-placeholder="Filter..">
                  <!-- <option label="Select Type"></option> -->
                  <option value="">All</option>
                  <option value="University">University</option>
                  <option value="Startup">Startup</option>
                  <option value="Corporations">Corporations</option>
                </select>
              </div><!-- tx-center -->
              <div class="billed-from" style="width: 90%;">
                <div class="search-box">
                  <input type="text" class="form-control" placeholder="Search" ng-model="searchAll"/>
                  <button class="btn btn-primary" style="margin-left: auto;"><i class="fa fa-search"></i></button>
                </div>
              </div><!-- billed-from -->
            </div><!-- invoice-header -->
        </div>

        <div class="section-wrapper mg-t-20">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-columns column-count-2">
                <div class="card card-table" >
                  <div class="card-header bg-grandeur">
                    <h6 class="slim-card-title icon ion-flash tx-white"> Challenges</h6>
                  </div><!-- card-header -->
                  <div class="table-responsive ht-400">
                    <table class="table mg-b-0 tx-12">
                      <thead>
                        <tr class="tx-10">
                          <th class="wd-10p pd-y-5">&nbsp;</th>
                          <th class="pd-y-5">Challenge</th>
                          <th class="pd-y-5">Sector</th>
                          <th class="pd-y-5">Category</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="x in challengeFollow | filter: {title: searchAll, type: (followingFilter || x.type)}">
                          <td class="pd-l-20">
                            <img src="http://via.placeholder.com/500x500" class="wd-50 rounded-circle" alt="Image">
                          </td>
                          <td>
                            <div style="display: flex;flex-direction: row;">
                              <a href="javascript:void(0)" class="tx-primary tx-14 tx-medium d-block" ng-click="viewChallenge(x.challengeId)">{{ x.title }}</a>
                              <a href="javascript:void(0);" ng-click="unFollow(x.challengeId,'challenge',index)" title="Following" class="tx-15 tx-danger mg-l-5">
                                <i class="icon ion-heart"  ></i>
                              </a>
                            </div>
                            <div class="tx-11" >
                                <span ng-repeat="i in getNumber(number) track by $index" >
                                    <a href ng-if="$index+1 <= x.avgRating"  class="tx-warning"><i class="icon ion-star"></i></a>
                                    <a href ng-if="$index+1 > x.avgRating"  class="tx-gray-500"><i class="icon ion-star"></i></a>
                                </span>
                                <a href=""><span> ({{x.totalRating}} Ratings)</span></a>
                            </div>
                          </td>
                          <td class="tx-13">
                                {{x.sector.join(",")}}
                          </td>
                          <td class="tx-13">
                            {{x.type}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- table-responsive -->
                </div><!-- card -->
                <div class="card card-table">
                  <div class="card-header bg-grandeur">
                    <h6 class="slim-card-title icon ion-ios-flower tx-white"> Projects</h6>
                  </div><!-- card-header -->
                  <div class="table-responsive ht-400">
                    <table class="table mg-b-0 tx-12">
                      <thead>
                        <tr class="tx-10">
                          <th class="wd-10p pd-y-5">&nbsp;</th>
                          <th class="pd-y-5">Project</th>
                          <th class="pd-y-5">Sector</th>
                          <th class="pd-y-5">Category</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="x in projectFollow  | filter: {name: searchAll, categories: (followingFilter || x.categories)}">
                          <td class="pd-l-20">
                            <img src="http://via.placeholder.com/500x500" class="wd-50 rounded-circle" alt="Image">
                          </td>
                          <td>
                            <div style="display: flex;flex-direction: row;">
                              <a href="javascript:void(0)" class="tx-primary tx-14 tx-medium d-block" ng-click="viewProject(x.projectId)">{{x.name}}</a>
                              <a href="javascript:void(0)"  ng-click="unFollow(x.projectId,'project',index)"  title="Following" class="tx-15 tx-danger mg-l-5">
                                <i class="icon ion-heart"></i>
                              </a>
                            </div>
                            <div class="tx-11" >
                                    <span ng-repeat="i in getNumber(number) track by $index" >
                                        <a href ng-if="$index+1 <= x.avgRating"  class="tx-warning"><i class="icon ion-star"></i></a>
                                        <a href ng-if="$index+1 > x.avgRating"  class="tx-gray-500"><i class="icon ion-star"></i></a>
                                    </span>
                                    <a href=""><span> ({{x.totalRating}} Ratings)</span></a>
                            </div>
                          </td>
                          <td class="tx-13">
                                {{x.sector.join(",")}}
                              </td>
                          <td class="tx-13">
                            {{x.categories}}
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div><!-- table-responsive -->
                </div><!-- card -->
              </div>
              <div class="card-columns column-count-2">
                <div class="card card-table">
                  <div class="card-header bg-grandeur">
                    <h6 class="slim-card-title icon ion-wand tx-white"> Technologies</h6>
                  </div><!-- card-header -->
                  <div class="table-responsive ht-400">
                    <table class="table mg-b-0 tx-12">
                      <thead>
                        <tr class="tx-10">
                          <th class="wd-10p pd-y-5">&nbsp;</th>
                          <th class="pd-y-5">Technology</th>
                          <th class="pd-y-5">Sector</th>
                          <th class="pd-y-5">Category</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="x in solutionFollow  | filter: {name: searchAll, type: (followingFilter || x.type)}">
                          <td class="pd-l-20">
                              <img src="http://via.placeholder.com/500x500" ng-if="!x.logo" class="wd-50 rounded-circle" alt="Image">
                            <img src="{{ x.logo }}" ng-if="x.logo" class="wd-50 rounded-circle" alt="Image">
                          </td>
                          <td>
                            <div style="display: flex;flex-direction: row;">
                              <a href="javascript:void(0)" class="tx-primary tx-14 tx-medium d-block" ng-click="viewSolution(x.solutionId)">{{x.name}}</a>
                              <a href="javascript:void(0)" ng-click="unFollow(x.solutionId,'solution',index)" title="Following" class="tx-15 tx-danger mg-l-5">
                                <i class="icon ion-heart"></i>
                              </a>
                            </div>
                            <div class="tx-11" >
                                <span ng-repeat="i in getNumber(number) track by $index" >
                                    <a href ng-if="$index+1 <= x.avgRating"  class="tx-warning"><i class="icon ion-star"></i></a>
                                    <a href ng-if="$index+1 > x.avgRating"  class="tx-gray-500"><i class="icon ion-star"></i></a>
                                </span>
                                <a href=""><span> ({{x.totalRating}} Ratings)</span></a>
                            </div>
                          </td>
                          <td class="tx-13">
                            {{ x.sector.join(",") }}
                          </td>
                          <td class="tx-13">
                            {{ x.type }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- table-responsive -->
                </div><!-- card -->
                <div class="card card-table">
                  <div class="card-header bg-grandeur">
                    <h6 class="slim-card-title icon ion-ios-people tx-white"> Collaborations</h6>
                  </div><!-- card-header -->
                  <div class="table-responsive ht-400">
                    <table class="table mg-b-0 tx-12">
                      <thead>
                        <tr class="tx-10">
                          <th class="wd-10p pd-y-5">&nbsp;</th>
                          <th class="pd-y-5">Collaborator</th>
                          <th class="pd-y-5">Sector</th>
                          <th class="pd-y-5">Category</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="x in collaborateFollow  | filter: {name: searchAll, type: (followingFilter || x.type)}">
                          <td class="pd-l-20">
                              <img src="http://via.placeholder.com/500x500" ng-if="!x.logo" class="wd-50 rounded-circle" alt="Image">
                            <img src="{{ x.logo }}" ng-if="x.logo" class="wd-50 rounded-circle" alt="Image">
                          </td>
                          <td>
                            <div style="display: flex;flex-direction: row;">
                              <a href="javascript:void(0)" class="tx-primary tx-14 tx-medium d-block" ng-click="viewCollaborate(x.collaborateId)">{{x.name}}</a>
                              <a href="javascript:void(0)" title="Following" ng-click="unFollow(x.collaborateId,'collaborate',index)" class="tx-15 tx-danger mg-l-5">
                                <i class="icon ion-heart"></i>
                              </a>
                            </div>
                            <div class="tx-11" >
                                <span ng-repeat="i in getNumber(number) track by $index" >
                                    <a href ng-if="$index+1 <= x.avgRating"  class="tx-warning"><i class="icon ion-star"></i></a>
                                    <a href ng-if="$index+1 > x.avgRating"  class="tx-gray-500"><i class="icon ion-star"></i></a>
                                </span>
                                <a href=""><span> ({{x.totalRating}} Ratings)</span></a>
                            </div>
                          </td>
                          <td class="tx-13">
                            {{x.sector.join(",")}}
                          </td>
                          <td class="tx-13">
                            {{x.type}}
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div><!-- table-responsive -->
                </div><!-- card -->
              </div>
              <div class="card-columns column-count-2">
                <div class="card card-table">
                  <div class="card-header bg-grandeur">
                    <h6 class="slim-card-title icon ion-ios-flask tx-white"> Research</h6>
                  </div><!-- card-header -->
                  <div class="table-responsive ht-400">
                    <table class="table mg-b-0 tx-12">
                      <thead>
                        <tr class="tx-10">
                          <th class="wd-10p pd-y-5">&nbsp;</th>
                          <th class="pd-y-5">Research</th>
                          <th class="pd-y-5">Sector</th>
                          <th class="pd-y-5">Category</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat= "x in researchFollow  | filter: {researchName: searchAll, type: (followingFilter || x.type)}">
                          <td class="pd-l-20">
                            <img src="http://via.placeholder.com/500x500" class="wd-50 rounded-circle" alt="Image">
                          </td>
                          <td>
                            <div style="display: flex;flex-direction: row;">
                              <a href="javascript:void(0)" class="tx-inverse tx-14 tx-medium d-block">{{x.researchName}} </a>
                              <a href="javascript:void(0)" title="Following" ng-click="unFollow(x.researchId,'research',index)" class="tx-15 tx-danger mg-l-5">
                                <i class="icon ion-heart"></i>
                              </a>
                            </div>
                          </td>
                          <td class="tx-13">
                              {{x.sector.join(" , ")}}
                          </td>
                          <td class="tx-13">
                            {{x.type}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- table-responsive -->
                </div><!-- card -->
                <div class="card card-table">
                  <div class="card-header bg-grandeur">
                    <h6 class="slim-card-title icon ion-chatboxes tx-white"> Discussions</h6>
                  </div><!-- card-header -->
                  <div class="table-responsive ht-400">
                    <table class="table mg-b-0 tx-12">
                      <thead>
                        <tr class="tx-10">
                          <th class="wd-10p pd-y-5">&nbsp;</th>
                          <th class="pd-y-5">Discussion</th>
                          <th class="pd-y-5">Sector</th>
                          <th class="pd-y-5">Category</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="x in discussionsFollow | filter: {discussionName: searchAll, persona: (followingFilter || x.persona)}">
                          <td class="pd-l-20">
                            <img src="http://via.placeholder.com/500x500" class="wd-50 rounded-circle" alt="Image">
                          </td>
                          <td>
                            <div style="display: flex;flex-direction: row;">
                              <a href="javascript:void(0)" class="tx-primary tx-14 tx-medium d-block" ng-click="discussion(x)">{{ x.discussionName}}</a>
                              <a href="javascript:void(0)" title="Following" class="tx-15 tx-danger mg-l-5"  ng-click="unFollow(x.discussionId,'discussions',index)">
                                <i class="icon ion-heart"></i>
                              </a>
                            </div>
                            <div class="tx-11" >
                                <span ng-repeat="i in getNumber(number) track by $index" >
                                    <a href ng-if="$index+1 <= x.avgRating"  class="tx-warning"><i class="icon ion-star"></i></a>
                                    <a href ng-if="$index+1 > x.avgRating"  class="tx-gray-500"><i class="icon ion-star"></i></a>
                                </span>
                                <a href=""><span> ({{x.totalRating}} Ratings)</span></a>
                            </div>
                          </td>
                          <td class="tx-13">
                              {{x.sector.join(" , ")}}
                          </td>
                          <td class="tx-13">
                            {{x.persona}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- table-responsive -->
                </div><!-- card -->
              </div>
            </div>
          </div><!-- row -->
        </div><!-- section-wrapper -->
      </div>
    </div>
    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->
    <script>
      $(function(){
        'use script';

        $('.select2').select2({
          minimumResultsForSearch: Infinity
        });

        // Select2 by showing the search
        $('.select2-show-search').select2({
          minimumResultsForSearch: ''
        });

        // Colored Hover
        $('#select2').select2({
          dropdownCssClass: 'hover-success',
          minimumResultsForSearch: Infinity // disabling search
        });
      });
    </script>
  </div>
