
    <style type="text/css">
      .card-footer{
        border: 1px solid #ced4da !important;
      }
      .seperation-inCards {
        border-top: 1px solid #dee2e6;
        padding:10px 0px 0px 0px;
      }
      .italic-font {
        font-style:italic;
      }
      .modal-dimension {
        height: auto;
        background-color: white;
      }
      .data-center {
        align-items: center;
      }
      .button-center {
        display:flex;
        justify-content: center;
      }
      .modal-header{
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
      }
      .card-header{
        cursor: pointer;
        color: #fff;
      }
      .ellipsis1{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .ellipsis2{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
      }
      .tx-danger {
        color: #e4606c;
      }
      .ion-heart {
        float: right;
      }
      .modal-body{
        overflow-y: auto;
      }
      .card-hover:hover{
        box-shadow: 0 9px 11px -5px rgba(0,0,0,.2), 0 18px 28px 2px rgba(0,0,0,.14), 0 7px 34px 6px rgba(0,0,0,.12);
      }
      .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 20px;
      }

      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 0px;
        bottom: 1px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
      th {
        cursor: pointer;
      }
      td {
        vertical-align: middle !important;
      }
    </style>
  <div class="">
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <div style="display: flex;">
            <div class="tx-center mg-r-10">
              <a href="" class="btn btn-primary btn-block mg-b-10" ng-if="userDetails.isAdmin" data-toggle="modal" data-target="#modaldemo6" ng-click="loadSelect()"><i class="fa fa-plus"></i> New Challenge</a>
            </div><!-- tx-center -->
          </div>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Challenges</li>
          </ol>
        </div><!-- slim-pageheader -->
        <div class="card-invoice">
          <div class="invoice-header">
              <div class="mg-r-10" style="display: flex;">
                  <select id="challengeTypeBody" class="form-control select2-show-search" ng-change="searchData()" ng-model="sector" data-placeholder="Filter..">
                    <option label="Filter by sector"></option>
                    <option value="All" selected>All</option>
                    <!-- <option value="Followed">Followed</option> -->
                    <option value="Agriculture">Agriculture</option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Transportation">Transportation</option>
                    <option value="Water & Sanitation">Water & Sanitation</option>
                    <option value="Connectivity">Connectivity</option>
                    <option value="Education">Education</option>
                    <option value="Energy">Energy</option>
                    <option value="Livelihood">Livelihood</option>
                  </select>
              </div>
              <div class="billed-from" style="width: 100%;">
                <div class="search-box">
                  <input type="text" class="form-control" style="width: 100%;" placeholder="Search"  ng-model="searchString">
                  <button class="btn btn-primary"  style="margin-left: auto;"><i class="fa fa-search"></i></button>
                </div>
              </div><!-- billed-from -->
            </div><!-- invoice-header -->
        </div>

        <div class="section-wrapper mg-t-20">
          <div class="row">
            <span class="">Card View:</span>
            <label class="switch">
              <input type="checkbox" ng-model="cardView" ng-change="changeView()">
              <span class="mg-l-5 slider round"></span>
            </label>
          </div>
          <div class="row" ng-if="cardViewValue == true">
            <div class="col-md-3 mg-b-30" ng-repeat="x in challengeData | searchText:searchString  track by $index" ng-if="x.isActive == true">
              <div class="card card-hover bd-0">
                <div class="card-header tx-medium bd-0 tx-white bg-crystal-clear ellipsis1" ng-if="x.sector == 'Agriculture'">
                  <span ng-click="editchallenge(x.challengeId)" title="{{x.title}}">Challenge: {{x.title}}</span>
                </div><!-- card-header -->
                <div class="card-header tx-medium bd-0 tx-white bg-royal ellipsis1" ng-if="x.sector == 'Transportation'">
                  <span ng-click="editchallenge(x.challengeId)" title="{{x.title}}">Challenge: {{x.title}}</span>
                </div><!-- card-header -->
                <div class="card-header tx-medium bd-0 tx-white bg-firewatch ellipsis1" ng-if="x.sector == 'Healthcare'">
                  <span ng-click="editchallenge(x.challengeId)" title="{{x.title}}">Challenge: {{x.title}}</span>
                </div><!-- card-header -->
                <div class="card-header tx-medium bd-0 tx-white bg-transfile ellipsis1" ng-if="x.sector == 'Livelihood'">
                  <span ng-click="editchallenge(x.challengeId)" title="{{x.title}}">Challenge: {{x.title}}</span>
                </div><!-- card-header -->
                <div class="card-header tx-medium bd-0 tx-white bg-dance ellipsis1" ng-if="x.sector == 'Energy'">
                  <span ng-click="editchallenge(x.challengeId)" title="{{x.title}}">Challenge: {{x.title}}</span>
                </div><!-- card-header -->
                <div class="card-header tx-medium bd-0 tx-white bg-flickr ellipsis1" ng-if="x.sector == 'Education'">
                  <span ng-click="editchallenge(x.challengeId)" title="{{x.title}}">Challenge: {{x.title}}</span>
                </div><!-- card-header -->
                <div class="card-header tx-medium bd-0 tx-white bg-grandeur ellipsis1" ng-if="x.sector == 'Connectivity'">
                  <span ng-click="editchallenge(x.challengeId)" title="{{x.title}}">Challenge: {{x.title}}</span>
                </div><!-- card-header -->
                <div class="card-header tx-medium bd-0 tx-white bg-reef ellipsis1" ng-if="x.sector == 'Water & Sanitation'">
                  <span ng-click="editchallenge(x.challengeId)" title="{{x.title}}">Challenge: {{x.title}}</span>
                </div><!-- card-header -->
                <div id="challenge" class="card-body bd bd-t-0">
                  <p class="mg-b-0 pd-b-10 ellipsis1" title="{{x.description}}"><b>Description: </b>  {{x.description}}</p>
                  <p class="seperation-inCards ion-ios-location ellipsis1"><b> {{x.location}}</b></p>
                  <p class="seperation-inCards ellipsis1" ><b>Sector: </b> {{x.sector}}</p>
                  <div class="seperation-inCards ellipsis1"><b>KeyWords: </b> <span class="italic-font" title="{{x.keyword.join(',')}}"> {{x.keyword.join(",")}}</span></div>
                  <br>
                  <div class="seperation-inCards tx-14">
                    <span ng-repeat="i in getNumber(number) track by $index">
                      <a href ng-if="$index+1<=x.avgRating" ng-click="ratingChallenge(x.challengeId, $index+1)" class="tx-warning"><i class="icon ion-star"></i></a>
                      <a href ng-if="$index+1>x.avgRating" ng-click="ratingChallenge(x.challengeId, $index+1)" class="tx-gray-500"><i class="icon ion-star"></i></a>
                    </span>
                    <a href=""><span> ({{x.totalRating}} Ratings)</span></a>
                    <a href="javascript:void(0)" ng-click="follow(challenge)" title="Follow" class="tx-20 tx-gray-500">
                      <i class="icon ion-heart tx-gray-500" ng-click="follow(x.challengeId, x.isFollowing)" ng-if="x.isFollowing == 0"></i>
                      <i ng-if="x.isFollowing == 1" ng-click="follow(x.challengeId, x.isFollowing)" class="icon ion-heart tx-danger"></i>
                    </a>
                  </div>
                </div><!-- card-body -->
                <div class="card-footer bd-t tx-right">
                  <a href ng-click="editchallenge(x.challengeId)" title="More Details"><i class="fa fa-expand mg-l-5 mg-r-5"></i></a>
                  <i class="fa fa-share-alt mg-l-5 mg-r-5 tx-secondary" data-placement="right" title="Share" data-html="true" title="Share" disabled></i>
                  <a href="javascript:void(0)" ng-click="discussion(x)" title="Goto Discussion"><i class="icon ion-ios-chatboxes mg-l-5 mg-r-5 tx-15"></i></a>
                </div><!-- card-footer -->
              </div><!-- card -->
            </div><!-- col -->
          </div><!-- row -->
          <div class="row" ng-if="cardViewValue == false">
            <div class="col-lg-12">
              <div class="card card-table">
                <div class="table-responsive">
                  <table class="table mg-b-0 tx-12" id="challengeTable">
                    <thead>
                      <tr class="tx-10 bg-royal">
                        <th class="wd-5p pd-y-5">&nbsp;</th>
                        <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#challengeTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
                        <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#challengeTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Challenge Name</th>
                        <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#challengeTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Short Desc.</th>
                        <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#challengeTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>State</th>
                        <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#challengeTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Key Words</th>
                        <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#challengeTable', '.item', 'td:nth-child(7)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Rating</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="item" ng-repeat="x in challengeData | searchText:searchString  track by $index" ng-if="x.isActive == true">
                        <td class="pd-l-20">
                          <img src="assets/img/Agriculture.png" ng-if="x.sector == 'Agriculture'" class="wd-35" alt="Image"/>
                          <img src="assets/img/Healthcare.png" ng-if="x.sector == 'Healthcare'" class="wd-35" alt="Image"/>
                          <img src="assets/img/Transportation.png" ng-if="x.sector == 'Transportation'" class="wd-35" alt="Image"/>
                          <img src="assets/img/Water & Sanitation.png" ng-if="x.sector == 'Water & Sanitation'" class="wd-35" alt="Image"/>
                          <img src="assets/img/Connectivity.png" ng-if="x.sector == 'Connectivity'" class="wd-35" alt="Image"/>
                          <img src="assets/img/Education.png" ng-if="x.sector == 'Education'" class="wd-35" alt="Image"/>
                          <img src="assets/img/Energy.png"ng-if="x.sector == 'Energy'" class="wd-35" alt="Image"/>
                          <img src="assets/img/Livelihood.png" ng-if="x.sector == 'Livelihood'" class="wd-35" alt="Image"/>
                        </td>
                        <td class="tx-13" title="{{x.sector}}">
                          {{x.sector}}
                        </td>
                        <td>
                          <div style="display: flex;flex-direction: row;">
                            <a href ng-click="editchallenge(x.challengeId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.title}}">{{x.title}}</a>
                            <a href="" title="Following" class="tx-15 tx-danger mg-l-5">
                              <i class="icon ion-heart tx-gray-500" ng-click="follow(x.challengeId, x.isFollowing)" ng-if="x.isFollowing == 0"></i>
                              <i ng-if="x.isFollowing == 1" ng-click="follow(x.challengeId, x.isFollowing)" class="icon ion-heart tx-danger"></i>
                            </a>
                          </div>
                        </td>
                        <td class="tx-13 ellipsis2" title="{{x.description}}">
                          <a href ng-click="editchallenge(x.challengeId)" class="tx-inverse">{{x.description}}</a>
                        </td>
                        <td class="tx-13">
                          {{x.location}}
                        </td>
                        <td class="tx-13">
                          {{x.keyword.join(",")}}
                        </td>
                        <td class="tx-13">
                          <span ng-repeat="i in getNumber(number) track by $index">
                            <a href ng-if="$index+1<=x.avgRating" ng-click="ratingChallenge(x.challengeId, $index+1)" class="tx-warning"><i class="icon ion-star"></i></a>
                            <a href ng-if="$index+1>x.avgRating" ng-click="ratingChallenge(x.challengeId, $index+1)" class="tx-gray-500"><i class="icon ion-star"></i></a>
                          </span>
                          <p>
                            {{x.avgRating}} out of 5
                              <span> ({{x.totalRating}} Ratings)</span>
                          </p>
                        </td>
                      </tr>                      
                    </tbody>
                  </table>
                </div><!-- table-responsive -->
              </div><!-- card -->
            </div>
          </div><!-- row -->
        </div><!-- section-wrapper -->
      </div>
    </div>

    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->

    <!-- MODAL GRID -->
    <div id="modaldemo6" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
          <div class="modal-header pd-y-20 pd-x-25">
            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Add Challenge</h6>
            <button id="closeButton" type="button" class="close" aria-label="Close" ng-click="closeDialog()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pd-0">
            <div class="row no-gutters">
              <div class="col-lg-12 bg-white">
                <div class="pd-40 modal-dimension">
                  <div class="form-layout form-layout-4">
                    <div class="row data-center pd-b-20" ng-class="{validateError: validate.title}">
                      <label class="col-sm-4 form-control-label"> Challenge Name <span class="tx-danger">*</span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <input type="text" class="form-control" ng-model="challenge.title" placeholder="Enter  Challenge Name" ng-class="{error: validate.title}" maxlength="150">
                        <span class="tx-danger" ng-if="validate.title.require">Challenge Name is required</span>
                      </div>
                    </div>
                    <div class="row data-center pd-b-20" ng-class="{validateError: validate.description}">
                      <label class="col-sm-4 form-control-label">Description<span class="tx-danger">* </span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <textarea class="form-control" ng-model="challenge.description" placeholder="Enter  Description" ng-class="{error: validate.description}"></textarea>
                        <span class="tx-danger" ng-if="validate.description.require">Description is required</span>
                      </div>
                    </div>
                    <div class="row data-center pd-b-20" ng-class="{validateError: validate.location}">
                      <label class="col-sm-4 form-control-label">Location <span class="tx-danger">* </span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <input type="text" class="form-control" ng-model="challenge.location" placeholder="Enter Location" ng-class="{error: validate.location}">
                        <span class="tx-danger" ng-if="validate.location.require">Location is required</span>
                      </div>
                    </div>
                    <div class="row data-center pd-b-20" ng-class="{validateError: validate.sector}">
                      <label class="col-sm-4 form-control-label">Sector <span class="tx-danger">* </span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <select id="challengeType" class="form-control select2-show-search" ng-model="challenge.sector" ng-class="{error: validate.sector}" data-placeholder="Select a Sector">
                          <option label="Select sector"></option>
                          <option value="Agriculture">Agriculture</option>
                          <option value="Healthcare">Healthcare</option>
                          <option value="Transportation">Transportation</option>
                          <option value="Water & Sanitation">Water & Sanitation</option>
                          <option value="Connectivity">Connectivity</option>
                          <option value="Education">Education</option>
                          <option value="Energy">Energy</option>
                          <option value="Livelihood">Livelihood</option>
                        </select>
                        <span class="tx-danger" ng-if="validate.sector.require">Sector is required</span>
                      </div>
                    </div>
                    <div class="row data-center pd-b-20">
                      <label class="col-sm-4 form-control-label">KeyWord <span class="tx-danger"> </span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <input type="text" class="form-control" ng-model="keyWord" placeholder="Enter KeyWord">
                      </div>
                    </div>
                    <!-- I made this change -->
                    <div class="row">
                      <span class="">Government Funded:</span>
                          <label class="switch">
                          <input type="checkbox" ng-model="governmentFunded" ng-change="changeView()">
                          <span class="mg-l-5 slider round"></span>
                          </label>
                    </div>
                  </div>                
                </div>
              </div><!-- col-6 -->
            </div><!-- row -->
          </div><!-- modal-body -->
          <div class="modal-footer  button-center">
            <button id="closeButton"class="btn btn-primary bd-0 mg-l-10" ng-click="addChallenge(challenge)">Submit </button>
            <button class="btn btn-secondary bd-0" ng-click="clear()">Clear</button>
          </div>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <div id="tooltip-content" class="tx-20" style="display: none;">
      <a href="" class="tx-primary mg-r-5 tx-15" title="Linkedin"><i class="fa fa-linkedin"></i></a>
      <a href="" class="tx-primary mg-r-5 tx-15" title="Facebook"><i class="fa fa-facebook"></i></a>
      <a href="" class="tx-danger mg-r-5 tx-15" title="Google"><i class="fa fa-google"></i></a>
      <a href="" class="tx-primary mg-r-5 tx-15" title="Hyperlink"><i class="fa fa-link"></i></a>
    </div>
  </div>

  <script>
    $(function(){
      'use strict';
    });
    // $("[data-toggle=tooltip]").popover({
    //   html: true, 
    //   content: function() {
    //     return $('#tooltip-content').html();
    //   }
    // });
  </script>
