
    <style type="text/css">
      .connecting-line {
        height: 5px;
        background: -webkit-linear-gradient(left, #040474 0%, #1CB5E0 100%) !important;
        background: linear-gradient(to right, #040474 0%, #1CB5E0 100%) !important;
        position: absolute;
        width: 55%;
        margin: 60px 0px 0px 285px;
        z-index: 0;
      }
      .circle-align{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .circle-direction {
        display: flex;
        flex-direction: column;
      }
      svg{
        fill: #1c6ae0;
      }
      .font-size-18 {
        font-size: 18px;
        color: #000000;
      }
      .font-size-30 {
        font-size: 30px;
        color: #000000
      }
      .center-element {
        display: flex;
        justify-content: center;
      }
      .card-view {
        height: 300px;
        width: 250px;
        background-color: white;
        box-shadow: 0 5px 50px 0 rgba(0,0,0,.24);
        display: -webkit-flex;
        -webkit-align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .menu-bg-fixed {
        background: -webkit-linear-gradient(left, #040474 0%, #1CB5E0 100%) !important;
        background: linear-gradient(to right, #040474 0%, #1CB5E0 100%) !important;
        z-index: 9999;
        padding: 5px;
      }
      .cursor-default  {
        cursor: default!important;
      }
      .dropdown-content, .menu-bg-fixed .dropdown-content {
        display: none;
        flex-wrap: wrap;
        position: absolute;
        background-color: #ffffff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        color: #000000;
        height: 300px;
        padding: 0px 0px 0px 0px;
        width: 26%;
        margin-left: -15%;
        overflow-y: hidden;
      }
      .dropdown-content:hover{
        overflow-y: auto;
      }
      .dropdown-content > li{
        padding: 1px;
        display: inline-block;
        color: black;
        z-index: 999;
      }
      .menu-icon {
        height: 40px;
        width: 40px;
        margin: 15px 15px;
      }
      .dropdown-tiles{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000000;
        width: 120px;
      }
      /*.menu:hover{
        border: 1px solid #6c757d !important;
      }*/
      .dropbutton:hover .dropdown-content{
        display: flex;
      }
      /* @media (min-width: 768px) and (max-width: 1024px) {
        /* .dropdown-content, .menu-bg-fixed .dropdown-content {
          width:100%!important;
          margin-left: 0!important;
        } */ 
      /* }  */
      @media (min-width: 481px) and (max-width: 767px) { 
        .dropdown-content, .menu-bg-fixed .dropdown-content {
          width:100%!important;
          margin-left: 0!important;
        }
      }
      @media (max-width: 480px) { 
        .dropdown-content, .menu-bg-fixed .dropdown-content {
          width:100%!important;
          margin-left: 0!important;
        }
      }
    </style>
    <body>
      <!-- Header Section Start -->
      <header id="home" class="hero-area-2">    
        <div class="overlay"></div>
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg-fixed">
          <div class="container">
            <a href="javascript:void(0)" class="navbar-brand"><span class="text">SVM</span></a>  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="javascript:void(0)">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="#app-features">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://www.smartvillagemovement.org/">Website</a>
                </li> 
                <li class="nav-item dropbutton">
                  <a class="nav-link" href="javascript:void(0)"><img src="assets/img/apps_icon.png" alt="apps" style="height: 26px;width: 26px"/></a>
                  <ul class="dropdown-content smooth-scrollbar">
                    <li>
                      <a href="javascript:void(0)" ng-click="landingViews('challenge')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/Challenges.png" alt=""/><span>Challenges</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  ng-click="landingViews('solutions')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/jigsaw.png" alt=""/><span>Solutions</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  ng-click="landingViews('collaborate')"  class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/cooperation.png" alt=""/><span>Collaborate</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('research')" ><img class="menu-icon" src="assets/landingPage/img/microscope.png" alt=""/><span>Research</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('projects')"><img class="menu-icon" src="assets/landingPage/img/project-management.png" alt=""/><span>Projects</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageFootprints')"><img class="menu-icon" src="assets/landingPage/img/radar.png" alt=""/>Village Footprints<span></span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageBulletin')"><img class="menu-icon" src="assets/landingPage/img/bulletin.png" alt=""/><span>Village Bulletin</span></a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="signUp()">Sign in</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>  
        <div class="container">      
          <div class="row space-100">
            <div class="col-lg-7 col-md-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">Transform 3.4 billion rural lives with your Ideas!</h2>
                <p>Explore, Contribute, Collaborate and Make an Impact.</p>
                <div class="header-button">
                  <a href="javascript:void(0);" ng-click="tracker('trackerView')" class="btn btn-border" style="text-transform: none;background: #f27510;border: 2px solid #f27510;color: #fff;">Explore & Sign up</a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-xs-12">
              <div class="intro-img">
                <img src="https://technext.github.io/newbiz/img/intro-img.svg" alt="">
              </div>            
            </div>
          </div> 
        </div>             
      </header>
      <!-- Header Section End --> 

      <!-- features Section Start -->
      <div id="app-features" class="section">
        <div class="container">
          <div class="section-header">   
            <h2 class="section-title wow fadeIn" data-wow-delay="0.2s" style="margin-top: 20px !important;">Features</h2>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-12 col-xs-12">
              <div class="content-right text-left">
                <div class="box-item right cursor-default">
                  <span class="icon">
                    <i class="lni-world"></i>
                  </span>
                  <div class="text">
                    <h4>Explore</h4>
                    <p>Explore challenges and opportunities in 650,000 Indian Villages.</p>
                  </div>
                </div>
                <div class="box-item right cursor-default">
                  <span class="icon">
                    <i class="lni-layers"></i>
                  </span>
                  <div class="text">
                    <h4>Discussion Forum</h4>
                    <p>Interact with a curated community & understand the challenges better.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-xs-12">
              <div class="content-right text-left">
                <div class="box-item right cursor-default">
                  <span class="icon">
                    <i class="lni-link"></i>
                  </span>
                  <div class="text">
                    <h4>Intelligent Matching</h4>
                    <p>Get matched to the right grand challenge based on your profile.</p>
                  </div>
                </div>
                <div class="box-item right cursor-default">
                  <span class="icon">
                    <i class="lni-users"></i>
                  </span>
                  <div class="text">
                    <h4>Collaborate</h4>
                    <p>Collaborate with Universities, Businesses, Government & SVM team.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-xs-12">
              <div class="content-right text-left">
                <div class="box-item right cursor-default">
                  <span class="icon">
                    <i class="lni-star-filled"></i>
                  </span>
                  <div class="text">
                    <h4>Rate Challenges</h4>
                    <p>Rate challenges curated by the Smart Village Movement team.</p>
                  </div>
                </div>
                <div class="box-item right cursor-default">
                  <span class="icon">
                    <i class="lni-agenda"></i>
                  </span>
                  <div class="text">
                    <h4>Submit Proposals</h4>
                    <p>Submit proposals to grand challenges and track progress.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- features Section End -->

      <!-- Footer Section Start -->
      <footer>
        <!-- Footer Area Start -->
        <section class="footer-Content">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <div class="text">
                  <h4 class="block-title">Register for a Free Account</h4>
                  <ul class="menu">
                    <li><a href="javascript:void(0)" ng-click="tracker('trackerView')">Explore & Sign up</a></li>
                    <li><a href="http://www.smartvillagemovement.org/">Website</a></li>
                    <!-- <li><a href="#">Pricing</a></li>
                    <li><a href="#">Jobs</a></li> -->
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <div class="text">
                  <h4 class="block-title">Support</h4>
                  <ul class="menu">
                    <li><a href="javascript:void(0);" ng-click="landingViews('terms')">Terms & Conditions</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <!-- <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Help</a></li> -->
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <img src="" alt="">
                <div class="textwidget">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <!-- Copyright Start  -->
          <div class="copyright">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="site-info float-left">
                    <p></p>
                  </div>              
                  <div class="float-right">  
                    <ul class="footer-social">
                      <!-- <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                      <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                      <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                      <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li> -->
                    </ul> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Copyright End -->
        </section>
        <!-- Footer area End -->
        
      </footer>
      <!-- Footer Section End --> 

      <!-- Go To Top Link -->
      <a href="#" class="back-to-top">
        <i class="fa fa-chevron-up"></i>
      </a> 
    </body>