
    <style type="text/css">
      .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .ellipsis2{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
      }
      .card-contact{
        padding: 0px;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 50%;
        width: 200px;
        height: 200px;
      }
      .billed-from{
        width:70% !important;
      }
      .img-buttons{
        height: 35px;
        width: 35px;
      }
      .tags{
        font-size: 0.85em;
        border: 1px solid #cccbcb;
        border-radius: 3px;
        background: #eeeeee;
      }
      .signin-left, .signin-right{
        position: relative !important;
        width: 100% !important;
        display: flex !important;
        padding: 30px !important;
        background: #fff !important;
        align-items: unset !important;
        justify-content: center !important;
      }
      .signin-right::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        border-left: 1px solid #ced4da;
      }
      .invoice-title {
        max-width: 250px;
      }
      .colAlign {
        display: flex;
        flex-direction: column;
        cursor: pointer;
      }
    </style>


  <div class="">
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <div style="display: flex;">
            <div class="tx-center">
              <a href ng-click="editSolution()" class="btn btn-primary btn-block mg-b-10" ng-if="userDetails.isAdmin"><i class="fa fa-pencil"></i> Edit Technology</a>
            </div>
            <div class="tx-center mg-l-10">
              <a href="javascript:void(0)" ng-click="discussion(singleSolutionData)" class="btn btn-primary btn-block mg-b-10"><i class="fa fa-comments"></i> Discussions</a>
            </div>
            <!-- <div class="tx-center mg-l-10">
              <a href="javascript:void(0)" class="btn btn-secondary btn-block mg-b-10"><i class="fa fa-users"></i> People</a>
            </div> -->
          </div>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path == null">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="" ng-click="changeView('solutionView');">Technologies</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ singleSolutionData.name }}</li>
          </ol>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path == 'Settings'">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="changeView('settingsView');">{{path}}</a></li>
            <li class="breadcrumb-item"><a href="" class="tx-inverse">Technologies</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ singleSolutionData.name }}</li>
          </ol>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path == 'Following'">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="changeView('userFollowView');">{{path}}</a></li>
            <li class="breadcrumb-item"><a href="" class="tx-inverse">Technologies</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ singleSolutionData.name }}</li>
          </ol>
        </div><!-- slim-pageheader -->

        <div class="d-md-flex flex-row">
          <div class="signin-left col-lg-3">
            <div class="invoice-header">             
              <a href="javascript:void(0)" style="cursor:default;" class="tx-right">
                <i class="icon ion-heart tx-gray-500"  title="Follow" style="font-size: 25px;cursor: pointer;" ng-click="follow(singleSolutionData.solutionId,1)" ng-if="followData.length == 0"></i>
                <i ng-if="followData.length == 1"  title="Following" style="font-size: 25px;cursor: pointer;" ng-click="follow(singleSolutionData.solutionId, 0)" class="icon ion-heart tx-danger"></i>
              </a>
              <div class="tx-center">
                <img ng-if=" singleSolutionData.logo  != null" src="{{ singleSolutionData.logo }}" class="card-contact card-img" alt=""/>
                <img ng-if=" singleSolutionData.logo  == null" src="assets/img/jigsaw.png" class="card-contact card-img" alt=""/>
                <h1 class="tx-inverse invoice-title ellipsis tx-22" title="{{ singleSolutionData.name }}">{{ singleSolutionData.name }}</h1>
                <hr class="mg-b-30">
                <div class="col-md">
                  <label class="section-label-sm tx-gray-500">Technology Information</label>
                  <p class="invoice-info-row">
                    <span>Website:</span>
                    <span class="ellipsis2"><a href="http://{{singleSolutionData.website}}" target="_blank">http://{{ singleSolutionData.website}}</a></span>
                  </p>
                  <p class=" invoice-info-row">
                    <span>Affiliated: </span>
                    <span>
                      <span>{{singleSolutionData.affiliated}}</span>
                    </span>
                  </p>
                  <p class=" invoice-info-row">
                    <span>Location: </span>
                    <span>
                      <span>{{singleSolutionData.location}}</span>
                    </span>
                  </p>
                  <p class="invoice-info-row">
                    <span>Share:</span>
                    <span>
                      <a href="javascript:void(0)" class="tx-gray-500" disabled><i class="fa fa-linkedin"></i></a>
                      <a href="javascript:void(0)" class="tx-gray-500" disabled><i class="fa fa-google mg-l-5"></i></a>
                    </span>
                  </p>
                  <p class="invoice-info-row">
                    <span>Ratings:</span>
                    <span class="seperation-inCards tx-14">
                      <span ng-repeat="i in getNumber(number) track by $index">
                        <a href ng-if="$index+1<=singleSolutionData.avgRating" ng-click="rateSolution(singleSolutionData.solutionId, $index+1)" class="tx-warning"><i class="icon ion-star"></i></a>
                        <a href ng-if="$index+1>singleSolutionData.avgRating" ng-click="rateSolution(singleSolutionData.solutionId, $index+1)" class="tx-gray-500"><i class="icon ion-star"></i></a>
                      </span>
                      <span> ({{singleSolutionData.totalRating}} Ratings)</span>
                    </span>
                  </p>
                  <p class=" invoice-info-row tx-gray-600">
                    <span>Sectors: </span>
                    <span>
                      <span ng-repeat="x in singleSolutionData.sector" class="tags mg-r-3">{{x}}</span>
                    </span>
                  </p>
                  <p class=" invoice-info-row">
                    <span>Product Life Cycle: </span>
                    <span>
                      <span>{{singleSolutionData.type | solutionType }}</span>
                    </span>
                  </p>
                </div><!-- col -->
              </div><!-- billed-from -->
            </div><!-- invoice-header -->
          </div><!-- signin-right -->
          <div class="signin-right col-lg-9">
            <div class="col-lg-12">
              <ul class="nav nav-activity-profile mg-t-20">
                <li id="description" class="nav-item"><a href ng-click="description()" class="nav-link"><i class="icon ion-document-text tx-purple"></i> General Details</a></li>
                <li id ="impact"class="nav-item"><a href ng-click="impact()" class="nav-link"><i class="icon ion-nuclear tx-warning"></i> Impact</a></li>
                <li id="addArticle" class="nav-item"><a ng-click="article()" class="nav-link"><i class="icon ion-document-text tx-success"></i> Resources</a></li>
                <li id="addArticle" class="nav-item"><a ng-click="webArticles()" class="nav-link"><i class="icon ion-document-text tx-success"></i> Web Articles</a></li>
              </ul><!-- nav -->
              <br>

              <div id="description1" ng-if="descriptionOfSolutionValue" class="slim-card-title">General Details</div>
                <div id="description2" ng-if="descriptionOfSolutionValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
                  <div class="">
                    <div class="row">
                      <br>
                      <p style="text-align: justify;" ng-bind-html='toTrustedHTML( singleSolutionData.description )'></p>
                    </div><!-- row -->
                  </div><!-- card -->
                </div>
                <div id="impact1" ng-if="impactValue" class="slim-card-title">Impact</div>
                <div id="impact2" ng-if="impactValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
                  <div class="">
                    <div class="row">
                      <p style="text-align: justify;" ng-bind-html='toTrustedHTML( singleSolutionData.impact )'></p>
                    </div><!-- row -->
                  </div><!-- card -->
                </div>
                <div id="addArticle1" ng-if="addAnArticleValue" class="slim-card-title">Resources</div>
                <div id="addArticle2" ng-if="addAnArticleValue" class="col-lg-12 mg-t-20 mg-sm-t-30s">
                  <div class="">
                    <div class="row">
                      <div ng-repeat="x in getDocumentData" class="colAlign pd-7">
                          <a href = "{{x.filePath}}" target="_blank">
                            <img ng-src="assets/img/powerpoint.png" ng-if='x.originalName.indexOf(".ppt") > -1 || x.originalName.indexOf(".pptx") > -1' class="resources" style="height: 50px;" alt="">
                            <img ng-src="assets/img/adobe.png" ng-if='x.originalName.indexOf(".pdf") > -1'  class="resources" style="height: 50px;" alt="">
                            <img ng-src="assets/img/excel.png" ng-if='x.originalName.indexOf(".xls") > -1 || x.originalName.indexOf(".xlsx") > -1'  class="resources" style="height: 50px;" alt="">
                            <img ng-src="assets/img/word.png" ng-if='x.originalName.indexOf(".doc") > -1 || x.originalName.indexOf(".docx") > -1'  class="resources" style="height: 50px;" alt="">
                            <img ng-src="assets/img/picture.png" ng-if='x.originalName.indexOf(".jpg") > -1 || x.originalName.indexOf(".jpeg") > -1 || x.originalName.indexOf(".png") > -1 || x.originalName.indexOf(".gif") > -1 || x.originalName.indexOf(".PNG") > -1 || x.originalName.indexOf(".JPEG") > -1 || x.originalName.indexOf(".JPG") > -1'  class="resources" style="height: 50px;" alt="">
                            <img ng-src="assets/img/file.jpg" 
                            ng-if='x.originalName.indexOf(".jpg") < 0 && x.originalName.indexOf(".jpeg") < 0 && 
                            x.originalName.indexOf(".png") < 0 && x.originalName.indexOf(".gif") < 0 && 
                            x.originalName.indexOf(".PNG") < 0 && x.originalName.indexOf(".JPEG") < 0 && 
                           x.originalName.indexOf(".JPG") < 0 && x.originalName.indexOf(".doc") < 0 && x.originalName.indexOf(".docx") < 0 &&
                            x.originalName.indexOf(".xls") < 0 && x.originalName.indexOf(".xlsx") < 0  && x.originalName.indexOf(".pdf") < 0 &&  x.originalName.indexOf(".ppt") < 0 && x.originalName.indexOf(".pptx") < 0'  class="resources" style="height: 50px;" alt="">
                          </a>
                          <span class="tx-center">{{ x.fileName }}</span>
                      </div>
                    </div><!-- row -->
                  </div><!-- card -->
                </div>
                <!-- <div id="webArticle1" class="slim-card-title">Web Articles</div> -->
                <div id="webArticle2" ng-if="webArticleValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
                  <div class="">
                    <div class="row">
                      <div ng-repeat="y in webArticle" class="colAlign tx-center mg-r-10">
                          <a href ="http://{{ y.link }}" target="_blank"><img src="assets/img/browser.png" class="resources" style="height: 60px;" alt=""></a>
                          <span>{{ y.name }}</span>
                      </div>
                    </div><!-- row -->
                  </div><!-- card -->
                </div>
            </div><!-- invoice-header -->
          </div><!-- signin-left -->
        </div><!-- d-flex -->
      </div><!-- container -->
    </div><!-- slim-mainpanel -->

    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->
  </div>
</html>
