<style type="text/css">
  .card-footer{
    border: 1px solid #ced4da !important;
  }
  .seperation-inCards {
    border-top: 1px solid #dee2e6;
    padding:10px 0px 0px 0px;
  }
  .italic-font {
    font-style:italic;
  }
  .modal-dimension {
    height: auto;
    background-color: white;
  }
  .data-center {
    align-items: center;
  }
  .button-center {
    display:flex;
    justify-content: center;
  }
  .flex-wrap-none {
      flex-wrap: none!important;
  }
  .file-upload {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
  }
  .modal-header{
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
  }
  .padding-0 {
    padding:0px;
  }
  .card-hover:hover{
    box-shadow: 0 9px 11px -5px rgba(0,0,0,.2), 0 18px 28px 2px rgba(0,0,0,.14), 0 7px 34px 6px rgba(0,0,0,.12);
  }
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ellipsis2{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  th {
    cursor: pointer;
  }
  td {
    vertical-align: middle !important;
  }
</style>
<div class="">
  <div class="slim-mainpanel">
    <div class="container">
      <div class="slim-pageheader">
        <div style="display: flex;">
          <div class="tx-center mg-r-10 mg-l-10">
            <!-- <a href="javascript:void(0);" ng-click="projectList()" class="btn btn-primary btn-block mg-b-10"><i class="icon ion-ios-flower"></i> Projects</a> -->
          </div><!-- tx-center -->
          <div class="tx-center">
            <a href="" class="btn btn-primary btn-block mg-b-10" data-toggle="modal" data-target="#modaldemo6" ng-click="loadSelect()"><i class="fa fa-plus"></i> Add Research</a>
          </div>
        </div>
        <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Research</li>
        </ol>
      </div><!-- slim-pageheader -->
      <div class="card-invoice">
        <div class="invoice-header">
          <div class="mg-r-10" style="display: flex;">
            <select class="form-control select2-show-search" ng-change="searchData()" ng-model="sector" data-placeholder="Filter..">
              <option label="Filter"></option>
              <option value="All" selected>All</option>
              <!-- <option value="Followed">Followed</option> -->
              <option value="Agriculture">Agriculture</option>
              <option value="Healthcare">Healthcare</option>
              <option value="Transportation">Transportation</option>
              <option value="Water & Sanitation">Water & Sanitation</option>
              <option value="Connectivity">Connectivity</option>
              <option value="Education">Education</option>
              <option value="Energy">Energy</option>
              <option value="Livelihood">Livelihood</option>
            </select>
          </div> 
          <div class="billed-from" style="display: flex;width: 91%;">
            <div class="search-box" style="width: 100%">
              <input type="text" class="form-control" id="search" style="width: 100%;" placeholder="Search" ng-model="searchString">
              <button class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
          </div><!-- billed-from -->
          </div><!-- invoice-header -->
      </div>

      <div class="section-wrapper mg-t-20">
        <div class="row">
          <span class="">Card View:</span>
          <label class="switch">
            <input type="checkbox" ng-model="cardView" ng-change="resChangeView()">
            <span class="mg-l-5 slider round"></span>
          </label>
        </div>
        <div class="row" ng-if="resCardViewValue == true">
          <div class="col-md-4 mg-b-30" ng-repeat="x in researchList |searchResearch:searchString  track by $index" ng-if="x.isActive == true">
            <div class="card card-hover bd-0">
              <div class="card-header tx-medium bd-0 tx-white bg-primary">
                {{x.researchName}}
              </div><!-- card-header -->
              <div class="card-body bd bd-t-0">
                <p class="mg-b-0 pd-b-10 ellipsis"><b>Description:</b>{{x.description}}</p>
                <p class="seperation-inCards ion-ios-contact"><b> Uploaded by: {{x.uploadBy || ''}}</b></p>
                <p class="seperation-inCards  ion-connection-bars"><b> Sector: {{x.sector.join(", ")}}</b></p>
                <div class="seperation-inCards"><b>Keyword: </b> <span class="italic-font"> {{x.keyword.join(", ")}}</span></div>
              </div><!-- card-body -->
              <div class="card-footer bd-t tx-right">
                <a href="javascript:void(0)" title="Add/Remove Projects">
                  <i class="ion-ios-flower mg-l-5 mg-r-5 tx-primary" ng-click="researchProjects(x.researchId)"></i>
                </a>
                <i class="fa fa-share-alt mg-l-5 mg-r-5 tx-secondary" data-toggle="tooltip" data-placement="right" title="Share" data-html="true" disabled></i>
                <a href = '{{x.filePath}}' target="_blank" title="Download"><i class="fa fa-download mg-l-5 mg-r-5"></i></a>
                <a href="javascript:void(0)" title="Following">
                  <i class="icon ion-heart tx-gray-500" ng-click="follow(x.researchId, x.isFollowing)" ng-if="x.isFollowing == 0"></i>
                  <i ng-if="x.isFollowing == 1" ng-click="follow(x.researchId, x.isFollowing)" class="icon ion-heart tx-danger"></i>
                </a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col -->
        </div><!-- row -->
        <div class="row" ng-if="resCardViewValue == false">
          <div class="col-lg-12">
            <div class="card card-table">
              <div class="table-responsive">
                <table class="table mg-b-0 tx-12" id="researchTable">
                  <thead>
                    <tr class="tx-10">
                      <th class="wd-5p pd-y-5">&nbsp;</th>
                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#researchTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#researchTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Research Title</th>
                      <th class="wd-20p pd-y-5" onclick="w3.sortHTML('#researchTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Short Desc.</th>
                      <th class="wd-20p pd-y-5" onclick="w3.sortHTML('#researchTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Key Words</th>
                      <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#researchTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Author</th>
                      <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#researchTable', '.item', 'td:nth-child(7)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Uploaded By</th>
                      <th class="wd-15p pd-y-5">Research URL</th>
                      <th class="wd-10p pd-y-5">File</th>
                      <th class="wd-10p pd-y-5">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="item" ng-repeat="x in researchList |searchResearch:searchString  track by $index" ng-if="x.isActive == true">
                      <td class="pd-l-20">
                        <img src="assets/img/Agriculture.png" ng-if="x.sector == 'Agriculture'" class="wd-35" alt="Image"/>
                        <img src="assets/img/Healthcare.png" ng-if="x.sector == 'Healthcare'" class="wd-35" alt="Image"/>
                        <img src="assets/img/Transportation.png" ng-if="x.sector == 'Transportation'" class="wd-35" alt="Image"/>
                        <img src="assets/img/Water & Sanitation.png" ng-if="x.sector == 'Water & Sanitation'" class="wd-35" alt="Image"/>
                        <img src="assets/img/Connectivity.png" ng-if="x.sector == 'Connectivity'" class="wd-35" alt="Image"/>
                        <img src="assets/img/Education.png" ng-if="x.sector == 'Education'" class="wd-35" alt="Image"/>
                        <img src="assets/img/Energy.png"ng-if="x.sector == 'Energy'" class="wd-35" alt="Image"/>
                        <img src="assets/img/Livelihood.png" ng-if="x.sector == 'Livelihood'" class="wd-35" alt="Image"/>
                      </td>
                      <td class="tx-13">
                        {{x.sector.join(",")}}
                      </td>
                      <td>
                        <div style="display: flex;flex-direction: row;">
                          <a href="javascript:void(0)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.researchName}}">{{x.researchName}}</a>
                          <a href="" title="Following" class="tx-15 tx-danger mg-l-5">
                            <i class="icon ion-heart tx-gray-500" ng-click="follow(x.researchId, x.isFollowing)" ng-if="x.isFollowing == 0"></i>
                            <i ng-if="x.isFollowing == 1" ng-click="follow(x.researchId, x.isFollowing)" class="icon ion-heart tx-danger"></i>
                          </a>
                        </div>
                      </td>
                      <td class="tx-13 ellipsis2" title="{{x.description}}">
                        {{x.description}}
                      </td>
                      <td class="tx-13">
                        {{x.keyword.join(",")}}
                      </td>
                      <td>{{x.author}}</td>
                      <td class="tx-13">
                        {{x.uploadBy}}
                      </td>
                      <td class="tx-13">
                        <p class="ellipsis2"><a href="http://{{x.researchUrl}}" target="_blank" class="tx-primary">{{x.researchUrl}}</a></p>
                      </td>
                      <td class="tx-13">
                        <a href='{{x.filePath}}' title="Download File" target="_blank">
                          <img ng-src="assets/img/powerpoint.png" ng-if='x.filePath.indexOf(".ppt") > -1 || x.filePath.indexOf(".pptx") > -1' class="resources" style="height: 25px;" alt="">
                          <img ng-src="assets/img/adobe.png" ng-if='x.filePath.indexOf(".pdf") > -1'  class="resources" style="height: 25px;" alt="">
                          <img ng-src="assets/img/excel.png" ng-if='x.filePath.indexOf(".xls") > -1 || x.filePath.indexOf(".xlsx") > -1'  class="resources" style="height: 25px;" alt="">
                          <img ng-src="assets/img/word.png" ng-if='x.filePath.indexOf(".doc") > -1 || x.filePath.indexOf(".docx") > -1'  class="resources" style="height: 25px;" alt="">
                          <img ng-src="assets/img/picture.png" ng-if='x.filePath.indexOf(".jpg") > -1 || x.filePath.indexOf(".jpeg") > -1 || x.filePath.indexOf(".png") > -1 || x.filePath.indexOf(".gif") > -1 || x.filePath.indexOf(".PNG") > -1 || x.filePath.indexOf(".JPEG") > -1 || x.filePath.indexOf(".JPG") > -1'  class="resources" style="height: 25px;" alt="">
                          <img ng-src="assets/img/file.jpg" ng-if='x.filePath.indexOf(".jpg") < 0 && x.filePath.indexOf(".jpeg") < 0 && x.filePath.indexOf(".png") < 0 && x.filePath.indexOf(".gif") < 0 && x.filePath.indexOf(".PNG") < 0 && x.filePath.indexOf(".JPEG") < 0 && x.filePath.indexOf(".JPG") < 0 && x.filePath.indexOf(".doc") < 0 && x.filePath.indexOf(".docx") < 0 && x.filePath.indexOf(".xls") < 0 && x.filePath.indexOf(".xlsx") < 0  && x.filePath.indexOf(".pdf") < 0 && x.filePath.indexOf(".ppt") < 0 && x.filePath.indexOf(".pptx") < 0' class="resources" style="height: 25px;" alt="">
                        </a>
                      </td>
                      <td class="tx-13">
                        <a href="javascript:void(0)" title="Link Projects" ng-if="userDetails.isAdmin">
                          <i class="ion-ios-flower mg-l-5 mg-r-5 tx-primary" ng-click="researchProjects(x.researchId, x.researchName)"></i>
                        </a>
                      </td>
                    </tr>                      
                  </tbody>
                </table>
              </div><!-- table-responsive -->
            </div><!-- card -->
          </div>
        </div><!-- row -->
      </div><!-- section-wrapper -->
    </div>
  </div>

  <div class="slim-footer">
    <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
  </div><!-- slim-footer -->

  <!-- MODAL GRID -->
  <div   id="modaldemo6" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
        <div class="modal-body pd-0">
          <div class="modal-header pd-y-20 pd-x-25">
            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Add Research</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="row no-gutters">
            <div class="col-lg-12 bg-white">
              <div class="pd-40 modal-dimension">
                <div class="form-layout form-layout-4">
                  <div class="row data-center pd-b-20" ng-class="{validateError: validate.researchName}">
                    <label class="col-sm-4 form-control-label">Research Name<span class="tx-danger">*</span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0 padding-0 ">
                      <input type="text" class="form-control" ng-model="researchData.researchName" ng-class="{error: validate.researchName}" placeholder="Enter Research Name" maxlength="200"/>
                      <span class="tx-danger" ng-if="validate.researchName.require">Research name is required</span>
                    </div>
                  </div>
                  <div class="row data-center pd-b-20">
                    <label class="col-sm-4 form-control-label "> Description </span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0 padding-0 ">
                      <textarea class="form-control" ng-model="researchData.description" placeholder="Enter  Description"></textarea>
                      <span class="tx-danger" ng-if="validate.description.require">Description is required</span>
                    </div>
                  </div>
                  <div class="row data-center pd-b-20" ng-class="{validateError: validate.type}">
                    <label class="col-sm-4 form-control-label">Persona<span class="tx-danger">* </span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0 padding-0 ">
                      <select id="type" class="form-control select2-show-search" ng-model="researchData.type" ng-class="{error: validate.type}" data-placeholder="Select Persona">
                          <option label="Select Persona"></option>
                          <option label="Select Type"></option>
                          <option value="People">People</option>
                          <option value="University">University</option>
                          <option value="Startup">Startup</option>
                          <option value="Government">Government</option>
                          <option value="Corporations">Corporations</option>
                      </select>
                      <span class="tx-danger" ng-if="validate.type.require">Persona is required</span>
                    </div>
                  </div>
                  <div class="row data-center pd-b-20" ng-class="{validateError: validate.sector}">
                    <label class="col-sm-4 form-control-label">Sector <span class="tx-danger">* </span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0 padding-0 ">
                      <select id="sector" class="form-control select2-show-search" ng-model="researchData.sector" ng-class="{error: validate.sector}" data-placeholder="Select Sector" multiple>
                        <option value="Agriculture">Agriculture</option>
                        <option value="Healthcare">Healthcare</option>
                        <option value="Transportation">Transportation</option>
                        <option value="Water & Sanitation">Water & Sanitation</option>
                        <option value="Connectivity">Connectivity</option>
                        <option value="Education">Education</option>
                        <option value="Energy">Energy</option>
                        <option value="Livelihood">Livelihood</option>
                      </select>
                      <span class="tx-danger" ng-if="validate.sector.require">Sector is required</span>
                    </div>
                  </div>
                  <div class="row data-center pd-b-20">
                    <label class="col-sm-4 form-control-label "> KeyWord </span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0 padding-0 ">
                      <input class="form-control" ng-model="researchData.keyword" placeholder="Enter  KeyWord"></textarea>
                    </div>
                  </div>
                  <div class="row data-center pd-b-20">
                    <label class="col-sm-4 form-control-label">Author:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0 padding-0 ">
                      <input type="text" class="form-control" ng-model="researchData.author"  placeholder="Enter Author">
                    </div>
                  </div>
                  <div class="row data-center pd-b-20">
                    <label class="col-sm-4 form-control-label "> URL </span>:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0 padding-0 ">
                      <input class="form-control" ng-model="researchData.researchUrl" placeholder="Enter URL"></textarea>
                    </div>
                  </div>
                  <div class="file-upload data-center pd-b-20" ng-class="{validateError: validate.file}">
                    <label class="col-sm-4 form-control-label"> File Upload <span class="tx-danger">* </span>:</label>
                    <div class="col-sm-8 custom-file">
                        <input type="file" class="custom-file-input" id="customFile2" onchange="angular.element(this).scope().fileNameChanged(this)" ng-class="{error: validate.file}">
                        <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                        <span class="mg-t-5 tx-inverse" ng-if="name"><b>Selected File:</b> {{name}}</span>
                        <br/>
                        <span class="tx-danger" ng-if="validate.file.require">Choose a file to upload</span>
                    </div><!-- custom-file -->
                  </div>
                </div>                   
              </div>
            </div><!-- col-6 -->
          </div><!-- row -->
          <div class="modal-footer  button-center">
              <button class="btn btn-primary bd-0 mg-l-10" ng-click="saveResearch()">Submit </button>
            <button class="btn btn-secondary bd-0" ng-click="clear()">Clear</button>
          </div>
        </div><!-- modal-body -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->

  <!-- MODAL GRID -->
  
  <div id="tooltip-content" class="tx-20" style="display: none;">
    <a href="" class="tx-primary mg-r-5 tx-15" title="Linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="" class="tx-danger mg-r-5 tx-15" title="Google"><i class="fa fa-google"></i></a>
    <a href="" class="tx-primary mg-r-5 tx-15" title="Copy Link"><i class="fa fa-link"></i></a>
  </div>
</div>

