<style>
    .wid-100 {
        width: 100%!important;
    }    
</style>
<div class="d-md-flex flex-row-reverse">
    <div class="signin-right wid-100">
        <div class="signin-box signup tx-center">
            <h3 class="signin-title-primary"><img src="assets/img/like.png"></h3>
            <h5 class="signin-title-secondary lh-4">Your Account has been activated</h5>
        </div><!-- signin-box -->
    </div><!-- signin-right -->
    <div class="signin-left">
        <div class="signin-box tx-center">
        <h2 class="slim-logo"><a href="javascript:void(0)">Welcome to SVM</a></h2>
        </div>  
    </div><!-- signin-left -->
</div><!-- d-flex -->