<style type="text/css">
  .ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
</style>
<div class="">
  <div class="slim-mainpanel">
    <div class="container">
      <div class="slim-pageheader">
        <div style="display: flex;">
          <div class="tx-center mg-r-10 mg-l-10">
            
          </div>
        </div>
        <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="researchView('researchView')">Research</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ researchName }}</li>
          <li class="breadcrumb-item active" aria-current="page">Projects List</li>
        </ol>
      </div><!-- slim-pageheader -->
      <div class="card-invoice">
      </div>

      <div class="section-wrapper mg-t-20">
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-table">
              <div class="table-responsive">
                <table class="table mg-b-0 tx-12" id="projectTable">
                  <thead class="align-thead ">
                    <tr class="tx-10 align-thead ">
                      <th class="wd-5p"></th>
                      <th class="wd-5p pd-y-5 align-th">&nbsp;</th>
                      <th class="pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(2)')"><span>Sector</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="wd-10p pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(3)')"><span>Project Name</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="wd-15p pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(4)')"><span>Short Desc.</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(5)')"><span>Category</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(6)')"><span>Project Type</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="pd-y-5 align-th align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(7)')"><span>Start Date</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(8)')"><span>End Date</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(9)')"><span>Status</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                      <th class="pd-y-5 align-th" onclick="w3.sortHTML('#projectTable', '.item', 'td:nth-child(10)')"><span>Rating</span><i class="fa fa-sort mg-l-5 tx-inverse"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="item" ng-repeat="x in projectsList | searchProject:searchString" ng-if="x.isActive == true">
                      <td class="tx-13">
                        <input type="checkbox" name="selectProject" ng-if="x.isSelected" checked="checked" value="{{x.projectId}}" onchange="angular.element(this).scope().selectProjects()"/>
                        <input type="checkbox" name="selectProject" ng-if="!x.isSelected" value="{{x.projectId}}" onchange="angular.element(this).scope().selectProjects()"/>
                      </td>
                      <td class="pd-l-20">
                        <img src="http://via.placeholder.com/500x500"  ng-if="!x.logo" class="wd-40 rounded-circle" alt="Image">
                        <img src="{{x.logo}}" ng-if="x.logo" class="wd-40 rounded-circle" alt="Image">
                      </td>
                      <td class="tx-13" title="{{x.sector.join(',')}}">
                        {{x.sector.join(",")}}
                      </td>
                      <td>
                        <div style="display: flex;flex-direction: row;">
                          <a href ng-click="editProject(x.projectId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.name}}">{{x.name}}</a>
                          <a href="" title="Following" class="tx-15 tx-danger mg-l-5">
                              <i class="icon ion-heart tx-gray-500" ng-click="follow(x.projectId, x.isFollowing)" ng-if="x.isFollowing == 0"></i>
                              <i ng-if="x.isFollowing == 1" ng-click="follow(x.projectId, x.isFollowing)" class="icon ion-heart tx-danger"></i>
                          </a>
                        </div>
                      </td>
                      <td class="tx-13 ellipsis2" title="{{x.description}}">
                        <a href ng-click="editProject(x.projectId)" class="tx-inverse">{{x.description}}</a>
                      </td>
                      <td class="tx-13">
                        {{x.categories}}
                      </td>
                      <td class="tx-13">
                        {{x.type}}
                      </td>
                      <td class="tx-13">{{x.startDate|convertToISTDate}}</td>
                      <td class="tx-13">{{x.endDate | convertToISTDate}}</td>
                      <td class="tx-13">
                        <span class="square-8 mg-r-5 rounded-circle" 
                          ng-class = '{"bg-danger" : x.status == "completed","bg-warning":x.status == "inProgress","bg-success":x.status == "new"}'>
                        </span> {{ x.status | projectStatus }}
                      </td>
                      <td class="tx-13">
                        <span ng-repeat="i in getNumber(number) track by $index">
                          <a href ng-if="$index+1<=x.avgRating" ng-click="rateProject(x.projectId, $index+1)" class="tx-warning"><i class="icon ion-star"></i></a>
                          <a href ng-if="$index+1>x.avgRating" ng-click="rateProject(x.projectId, $index+1)" class="tx-gray-500"><i class="icon ion-star"></i></a>
                        </span>
                        <p>
                          {{x.avgRating}} out of 5
                          <span> ({{x.totalRating}} Ratings)</span>
                        </p>
                      </td>
                    </tr>                    
                  </tbody>
                </table>
              </div><!-- table-responsive -->
            </div><!-- card -->
            <div class="alert alert-success" role="alert" id="successMessage" ng-if="successMessage">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <strong>Success!</strong> {{successMessage}}.
            </div>
            <div class="alert alert-danger" role="alert" id="errorMessage" ng-if="errorMessage">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <strong>Error!</strong> {{errorMessage}}.
            </div>
            <div class="tx-center mg-t-10">
              <a href="javascript:void(0)" id="addProjects" class="btn btn-primary btn-block mg-b-10" ng-if="userDetails.isAdmin" ng-click="addProjects()"data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving"> Save</a>
            </div>
          </div>
        </div><!-- row -->
      </div><!-- section-wrapper -->
    </div>
  </div>

  <div class="slim-footer">
    <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
  </div><!-- slim-footer -->
</div>