<style type="text/css">
  .card-contact{
    margin-right: 10px !important;
    margin-bottom: 10px !important;
  }
  .card-contact .card-img {
      width: 150px !important;
  }
  .col-lg-3 {
    flex: 0 0 24% !important;
  }
</style>
<div class="">
  <div class="slim-mainpanel">
    <div class="container">
      <div class="slim-pageheader">
        <div style="display: flex;">
          <div class="tx-center margin-right-10">
            
          </div>
        </div>
        <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="">Projects</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="">Projects List</a></li>
          <li class="breadcrumb-item active" aria-current="page">Projects Profiles</li>
        </ol>
      </div><!-- slim-pageheader -->
      <div class="card-invoice">
          <div class="invoice-header">
            <div class="tx-center">
              <select class="form-control select2-show-search" ng-model="category" ng-change = "searchData()" data-placeholder="Filter..">
                <option label="Filter"></option>
                <option value="All">All</option>
                <option value="Following">Following</option>
                <option value="University">University</option>
                <option value="Startup">Startup</option>
                <option value="Corporations">Corporations</option>
              </select>
            </div><!-- tx-center -->
            <div class="billed-from" style="width: 90%;">
              <div class="search-box">
                <input type="text" class="form-control"  ng-model="searchString" style="width:100%" placeholder="Search">
                <button class="btn btn-primary" style="margin-left: auto;"><i class="fa fa-search"></i></button>
              </div>
            </div><!-- billed-from -->
          </div><!-- invoice-header -->
      </div>
      <div class="section-wrapper mg-t-20">
        <label class="section-title">Profiles</label>
        <div class="row">
          <div class="col-lg-3 card-contact" ng-if="projectId == 9">
            <div class="tx-center">
              <a href=""><img src="http://svm.edvenswa.com:3003/assets/img/maria.png" class="card-img" alt=""></a>
              <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">Maria Shusku</a></h5>
              <!-- <p>Professor, UC Berkeley</p> -->
              <p class="contact-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google"></i></a>
              </p>
            </div><!-- tx-center -->

            <p class="contact-item">
              <span>Phone:</span>
              <span>+1 012 3456 789</span>
            </p><!-- contact-item -->
            <p class="contact-item">
              <span>Email:</span>
              <a href="">m.shushku@lancaster.co.uk</a>
            </p><!-- contact-item -->
          </div><!-- card -->
          <div class="col-lg-3 card-contact" ng-if="projectId == 9">
            <div class="tx-center">
              <a href=""><img src="http://svm.edvenswa.com:3003/assets/img/basile.png" class="card-img" alt=""></a>
              <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">Basile Laureau</a></h5>
              <!-- <p>Professor, UC Berkeley</p> -->
              <p class="contact-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google"></i></a>
              </p>
            </div><!-- tx-center -->

            <p class="contact-item">
              <span>Phone:</span>
              <span>+1 012 3456 789</span>
            </p><!-- contact-item -->
            <p class="contact-item">
              <span>Email:</span>
              <a href="">b.laureau@lancaster.co.uk</a>
            </p><!-- contact-item -->
          </div><!-- card -->
          <div class="col-lg-3 card-contact" ng-if="projectId == 9">
            <div class="tx-center">
              <a href=""><img src="http://svm.edvenswa.com:3003/assets/img/anuj.png" class="card-img" alt=""></a>
              <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">Anuj Saraf</a></h5>
              <!-- <p>Professor, UC Berkeley</p> -->
              <p class="contact-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google"></i></a>
              </p>
            </div><!-- tx-center -->

            <p class="contact-item">
              <span>Phone:</span>
              <span>+1 012 3456 789</span>
            </p><!-- contact-item -->
            <p class="contact-item">
              <span>Email:</span>
              <a href="">a.saraf@lancaster.co.uk</a>
            </p><!-- contact-item -->
          </div><!-- card -->
          <div class="col-lg-3 card-contact" ng-if="projectId == 9">
            <div class="tx-center">
              <a href=""><img src="http://svm.edvenswa.com:3003/assets/img/ubani.png" class="card-img" alt=""></a>
              <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">Nnaemka Chidoze Ubani</a></h5>
              <!-- <p>Professor, UC Berkeley</p> -->
              <p class="contact-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google"></i></a>
              </p>
            </div><!-- tx-center -->

            <p class="contact-item">
              <span>Phone:</span>
              <span>+1 012 3456 789</span>
            </p><!-- contact-item -->
            <p class="contact-item">
              <span>Email:</span>
              <a href="">n.ubani@lancaster.co.uk</a>
            </p><!-- contact-item -->
          </div><!-- card -->
          <div class="col-lg-3 card-contact" ng-if="projectId == 11">
            <div class="tx-center">
              <a href=""><img src="http://svm.edvenswa.com:3003/assets/img/marchi.png" class="card-img" alt=""></a>
              <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">Michele Marchi</a></h5>
              <!-- <p>Professor, UC Berkeley</p> -->
              <p class="contact-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google"></i></a>
              </p>
            </div><!-- tx-center -->

            <p class="contact-item">
              <span>Phone:</span>
              <span>+1 012 3456 789</span>
            </p><!-- contact-item -->
            <p class="contact-item">
              <span>Email:</span>
              <a href="">m.marchi@lancaster.co.uk</a>
            </p><!-- contact-item -->
          </div><!-- card -->
          <div class="col-lg-3 card-contact" ng-if="projectId == 11">
            <div class="tx-center">
              <a href=""><img src="http://svm.edvenswa.com:3003/assets/img/tigran.png" class="card-img" alt=""></a>
              <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">Tigran Minasyan</a></h5>
              <!-- <p>Professor, UC Berkeley</p> -->
              <p class="contact-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google"></i></a>
              </p>
            </div><!-- tx-center -->

            <p class="contact-item">
              <span>Phone:</span>
              <span>+1 012 3456 789</span>
            </p><!-- contact-item -->
            <p class="contact-item">
              <span>Email:</span>
              <a href="">t.minasyan@lancaster.co.uk</a>
            </p><!-- contact-item -->
          </div><!-- card -->
          <div class="col-lg-3 card-contact" ng-if="projectId == 11">
            <div class="tx-center">
              <a href=""><img src="http://svm.edvenswa.com:3003/assets/img/ulad.png" class="card-img" alt=""></a>
              <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">Uladzislau Miatselski</a></h5>
              <!-- <p>Professor, UC Berkeley</p> -->
              <p class="contact-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google"></i></a>
              </p>
            </div><!-- tx-center -->

            <p class="contact-item">
              <span>Phone:</span>
              <span>+1 012 3456 789</span>
            </p><!-- contact-item -->
            <p class="contact-item">
              <span>Email:</span>
              <a href="">u.miatselski@lancaster.co.uk</a>
            </p><!-- contact-item -->
          </div><!-- card -->
          <div class="col-lg-3 card-contact" ng-if="projectId == 11">
            <div class="tx-center">
              <a href=""><img src="http://svm.edvenswa.com:3003/assets/img/ogochu.png" class="card-img" alt=""></a>
              <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">Ogochukwu Akuezumba</a></h5>
              <!-- <p>Professor, UC Berkeley</p> -->
              <p class="contact-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google"></i></a>
              </p>
            </div><!-- tx-center -->

            <p class="contact-item">
              <span>Phone:</span>
              <span>+1 012 3456 789</span>
            </p><!-- contact-item -->
            <p class="contact-item">
              <span>Email:</span>
              <a href="">o.akuezumba@lancaster.co.uk</a>
            </p><!-- contact-item -->
          </div><!-- card -->
          <div class="col-lg-3 card-contact" ng-if="projectId == 14">
            <div class="tx-center">
              <a href=""><img src="http://svm.edvenswa.com:3003/assets/img/kapranchik.png" class="card-img" alt=""></a>
              <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">T Kapranchik</a></h5>
              <!-- <p>Professor, UC Berkeley</p> -->
              <p class="contact-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google"></i></a>
              </p>
            </div><!-- tx-center -->

            <p class="contact-item">
              <span>Phone:</span>
              <span>+1 012 3456 789</span>
            </p><!-- contact-item -->
            <p class="contact-item">
              <span>Email:</span>
              <a href="">t.kapranchik@lancaster.ac.uk</a>
            </p><!-- contact-item -->
          </div><!-- card -->
          <div class="col-lg-3 card-contact" ng-if="projectId == 14">
            <div class="tx-center">
              <a href=""><img src="http://svm.edvenswa.com:3003/assets/img/bchara.png" class="card-img" alt=""></a>
              <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">H Bchara</a></h5>
              <!-- <p>Professor, UC Berkeley</p> -->
              <p class="contact-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google"></i></a>
              </p>
            </div><!-- tx-center -->

            <p class="contact-item">
              <span>Phone:</span>
              <span>+1 012 3456 789</span>
            </p><!-- contact-item -->
            <p class="contact-item">
              <span>Email:</span>
              <a href="">h.bchara@lancaster.ac.uk</a>
            </p><!-- contact-item -->
          </div><!-- card -->
          <div class="col-lg-3 card-contact" ng-if="projectId == 14">
            <div class="tx-center">
              <a href=""><img src="http://svm.edvenswa.com:3003/assets/img/coupas.png" class="card-img" alt=""></a>
              <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">J Coupas</a></h5>
              <!-- <p>Professor, UC Berkeley</p> -->
              <p class="contact-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google"></i></a>
              </p>
            </div><!-- tx-center -->

            <p class="contact-item">
              <span>Phone:</span>
              <span>+1 012 3456 789</span>
            </p><!-- contact-item -->
            <p class="contact-item">
              <span>Email:</span>
              <a href="">j.coupas@lancaster.ac.uk</a>
            </p><!-- contact-item -->
          </div><!-- card -->
          <div class="col-lg-3 card-contact" ng-if="projectId == 14">
            <div class="tx-center">
              <a href=""><img src="http://svm.edvenswa.com:3003/assets/img/gupta.png" class="card-img" alt=""></a>
              <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">A Gupta</a></h5>
              <!-- <p>Professor, UC Berkeley</p> -->
              <p class="contact-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google"></i></a>
              </p>
            </div><!-- tx-center -->

            <p class="contact-item">
              <span>Phone:</span>
              <span>+1 012 3456 789</span>
            </p><!-- contact-item -->
            <p class="contact-item">
              <span>Email:</span>
              <a href="">a.gupta@lancaster.ac.uk</a>
            </p><!-- contact-item -->
          </div><!-- card -->
          <div class="col-lg-3 card-contact" ng-if="projectId == 14">
            <div class="tx-center">
              <a href=""><img src="http://svm.edvenswa.com:3003/assets/img/chen.png" class="card-img" alt=""></a>
              <h5 class="mg-t-10 mg-b-5"><a href="" class="contact-name">B Chen</a></h5>
              <!-- <p>Professor, UC Berkeley</p> -->
              <p class="contact-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-google"></i></a>
              </p>
            </div><!-- tx-center -->

            <p class="contact-item">
              <span>Phone:</span>
              <span>+1 012 3456 789</span>
            </p><!-- contact-item -->
            <p class="contact-item">
              <span>Email:</span>
              <a href="">b.chen2@lancaster.ac.uk</a>
            </p><!-- contact-item -->
          </div><!-- card -->
        </div>
      </div>
    </div>
  </div>

  <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->
</div>