  <style type="text/css">
    .ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card-contact{
      padding: 0px;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 50%;
      width: 200px;
    }
    .invoice-header{
      flex-direction: column !important;
    }
    .tags{
      font-size: 0.85em;
      border: 1px solid #cccbcb;
      border-radius: 3px;
      background: #eeeeee;
    }
    li.tab-active {
      text-decoration: underline;
    }
    .activeTab {
      text-decoration: underline;
      background-color: #e3dfdc !important;
    }
    .follow{
      height: 32px;
      width: 38px;
      margin-left: 5px;
    }
    .seperator{
      border-right: 0.1em solid #6c757d;
    }
    .pretext-box {
      font-size: 1em;
      border: 1px solid #cccbcb;
      border-radius: 3px;
      background: #eeeeee;
      padding: 10px;
    } 
  </style>

 
  <div class="">
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <div style="display: flex;">
            <div class="tx-center">
              <a href ng-click="editchallengeData()" ng-if="userDetails.isAdmin" class="btn btn-primary btn-block mg-b-10"><i class="fa fa-pencil"></i> Edit Challenge</a>
            </div>
            <div class="tx-center mg-l-10">
              <a href="javascript:void(0)" class="btn btn-primary btn-block mg-b-10" ng-click="discussion(singleChallengeData)"><i class="fa fa-comments"></i> Discussions</a>
            </div>
            <!-- <div class="tx-center mg-l-10">
              <a href="javascript:void(0)" class="btn btn-secondary disabled tx-white btn-block mg-b-10" ><i class="fa fa-users"></i> People</a>
            </div> -->
          </div>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path == null">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="" ng-click="challengeViews('challengeView');">Challenges</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{singleChallengeData.title}}</li>
          </ol>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path=='Settings'">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="changeView('settingsView');">{{path}}</a></li>
            <li class="breadcrumb-item"><a href="" class="tx-inverse">Challenges</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{singleChallengeData.title}}</li>
          </ol>
        </div><!-- slim-pageheader -->

        <div class="card card-invoice">
          <div class="card-body">
            <div class="invoice-header">
              <div class="invoice-title tx-center">
                <div class="billed-from">
                <h1 class="tx-inverse invoice-title">{{singleChallengeData.title}}</h1>
                <hr class="mg-b-30">
                <div class="row col-md">
                  <div class="col-md-4 tx-inverse seperator">
                    <span>Sector: </span>
                    <span class="tags">{{singleChallengeData.sector}}</span>
                  </div>
                  <div class="col-md-4 tx-inverse seperator">
                    <span>Location: </span>
                    <span class="ellipsis">{{singleChallengeData.location}}</span>
                  </div>
                  <div class="col-md-4 tx-inverse">
                    <span>Share:</span>
                    <span>
                      <a href="javascript:void(0)" class="tx-gray-500" disabled><i class="fa fa-linkedin"></i></a>
                      <a href="javascript:void(0)" class="tx-gray-500" disabled><i class="fa fa-google"></i></a>
                    </span>
                  </div>
                </div><!-- col -->
                <div class="row col-md">
                  <!-- <div class="col-md-4 tx-gray-600">
                  </div> -->
                  <div class="col-md-6 seperation-inCards tx-14 tx-gray-600 seperator">
                    <span class="tx-inverse">Ratings:</span>
                    <span ng-repeat="i in getNumber(number) track by $index">
                      <a href ng-if="$index+1<=singleChallengeData.avgRating" ng-click="ratingChallenge(singleChallengeData.challengeId, $index+1)" class="tx-warning"><i class="icon ion-star"></i></a>
                      <a href ng-if="$index+1>singleChallengeData.avgRating" ng-click="ratingChallenge(singleChallengeData.challengeId, $index+1)" class="tx-gray-500"><i class="icon ion-star"></i></a>
                    </span>
                    <span class="tx-inverse"> ({{singleChallengeData.totalRating}} Ratings)</span>
                  </div>
                  <div class="col-md-6 tx-inverse">
                    <span>Followed by: </span>
                    <span> {{singleChallengeData.following.length}} People</span>
                    <a href="javascript:void(0)" title="Follow" class="tx-20 tx-gray-500">
                      <i class="icon ion-heart tx-gray-500" ng-click="follow(singleChallengeData.challengeId, singleChallengeData.isFollowing)" ng-if="singleChallengeData.isFollowing == 0"></i>
                      <i ng-if="singleChallengeData.isFollowing == 1" ng-click="follow(singleChallengeData.challengeId, singleChallengeData.isFollowing)" class="icon ion-heart tx-danger"></i>
                    </a>
                  </div>
                  <!-- <div class="col-md-4 tx-gray-600">
                  </div> -->
                </div><!-- col -->
              </div><!-- billed-from -->
              </div><!-- tx-center -->
            </div><!-- invoice-header -->
            <hr class="mg-b-30">
            <ul class="nav nav-activity-profile mg-t-20">
              <li class="nav-item" id="generalDetails" ng-class = "{'activeTab' : genDetailsValue}" ng-click="genDetailsShow();"><a ng-class = "{'activeTab' : genDetailsValue}" href="javascript:void(0);" class="nav-link" ><i class="icon ion-document-text tx-purple"></i> Challenge Summary</a></li>
              <li class="nav-item" ng-click="painPointsShow();" ng-class = "{'activeTab' : painPointsValue}" id="painPoints"><a ng-class = "{'activeTab' : painPointsValue}" href="javascript:void(0)" class="nav-link"><i class="icon ion-flag tx-warning"></i>Challenge Details</a></li>
              <li class="nav-item" ng-click="locationProfileShow();" ng-class = "{'activeTab' : locationValue}" id="locationProfile"><a ng-class = "{'activeTab' : locationValue}" href="javascript:void(0);" class="nav-link"><i class="icon ion-map tx-success"></i> Location Profile</a></li>
              <li class="nav-item" ng-click="impactShow();"  ng-class = "{'activeTab' : impactValue}" id="impact"><a ng-class = "{'activeTab' : impactValue}" href="javascript:void(0);" class="nav-link"><i class="icon ion-nuclear tx-alert"></i> Impact</a></li>
              <li class="nav-item" ng-click="resourceShow();" ng-class = "{'activeTab' : resourceValue}" id="resource"><a ng-class = "{'activeTab' : resourceValue}" href="javascript:void(0);"class="nav-link"><i class="icon ion-ios-briefcase tx-primary"></i> References</a></li>
              <li class="nav-item" ng-click="proposalShow();" ng-class = "{'activeTab' : proposalValue}" id="proposals"><a ng-class = "{'activeTab' : proposalValue}" href="javascript:void(0);" class="nav-link" style="background-color: #c2ff96; "><i class="icon ion-easel tx-success"></i> Express Interest</a></li>
            </ul><!-- nav -->
            <br>
            <div class="slim-card-title" ng-if = "genDetailsValue" id="generalDetails1">Challenge Summary</div>
            <div class="pretext-box mg-t-20"  ng-if = "genDetailsValue">
                This section gives a high level description of the challenge/opportunity as assessed by the Smart Village Movement team.  
            </div>
            <div id="generalDetails2" ng-if = "genDetailsValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
              <div class="">
                <!-- <span class=""><img src="../img/general-details.jpg" alt="general"></span> -->
                <br>
                <div class="row">
                  <br>
                  <p style="text-align: justify;" ng-bind-html='toTrustedHTML(singleChallengeData.generalDetails )'></p>
                </div><!-- row -->
              </div><!-- card -->
            </div>

            <div class="slim-card-title" ng-if="painPointsValue" id="painPoints1">Challenge Details</div> 
            <div class="pretext-box mg-t-20" ng-if="painPointsValue">
                This gives an idea of the pain points analysed from the ground that have led to this challenge or opportunity. This is an extension of the description provided in Challenge Summary. 
            </div>
            <div id="painPointsValue"  ng-if = "painPointsValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
              <div class="">
                <!-- <span class=""><img src="../img/general-details.jpg" alt="general"></span> -->
                <br>
                <div class="row">
                  <br>
                  <p style="text-align: justify;" ng-bind-html='toTrustedHTML( singleChallengeData.painPoints )'></p>
                </div><!-- row -->
              </div><!-- card -->
            </div>

            <div id="locationProfile1" ng-if = "locationValue" class="slim-card-title">Location Profile</div> 
            <div class="pretext-box mg-t-20" ng-if = "locationValue" >
                This section aims to deliver information about the region where the problem exists.  
              </div>
            <div id="locationProfile2" ng-if = "locationValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
              <div class="">
                <div class="row row-sm">
                  
                </div><!-- row -->
              </div><!-- card -->
            </div>
            <div id="impact1" ng-if = "impactValue" class="slim-card-title">Impact</div> 
            <div class="pretext-box mg-t-20" ng-if = "impactValue">
                This section provides users with the resources shared by the Smart Village Movement team for better understanding of the challenge. This section is a result of on-ground research by the SVM team.
            </div>
            <div id="impact2" ng-if = "impactValue"  class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
              
              <div class="">
                <div class="row">
                  <br>
                  <p style="text-align: justify;" ng-bind-html='toTrustedHTML( singleChallengeData.impact )'></p>
                </div><!-- row -->
              </div><!-- card -->
            </div>
            <div id="resource1" ng-if = "resourceValue" class="slim-card-title">References</div> 
              <div class="pretext-box mg-t-20 mg-b-20"  ng-if = "resourceValue">
                  This section provides users with the resources shared by the Smart Village Movement team for better understanding of the challenge. This section is a result of on-ground research by the SVM team. 
              </div>
            <div id="resource2" ng-if = "resourceValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
              <div class="section-wrapper">
                <span class="tx-16 tx-inverse mg-b-20">Add References</span>
                <div class="form-layout">
                  <div class="row mg-b-25">
                    <div class="col-lg-4">
                      <div class="form-group" ng-class="{validateError: validate.fileName1}">
                        <label class="form-control-label">Reference Name: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="ReferenceName" ng-model="upload.fileName1"  placeholder="Enter Reference Name" ng-class="{error: validate.fileName1}" maxlength="100">
                        <span class="tx-danger" ng-if="validate.fileName1.require"> Reference Name is required</span>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">Description: </label>
                        <input class="form-control" type="text" name="resourceName" ng-model="upload.description" placeholder="Enter Reference Description">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div >
                        <label class="form-control-label">Document Upload: <span class="tx-danger">*</span></label>
                      </div>
                      <div class="col-sm-8 custom-file" ng-class="{validateError: validate.file1}">
                          <input type="file" class="custom-file-input" id="customFile2" onchange="angular.element(this).scope().fileNameChanged1(this)" ng-class="{error: validate.file1}">
                          <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                          <span class="mg-t-5 tx-inverse" ng-if="selectedResource"><b>Selected File:</b> {{selectedResource}}</span>
                          <br>
                          <span class="tx-danger" ng-if="validate.file1.require">Please select a file</span>
                      </div>                        
                    </div><!-- col-4 -->
                  </div><!-- row -->
                  <div class="alert alert-success" role="alert" id="successMessage1" ng-if="successMessage1">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong>Success!</strong> {{successMessage1}}.
                  </div>
                  <div class="alert alert-danger" role="alert" id="errorMessage1" ng-if="errorMessage1">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong>Error!</strong> {{errorMessage1}}.
                  </div>
                  <div class="form-layout-footer">
                    <button id="resource" class="btn btn-primary bd-0" ng-click="resource()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                  </div><!-- form-layout-footer -->
              </div><!-- form-layout -->
              </div><!-- section-wrapper --> 
              <div class="" ng-if="userDetails.isAdmin || userDetails.isSuperUser">
                <div class="row row-sm">
                  <div class="col-lg-12 mg-t-20">
                    <div class="card card-table">
                      <div class="card-header bg-royal">
                        <h6 class="slim-card-title tx-white icon ion-ios-briefcase"> References</h6>
                      </div><!-- card-header -->
                      <div class="table-responsive">
                        <table class="table mg-b-0 tx-12">
                          <thead>
                            <tr class="tx-10">
                              <th class="pd-y-5">Reference name</th>
                              <th class="pd-y-5">Description</th>
                              <th class="pd-y-5">Uploaded By</th>
                              <th class="pd-y-5">Attachments</th>
                            </tr>
                          </thead>
                          <tbody ng-if="getDocumentData.length > 0">
                            <tr ng-repeat="x in getDocumentData">
                              <td>
                                <div style="display: flex;flex-direction: row;">
                                  <a href class="tx-inverse tx-14 tx-medium d-block" target="_blank">{{x.fileName}}</a>
                                </div>
                              </td>
                              <td class="tx-13">
                                {{x.description}}
                              </td>
                              <td class="tx-13">
                                  {{x.uploadBy}}
                              </td>
                              <td class="tx-13">
                                <a href = "{{x.filePath}}" download>{{x.originalName}}</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- table-responsive -->
                    </div><!-- card -->
                  </div>
                </div><!-- row -->
              </div><!-- card -->
            </div>
            <div id="proposals1" ng-if = "proposalValue" class="slim-card-title">Express Interest</div> 
            <div class="pretext-box mg-t-20 mg-b-20" ng-if = "proposalValue">
                Take your first step towards building a sustainable living by submitting your application. 
            </div>
            <div id="proposals2" ng-if = "proposalValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
              <div class="section-wrapper">
                <span class="tx-16 tx-inverse mg-b-20">Add Proposal</span>
                <div class="form-layout">
                  <div class="row mg-b-25">
                    <div class="col-lg-4">
                      <div class="form-group" ng-class="{validateError: validate.fileName2}">
                        <label class="form-control-label">Proposal Name: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="resourceName" ng-model="upload.fileName2"  placeholder="Enter Proposal Name" ng-class="{error: validate.fileName2}" maxlength="100">
                        <span class="tx-danger" ng-if="validate.fileName2.require">Name is required</span>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">Description: </label>
                        <input class="form-control" type="text" name="resourceName" ng-model="upload.description" placeholder="Enter proposal Description">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div >
                        <label class="form-control-label">Document Upload: <span class="tx-danger">*</span></label>
                      </div>
                      <div class="col-sm-8 custom-file" ng-class="{validateError: validate.file2}">
                          <input type="file" class="custom-file-input" id="customFile2" onchange="angular.element(this).scope().fileNameChanged2(this)" ng-class="{error: validate.file2}">
                          <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                          <span class="mg-t-5 tx-inverse" ng-if="selectedProposal"><b>Selected File:</b> {{selectedProposal}}</span>
                          <br>
                          <span class="tx-danger" ng-if="validate.file2.require">Please select a file</span>
                      </div>                    
                    </div><!-- col-4 -->
                    <div class="alert alert-success" role="alert" id="successMessage2" ng-if="successMessage2">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <strong>Success!</strong> {{successMessage2}}.
                    </div>
                    <div class="alert alert-danger" role="alert" id="errorMessage2" ng-if="errorMessage2">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <strong>Error!</strong> {{errorMessage2}}.
                    </div>
                  </div><!-- row -->          
                  <div class="form-layout-footer">
                    <button id="proposal" class="btn btn-primary bd-0" ng-click="uploadProposal()" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Save</button>
                  </div><!-- form-layout-footer -->
                </div><!-- form-layout -->
              </div><!-- section-wrapper --> 
              <div class="" ng-if="userDetails.isAdmin || userDetails.isSuperUser">
                <div class="row row-sm">
                  <div class="col-lg-12 mg-t-20">
                    <div class="card card-table">
                      <div class="card-header bg-royal">
                        <h6 class="slim-card-title tx-white icon ion-easel"> Proposals</h6>
                      </div><!-- card-header -->
                      <div class="table-responsive">
                        <table class="table mg-b-0 tx-12">
                          <thead>
                            <tr class="tx-10">
                              <th class="pd-y-5">Proposal name</th>
                              <th class="pd-y-5">Description</th>
                              <th class="pd-y-5">Uploaded By</th>
                              <th class="pd-y-5">Attachments</th>
                            </tr>
                          </thead>
                          <tbody ng-if="getDocumentData.length > 0">
                            <tr ng-repeat="x in getDocumentData">
                              <td>
                                <div style="display: flex;flex-direction: row;">
                                  <a href class="tx-inverse tx-14 tx-medium d-block" target="_blank">{{x.fileName}}</a>
                                </div>
                              </td>
                              <td class="tx-13">
                                {{x.description}}
                              </td>
                              <td class="tx-13">
                                  {{x.uploadBy}}
                              </td>
                              <td class="tx-13">
                                <a href = "{{x.filePath}}" download>{{x.originalName}}</a>
                              </td>
                            </tr>
                          </tbody>
                          <tbody ng-if="x.length == 0">
                            <tr>
                              <td>No Results to Display</td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- table-responsive -->
                    </div><!-- card -->
                  </div>
                </div><!-- row -->
              </div><!-- card -->
            </div>
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- container -->
    </div><!-- slim-mainpanel -->

    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->
  </div>
