<style type="text/css">
    .card-contact{
      padding: 0px;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 50%;
      width: 200px;
    }
    .invoice-header{
      flex-direction: column !important;
    }
    .tags{
      font-size: 0.85em;
      border: 1px solid #cccbcb;
      border-radius: 3px;
      background: #eeeeee;
    }
    li.tab-active{
      text-decoration: underline;
    }
</style>
<div class="">
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <div style="display: flex;">

          </div>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit User Profile</li>
          </ol>
        </div><!-- slim-pageheader -->

        <div class="section-wrapper">
          <label class="section-title">Edit User</label>

          <div id="accordion4" class="accordion-two accordion-two-primary" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="userPrimaryDetailsHeading">
                <a data-toggle="collapse" data-parent="#accordion4" href="#userPrimaryDetails" aria-expanded="true" aria-controls="userPrimaryDetails" class="tx-gray-800 transition">
                  Primary Details
                </a>
              </div><!-- card-header -->
              <div id="userPrimaryDetails" class="collapse show" role="tabpanel" aria-labelledby="userPrimaryDetailsHeading">
                <div class="section-wrapper">
                  <div class="form-layout">
                    <div class="row mg-b-25">
                      <div class="col-lg-4">
                        <div class="form-group" ng-class="{validateError: validate.firstName}">
                          <label class="form-control-label">First Name: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="text" ng-model="user.firstName" placeholder="Enter firstName" ng-class="{error: validate.firstName}" maxlength="100"/>
                          <span class="tx-danger" ng-if="validate.firstName.require">First Name is required</span>
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                        <div class="form-group" ng-class="{validateError: validate.lastName}">
                          <label class="form-control-label">Last Name: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="text" ng-model="user.lastName" placeholder="Enter lastName" ng-class="{error: validate.lastName}" maxlength="100"/>
                          <span class="tx-danger" ng-if="validate.lastName.require">Last Name is required</span>
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Primary Email: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="email" ng-model="user.email" placeholder="Enter email" readonly>
                        </div>
                      </div><!-- col-4 -->
                    </div><!-- row -->
                    <div class="row mg-b-25">
                      <div class="col-lg-4">
                        <div class="form-group" ng-class="{validateError: validate.type}">
                          <label class="form-control-label">Persona: <span class="tx-danger">*</span></label>
                          <br>
                          <select class="form-control" ng-model="user.type" style="width: 70%" ng-class="{error: validate.type}" data-placeholder="Select Persona">
                            <option label="Select Persona"></option>
                            <option value="People">People</option>
                            <option value="University">University</option>
                            <option value="Startup">Startup</option>
                            <option value="Government">Government</option>
                            <option value="Corporations">Corporations</option>
                          </select>
                          <span class="tx-danger" ng-if="validate.type.require">Persona is required</span>
                        </div>
                      </div>
                      <!-- <div class="col-lg-4" ng-if="user.type == 'University'">
                        <div class="form-group">
                          <label class="form-control-label"> Name of institution: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="text" ng-model="user.nameOfInstitution" placeholder="Enter Name of institution">
                        </div>
                      </div> -->
                      <div class="col-lg-4">
                        <div class="form-group" ng-class="{validateError: validate.areaOfInterest}">
                          <label class="form-control-label">Sector: <span class="tx-danger">*</span><span class="tx-12" style="font-style: italic;">(you can select one or more.)</span></label>
                          <br>
                            <select id="challengeType" class="form-control select2-show-search" ng-model="user.areaOfInterest" style="width: 70%"  ng-class="{error: validate.areaOfInterest}" data-placeholder="Select Sector" multiple>
                              <option label="Select Sector"></option>
                              <option value="Agriculture">Agriculture</option>
                              <option value="Healthcare">Healthcare</option>
                              <option value="Transportation">Transportation</option>
                              <option value="Water & Sanitation">Water & Sanitation</option>
                              <option value="Connectivity">Connectivity</option>
                              <option value="Education">Education</option>
                              <option value="Energy">Energy</option>
                              <option value="Livelihood">Livelihood</option>
                            </select>
                            <span class="tx-danger" ng-if="validate.areaOfInterest.require">Sector is required</span>
                        </div>
                      </div>
                    </div>                    
                    <div class="row mg-b-25">
                      <div class="col-lg-6">
                        <label class="form-control-label">Profile Picture:</label>
                        <div class="custom-file" ng-class="{validateError: validate.logo}">
                          <!-- <input type="file" class="custom-file-input" id="logo"> -->
                          <input type='file' class="custom-file-input" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" ng-class="{error: validate.logo}"/>
                          <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                          <span class="mg-t-5 tx-inverse" ng-if="image"><b>Selected File:</b> {{image}}</span>
                          <span class="tx-danger" ng-if="validate.logo.require">Please upload a valid jpg/png image</span>
                        </div><!-- custom-file -->
                      </div><!-- col-6 -->
                    </div>
                    <div class="alert alert-success" role="alert" id="successMessage1" ng-if="successMessage1">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>Success!</strong> {{successMessage1}}.
                    </div>
                    <div class="alert alert-danger" role="alert" id="errorMessage1" ng-if="errorMessage1">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                        <strong>Error!</strong> {{errorMessage1}}.
                    </div>
                  </div><!-- form-layout -->
                  <div class="form-layout-footer">
                    <button class="btn btn-primary bd-0" ng-click="updateProfile();">Save</button>
                  </div><!-- form-layout-footer -->
                </div><!-- section-wrapper -->
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="userPrimaryDetailsHeading">
                <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#userPersonalDetails" aria-expanded="false" aria-controls="userPersonalDetails">
                  Personal Details
                </a>
              </div>
              <div id="userPersonalDetails" class="collapse" role="tabpanel" aria-labelledby="userPrimaryDetailsHeading">
                <div class="section-wrapper">
                  <div class="form-layout">
                    <div class="row mg-b-25">
                      <div class="col-lg-5">
                        <div class="form-group">
                          <label class="form-control-label">Gender:</span></label>
                          <div class="row col-lg-6" >
                            <label class="rdiobox">
                              <input name="rdio" ng-model="user.gender" value="male" type="radio">
                              <span>Male</span>
                            </label>
                            <label class="rdiobox mg-l-20">
                              <input name="rdio" ng-model="user.gender" value="female" type="radio">
                              <span>Female</span>
                            </label>
                          </div>
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                          <label class="form-control-label"  >DOB: </label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                              </div>
                            </div>
                            <datepicker date-format="MM/dd/yyyy" class="form-control">
                              <input ng-model="user.dob" style="width:100%;border:none;"  placeholder="MM/DD/YYYY" type="text"/></input>
                            </datepicker>  
                          </div><!-- input-group -->
                      </div>
                      <div class="col-lg-3">
                          <label class="form-control-label">Mobile Number: </label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <i class="fa fa-phone tx-16 lh-0 op-6"></i>
                              </div>
                            </div><!-- input-group-prepend -->
                            <input id="phoneMask" type="text" class="form-control" ng-model="user.phone" placeholder="(999) 999-9999">
                          </div>
                      </div>
                    </div>
                    <div class="row mg-b-25">
                      <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label">Company Name:</label>
                            <input class="form-control" type="text" ng-model="user.companyName" placeholder="Enter Company Name" >
                          </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Designation: </label>
                          <input class="form-control" type="text" ng-model="user.designation" placeholder="Enter Designation">
                        </div>
                      </div><!-- col-4 -->
                      
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Location: </label>
                          <input class="form-control" type="text" ng-model="user.location" placeholder="Enter Work location">
                        </div>
                      </div><!-- col-4 -->
                    </div><!-- row -->
                    <div class="row mg-b-25">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">About:</label>
                          <input class="form-control" type="text" ng-model="user.about"  placeholder="Enter few words that describe you">
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Website:</label>
                          <input class="form-control" type="text" id="usertags" ng-model="user.website"  data-role="tagsinput">
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label">linkedIn:</label>
                            <input class="form-control" type="text" ng-model="user.linkedin"  placeholder="Enter linkedIn">
                          </div>
                        </div>
                    </div><!-- row -->
                    <div class="alert alert-success" role="alert" id="successMessage2" ng-if="successMessage2">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>Success!</strong> {{successMessage2}}.
                    </div>
                    <div class="alert alert-danger" role="alert" id="errorMessage2" ng-if="errorMessage2">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                        <strong>Error!</strong> {{errorMessage2}}.
                    </div>
                    <div class="form-layout-footer">
                      <button class="btn btn-primary bd-0" ng-click="personalDetails();">Save</button>
                    </div><!-- form-layout-footer -->
                  </div><!-- form-layout -->
                </div><!-- section-wrapper -->
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="userChangePasswordHeading">
                <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#userChangePassword" aria-expanded="false" aria-controls="userChangePassword">
                  Change Password
                </a>
              </div>
              <div id="userChangePassword" class="collapse" role="tabpanel" aria-labelledby="userChangePasswordHeading">
                <div class="section-wrapper">
                  <div class="form-layout">
                    <div class="row mg-b-25">
                      <div class="col-lg-4">
                        <div class="form-group" ng-class="{validateError: validate.password}">
                          <label class="form-control-label">Existing Password: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="password" ng-model="password" placeholder="Enter existing password" ng-class="{error: validate.password}">
                          <span class="tx-danger" ng-if="currentPasswordError == true">Existing password is incorrect</span>
                          <span class="tx-danger" ng-if="validate.password.require">Current Password is required</span>
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                        <div class="form-group" ng-class="{validateError: validate.newPassword}">
                          <label class="form-control-label">New Password: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="password" ng-model="newPassword" placeholder="Enter new password" ng-class="{error: validate.newPassword}">
                          <span class="tx-danger" ng-if="validate.newPassword.require">New Password is required</span>
                          <span class="tx-danger" ng-if="validate.newPassword.regexMatch">{{validate.newPassword.regexMatch}}</span>
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                        <div class="form-group" ng-class="{validateError: validate.confirmPassword}">
                          <label class="form-control-label">Confirm Password: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="password" ng-model="confirmPassword" placeholder="Re enter new password" ng-class="{error: validate.confirmPassword}">
                          <span class="tx-danger" ng-if="validate.confirmPassword.require">Confirm Password is required</span>
                          <span class="tx-danger" ng-if="validate.confirmPassword.regexMatch">{{validate.confirmPassword.regexMatch}}</span>
                        </div>
                      </div><!-- col-4 -->
                    </div><!-- row -->
                    <div class="alert alert-success" role="alert" id="successMessage3" ng-if="successMessage3">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>Success!</strong> {{successMessage3}}.
                    </div>
                    <div class="alert alert-danger" role="alert" id="errorMessage3" ng-if="errorMessage3">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                        <strong>Error!</strong> {{errorMessage3}}.
                    </div>
                    <div class="form-layout-footer">
                      <button class="btn btn-primary bd-0" ng-click="changePassword()">Save</button>
                    </div><!-- form-layout-footer -->
                  </div><!-- form-layout -->
                </div><!-- section-wrapper -->
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="userUploadProfileHeading">
                <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#userUploadProfile" aria-expanded="false" aria-controls="userUploadProfile">
                  Upload Profile
                </a>
              </div>
              <div id="userUploadProfile" class="collapse" role="tabpanel" aria-labelledby="userUploadProfileHeading">
                <div class="section-wrapper">
                  <div class="form-layout">
                    <div class="row mg-b-25">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">File Name: </label>
                          <input class="form-control" type="text" name="filename1" ng-model="upload.filename1" placeholder="Enter custom file name" maxlength="150">
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-6">
                        <label class="form-control-label">Upload File: </label>
                        <div class="custom-file">
                          <img ng-src="user.logo"></img>
                          <input type="file" id="file1" name='file1' class="custom-file-input" onchange="angular.element(this).scope().fileNameChanged1(this)">
                          <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                          <span class="mg-t-5 tx-inverse" ng-if="name"><b>Selected File:</b> {{fileName1}}</span>
                        </div><!-- custom-file -->
                      </div><!-- col-6 -->
                    </div><!-- row -->
                    <div class="alert alert-success" role="alert" id="successMessage4" ng-if="successMessage4">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>Success!</strong> {{successMessage4}}.
                    </div>
                    <div class="alert alert-danger" role="alert" id="errorMessage4" ng-if="errorMessage4">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                        <strong>Error!</strong> {{errorMessage4}}.
                    </div>
                    <div class="form-layout-footer">
                      <button class="btn btn-primary bd-0" ng-click="saveProfile()">Save</button>
                    </div><!-- form-layout-footer -->
                  </div><!-- form-layout -->
                </div><!-- section-wrapper -->
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="userResourcesHeading">
                <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion4" href="#userResources" aria-expanded="false" aria-controls="userResources">
                  Resources
                </a>
              </div>
              <div id="userResources" class="collapse" role="tabpanel" aria-labelledby="userResourcesHeading">
                <div class="section-wrapper">
                  <div class="form-layout">
                      <div class="row mg-b-25">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label">Resource Category: </label>
                            <br>
                            <select id="challengeType" class="form-control" ng-model="category" data-placeholder="Select resource type" style="width: 70%" onchange="angular.element(this).scope().categoryChanged(this.value)">
                              <option label="Select Resource Type"></option>
                              <option value="All">All</option>
                              <option value="Agriculture">Agriculture</option>
                              <option value="Healthcare">Healthcare</option>
                              <option value="Transportation">Transportation</option>
                              <option value="Water">Water & Sanitation</option>
                              <option value="Connectivity">Connectivity</option>
                              <option value="Education">Education</option>
                              <option value="Energy">Energy</option>
                              <option value="Livelihood">Livelihood</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label">Resource Name: </label>
                            <input class="form-control" type="text" name="filename2" ng-model="upload.filename2" placeholder="Enter Resource Name" maxlength="150">
                          </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                          <div >
                            <label class="form-control-label">Document Upload: </label>
                          </div>
                          <div class="col-sm-8 custom-file">
                              <input type="file" id="file2" name='file2' class="custom-file-input" onchange="angular.element(this).scope().fileNameChanged2(this)">
                              <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                              <span class="mg-t-5 tx-inverse" ng-if="name"><b>Selected File:</b> {{fileName2}}</span>
                          </div>
                        
                        </div><!-- col-4 -->
                      </div><!-- row -->
                      <div class="alert alert-success" role="alert" id="successMessage5" ng-if="successMessage5">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">×</span>
                          </button>
                          <strong>Success!</strong> {{successMessage5}}.
                      </div>
                      <div class="alert alert-danger" role="alert" id="errorMessage5" ng-if="errorMessage5">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                          <strong>Error!</strong> {{errorMessage5}}.
                      </div>
                      <div class="form-layout-footer">
                        <button class="btn btn-primary bd-0" ng-click="saveDoc()">Save</button>
                      </div><!-- form-layout-footer -->
                  </div><!-- form-layout -->
                </div><!-- section-wrapper -->
              </div>
            </div>
          </div><!-- accordion -->
        </div><!-- section-wrapper -->
      </div><!-- container -->
    </div><!-- slim-mainpanel -->

    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->

</div> 
<script type="text/javascript">
    $(function(){
    'use strict'
    });
</script>
  