<style type="text/css">
  th {
    cursor: pointer;
  }
  td {
    vertical-align: middle !important;
  }
  tbody > tr > td > img {
    max-height: 50px !important;
  }
</style>
<div class="">
  <div class="slim-mainpanel">
    <div class="container">
      <div class="slim-pageheader">
        <div style="display: flex;">
          <div class="tx-center mg-r-10 mg-l-10">
            <a href="" class="btn btn-primary btn-block mg-b-10" ng-if="userDetails.isAdmin" ng-click="projectViews('projectListView')"><i class="icon ion-ios-flower"></i> Projects</a>
          </div>
        </div>
        <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="projectViews('projectView')">Folder List</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="projectViews('projectView')">{{projectFolderName}}</a></li>
          <li class="breadcrumb-item" ng-if="projectName != null"><a href="javascript:void(0)" ng-click="projectViews('projectDataView')">{{projectName}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Users List</li>
        </ol>
      </div><!-- slim-pageheader -->
      <div class="card-invoice">
      </div>

      <div class="section-wrapper">
        <div class="row">
          <label class="section-title col-lg-9 pd-t-5">Manage Folder Users</label>
          <div class="billed-from col-lg-3 pd-b-5" style="width: 25%;">
            <div class="search-box">
              <input type="text" class="form-control"  ng-model="searchUsers" style="width:100%" placeholder="Search">
              <button class="btn btn-primary" style="margin-left: auto;"><i class="fa fa-search"></i></button>
            </div>
          </div><!-- billed-from -->
        </div>
        <div class="card">
          <div class="card-header bg-grandeur">
            <ul class="nav nav-tabs nav-tabs-for-dark card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#selected" data-toggle="tab">Selected Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#all" data-toggle="tab" ng-if="userDetails.isAdmin">All Users</a>
              </li>
            </ul>

          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="selected">
                <div class="col-lg-12">
                  <div class="card card-table">
                    <div class="table-responsive">
                      <table class="table mg-b-0 tx-12" id="selectedUsersTable">
                        <thead>
                          <tr class="tx-10">
                            <th class="wd-5p"></th>
                            <th class="wd-5p pd-y-5">&nbsp;</th>
                            <th class="pd-y-5" onclick="w3.sortHTML('#selectedUsersTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>First Name</th>
                            <th class="pd-y-5" onclick="w3.sortHTML('#selectedUsersTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Last Name</th>
                            <th class="pd-y-5" onclick="w3.sortHTML('#selectedUsersTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>User Email</th>
                            <th class="pd-y-5" onclick="w3.sortHTML('#selectedUsersTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Persona</th>
                            <th class="pd-y-5" onclick="w3.sortHTML('#selectedUsersTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="item" ng-repeat="x in selectedUsersList | searchUser:searchUsers track by $index" ng-if="x.status == 'Active'">
                            <td class="tx-13">
                              <input type="checkbox" name="deselectUser" checked="checked" value="{{x.userId}}" onchange="angular.element(this).scope().deselectUsers()"/>
                            </td>
                            <td class="pd-l-20">
                              <img src="http://via.placeholder.com/500x500"  ng-if="!x.logo" class="wd-50 rounded-circle" alt="Image">
                              <img src="{{x.logo}}" ng-if="x.logo" class="wd-50 rounded-circle" alt="Image">
                            </td>
                            <td class="tx-13 tx-primary">
                              <a href="javascript:void(0)" ng-click="viewProfile(x.userId)" class="tx-14 tx-medium d-block ellipsis2">{{x.firstName}}</a>
                            </td>
                            <td class="tx-13 tx-primary">
                              <a href="javascript:void(0)" ng-click="viewProfile(x.userId)" class="tx-14 tx-medium d-block ellipsis2">{{x.lastName}}</a>
                            </td>
                            <td class="tx-13">
                              {{x.email}}
                            </td>
                            <td class="tx-13">
                              {{x.type}}
                            </td>
                            <td class="tx-13">
                              {{x.areaOfInterest.join(",")}}
                            </td>
                          </tr>                    
                        </tbody>
                      </table>
                    </div><!-- table-responsive -->
                  </div><!-- card -->
                </div>                
              </div>
              <div class="tab-pane" id="all">
                <div class="col-lg-12">
                  <div class="card card-table">
                    <div class="table-responsive">
                      <table class="table mg-b-0 tx-12" id="allUsersTable">
                        <thead>
                          <tr class="tx-10">
                            <th class="wd-5p"></th>
                            <th class="wd-5p pd-y-5">&nbsp;</th>
                            <th class="pd-y-5" onclick="w3.sortHTML('#selectedUsersTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>First Name</th>
                            <th class="pd-y-5" onclick="w3.sortHTML('#selectedUsersTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Last Name</th>
                            <th class="pd-y-5" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>User Email</th>
                            <th class="pd-y-5" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Persona</th>
                            <th class="pd-y-5" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="item" ng-repeat="x in usersList | searchUser:searchUsers track by $index" ng-if="x.status == 'Active'">
                            <td class="tx-13">
                              <input type="checkbox" name="selectUser" ng-if="x.isSelected" checked="checked" value="{{x.userId}}" onchange="angular.element(this).scope().selectUsers()"/>
                              <input type="checkbox" name="selectUser" ng-if="!x.isSelected" value="{{x.userId}}" onchange="angular.element(this).scope().selectUsers()"/>
                            </td>
                            <td class="pd-l-20">
                              <img src="http://via.placeholder.com/500x500"  ng-if="!x.logo" class="wd-50 rounded-circle" alt="Image">
                              <img src="{{x.logo}}" ng-if="x.logo" class="wd-50 rounded-circle" alt="Image">
                            </td>
                            <td class="tx-13 tx-primary">
                              <a href="javascript:void(0)" ng-click="viewProfile(x.userId)" class="tx-14 tx-medium d-block ellipsis2">{{x.firstName}}</a>
                            </td>
                            <td class="tx-13 tx-primary">
                              <a href="javascript:void(0)" ng-click="viewProfile(x.userId)" class="tx-14 tx-medium d-block ellipsis2">{{x.lastName}}</a>
                            </td>
                            <td class="tx-13">
                              {{x.email}}
                            </td>
                            <td class="tx-13">
                              {{x.type}}
                            </td>
                            <td class="tx-13">
                              {{x.areaOfInterest.join(",")}}
                            </td>
                          </tr>                    
                        </tbody>
                      </table>
                    </div><!-- table-responsive -->
                  </div><!-- card -->
                </div>
              </div>
            </div>
            <div class="alert alert-success" role="alert" id="successMessage" ng-if="successMessage">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <strong>Success!</strong> {{successMessage}}.
            </div>
            <div class="alert alert-danger" role="alert" id="errorMessage" ng-if="errorMessage">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <strong>Error!</strong> {{errorMessage}}.
            </div>
            <div class="tx-center mg-t-10">
              <a href="javascript:void(0)" id="addUsers" class="btn btn-primary btn-block mg-b-10" ng-if="userDetails.isAdmin" ng-click="addFolderUsers()"data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving"> Save</a>
            </div>
          </div>
        </div>
      </div><!-- section-wrapper -->
    </div>
  </div>

  <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->
</div>