<div class="slim-sticky-header slim-full-width">
  <div class="slim-mainpanel">
    <div class="container">
      <div class="slim-pageheader">
        <div style="display: flex;">
          <div class="tx-center mg-r-10 mg-l-10">
            <a href="" class="btn btn-primary btn-block mg-b-10" ng-if="userDetails.isAdmin" ng-click="projectViews('projectListView')"><i class="icon ion-ios-flower"></i> Projects</a>
          </div>
        </div>
        <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="projectViews('projectView')">Folder List</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="projectViews('projectListView')">{{projectFolderName}}</a></li>
          <!-- <li class="breadcrumb-item"><a href="" ng-click="projectViews('projectDataView')">{{x.name}}</a></li> -->
          <li class="breadcrumb-item active" aria-current="page">Users List</li>
        </ol>
      </div><!-- slim-pageheader -->
      <div class="card-invoice">
      </div>

      <div class="section-wrapper">
        <label class="section-title">Manage Folder Users</label>
        <div class="card">
          <div class="card-header bg-grandeur">
            <ul class="nav nav-tabs nav-tabs-for-dark card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#selected" data-toggle="tab">Selected Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#all" data-toggle="tab" ng-if="userDetails.isAdmin">All Users</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="selected">
                <label class="section-title">Selected Users</label>
                <div class="table-wrapper">
                  <table id="datatable2" class="table display responsive nowrap">
                    <thead class="bg-royal">
                      <tr>
                        <th class="wd-5p"></th>
                        <th></th>
                        <th class="wd-15p">First name</th>
                        <th class="wd-15p">Last name</th>
                        <th class="wd-25p">E-mail</th>
                        <th class="wd-25p">Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="x in selectedUsersList" id="{{$index}}" ng-class="{'selected': x.isSelected}" ng-click="getChecked($index, x.isSelected)">
                        <td ng-click="x.isSelected = !x.isSelected"></td>
                        <td>{{x.userId}}</td>
                        <td>{{x.firstName}}</td>
                        <td>{{x.lastName}}</td>
                        <td>{{x.email}}</td>
                        <td>{{x.type}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- table-wrapper -->
              </div>
              <div class="tab-pane" id="all">
                <label class="section-title">Add / Remove Users</label>
                <div class="table-wrapper">
                  <table id="datatable1" class="table display responsive nowrap" style="width:100%;">
                    <thead class="bg-royal">
                      <tr>
                        <th class="wd-5p" style="text-align: center !important;"><input type="checkbox" id="selectAll" ng-model="select" ng-change="selectAllUsers()"></th>
                        <th></th>
                        <th class="wd-15p">First name</th>
                        <th class="wd-15p">Last name</th>
                        <th class="wd-25p">E-mail</th>
                        <th class="wd-25p">Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="x in usersList" id="{{$index}}" ng-class="{'selected': x.isSelected}" ng-click="getChecked($index, x.isSelected)">
                        <td ng-click="x.isSelected = !x.isSelected"></td>
                        <td>{{x.userId}}</td>
                        <td><a ng-click="viewProfile(x.userId)"> {{x.firstName}} </a></td>
                        <td><a ng-click="viewProfile(x.userId)"> {{x.lastName}} </a></td>
                        <td>{{x.email}}</td>
                        <td>{{x.type}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- table-wrapper -->
              </div>
            </div>
            <div class="alert alert-success" role="alert" id="successMessage" ng-if="successMessage">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <strong>Success!</strong> {{successMessage}}.
            </div>
            <div class="alert alert-danger" role="alert" id="errorMessage" ng-if="errorMessage">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <strong>Error!</strong> {{errorMessage}}.
            </div>
            <div class="tx-center mg-t-10">
              <a href="javascript:void(0)" id="addUsers" class="btn btn-primary btn-block mg-b-10" ng-if="userDetails.isAdmin" ng-click="addFolderUsers()"data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving"> Save</a>
            </div>
          </div>
        </div>
      </div><!-- section-wrapper -->
    </div>
  </div>

  <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</a></p>
      </div><!-- container -->
    </div><!-- slim-footer -->
</div>