
  <style type="text/css">
      .card-footer{
        padding: 12px !important;
      }
      .margin-bottom-30 {
        margin:0px 0px 30px 0px;
      }
      .seperation-inCards {
        border-top: 1px solid #dee2e6;
        padding: 25px 0px 25px 0px;
      }
      border-bottom {
        border-bottom: 1px solid #dee2e6;
  
      }
      .padding-bottom-10 {
        padding: 25px 0px 25px 0px;
      }
      .padding-top-10 {
          padding: 25px 15px 25px 15px;
      }
      .italic-font {
        font-style:italic;
      }
      .modal-dimension {
        height: auto;
        width: 500px;
        background-color: white;
        overflow-y:scroll;
      }
      .data-center {
        align-items: center;
      }
      .padding-bottom-20{
        padding: 0px 0px 20px 0px;
      }
      .button-center {
        display:flex;
        justify-content: center;
      }
      .margin-left-10 {
        margin: 0px 10px 0px 0px;
      }
      .modal-header{
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
      }
      .pad-r-10 {
        padding: 0px 0px 0px 10px;
      }
      .pad-20 {
        padding: 20px;
      }
      .mar-100 {
        margin: 100px;
      }
      .space {
        display: flex;
        flex:0.95;
      }
      .wid-100 {
        width: 100%;
      }
      .margin-b-r-15 {
        margin:0px 0px 10px 15px;
      }
      .img-circle {
        border: 2px solid #1b84e7;
        border-radius: 50%;
        height: 70px;
        padding: 5px;
        width: 70px;
      }
      .font-size-25 {
        font-size: 25px!important;
      }
      .pad-10 {
        padding: 10px
      }
      .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .tx-danger{
        color: #e4606c;
      }
      .ion-heart{
        float: right;
      }
      .card-item-img {
        cursor: pointer;
      }
      .card-item-img:hover img, .card-item-img img{
        opacity: 1;
        height: 195px;
      }
      .card-hover:hover{
        box-shadow: 0 9px 11px -5px rgba(0,0,0,.2), 0 18px 28px 2px rgba(0,0,0,.14), 0 7px 34px 6px rgba(0,0,0,.12);
      }
      .card-body{
        border: none !important;
      }
      .card{
        border: 0.08em solid #eee !important;
      }
      figure{
        border-bottom: 0.08em solid #eee !important;
      }
      .circle-align{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .center-element {
        display: flex;
        justify-content: center;
      }
      .align-center {
        height: 50px; 
        align-items: center;
      }
      .bg-blue{
        background-color: #1b84e7;
        border-radius: 4px
      }
      .txt-align-left {
        text-align: left;
      }
      .txt-align-right {
        text-align: right;
      }
      .pad-0 {
        padding: 0px;
      }
      .card-profile .card-footer > a {
        border-bottom: none !important;
      }
      .card-profile .card-body {
        padding: 15px !important;
      }
      .col-lg-3 {
        max-width: 24% !important;
      }
      .card-profile{
        border: 0.08em solid #ccc !important;
      }
      .descriptionOfSolution{
        border-radius: 3px;
        max-height: 45px !important;
        min-height: 45px !important;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .pad-0 {
        padding: 0px;
      }
      .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 20px;
      }

      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 0px;
        bottom: 1px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
      th {
        cursor: pointer;
      }
      td {
        vertical-align: middle !important;
      }
      tbody > tr > td > img {
        max-height: 35px !important;
      }
  </style>
  <div class="">
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <div style="display: flex;">
              <div class="tx-center mg-r-10">
                 <!-- <a href="" class="btn btn-primary btn-block mg-b-10" ng-if="userDetails.isAdmin" data-toggle="modal" data-target="#modaldemo8" ng-click="loadSelect()"><i class="fa fa-plus"></i> New collaborate</a> -->
              </div><!-- tx-center -->
          </div>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="collaborateView()">{{sector}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Collaborate</li>
          </ol>
        </div><!-- slim-pageheader -->
        <div class="card-invoice">
          <div class="invoice-header">
            <div class="tx-center mg-r-10">
              <select class="form-control select2-show-search" ng-change="searchByPersona(persona)" ng-model="persona" data-placeholder="Filter..">
                <option label="Filter Persona"></option>
                <option value="All">All</option>
                <option value="People">People</option>
                <option value="University">University</option>
                <option value="Startup">Startup</option>
                <option value="Governoment">Government</option>
                <option value="Corporations">Corporations</option>
              </select>
            </div><!-- tx-center -->
            <div class="billed-from" style="width: 100%;">
              <div class="search-box">
                <input type="text" class="form-control" style="width: 100%;" placeholder="Search" ng-model="searchString">
                <button class="btn btn-primary" style="margin-left: auto;"><i class="fa fa-search"></i></button>
              </div>
            </div><!-- billed-from -->
          </div><!-- invoice-header -->
        </div>
        <div class="section-wrapper mg-t-20">
          <div class="row">
            <span class="">Card View:</span>
            <label class="switch">
              <input type="checkbox" ng-model="collCardView" ng-change="collChangeView()">
              <span class="mg-l-5 slider round"></span>
            </label>
          </div>
          <div class="row" ng-if="collCardViewValue == true">
            <div class="card card-profile card-hover col-lg-3 mg-b-20 mg-r-10" ng-repeat ="x in collaborationList | searchCollaborate:searchString  track by $index" ng-if="x.isActive == true">
              <div class="card-body">
                  <a href ng-if=" x.logo  != null" ng-click= "editCollaborate(x.collaborateId);"><img src="{{x.logo}}" class="card-img img-circle" alt=""></a>
                  <a href ng-if=" x.logo  == null" ng-click= "editCollaborate(x.collaborateId);"><img src="../assets/img/cooperation.png" class="card-img img-circle" alt=""></a>
                <h4 class="profile-name ellipsis tx-22" ng-click= "editCollaborate(x.collaborateId)" title="{{x.name}}">{{ x.name }}</h4>
                <p class="mg-b-20 tx-14" ng-if="x.location" title="Location"><i class="icon ion-map ng-binding"></i><span class="tx-roboto"> {{ x.location }}</span></p>
                <p class="mg-b-20 tx-14" ng-if="!x.location" title="Location"><i class="icon ion-map ng-binding"></i><span class="tx-roboto"> Not Available</span></p>
                <div class="row col-lg-12">
                  <div class="col-lg-6 tx-left">
                    <p class="ellipsis" title="Persona" ng-if="x.type == '' || !x.type"><span><i class="icon ion-pricetags"></i> New</span></p>
                    <p class="ellipsis" title="Persona" ng-if="x.type"><span><i class="icon ion-pricetags"></i> {{ x.type }}</span></p>
                  </div>
                  <div class="col-lg-6 tx-right" style="padding-right: 0px;">
                    <p ng-if="!x.sector" title="Sector" class="ellipsis"><span><i class="icon ion-briefcase"></i> No Sector</span></p>
                    <p ng-if="x.sector" title="Sector" class="ellipsis"><span><i class="icon ion-briefcase"></i> {{x.sector.join(", ")}}</span></p>
                  </div>
                </div>
                <div class="row col-lg-12 mg-b-15">
                  <div class="col-lg-9 tx-left pad-0" >
                    <span>
                        <span ng-repeat="i in getNumber(number) track by $index">
                          <a href ng-if="$index+1<=x.avgRating" ng-click="rateCollaborator(x.collaborateId, $index+1)" class="tx-warning"><i class="icon ion-star"></i></a>
                          <a href ng-if="$index+1>x.avgRating" ng-click="rateCollaborator(x.collaborateId, $index+1)" class="tx-gray-500"><i class="icon ion-star"></i></a>
                        </span>
                    </span>
                    <span> ({{x.totalRating}} Ratings)</span>
                  </div>
                  <div class="col-lg-3 tx-right" style="padding-right: 0px;">
                      <a href="" title="Follow" class="tx-20 tx-danger">
                        <i class="icon ion-heart tx-gray-500" ng-click="follow(x.collaborateId, x.isFollowing)" ng-if="x.isFollowing == 0"></i>
                        <i ng-if="x.isFollowing == 1" ng-click="follow(x.collaborateId, x.isFollowing)" class="icon ion-heart tx-danger"></i>
                      </a>
                  </div>
                </div>
                <div class="card-footer tx-right pad-15">
                  <a href ng-click= "editCollaborate(x.collaborateId)" title="More Details"><i class="fa fa-expand mg-l-5 mg-r-5"></i></a>
                  <i class="fa fa-share-alt mg-l-5 mg-r-5 tx-secondary" data-toggle="tooltip" data-placement="right" title="Share" data-html="true" disabled></i>
                    <!-- <a href = "profiles.html"><i class="fa fa-users mg-l-5 mg-r-5"></i></a> -->
                </div>
              </div><!-- card-body -->
            </div>
          </div>
          <div class="row" ng-if="collCardViewValue == false">
            <div class="col-lg-12">
              <div class="card card-table">
                <div class="table-responsive">
                  <table class="table mg-b-0 tx-12" id="collaborateTable">
                    <thead>
                      <tr class="tx-10">
                        <th class="wd-5p pd-y-5">&nbsp;</th>
                        <th class=" wd-20p pd-y-5" onclick="w3.sortHTML('#collaborateTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
                        <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#collaborateTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Collaborator</th>
                        <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#collaborateTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Type</th>
                        <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#collaborateTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>State</th>
                        <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#collaborateTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Rating</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="item" ng-repeat ="x in collaborationList | searchCollaborate:searchString  track by $index" ng-if="x.isActive == true">
                        <td class="pd-l-20">
                          <img src="http://via.placeholder.com/500x500"  ng-if="!x.logo" class="wd-35 rounded-circle" alt="Image">
                          <img src="{{x.logo}}" ng-if="x.logo" class="wd-35 rounded-circle" alt="Image">
                        </td>
                        <td class="tx-13 ellipsis2" title="{{x.sector.join(',')}}">
                          {{x.sector.join(",")}}
                        </td>
                        <td>
                          <div style="display: flex;flex-direction: row;">
                            <a href ng-click="editCollaborate(x.collaborateId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.name}}">{{x.name}}</a>
                            <a href="" title="Following" class="tx-15 tx-danger mg-l-5">
                              <i class="icon ion-heart tx-gray-500" ng-click="follow(x.collaborateId, x.isFollowing)" ng-if="x.isFollowing == 0"></i>
                              <i ng-if="x.isFollowing == 1" ng-click="follow(x.collaborateId, x.isFollowing)" class="icon ion-heart tx-danger"></i>
                            </a>
                          </div>
                          <!-- <span class="tx-11 d-block">Sector:{{x.sector.join(",")}}</span> -->
                          <!-- <div class="tx-11">
                            <span ng-repeat="i in getNumber(number) track by $index">
                              <a href ng-if="$index+1<=x.avgRating" ng-click="rateCollaborator(x.collaborateId, $index+1)" class="tx-warning"><i class="icon ion-star"></i></a>
                              <a href ng-if="$index+1>x.avgRating" ng-click="rateCollaborator(x.collaborateId, $index+1)" class="tx-gray-500"><i class="icon ion-star"></i></a>
                            </span>
                            <a href=""><span> ({{x.totalRating}} Ratings)</span></a>
                          </div> -->
                        </td>
                        <td class="tx-13">
                          {{ x.type }}
                        </td>
                        <td class="tx-13">
                          {{x.location}}
                        </td>
                        <td class="tx-13">
                          <span ng-repeat="i in getNumber(number) track by $index">
                            <a href ng-if="$index+1<=x.avgRating" ng-click="rateCollaborator(x.collaborateId, $index+1)" class="tx-warning"><i class="icon ion-star"></i></a>
                            <a href ng-if="$index+1>x.avgRating" ng-click="rateCollaborator(x.collaborateId, $index+1)" class="tx-gray-500"><i class="icon ion-star"></i></a>
                          </span>
                          <p>
                            {{x.avgRating}} out of 5
                            <span> ({{x.totalRating}} Ratings)</span>
                          </p>
                        </td>
                      </tr>                      
                    </tbody>
                  </table>
                </div><!-- table-responsive -->
              </div><!-- card -->
            </div>
          </div><!-- row -->
        </div><!-- section-wrapper -->
      </div>
    </div>

    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->

    <div id="tooltip-content" class="tx-20" style="display: none;">
      <a href="" class="tx-primary mg-r-5 tx-15" title="Linkedin"><i class="fa fa-linkedin"></i></a>
      <a href="" class="tx-danger mg-r-5 tx-15" title="Google"><i class="fa fa-google"></i></a>
      <a href="" class="tx-primary mg-r-5 tx-15" title="Copy Link"><i class="fa fa-link"></i></a>
    </div>
    <script>     
      $(function(){
        'use strict';
      });
      $("[data-toggle=tooltip]").popover({
        html: true, 
        content: function() {
          return $('#tooltip-content').html();
        }
      });
    </script>
  </div>
