<style>
  .card-profile img {
    height: 120px !important;
  }
  .card-latest-activity .media-author img {
    height: 40px !important;
  }
  .media > img {
    max-height: 100px !important;
    max-width: 100px !important;
    border: none;
  }
</style>
<div class="">
    <div class="slim-mainpanel">
          <div class="container">
            <div class="slim-pageheader">
              <ol class="breadcrumb slim-breadcrumb">
                
              </ol>
              <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path != null && path == 'Settings'">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item" ng-if="path == 'Settings' && userDetails.isAdmin == true"><a href="javascript:void(0)" ng-click="changeView('settingsView')">{{path}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
              </ol>
              <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path != null && path != 'Settings' && !path.discussionName ">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="projectViews('projectView')">{{path.folderName}}</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="projectViews('projectDataView')">{{path.projectName}}</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="addUsers(path.projectName, path.projectPersona)">Users List</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
              </ol>
              <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path.discussionName">
                  <li class="breadcrumb-item"><a href="">Home</a></li>
                  <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="projectViews('discussionsView')">Discussion</a></li>
                  <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="discussionThreadView()">{{path.discussionName}}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{user.firstName}} {{user.lastName}}</li>
                  <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
              <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path == null">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
              </ol>
            </div><!-- slim-pageheader -->
    
            <div class="row row-sm">
              <div class="col-lg-8">
                <div class="card card-profile">
                  <div class="card-body">
                    <div class="media">
                      <img ng-if="user.logo == null" src="assets/img/boy.png" alt="">
                      <img ng-if="user.logo != null" src={{user.logo}} alt="">
                      <div class="media-body">
                        <h3 class="card-profile-name">{{user.firstName}} {{user.lastName}}</h3>
                        <p class="card-profile-position">{{user.designation}}</a></p>
                        <p>{{user.location}}</p>
    
                        <p class="mg-b-0">{{user.about}}</p>
                      </div><!-- media-body -->
                    </div><!-- media -->
                  </div><!-- card-body -->
                  <div class="card-footer">
                    <!-- <a href="" class="card-profile-direct">http://thmpxls.me/profile?id=katherine</a> -->
                  </div><!-- card-footer -->
                </div><!-- card -->
                <div class="card card-experience mg-t-20">
                  <div class="card-body">
                    <div class="slim-card-title">Profile</div>
                    <div class="media">
                      <div class="media-body">
                        <p class="displayRow">
                          <span class="mg-b-0 mg-r-20 padding-bottom-10 displayCol" ng-repeat="x in profiles" >
                            <a href = "{{x.filePath}}" target="_blank"><img src="assets/img/file.jpg" class="resources" style="height: 50px;" alt=""></a>
                            <span>{{ x.fileName }}</span>
                          </span>
                        </p>
                      </div><!-- media-body -->
                    </div><!-- media -->
                  </div><!-- card-body -->
                </div>
                <div class="card card-experience mg-t-20">
                  <div class="card-body">
                    <div class="slim-card-title">Resources</div>
                    <div class="media">
                      <div class="media-body">
                        <p>
                          <span class="mg-b-0 mg-r-20 padding-bottom-10 displayCol" ng-repeat="x in files" >
                            <a href = "{{x.filePath}}" target="_blank">
                              <img ng-src="assets/img/powerpoint.png" ng-if='x.originalName.indexOf(".ppt") > -1 || x.originalName.indexOf(".pptx") > -1' class="resources" style="height: 50px;" alt="">
                              <img ng-src="assets/img/adobe.png" ng-if='x.originalName.indexOf(".pdf") > -1'  class="resources" style="height: 50px;" alt="">
                              <img ng-src="assets/img/excel.png" ng-if='x.originalName.indexOf(".xls") > -1 || x.originalName.indexOf(".xlsx") > -1'  class="resources" style="height: 50px;" alt="">
                              <img ng-src="assets/img/word.png" ng-if='x.originalName.indexOf(".doc") > -1 || x.originalName.indexOf(".docx") > -1'  class="resources" style="height: 50px;" alt="">
                              <img ng-src="assets/img/picture.png" ng-if='x.originalName.indexOf(".jpg") > -1 || x.originalName.indexOf(".jpeg") > -1 || x.originalName.indexOf(".png") > -1 || x.originalName.indexOf(".gif") > -1 || x.originalName.indexOf(".PNG") > -1 || x.originalName.indexOf(".JPEG") > -1 || x.originalName.indexOf(".JPG") > -1'  class="resources" style="height: 50px;" alt="">
                              <img ng-src="assets/img/file.jpg" ng-if='x.originalName.indexOf(".jpg") < 0 && x.originalName.indexOf(".jpeg") < 0 && x.originalName.indexOf(".png") < 0 && x.originalName.indexOf(".gif") < 0 && x.originalName.indexOf(".PNG") < 0 && x.originalName.indexOf(".JPEG") < 0 && x.originalName.indexOf(".JPG") < 0 && x.originalName.indexOf(".doc") < 0 && x.originalName.indexOf(".docx") < 0 && x.originalName.indexOf(".xls") < 0 && x.originalName.indexOf(".xlsx") < 0  && x.originalName.indexOf(".pdf") < 0 && x.originalName.indexOf(".ppt") < 0 && x.originalName.indexOf(".pptx") < 0' class="resources" style="height: 50px;" alt="">
                            </a>
                            <span> {{ x.fileName}}</span>
                          </span>
                        </p>
                      </div><!-- media-body -->
                    </div><!-- media -->
                  </div><!-- card-body -->
                </div>
    
                <div class="card card-experience mg-t-20">
                  <div class="card-body">
                    <div class="slim-card-title">Current Position</div>
                    <div class="media">
                      <div class="experience-logo">
                        <i class="icon ion-briefcase"></i>
                      </div><!-- experience-logo -->
                      <div class="media-body">
                        <h6 class="position-name">{{user.designation}}</h6>
                        <p class="position-company">{{user.companyName}}</p>
                      </div><!-- media-body -->
                    </div><!-- media -->
                  </div><!-- card-body -->
                </div><!-- card -->
              </div><!-- col-8 -->
    
              <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                <div class="card pd-25">
                  <div class="slim-card-title">Contact &amp; Personal Info</div>
                  <div class="media mg-t-25">
                    <div><i class="icon ion-ios-email-outline tx-24 lh-0"></i></div>
                    <div class="media-body mg-l-15 mg-t-4">
                      <h6 class="tx-14 tx-gray-700">Email Address</h6>
                      <span class="d-block">{{user.email}}</span>
                    </div><!-- media-body -->
                  </div><!-- media -->
                  <div class="media mg-t-25">
                      <div><i class="icon ion-android-people tx-18 lh-0"></i></div>
                      <div class="media-body mg-l-15 mg-t-2">
                        <h6 class="tx-14 tx-gray-700">Persona</h6>
                        <span class="d-block">{{user.type}}</span>
                      </div><!-- media-body -->
                    </div><!-- media -->
                    <div class="media mg-t-25">
                      <div><i class="icon ion-connection-bars tx-18 lh-0"></i></div>
                      <div class="media-body mg-l-15 mg-t-2">
                        <h6 class="tx-14 tx-gray-700">Sector</h6>
                        <span class="d-block">{{user.areaOfInterest.join(",")}}</span>
                      </div><!-- media-body -->
                    </div><!-- media -->
                    <div class="media mg-t-25">
                      <div><i class="icon ion-ios-telephone-outline tx-24 lh-0"></i></div>
                      <div class="media-body mg-l-15 mg-t-4">
                        <h6 class="tx-14 tx-gray-700">Phone Number</h6>
                        <span id="phoneMask" >{{user.phone}}</span>
                      </div><!-- media-body -->
                    </div><!-- media -->
                  <div class="media-list mg-t-25">
                    <div class="media">
                      <div><i class="icon ion-link tx-24 lh-0"></i></div>
                      <div class="media-body mg-l-15 mg-t-4">
                        <h6 class="tx-14 tx-gray-700">Websites</h6>
                        <a href="http://{{user.website}}" target="_blank" class="d-block">{{user.website}}</a>
                      </div><!-- media-body -->
                    </div><!-- media -->
                    <div class="media mg-t-25">
                      <div><i class="icon ion-social-linkedin tx-18 lh-0"></i></div>
                      <div class="media-body mg-l-15 mg-t-2">
                        <h6 class="tx-14 tx-gray-700">Linkedin</h6>
                        <a href="http://{{user.linkedin}}" target="_blank" class="d-block">{{user.linkedin}}</a>
                      </div><!-- media-body -->
                    </div><!-- media -->
                  </div><!-- media-list -->
                </div><!-- card -->
              </div><!-- col-4 -->
            </div><!-- row -->
    
          </div><!-- container -->
    </div><!-- slim-mainpanel -->
    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->
</div>