<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
      .active-blue {
        background-color: #1c6ae0!important;
      }
      .connecting-line {
        height: 5px;
        background: -webkit-linear-gradient(left, #040474 0%, #1CB5E0 100%) !important;
        background: linear-gradient(to right, #040474 0%, #1CB5E0 100%) !important;
        position: absolute;
        width:48%;
        margin-top: 60px;
        margin-bottom: 0px;
        margin-left: 20%;
        z-index: 0;
      }
      .circle-align{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .circle-direction {
        display: flex;
        flex-direction: column;
        cursor: pointer;
      }
      svg{
        fill: #1c6ae0;
      }
      .font-size-18 {
        font-size: 18px;
        color: #000000;
      }
      .font-size-30 {
        font-size: 30px;
        color: #000000
      }
      .font-size {
        color: #000000;
      }
      .center-element {
        display: flex;
        justify-content: center;
      }
      .card-view {
        height: 300px;
        width: 250px;
        background-color: white;
        box-shadow: 0px 3px 10px 1px;
        display: -webkit-flex;
        -webkit-align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .menu-bg-fixed {
          background: -webkit-linear-gradient(left, #040474 0%, #1CB5E0 100%) !important;
          background: linear-gradient(to right, #040474 0%, #1CB5E0 100%) !important;
          box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
          z-index: 9999;
          padding: 5px;
      }
      .dropdown-content, .menu-bg-fixed .dropdown-content {
        display: none;
        flex-wrap: wrap;
        position: absolute;
        background-color: #ffffff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        color: #000000;
        height: 250px;
        padding: 0px 0px 0px 0px;
        width: 26%;
        margin-left: -15%;
        overflow-y: auto;
      }
      .dropdown-content > li{
        padding: 1px;
        display: inline-block;
        color: black;
        z-index: 999;
      }
      .menu-icon {
        height: 50px;
        width: 50px;
        margin: 20px 20px;
      }
      .dropdown-tiles{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000000;
        width: 120px;
        cursor: pointer;
      }
      /*.menu:hover{
        border: 1px solid #6c757d !important;
      }*/
      .dropbutton:hover .dropdown-content{
        display: flex;
      }
      h3{
        font-size: 24px !important;
      }
      .checkmark{
        background: #0aca2a;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        padding: 1px 4px;
        color: white;
        float: left;
        margin-left: auto;
        margin-bottom: -20px;
        z-index: 10;
      }

      @media screen and (max-width: 320px) {
        .height-img {
          height: 20px;
        }
        .font-size {
          font-size: 10px;
        }
        .card-view {
          height: 200px;
          width: 100px;
        }
         .dropdown-content, .menu-bg-fixed .dropdown-content {
          margin-left: 0px !important;
          width:100%;
        } 
      }
      @media screen and (min-width: 321px) and (max-width: 480px) {
        .height-img {
          height: 30px;
        }
        .font-size {
          font-size: 14px;
        }
        .card-view {
          height: 250px;
          width: 150px;
        }
         .dropdown-content, .menu-bg-fixed .dropdown-content {
          margin-left: 0px !important;
          width:100%;
        } 

      }
      @media screen and (min-width: 481px) {
        .height-img {
          height: 50px;
        }
        .font-size {
          font-size: 16px;
        }
        .card-view {
          height: 300px;
          width: 250px;
        }
      }
    </style>
  </head>
  
  <body>

    <!-- Header Section Start -->
    <header id="home" class="hero-area-2">    
      <div class="overlay"></div>
      <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg-fixed">
        <div class="container">
          <a href="javasript:void(0)" ng-click="home()" class="navbar-brand"><span class="text">SVM</span></a>  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" ng-click="home()" >Home</a>
              </li>
              <li class="nav-item dropbutton">
                <a class="nav-link" href="javascript:void(0)"><img src="assets/img/apps_icon.png" alt="apps" style="height: 26px;width: 26px"/></a>
                <ul class="dropdown-content smooth-scrollbar">
                  <li>
                    <a href="javascript:void(0)" ng-click="landingViews('challenge')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/Challenges.png" alt=""/><span>Challenges</span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"  ng-click="landingViews('solutions')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/jigsaw.png" alt=""/><span>Solutions</span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"  ng-click="landingViews('collaborate')"  class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/cooperation.png" alt=""/><span>Collaborate</span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('research')" ><img class="menu-icon" src="assets/landingPage/img/microscope.png" alt=""/><span>Research</span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('projects')"><img class="menu-icon" src="assets/landingPage/img/project-management.png" alt=""/><span>Projects</span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageFootprints')"><img class="menu-icon" src="assets/landingPage/img/radar.png" alt=""/>Village Footprints<span></span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageBulletin')"><img class="menu-icon" src="assets/landingPage/img/bulletin.png" alt=""/><span>Village Bulletin</span></a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="signUp()">Sign in</a>
              </li> 
            </ul>
          </div>
        </div>
      </nav>           
    </header>
    <!-- Header Section End --> 

    <!-- features Section Start -->
    <div id="app-features" class="section" style="padding: 60px; background: #ffffff;">
      <div class="container">
        <div class="section-header">   
          <h2 class="section-title wow fadeIn" data-wow-delay="0.2s">
            <span ng-if="currentState == 'whoAreYou'">Explore</span>
            <span ng-if="currentState == 'chooseProblem'">{{firstValue}}</span>
            <span ng-if="currentState == 'results'">{{firstValue}} > {{secondValue.join(",")}}</span>
          </h2>
        </div>
        <div class="row">
          <div class="connecting-line"></div>
          <div class="row" style="width: 100%;justify-content: space-evenly;margin-bottom: 3%">
            <div id="content1" class="circle-align box-item right">
              <span class="icon content1" ng-click="reverseClick('1');" style="padding: 8px; background: #1c6ae0; color: #ffffff;">
                1
              </span>
              <span class="font-size-18">Who are You?</span>
            </div>
            <div id="content2" class="circle-align box-item right circle-direction"  ng-disabled="currentState == 'whoAreYou'">
                <span class="icon content2"  ng-if="currentState == 'whoAreYou'" style="padding: 8px;background: #eeeeee; color: #ffffff;" >
                    2
                  </span>
              <span class="icon content2" ng-if="!(currentState == 'whoAreYou')"ng-click="reverseClick('2');" style="padding: 8px;background: #eeeeee; color: #ffffff;" ng-class = "{'active-blue' : currentState == 'chooseProblem' || currentState == 'results'}">
                2
              </span>
              <span class="font-size-18">Choose Problem</span>
            </div>
            <div id="content3" class="circle-align box-item right circle-direction">
              <span class="icon content3" style="padding: 8px;background: #eeeeee; color: #ffffff;" ng-class = "{'active-blue' : currentState == 'results'}">
                3
              </span>
              <span class="font-size-18">Search Results</span>
            </div>
          </div>
        </div> 
        <div class="row" ng-if="currentState == 'whoAreYou'" style="width: 100%;justify-content: space-evenly;margin-bottom: 3%">
          <header class="section-header txt-center">
            <h3 class="tx-inverse tx-45 tx-lato tx-bold mar-60">WHO ARE YOU ?</h3>
          </header>
        </div>
        <div class="row" ng-if ="currentState == 'whoAreYou'" style="width: 100%;justify-content: space-evenly;margin-bottom: 3%">
          <div class="mar-40" style="display: flex; overflow-x: auto;">
            <div id="university"  ng-click="firstStage('University')" class="circle-direction" style="margin-left: 70px;margin-right: 70px;">
                <span class="center-element"><img class="height-img" src="assets/img/University.png" style="align-items: center;" /></span>
                <span class="font-size">University</span>
            </div>
              <div id="startup" ng-click="firstStage('Startup')" class="circle-direction" style="margin-right: 70px;">
                <span class="center-element"><img class="height-img" src="assets/img/Startup.png" style="align-items: center;" /></span>
                <span class="font-size">Startup</span>
              </div>
              <div id="corporation" ng-click="firstStage('Corporation')" class="circle-direction" style="margin-right: 70px;">
                <span class="center-element"><img class="height-img" src="assets/img/Company.png" style="align-items: center;" /></span>
                <span class="font-size">Corporation</span>
              </div>
              <div id="people" ng-click="firstStage('People')" class="circle-direction" style="margin-right: 70px;">
                <span class="center-element"><img class="height-img" src="assets/img/People.png" style="align-items: center;" /></span>
                <span class="font-size">Local Entrepreneur</span>
              </div>
              <div id="government" ng-click="firstStage('Government')" class="circle-direction" style="margin-right: 70px;">
                <span class="center-element"><img class="height-img" src="assets/img/Government.png" style="align-items: center;" /></span>
                <span class="font-size">Government</span>
              </div>
          </div>
        </div>
        <div class="row" ng-if ="currentState == 'chooseProblem'" style="width: 100%;justify-content: space-evenly;margin-bottom: 3%">
          <header class="section-header txt-center">
            <h3 class="tx-inverse tx-45 tx-lato tx-bold mar-60">What problem would you like to solve?</h3>
          </header>
        </div>
        <div class="row" ng-if ="currentState == 'chooseProblem'" style="width: 100%;justify-content: space-evenly;margin-bottom: 3%">
          <div class="mar-40" style="display: flex; overflow-x: auto;">
            <div  id="agriculture" ng-click="secondStage('Agriculture')" class="circle-direction" style="margin-left: 50px; margin-right: 50px;">
              <span class="checkmark" id="Agriculture" ng-if="sector.indexOf('Agriculture') > -1">&#10003;</span>
              <span class="center-element"><img class="height-img" src="assets/img/Agriculture.png" style="align-items: center;" /></span>
              <span class="font-size">Agriculture</span>
            </div>
            <div id="healthcare" ng-click="secondStage('Healthcare')" class="circle-direction" style="margin-right: 50px;">
              <span class="checkmark" id="Healthcare" ng-if="sector.indexOf('Healthcare') > -1">&#10003;</span>
              <span class="center-element"><img class="height-img" src="assets/img/Healthcare.png" style="align-items: center;" /></span>
              <span class="font-size">Healthcare</span>
            </div>
            <div id="transportation" ng-click="secondStage('Transportation')" class="circle-direction" style="margin-right: 50px;">
              <span class="checkmark" id="Transportation" ng-if="sector.indexOf('Transportation') > -1">&#10003;</span>
              <span class="center-element"><img class="height-img" src="assets/img/Transportation.png" style="align-items: center;" /></span>
              <span class="font-size" >Transportation</span>
            </div>
            <div id="water" ng-click="secondStage('Water & Sanitation')" class="circle-direction" style="margin-right: 50px;">
              <span class="checkmark" id="Water & Sanitation" ng-if="sector.indexOf('Water & Sanitation') > -1">&#10003;</span>
              <span class="center-element"><img class="height-img" src="assets/img/Water & Sanitation.png" style="align-items: center;" /></span>
              <span class="font-size" >Water & Sanitation</span>
            </div>
            <div id="connectivity" ng-click="secondStage('Connectivity')" class="circle-direction" style="margin-right: 50px;">
              <span class="checkmark" id="Connectivity" ng-if="sector.indexOf('Connectivity') > -1">&#10003;</span>
              <span class="center-element"><img class="height-img" src="assets/img/Connectivity.png" style="align-items: center;" /></span>
              <span class="font-size">Connectivity</span>
            </div>
            <div id="education" ng-click="secondStage('Education')" class="circle-direction" style="margin-right: 50px;">
              <span class="checkmark" id="Education" ng-if="sector.indexOf('Education') > -1">&#10003;</span>
              <span class="center-element"><img class="height-img" src="assets/img/Education.png" style="align-items: center;" /></span>
              <span class="font-size">Education</span>
            </div>
            <div id="energy" ng-click="secondStage('Energy')" class="circle-direction" style="margin-right: 50px;">
              <span class="checkmark" id="Energy" ng-if="sector.indexOf('Energy') > -1">&#10003;</span>
              <span class="center-element"><img class="height-img" src="assets/img/Energy.png" style="align-items: center;" /></span>
              <span class="font-size" style="display:flex;justify-content: center">Energy</span>
            </div>
            <div id="livelihood" ng-click="secondStage('Livelihood')" class="circle-direction" style="margin-right: 50px;">
              <span class="checkmark" id="Livelihood" ng-if="sector.indexOf('Livelihood') > -1">&#10003;</span>
              <span class="center-element"><img class="height-img" src="assets/img/Livelihood.png" style="align-items: center;" /></span>
              <span class="font-size" style="display:flex;justify-content: center">Livelihood</span>
            </div>
          </div>
        </div>
        <div class="row" ng-if ="currentState == 'chooseProblem'" style="width: 100%;justify-content: space-evenly;margin-bottom: 3%">
          <a href="javascript:void(0);" ng-click="next()" class="btn btn-border" style="text-transform: none;background: #f27510;border: 2px solid #f27510;color: #fff;">Next</a>
        </div>


        <div class="row"  ng-if ="currentState == 'results'"  style="justify-content: space-evenly;">
          <header class="section-header txt-center pad-bt-25">
              <h3 class="tx-inverse tx-45 tx-lato tx-bold mar-60">Results</h3>
          </header>
        </div>

        <div class="row"  ng-if ="currentState == 'results'"  style=" width: 100%;justify-content: space-evenly;">
          <div class="mar-40" style="width: 100%;justify-content: space-evenly;display: flex; flex-wrap: wrap;">
            <div id="challenges" class="circle-direction card-view" ng-click="signUp()">
                <span class="center-element"><img class="height-img" src="assets/img/Challenges.png" style="align-items: center;" /></span>
                <span class="font-size-30">7</span>
                <span class="font-size">Grand Challenges</span>
            </div>
            <div id="solutions" class="circle-direction card-view" ng-click="signUp()" >
                <span class="center-element"><img class="height-img" src="assets/img/jigsaw.png" style="align-items: center;" /></span>
                <span class="font-size-30">3</span>
                <span class="font-size">Possible Solutions</span>
            </div>
            <div id="collaborations" class="circle-direction card-view" ng-click="signUp()" >
               <span class="center-element"><img class="height-img" src="assets/img/cooperation.png" style="align-items: center;" /></span>
                <span class="font-size-30">9</span>
                <span class="font-size">Collaborations</span>
            </div>
            <div id="research" class="circle-direction card-view" ng-click="signUp()" >
                <span class="center-element"><img class="height-img" src="assets/img/microscope.png" style="align-items: center;" /></span>
                <span class="font-size-30">13</span>
                <span class="font-size">Research</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- features Section End -->

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="text">
                <h4 class="block-title">Register for a Free Account</h4>
                <ul class="menu">
                  <!-- <li><a href="javascript:void(0)" ng-click="tracker('trackerView')">Sign up</a></li> -->
                  <li><a href="http://www.smartvillagemovement.org/">Website</a></li>
                  <!-- <li><a href="#">Pricing</a></li>
                  <li><a href="#">Jobs</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h4 class="block-title">Support</h4>
                <ul class="menu">
                  <li><a href="javascript:void(0);" ng-click="landingViews('terms')">Terms & Conditions</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <!-- <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Help</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <img src="" alt="">
              <div class="textwidget">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright Start  -->
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="site-info float-left">
                  <p></p>
                </div>              
                <div class="float-right">  
                  <ul class="footer-social">
                    <!-- <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                    <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li> -->
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
      
    </footer>
    <!-- Footer Section End --> 

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </body>
</html>