<style type="text/css">
    .ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card-contact{
      padding: 0px;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 50%;
      width: 200px;
    }
    .invoice-header{
      flex-direction: column !important;
    }
    .tags{
      font-size: 0.85em;
      border: 1px solid #cccbcb;
      border-radius: 3px;
      background: #eeeeee;
    }
    li.tab-active{
      text-decoration: underline;
    }
    .follow{
      height: 32px;
      width: 38px;
      margin-left: 5px;
    }
    .seperator{
      border-right: 0.1em solid #6c757d;
    }
    .txtDimensions {
        height: 200px;
        width: 600px;
    }
    .textDec {
        text-decoration: underline;
    }
  </style>

 
  <div class="">
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <div style="display: flex;">
            <div class="tx-center mg-l-10">
              <a href="javascript:void(0)" class="btn btn-primary btn-block mg-b-10"><i></i> View challenge</a>
            </div>
          </div>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="changePage('villageBulletinView')">Village Bulletin</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)"  ng-click="changePage('villageBulletinDataView')" >Information</a></li>
            <li class="breadcrumb-item active" aria-current="page">Become a Bamboo Entrepreneur </li>
          </ol>
        </div><!-- slim-pageheader -->

        <div class="card card-invoice">
          <div class="card-body">
            <div class="invoice-header">
              <div class="invoice-title tx-center">
                <div class="billed-from">
                <h1 class="tx-inverse invoice-title">Become a Bamboo Entrepreneur</h1>
                <hr class="mg-b-30">
                <div class="row col-md">
                  <div class="col-md-4 tx-inverse seperator">
                    <span>Sector: </span>
                    <span class="tags">Agriculture</span>
                  </div>
                  <div class="col-md-4 tx-inverse seperator">
                    <span>Location: </span>
                    <span class="ellipsis">Arunchal Pradesh</span>
                  </div>
                  <div class="col-md-4 tx-inverse">
                    <span>Share:</span>
                    <span>
                      <a href="javascript:void(0)" class="tx-gray-500" disabled><i class="fa fa-linkedin"></i></a>
                      <a href="javascript:void(0)" class="tx-gray-500" disabled><i class="fa fa-google"></i></a>
                    </span>
                  </div>
                </div><!-- col -->
                <div class="row col-md">
                  <!-- <div class="col-md-4 tx-gray-600">
                  </div> -->
                  <div class="col-md-6 seperation-inCards tx-14 tx-gray-600 seperator">
                    <span class="tx-inverse">Ratings:</span>
                    <span ng-repeat="i in getNumber(number) track by $index">
                      <a href class="tx-gray-500"><i class="icon ion-star"></i></a>
                      <a href class="tx-gray-500"><i class="icon ion-star"></i></a>
                      <a href class="tx-gray-500"><i class="icon ion-star"></i></a>
                      <a href class="tx-gray-500"><i class="icon ion-star"></i></a>
                      <a href class="tx-gray-500"><i class="icon ion-star"></i></a>
                    </span>
                    <a href=""><span> (0 Ratings)</span></a>
                  </div>
                  <div class="col-md-6 tx-inverse">
                    <span>Followed by: </span>
                    <a href=""><span> 0 People</span></a>
                    <a href="" title="Following" class="tx-right tx-20 tx-danger"><i class="icon ion-heart"></i></a>
                  </div>
                  <!-- <div class="col-md-4 tx-gray-600">
                  </div> -->
                </div><!-- col -->
              </div><!-- billed-from -->
              </div><!-- tx-center -->
            </div><!-- invoice-header -->
            <hr class="mg-b-30">
            <ul class="nav nav-activity-profile mg-t-20">
              <li class="nav-item" ng-click="genDetailsShow();" ng-class = "{'textDec' : $scope.genDetailsValue == true}" ><a href="#" class="nav-link"><i class="icon ion-document-text tx-purple"></i> General Details</a></li>
              <li class="nav-item" ng-click="painPointsShow();"  ng-class = "{'textDec' : $scope.reqValue == true}"><a href="javascript:void(0)" class="nav-link"><i class="icon ion-flag tx-warning"></i> Requirements</a></li>
              <li class="nav-item" ng-click="locationProfileShow();"  ng-class = "{'textDec' : $scope.respnseValue == true}" ><a href class="nav-link"><i class="icon ion-map tx-success"></i>Roles & Responsibilities</a></li>
              <li class="nav-item" ng-click="impactShow();"  ng-class = "{'textDec' : $scope.applyValue == true}"><a href class="nav-link"><i class="icon ion-nuclear tx-alert"></i> Apply</a></li>
            </ul><!-- nav -->
            <br>
            <div class="slim-card-title"  ng-if = "genDetailsValue" id="generalDetails1">General Details</div>
            <div id="generalDetails2"  ng-if = "genDetailsValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
              <div class="">
                <!-- <span class=""><img src="../img/general-details.jpg" alt="general"></span> -->
                <br>
                <div class="row row-sm">
                  <p>
                    There is a huge potential for Bamboo in Arunachal Pradesh and this valuable resources is unutilized in the state. There is an immense need to leverage this opportunity. An entrepreneur is needed from Arunachal Pradesh to take up on this opportunity and work with other stakeholders (SVM, Government & Corporations). The entrepreneur will be provided training support to understand the challenge and achieve the opportunity
                </p>
                </div><!-- row -->
              </div><!-- card -->
            </div>

            <div class="slim-card-title" ng-if="reqValue" id="painPoints1">Requirements</div> 
            <div ng-if = "reqValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
           
                <br>
                  <p >
                    <b>Age & experience:</b><br>
                    Applicant should be at least 18yrs old<br>
                    Applicant should have experience cultivating / working with Bamboo<br>
                  </p>
                  <p>
                    <b>Capital Investment:</b><br>
                    Applicant shall be willing  to make upfront investment of Rs. 50,000<br>
                    Applicant shall be able to support with the operational expenses of Rs. 2,50,000<br>
                        
                  </p>
            </div>

            <div id="locationProfile1" ng-if = "respnseValue" class="slim-card-title">Roles & Responsibilities</div> 
            <div id="locationProfile2" ng-if = "respnseValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
              <div class="">
                <div class="row row-sm">
                        -Work with SVM for the feasibility & analysis of the pilot<br>
                        -Provide ground support to the companies partnering with SVM for the on-ground implementation<br>
                        -Take the ownership of the business model proposed as the solution of the challenges<br>

                </div><!-- row -->
              </div><!-- card -->
            </div>
            <!-- <div id="resource1" ng-if = "resourceValue" class="slim-card-title">Resources</div>  -->
            <div id="resource2"ng-if = "applyValue" class="col-lg-12 mg-t-20 mg-sm-t-30 mg-lg-t-0">
              <div class="section-wrapper">
                <span class="tx-16 tx-inverse mg-b-20">Apply</span>
                <div class="form-layout mg-b-25">
                  <div class="row mg-b-25">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label"> Name of the Applicant: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" name="name" ng-model="name"  placeholder="Enter Name" maxlength="100">
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label">Address: </label>
                        <input class="form-control" type="text" name="address" ng-model="description" placeholder="Enter Address">
                      </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                          <label class="form-control-label">Gender:</span></label>
                          <div class="row col-lg-6" >
                            <label class="rdiobox">
                              <input name="rdio" ng-model="user.gender" value="male" type="radio">
                              <span>Male</span>
                            </label>
                            <label class="rdiobox mg-l-20">
                              <input name="rdio" ng-model="user.gender" value="female" type="radio">
                              <span>Female</span>
                            </label>
                          </div>
                        </div>
                    </div><!-- col-4 -->
                  </div><!-- row -->
                    <div class="row mg-b-25">
                        <div class="col-lg-4">
                            <label class="form-control-label">Mobile Number: </label>
                            <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                <i class="fa fa-phone tx-16 lh-0 op-6"></i>
                                </div>
                            </div><!-- input-group-prepend -->
                            <input id="phoneMask" type="text" class="form-control" ng-model="user.phone" placeholder="(999) 999-9999">
                            </div>
                        </div>
                        <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Occupation: </label>
                            <input class="form-control" type="text" name="Occupation" ng-model="Occupation" placeholder="Enter Occupation">
                        </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                            <label class="form-control-label">Father's Name: </label>
                            <input class="form-control" type="text" name="name" ng-model="fatherName" placeholder="Father's Name:">
                            </div>
                        </div>
                    </div>
                    <div class="row mg-b-25">
                        <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label">Mother's Name: </label>
                              <input class="form-control" type="text" name="name" ng-model="motherName" placeholder="Mother's Name:">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div >
                              <label class="form-control-label">Document Upload: <span class="tx-danger">*</span></label>
                            </div>
                            <div class="col-sm-8 custom-file" ng-class="{validateError: validate.file1}">
                                <input type="file" class="custom-file-input" id="customFile2" onchange="angular.element(this).scope().fileNameChanged1(this)" ng-class="{error: validate.file1}">
                                <label class="custom-file-label custom-file-label-primary" for="customFile">Choose file</label>
                                <span class="mg-t-5 tx-inverse" ng-if="selectedResource"><b>Selected File:</b> {{selectedResource}}</span>
                                <br>
                                <span class="tx-danger" ng-if="validate.file1.require">Please select a file</span>
                            </div>                        
                        </div><!-- col-4 -->
                    </div>
                    <div class="row mg-b-25">
                        <div class="col-lg-5">
                            <div class="form-group">
                              <label class="form-control-label">Do you require loan for availing this opportunity?:</span></label>
                              <div class="row col-lg-6" >
                                <label class="rdiobox">
                                  <input name="rdio" ng-model="yes" value="yes" type="radio">
                                  <span>yes</span>
                                </label>
                                <label class="rdiobox mg-l-20">
                                  <input name="rdio" ng-model="no" value="No" type="radio">
                                  <span>No</span>
                                </label>
                              </div>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-5">
                            <div class="form-group">
                              <label class="form-control-label">Are you willing to make the upfront investment?</span></label>
                              <div class="row col-lg-6" >
                                <label class="rdiobox">
                                  <input name="rdio" ng-model="yes" value="yes" type="radio">
                                  <span>yes</span>
                                </label>
                                <label class="rdiobox mg-l-20">
                                  <input name="rdio" ng-model="no" value="No" type="radio">
                                  <span>No</span>
                                </label>
                              </div>
                            </div>
                        </div><!-- col-4 -->
                    </div>
                  <div class="row mg-b-25">
                    <div class="form-layout">
                          <div class="col-lg-9">
                            <div class="form-group">
                              <label class="form-control-label">Why do you want to avail this opportunity? </label>
                              <textarea  class="txtDimensions" id="opportunity"></textarea>
                              <!-- <textarea class="form-control" type="text" ng-model="singleChallengeData.painPoints" placeholder="Enter Pain Points"></textarea> -->
                            </div>
                          </div><!-- col-4 -->
                      </div><!-- form-layout -->
                  </div>
                  <div class="row mg-b-25">
                    <div class="form-layout">
                          <div class="col-lg-9">
                            <div class="form-group">
                              <label class="form-control-label">Why are you the ideal candidate? </label>
                              <textarea class="txtDimensions" id="opportunity"></textarea>
                              <!-- <textarea class="form-control" type="text" ng-model="singleChallengeData.painPoints" placeholder="Enter Pain Points"></textarea> -->
                            </div>
                          </div><!-- col-4 -->
                      </div><!-- form-layout -->
                  </div>
                  <div class="alert alert-success" role="alert" id="successMessage1" ng-if="successMessage1">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong>Success!</strong> {{successMessage1}}.
                  </div>
                  <div class="alert alert-danger" role="alert" id="errorMessage1" ng-if="errorMessage1">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <strong>Error!</strong> {{errorMessage1}}.
                  </div>
                  <div class="form-layout-footer">
                    <button id="resource" class="btn btn-primary bd-0" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>Saving">Apply</button>
                  </div><!-- form-layout-footer -->
              </div><!-- form-layout -->
              </div><!-- section-wrapper --> 
            </div>
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- container -->
    </div><!-- slim-mainpanel -->

    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->
  </div>
