<style type="text/css">
    .active >a >span {
        color: #fff;
    }
    .mg-r-20 {
      margin-right: 20px!important;
    }
</style>
<div class="slim-header">
    <div class="container">
        <div class="slim-header-left">
            <h2 class="slim-logo"><a href="javascript:void(0)" ng-click="changeView('challengeView');">SVM</a></h2>
        </div><!-- slim-header-left -->
        <div class="slim-header-right">
            <div class="dropdown dropdown-a">
                <a href="" class="header-notification">
                <i class="icon ion-ios-chatboxes"></i>
                <!-- <span class="indicator"></span> -->
                </a>
                <div class="dropdown-menu">
                <div class="dropdown-menu-header">
                    <h6 class="dropdown-menu-title">Recent Messages</h6>
                    <div>
                    <a href="">Mark All as Read</a>
                    </div>
                </div><!-- dropdown-menu-header -->
                <div class="dropdown-list">
                    <!-- loop starts here -->
                    <a href="javascript:void(0)" class="dropdown-link">
                    <div class="media">
                        <img src="http://via.placeholder.com/500x500" alt="">
                        <div class="media-body">
                        <p><strong>Suzzeth Bungaos</strong> messaged you.</p>
                        <p>Hi there! We are trying to reach you on an idea.</p>
                        <span>April 26, 2019 8:45am</span>
                        </div>
                    </div><!-- media -->
                    </a>
                    <!-- loop ends here -->
                    <a href="javascript:void(0)" class="dropdown-link">
                    <div class="media">
                        <img src="http://via.placeholder.com/500x500" alt="">
                        <div class="media-body">
                        <p><strong>Mellisa Brown</strong> messaged you.</p>
                        <p>Hi there! Will you be looking into my documents?</p>
                        <span>October 02, 2017 12:44am</span>
                        </div>
                    </div><!-- media -->
                    </a>
                    <a href="javascript:void(0)" class="dropdown-link read">
                    <div class="media">
                        <img src="http://via.placeholder.com/500x500" alt="">
                        <div class="media-body">
                        <p><strong>James Brown</strong> messaged you.</p>
                        <p>Hi there! I have a meeting today. I hope you would mind to join me.</p>
                        <span>October 01, 2017 10:20pm</span>
                        </div>
                    </div><!-- media -->
                    </a>
                    <a href="javascript:void(0)" class="dropdown-link read">
                    <div class="media">
                        <img src="http://via.placeholder.com/500x500" alt="">
                        <div class="media-body">
                        <p><strong>Julius Erving</strong> messaged you.</p>
                        <p>Hi there! Can we catchup on this tomorrow?</p>
                        <span>October 01, 2017 6:08pm</span>
                        </div>
                    </div><!-- media -->
                    </a>
                    <div class="dropdown-list-footer">
                    <a href="javascript:void(0)" ng-click="changeView('userMessageView')"><i class="fa fa-angle-down"></i> Show All Messages</a>
                    </div>
                </div><!-- dropdown-list -->
                </div><!-- dropdown-menu-right -->
            </div><!-- dropdown -->
            <div class="dropdown dropdown-b">
                <a href="" class="header-notification">
                <i class="icon ion-ios-bell"></i>
                <!-- <span class="indicator"></span> -->
                </a>
                <div class="dropdown-menu">
                <div class="dropdown-menu-header">
                    <h6 class="dropdown-menu-title">Notifications</h6>
                    <div>
                    <a href="">Mark All as Read</a>
                    </div>
                </div><!-- dropdown-menu-header -->
                <div class="dropdown-list">
                    <!-- loop starts here -->
                    <a href="" class="dropdown-link">
                    <div class="media">
                        <img src="http://via.placeholder.com/500x500" alt="">
                        <div class="media-body">
                        <p><strong>Suzzeth Bungaos</strong> added you and 18 others in a project.</p>
                        <span>October 03, 2017 8:45am</span>
                        </div>
                    </div><!-- media -->
                    </a>
                    <!-- loop ends here -->
                    <a href="" class="dropdown-link">
                    <div class="media">
                        <img src="http://via.placeholder.com/500x500" alt="">
                        <div class="media-body">
                        <p><strong>Mellisa Brown</strong> appreciated your work <strong>The Social Network</strong></p>
                        <span>October 02, 2017 12:44am</span>
                        </div>
                    </div><!-- media -->
                    </a>
                    <a href="" class="dropdown-link read">
                    <div class="media">
                        <img src="http://via.placeholder.com/500x500" alt="">
                        <div class="media-body">
                        <p>20+ new people added are waiting for your approval</p>
                        <span>October 01, 2017 10:20pm</span>
                        </div>
                    </div><!-- media -->
                    </a>
                    <a href="" class="dropdown-link read">
                    <div class="media">
                        <img src="http://via.placeholder.com/500x500" alt="">
                        <div class="media-body">
                        <p><strong>Julius Erving</strong> wants to collaborate with your startup <strong>Smartverse</strong></p>
                        <span>October 01, 2017 6:08pm</span>
                        </div>
                    </div><!-- media -->
                    </a>
                    <div class="dropdown-list-footer">
                    <a href="javascript:void(0)"><i class="fa fa-angle-down"></i> Show All Notifications</a>
                    </div>
                </div><!-- dropdown-list -->
                </div><!-- dropdown-menu-right -->
            </div><!-- dropdown -->
            <div class="dropdown dropdown-c">
                <a href="#" class="logged-user" data-toggle="dropdown">
                <img ng-if="userDetailsLogo==null" src="assets/img/boy.png" alt="">
                <img ng-if="userDetailsLogo!=null" src={{userDetailsLogo}} alt="">
                <span>{{userDetails.userName}}</span>
                <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                <nav class="nav">
                    <a href="javascript:void(0)" ng-click="changeView('userProfileView')" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
                    <a href="javascript:void(0)" ng-click="changeView('editProfileView')" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>
                    <a href="javascript:void(0)" ng-click="changeView('userFollowView')" class="nav-link"><i class="icon ion-heart"></i> I am Following</a>
                    <a href="javascript:void(0)" ng-if="userDetails.isAdmin" ng-click="changeView('settingsView')" class="nav-link"><i class="icon ion-gear-b"></i> Settings</a>
                    <a href="mailto:feedback@platform.smartvillagemovement.org" ng-if="!userDetails.isAdmin && !userDetails.isSuper" class="nav-link"><i class="icon ion-email"></i> Feedback</a>
                    <a href="javascript:void(0)" class="nav-link" ng-click="signOut()"><i class="icon ion-forward"></i> Sign Out</a>
                </nav>
                </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
        </div><!-- header-right -->
    </div><!-- container -->
</div><!-- slim-header -->
<div class="slim-navbar">
    <div class="container">
      <ul class="nav">
        <li class="nav-item" ng-class = "{'active' : activeTab == 'challengeView'}" title="Challenges">
          <a class="nav-link" ng-click="changeView('challengeView');">
            <i class="icon ion-flash"></i>
            <span>Challenges</span>
          </a>
        </li>
        <li class="nav-item" ng-class = "{'active' : activeTab == 'solutionView'}" title="Solutions">
          <a class="nav-link" ng-click="changeView('solutionView');">
            <i class="icon ion-wand"></i>
            <span>Technologies</span>
          </a>
        </li>
        <li class="nav-item" ng-class = "{'active' : activeTab == 'collaborateView'}" title="Collaborate">
          <a class="nav-link" ng-click="changeView('collaborateView');">
            <i class="icon ion-ios-people" ></i>
            <span>Collaborate</span>
          </a>
        </li>
        <li class="nav-item" ng-class = "{'active' : activeTab == 'researchView'}" title="Research">
          <a class="nav-link" ng-click="changeView('researchView');">
            <i class="icon ion-ios-flask"></i>
            <span>Research</span>
          </a>
        </li>
        <li class="nav-item"ng-class = "{'active' : activeTab == 'projectView'}" title="Projects">
          <a class="nav-link" ng-click="changeView('projectView');">
            <i class="icon ion-ios-flower"></i>
            <span>Projects</span>
          </a>
        </li>
         <li class="nav-item" ng-class = "{'active' : activeTab == 'discussionsView'}" title="Discussions">
          <a class="nav-link" ng-click="changeView('discussionsView');">
            <i class="icon ion-ios-chatboxes-outline"></i>
            <span>Discussions</span>
          </a>
        </li>
        <li class="nav-item with-sub" title="Village Footprints">
          <a class="nav-link" href="javascript:void(0)">
            <i class="icon ion-ios-paw mg-l-30"></i>
            <span>Village Footprints</span>
          </a>
          <div class="sub-item">
            <ul>
                <li><a href="http://18.138.251.15/" target="_blank">Arunachal Pradesh</a></li>
                <li><a href="https://berkeley-apsmartvillage.org/dashboard/index.php" target="_blank">Andhra Pradesh</a></li>
                <li><a href="">Meghalaya</a></li>
            </ul>
          </div><!-- dropdown-menu -->
        </li>
        <li class="nav-item" ng-class = "{'active' : activeTab == 'villageBulletinView'}" title="Village Bulletin">
          <a class="nav-link" ng-click="changeView('villageBulletinView');">
            <i class="icon ion-grid mg-l-30"></i>
            <span>Village Bulletin</span>
          </a>
        </li>
      </ul>
    </div><!-- container -->
</div><!-- slim-navbar -->