
    <style type="text/css">
      .menu-bg-fixed {
          background: -webkit-linear-gradient(left, #040474 0%, #1CB5E0 100%) !important;
          background: linear-gradient(to right, #040474 0%, #1CB5E0 100%) !important;
          box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
          z-index: 9999;
          padding: 5px;
      }
      .subscribe-form .form-wrapper .btn-search {
        right: 20px !important;
        height: 43px !important;
        width: 115px !important;
      }
      .subscribe-form .form-wrapper .form-control {
        font-size: 14px !important;
      }
      .dropdown-content, .menu-bg-fixed .dropdown-content {
        display: none;
        flex-wrap: wrap;
        position: absolute;
        background-color: #ffffff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        color: #000000;
        height: 250px;
        padding: 0px 0px 0px 0px;
        width: 26%;
        margin-left: -15%;
        overflow-y:auto;
      }
      .dropdown-content > li{
        padding: 1px;
        display: inline-block;
        color: black;
        z-index: 999;
      }
      .menu-icon {
        height: 40px;
        width: 40px;
        margin: 15px 15px;
      }
      .dropdown-tiles{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000000;
        width: 120px;
      }
      /*.menu:hover{
        border: 1px solid #6c757d !important;
      }*/
      .dropbutton:hover .dropdown-content{
        display: flex;
      }
      h5 {
        font-weight: 400!important;
        font-size: 20px!important;
        color: #000000!important;
      }
      p {
        color: #000000 !important;
      }
    </style>
  <div ng-if="openView == 'challenge'"> 

    <!-- Header Section Start -->
    <header id="home" class="hero-area-2">    
      <div class="overlay"></div>
      <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg-fixed">
        <div class="container">
          <a href="javascript:void(0)" ng-click="home()" class="navbar-brand"><span class="text">SVM</span></a>  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
             <li class="nav-item">
                <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="home()" >Home</a>
              </li>
              <li class="nav-item dropbutton">
                <a class="nav-link" href="javascript:void(0)"><img src="assets/img/apps_icon.png" alt="apps" style="height: 26px;width: 26px"/></a>
                <ul class="dropdown-content smooth-scrollbar">
                    <li>
                      <a href="javascript:void(0)" ng-click="landingViews('challenge')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/Challenges.png" alt=""/><span>Challenges</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  ng-click="landingViews('solutions')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/jigsaw.png" alt=""/><span>Solutions</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  ng-click="landingViews('collaborate')"  class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/cooperation.png" alt=""/><span>Collaborate</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('research')" ><img class="menu-icon" src="assets/landingPage/img/microscope.png" alt=""/><span>Research</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('projects')"><img class="menu-icon" src="assets/landingPage/img/project-management.png" alt=""/><span>Projects</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageFootprints')"><img class="menu-icon" src="assets/landingPage/img/radar.png" alt=""/>Village Footprints<span></span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageBulletin')"><img class="menu-icon" src="assets/landingPage/img/bulletin.png" alt=""/><span>Village Bulletin</span></a>
                    </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="signUp()">Sign in</a>
              </li>
              </li>   
            </ul>
          </div>
        </div>
      </nav>         
    </header>
    <!-- Header Section End --> 

    <!-- Blog Section -->
    <section id="blog" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">   
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Challenges in SVM</p>       
          <h2 class="section-title">About Challenges</h2>
        </div>
        <div class="row">
          <div class="justify-content">   
            <h5>Grand challenges represent the pain points & the opportunities that exist in the villages. These challenges refer to the problems that an average villager faces in rural India or the untapped business opportunities in the villages. UC Berkeley trained SVM team curates these challenges as a result of their extensive on-ground research. All the challenges are research backed up and represent the pain of the indian villages.</h5>
          </div>
          <br>
          <div class="justify-content">
            <h5>This platform provides you a deep insight into the challenges that exist in emerging economies. Necessary resources to understand the challenges are carefully selected and shared by the Smart Village Movement team with the users. You can also engage in discussions pertaining to individual challenges on the platform. Some other features of the Grand Challenges like Location Profile, Impact, Pain Points are shared to help you understand the challenge and propose robust solutions.</h5>
          </div>
          <br>
          <div class="section justify-content mg-t-10">
            <div class="widget">
              <h5>What’s in for you?</h5>
              <ul class="menu" style="margin-left: 10px; color: #000000;">
                <li>- Explore Challenges</li>
                <li>- Get access to challenge specific resources</li>
                <li>- Participate in discussions</li>
                <li>- Collaborate to solve</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="section-header">
          <a href="javascript:void(0);" ng-click="traker('trackerView')" class="btn btn-border" style="text-transform: none;background: #f27510;border: 2px solid #f27510;color: #fff;">Explore & Sign up</a>
        </div>
      </div>
    </section>
    <!-- blog Section End -->

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="text">
                <h4 class="block-title">Register for a Free Account</h4>
                <ul class="menu">
                  <li><a href="javascript:void(0)" ng-click="tracker('trackerView')">Explore & Sign up</a></li>
                  <li><a href="http://www.smartvillagemovement.org/">Website</a></li>
                  <!-- <li><a href="#">Pricing</a></li>
                  <li><a href="#">Jobs</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h4 class="block-title">Support</h4>
                <ul class="menu">
                  <li><a href="javascript:void(0);" ng-click="landingViews('terms')">Terms & Conditions</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <!-- <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Help</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <img src="" alt="">
              <div class="textwidget">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright Start  -->
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="site-info float-left">
                  <p></p>
                </div>              
                <div class="float-right">  
                  <ul class="footer-social">
                    <!-- <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                    <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li> -->
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
      
    </footer>
    <!-- Footer Section End --> 

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a> 
  </div>
  <div ng-if="openView == 'collaborate'"> 

    <!-- Header Section Start -->
    <header id="home" class="hero-area-2">    
      <div class="overlay"></div>
      <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg-fixed">
        <div class="container">
          <a href="javascript:void(0)" ng-click="home()" class="navbar-brand"><span class="text">SVM</span></a>  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="home()">Home</a>
              </li>
              <li class="nav-item dropbutton">
                <a class="nav-link" href="javascript:void(0)"><img src="assets/img/apps_icon.png" alt="apps" style="height: 26px;width: 26px"/></a>
                <ul class="dropdown-content smooth-scrollbar">
                    <li>
                      <a href="javascript:void(0)" ng-click="landingViews('challenge')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/Challenges.png" alt=""/><span>Challenges</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  ng-click="landingViews('solutions')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/jigsaw.png" alt=""/><span>Solutions</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  ng-click="landingViews('collaborate')"  class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/cooperation.png" alt=""/><span>Collaborate</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('research')" ><img class="menu-icon" src="assets/landingPage/img/microscope.png" alt=""/><span>Research</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('projects')"><img class="menu-icon" src="assets/landingPage/img/project-management.png" alt=""/><span>Projects</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageFootprints')"><img class="menu-icon" src="assets/landingPage/img/radar.png" alt=""/>Village Footprints<span></span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageBulletin')"><img class="menu-icon" src="assets/landingPage/img/bulletin.png" alt=""/><span>Village Bulletin</span></a>
                    </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="signUp()">Sign in</a>
              </li>
              </li> 
            </ul>
          </div>
        </div>
      </nav>         
    </header>
    <!-- Header Section End -->

    <!-- Blog Section -->
    <section id="blog" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">   
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Collaborations in SVM</p>       
          <h2 class="section-title">About Collaborations</h2>
        </div>
        <div class="row">
          <div class="justify-content">   
            <h5>Smart Village Movement platform provides a medium to collaborate with academia, businesses, government and like-minded individuals to co-innovate solutions for rural grand challenges in India.</h5>
          </div>
          <br>
          <div class="justify-content">
            <h5>We’ve built a very dedicated community comprising of stakeholders from different spheres and sectors, passionate about solving the real-life problems for 3.4 billion people living in emerging economies. Our platform is dedicated to providing a seamless collaborating experience to our users to promote open innovation and information sharing.</h5>
          </div>
          <br>
          <div class="section justify-content mg-t-10">
            <div class="widget">
              <h5>What’s in for you?</h5>
              <ul class="menu" style="margin-left: 10px; color: #000000;">
                  <li>- Explore Existing Technologies</li>
                  <li>- Focussed Research</li>
                  <li>- Segmentation based on the completeness</li>
                  <li>- Co-Innovate</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="section-header">
          <a href="javascript:void(0);" ng-click="traker('trackerView')" class="btn btn-border" style="text-transform: none;background: #f27510;border: 2px solid #f27510;color: #fff;">Explore & Sign up</a>
        </div>
      </div>
    </section>
    <!-- blog Section End -->

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="text">
                <h4 class="block-title">Register for a Free Account</h4>
                <ul class="menu">
                  <li><a href="javascript:void(0)" ng-click="tracker('trackerView')">Explore & Sign up</a></li>
                  <li><a href="http://www.smartvillagemovement.org/">Website</a></li>
                  <!-- <li><a href="#">Pricing</a></li>
                  <li><a href="#">Jobs</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h4 class="block-title">Support</h4>
                <ul class="menu">
                  <li><a href="javascript:void(0);" ng-click="landingViews('terms')">Terms & Conditions</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <!-- <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Help</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <img src="" alt="">
              <div class="textwidget">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright Start  -->
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="site-info float-left">
                  <p></p>
                </div>              
                <div class="float-right">  
                  <ul class="footer-social">
                    <!-- <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                    <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li> -->
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
      
    </footer>
    <!-- Footer Section End --> 

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a>   
  </div>
  <div ng-if="openView == 'solutions'"> 

    <!-- Header Section Start -->
    <header id="home" class="hero-area-2">    
      <div class="overlay"></div>
      <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg-fixed">
        <div class="container">
          <a href="javascript:void(0)" ng-click="home()" class="navbar-brand"><span class="text">SVM</span></a>  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="home()">Home</a>
              </li>
              <li class="nav-item dropbutton">
                <a class="nav-link" href="javascript:void(0)"><img src="assets/img/apps_icon.png" alt="apps" style="height: 26px;width: 26px"/></a>
                <ul class="dropdown-content smooth-scrollbar">
                    <li>
                      <a href="javascript:void(0)" ng-click="landingViews('challenge')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/Challenges.png" alt=""/><span>Challenges</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  ng-click="landingViews('solutions')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/jigsaw.png" alt=""/><span>Solutions</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  ng-click="landingViews('collaborate')"  class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/cooperation.png" alt=""/><span>Collaborate</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('research')" ><img class="menu-icon" src="assets/landingPage/img/microscope.png" alt=""/><span>Research</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('projects')"><img class="menu-icon" src="assets/landingPage/img/project-management.png" alt=""/><span>Projects</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageFootprints')"><img class="menu-icon" src="assets/landingPage/img/radar.png" alt=""/>Village Footprints<span></span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageBulletin')"><img class="menu-icon" src="assets/landingPage/img/bulletin.png" alt=""/><span>Village Bulletin</span></a>
                    </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="signUp()">Sign in</a>
              </li>
              </li> 
            </ul>
          </div>
        </div>
      </nav>         
    </header>
    <!-- Header Section End --> 

    <!-- Blog Section -->
    <section id="blog" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">   
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Solutions in SVM</p>       
          <h2 class="section-title">About Solutions</h2>
        </div>
        <div class="row">
          <div class="justify-content">   
            <h5>Get access to exclusive Smart Village research in emerging economies. Researchers and experts from the top reputed universities and R&D labs have collaborated with us to share their cutting edge research. Our platform aims to facilitate infusion of academic research with businesses and government projects implementing triple helix.</h5>
          </div>
          <br>
          <div class="justify-content">
            <h5>Our platform serves as a repository for focussed research in the area of  Healthcare, Agriculture, Education, Energy, Transportation, Water, Livelihood & Connectivity shared by our extensive network of researchers, experts, professors & students.</h5>
          </div>
          <br>
          <div class="section justify-content mg-t-10">
            <div class="widget">
              <h5>What’s in for you?</h5>
              <ul class="menu" style="margin-left: 10px; color: #000000;">
                <li>- Explore Existing Technologies</li>
                <li>- Focussed Research</li>
                <li>- Segmentation based on the completeness</li>
                <li>- Co-Innovate</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="section-header">
          <a href="javascript:void(0);" ng-click="traker('trackerView')" class="btn btn-border" style="text-transform: none;background: #f27510;border: 2px solid #f27510;color: #fff;">Explore & Sign up</a>
        </div>
      </div>
    </section>
    <!-- blog Section End -->

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="text">
                <h4 class="block-title">Register for a Free Account</h4>
                <ul class="menu">
                  <li><a href="javascript:void(0)" ng-click="tracker('trackerView')">Explore & Sign up</a></li>
                  <li><a href="http://www.smartvillagemovement.org/">Website</a></li>
                  <!-- <li><a href="#">Pricing</a></li>
                  <li><a href="#">Jobs</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h4 class="block-title">Support</h4>
                <ul class="menu">
                  <li><a href="javascript:void(0);" ng-click="landingViews('terms')">Terms & Conditions</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <!-- <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Help</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <img src="" alt="">
              <div class="textwidget">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright Start  -->
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="site-info float-left">
                  <p></p>
                </div>              
                <div class="float-right">  
                  <ul class="footer-social">
                    <!-- <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                    <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li> -->
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
      
    </footer>
    <!-- Footer Section End --> 

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a> 
  </div>
  <div ng-if="openView == 'research'">

    <!-- Header Section Start -->
    <header id="home" class="hero-area-2">    
      <div class="overlay"></div>
      <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg-fixed">
        <div class="container">
          <a href="javascript:void(0)" ng-click="home()" class="navbar-brand"><span class="text">SVM</span></a>  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="home()">Home</a>
              </li>  
              <li class="nav-item dropbutton">
                <a class="nav-link" href="javascript:void(0)"><img src="assets/img/apps_icon.png" alt="apps" style="height: 26px;width: 26px"/></a>
                <ul class="dropdown-content smooth-scrollbar">
                    <li>
                      <a href="javascript:void(0)" ng-click="landingViews('challenge')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/Challenges.png" alt=""/><span>Challenges</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  ng-click="landingViews('solutions')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/jigsaw.png" alt=""/><span>Solutions</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  ng-click="landingViews('collaborate')"  class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/cooperation.png" alt=""/><span>Collaborate</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('research')" ><img class="menu-icon" src="assets/landingPage/img/microscope.png" alt=""/><span>Research</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('projects')"><img class="menu-icon" src="assets/landingPage/img/project-management.png" alt=""/><span>Projects</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageFootprints')"><img class="menu-icon" src="assets/landingPage/img/radar.png" alt=""/>Village Footprints<span></span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageBulletin')"><img class="menu-icon" src="assets/landingPage/img/bulletin.png" alt=""/><span>Village Bulletin</span></a>
                    </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll"href="javascript:void(0)" ng-click="signUp()">Sign in</a>
              </li>
              </li> 
            </ul>
          </div>
        </div>
      </nav>         
    </header>
    <!-- Header Section End --> 

    <!-- Blog Section -->
    <section id="blog" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">   
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Research in SVM</p>       
          <h2 class="section-title">About Research</h2>
        </div>
        <div class="row">
          <div class="justify-content">   
            <h5>Get access to exclusive Smart Village research in emerging economies. Researchers and experts from the top reputed universities and R&D labs have collaborated with us to share their cutting edge research. Our platform aims to facilitate infusion of academic research with businesses and government projects implementing triple helix.</h5>
          </div>
          <br>
          <div class="justify-content">
            <h5>Our platform serves as a repository for focussed research in the area of  Healthcare, Agriculture, Education, Energy, Transportation, Water, Livelihood & Connectivity shared by our extensive network of researchers, experts, professors & students.</h5>
          </div>
          <br>
        </div>

        <div class="section-header">
          <a href="javascript:void(0);" ng-click="traker('trackerView')" class="btn btn-border" style="text-transform: none;background: #f27510;border: 2px solid #f27510;color: #fff;">Explore & Sign up</a>
        </div>
      </div>
    </section>
    <!-- blog Section End -->

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="text">
                <h4 class="block-title">Register for a Free Account</h4>
                <ul class="menu">
                  <li><a href="javascript:void(0)" ng-click="tracker('trackerView')">Explore & Sign up</a></li>
                  <li><a href="http://www.smartvillagemovement.org/">Website</a></li>
                  <!-- <li><a href="#">Pricing</a></li>
                  <li><a href="#">Jobs</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h4 class="block-title">Support</h4>
                <ul class="menu">
                  <li><a href="javascript:void(0);" ng-click="landingViews('terms')">Terms & Conditions</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <!-- <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Help</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <img src="" alt="">
              <div class="textwidget">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright Start  -->
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="site-info float-left">
                  <p></p>
                </div>              
                <div class="float-right">  
                  <ul class="footer-social">
                    <!-- <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                    <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li> -->
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
      
    </footer>
    <!-- Footer Section End --> 

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a>  
  </div>
  <div ng-if="openView == 'projects'"> 

      <!-- Header Section Start -->
      <header id="home" class="hero-area-2">    
        <div class="overlay"></div>
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg-fixed">
          <div class="container">
            <a href="javascript:void(0)" ng-click="home()" class="navbar-brand"><span class="text">SVM</span></a>  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="home()">Home</a>
                </li>
                <li class="nav-item dropbutton">
                  <a class="nav-link" href="javascript:void(0)"><img src="assets/img/apps_icon.png" alt="apps" style="height: 26px;width: 26px"/></a>
                  <ul class="dropdown-content smooth-scrollbar">
                      <li>
                        <a href="javascript:void(0)" ng-click="landingViews('challenge')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/Challenges.png" alt=""/><span>Challenges</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"  ng-click="landingViews('solutions')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/jigsaw.png" alt=""/><span>Solutions</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"  ng-click="landingViews('collaborate')"  class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/cooperation.png" alt=""/><span>Collaborate</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('research')" ><img class="menu-icon" src="assets/landingPage/img/microscope.png" alt=""/><span>Research</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('projects')"><img class="menu-icon" src="assets/landingPage/img/project-management.png" alt=""/><span>Projects</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageFootprints')"><img class="menu-icon" src="assets/landingPage/img/radar.png" alt=""/>Village Footprints<span></span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageBulletin')"><img class="menu-icon" src="assets/landingPage/img/bulletin.png" alt=""/><span>Village Bulletin</span></a>
                      </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="signUp()">Sign in</a>
                </li>
                </li> 
              </ul>
            </div>
          </div>
        </nav>         
      </header>
      <!-- Header Section End -->
  
      <!-- Blog Section -->
      <section id="blog" class="section">
        <!-- Container Starts -->
        <div class="container">
          <div class="section-header">   
            <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Projects in SVM</p>       
            <h2 class="section-title">About Projects</h2>
          </div>
          <div class="row">
            <div class="justify-content">   
              <h5>
                Smart Village Movement platform leverages the highest minds from the top most
                universities by engaging students, professors and experts from various domains to
                work on specific projects, solving rural grand challenges. 
              </h5>
            </div>
            <br>
            <div class="justify-content">
              <h5>
                Our project section is curated specifically for students from universities all across the
                world to participate and contribute towards sustainable development in emerging
                economies. This section offers our partnering universities to give their student, a
                golden opportunity to create launch ready solutions for rural India. Students are
                assigned to specific project where they work in collaboration with students from other
                universities and countries along with Smart Village Movement team and involved
                stakeholders. 
              </h5>
            </div>
            <br>
            <div class="section justify-content mg-t-10">
              <div class="widget">
                <h5>What’s in for you?</h5>
                <ul class="menu" style="margin-left: 10px; color: #000000;">
                    <li>- Explore Existing Technologies</li>
                    <li>- Collaborate with students from different parts of the world</li>
                    <li>- Get expert advice</li>
                    <li>- Co-Innovation</li>
                </ul>
              </div>
            </div>
          </div>
  
          <div class="section-header">
            <a href="javascript:void(0);" ng-click="traker('trackerView')" class="btn btn-border" style="text-transform: none;background: #f27510;border: 2px solid #f27510;color: #fff;">Explore & Sign up</a>
          </div>
        </div>
      </section>
      <!-- blog Section End -->
  
      <!-- Footer Section Start -->
      <footer>
        <!-- Footer Area Start -->
        <section class="footer-Content">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <div class="text">
                  <h4 class="block-title">Register for a Free Account</h4>
                  <ul class="menu">
                    <li><a href="javascript:void(0)" ng-click="tracker('trackerView')">Explore & Sign up</a></li>
                    <li><a href="http://www.smartvillagemovement.org/">Website</a></li>
                    <!-- <li><a href="#">Pricing</a></li>
                    <li><a href="#">Jobs</a></li> -->
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <div class="widget">
                  <h4 class="block-title">Support</h4>
                  <ul class="menu">
                    <li><a href="javascript:void(0);" ng-click="landingViews('terms')">Terms & Conditions</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <!-- <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Help</a></li> -->
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <img src="" alt="">
                <div class="textwidget">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <!-- Copyright Start  -->
          <div class="copyright">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="site-info float-left">
                    <p></p>
                  </div>              
                  <div class="float-right">  
                    <ul class="footer-social">
                      <!-- <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                      <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                      <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                      <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li> -->
                    </ul> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Copyright End -->
        </section>
        <!-- Footer area End -->
        
      </footer>
      <!-- Footer Section End --> 
  
      <!-- Go To Top Link -->
      <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
      </a>   
  </div>
  <div ng-if="openView == 'villageFootprints'"> 

      <!-- Header Section Start -->
      <header id="home" class="hero-area-2">    
        <div class="overlay"></div>
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg-fixed">
          <div class="container">
            <a href="javascript:void(0)" ng-click="home()" class="navbar-brand"><span class="text">SVM</span></a>  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="home()">Home</a>
                </li>
                <li class="nav-item dropbutton">
                  <a class="nav-link" href="javascript:void(0)"><img src="assets/img/apps_icon.png" alt="apps" style="height: 26px;width: 26px"/></a>
                  <ul class="dropdown-content smooth-scrollbar">
                      <li>
                        <a href="javascript:void(0)" ng-click="landingViews('challenge')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/Challenges.png" alt=""/><span>Challenges</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"  ng-click="landingViews('solutions')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/jigsaw.png" alt=""/><span>Solutions</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"  ng-click="landingViews('collaborate')"  class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/cooperation.png" alt=""/><span>Collaborate</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('research')" ><img class="menu-icon" src="assets/landingPage/img/microscope.png" alt=""/><span>Research</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('projects')"><img class="menu-icon" src="assets/landingPage/img/project-management.png" alt=""/><span>Projects</span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageFootprints')"><img class="menu-icon" src="assets/landingPage/img/radar.png" alt=""/>Village Footprints<span></span></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageBulletin')"><img class="menu-icon" src="assets/landingPage/img/bulletin.png" alt=""/><span>Village Bulletin</span></a>
                      </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="signUp()">Sign in</a>
                </li>
                </li> 
              </ul>
            </div>
          </div>
        </nav>         
      </header>
      <!-- Header Section End -->
  
      <!-- Blog Section -->
      <section id="blog" class="section">
        <!-- Container Starts -->
        <div class="container">
          <div class="section-header">   
            <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Village Footprints in SVM</p>       
            <h2 class="section-title">About Village Footprints</h2>
          </div>
          <div class="row">
            <div class="justify-content">   
              <h5>
                  Village Footprint portrays the facilities as well as needs of each and every village
                  which will help in providing sector specific insights to highlight critical gaps that need
                  addressing.
              </h5>
            </div>
            <br>
            <div class="justify-content">
              <h5>
                This   real   time   tool   enables   the   stakeholders   to   understand   and   manage   their
                decisions, increase the efficiency of the policies/products and to set up a market
                online   discussion   forums   to   source   ideas   from   motivated   and   creative   thinkers
                around the world.It can be used as a tool enabling tracking process and outcomes for
                the data collected on ground level. 
              </h5>
            </div>
            <br>
            <div class="section justify-content mg-t-10">
              <div class="widget">
                <h5>What’s in for you?</h5>
                <ul class="menu" style="margin-left: 10px; color: #000000;">
                  <li>- Explore specific pain points of each and every village</li>
                  <li>- Real-time status quo of villages/districts</li>
                  <li>- Understand existing infrastructure & requirement for interventions</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="section-header">
            <a href="javascript:void(0);" ng-click="traker('trackerView')" class="btn btn-border" style="text-transform: none;background: #f27510;border: 2px solid #f27510;color: #fff;">Explore & Sign up</a>
          </div>
        </div>
      </section>
      <!-- blog Section End -->
  
      <!-- Footer Section Start -->
      <footer>
        <!-- Footer Area Start -->
        <section class="footer-Content">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <div class="text">
                  <h4 class="block-title">Register for a Free Account</h4>
                  <ul class="menu">
                    <li><a href="javascript:void(0)" ng-click="tracker('trackerView')">Explore & Sign up</a></li>
                    <li><a href="http://www.smartvillagemovement.org/">Website</a></li>
                    <!-- <li><a href="#">Pricing</a></li>
                    <li><a href="#">Jobs</a></li> -->
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <div class="widget">
                  <h4 class="block-title">Support</h4>
                  <ul class="menu">
                    <li><a href="javascript:void(0);" ng-click="landingViews('terms')">Terms & Conditions</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <!-- <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Help</a></li> -->
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <img src="" alt="">
                <div class="textwidget">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <!-- Copyright Start  -->
          <div class="copyright">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="site-info float-left">
                    <p></p>
                  </div>              
                  <div class="float-right">  
                    <ul class="footer-social">
                      <!-- <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                      <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                      <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                      <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li> -->
                    </ul> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Copyright End -->
        </section>
        <!-- Footer area End -->
        
      </footer>
      <!-- Footer Section End --> 
  
      <!-- Go To Top Link -->
      <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
      </a>   
  </div>
  <div ng-if="openView == 'villageBulletin'"> 

      <!-- Header Section Start -->
      <header id="home" class="hero-area-2">    
        <div class="overlay"></div>
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg-fixed">
          <div class="container">
            <a href="javascript:void(0)" ng-click="home()" class="navbar-brand"><span class="text">SVM</span></a>  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="home()">Home</a>
                </li>
                <li class="nav-item dropbutton">
                  <a class="nav-link" href="javascript:void(0)"><img src="assets/img/apps_icon.png" alt="apps" style="height: 26px;width: 26px"/></a>
                  <ul class="dropdown-content smooth-scrollbar">
                    <li>
                      <a href="javascript:void(0)" ng-click="landingViews('challenge')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/Challenges.png" alt=""/><span>Challenges</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  ng-click="landingViews('solutions')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/jigsaw.png" alt=""/><span>Solutions</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  ng-click="landingViews('collaborate')"  class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/cooperation.png" alt=""/><span>Collaborate</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('research')" ><img class="menu-icon" src="assets/landingPage/img/microscope.png" alt=""/><span>Research</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('projects')"><img class="menu-icon" src="assets/landingPage/img/project-management.png" alt=""/><span>Projects</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageFootprints')"><img class="menu-icon" src="assets/landingPage/img/radar.png" alt=""/>Village Footprints<span></span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageBulletin')"><img class="menu-icon" src="assets/landingPage/img/bulletin.png" alt=""/><span>Village Bulletin</span></a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="home()">Sign in</a>
                </li>
                </li> 
              </ul>
            </div>
          </div>
        </nav>         
      </header>
      <!-- Header Section End --> 
  
      <!-- Blog Section -->
      <section id="blog" class="section">
        <!-- Container Starts -->
        <div class="container">
          <div class="section-header">   
            <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Village Bulletin in SVM</p>       
            <h2 class="section-title">About Village Bulletin</h2>
          </div>
          <div class="row">
            <div class="justify-content">   
              <h5>
                  Village Bulletin is a way to engage local villagers with the Smart Village Movement
                  platform. This feature provides:
              </h5>
            </div>
            <ul class="menu" style="margin-left: 10px; color: #000000;">
              <li>- Explore specific pain points of each and every village</li>
              <li>- Real-time status quo of villages/districts</li>
              <li>- Understand existing infrastructure & requirement for interventions</li>
            </ul>
            <br>
          </div>
          
          <div class="section-header mg-t-55">
            <a href="javascript:void(0);" ng-click="traker('trackerView')" class="btn btn-border" style="text-transform: none;background: #f27510;border: 2px solid #f27510;color: #fff;">Explore & Sign up</a>
          </div>
        </div>
      </section>
      <!-- blog Section End -->
  
      <!-- Footer Section Start -->
      <footer>
        <!-- Footer Area Start -->
        <section class="footer-Content">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <div class="text">
                  <h4 class="block-title">Register for a Free Account</h4>
                  <ul class="menu">
                    <li><a href="javascript:void(0)" ng-click="tracker('trackerView')">Explore & Sign up</a></li>
                    <li><a href="http://www.smartvillagemovement.org/">Website</a></li>
                    <!-- <li><a href="#">Pricing</a></li>
                    <li><a href="#">Jobs</a></li> -->
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <div class="widget">
                  <h4 class="block-title">Support</h4>
                  <ul class="menu">
                    <li><a href="javascript:void(0);" ng-click="landingViews('terms')">Terms & Conditions</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <!-- <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Help</a></li> -->
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <img src="" alt="">
                <div class="textwidget">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <!-- Copyright Start  -->
          <div class="copyright">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="site-info float-left">
                    <p></p>
                  </div>              
                  <div class="float-right">  
                    <ul class="footer-social">
                      <!-- <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                      <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                      <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                      <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li> -->
                    </ul> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Copyright End -->
        </section>
        <!-- Footer area End -->
        
      </footer>
      <!-- Footer Section End --> 
  
      <!-- Go To Top Link -->
      <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
      </a>  
  </div>
  <div ng-if="openView == 'terms'">
    <!-- Header Section Start -->
    <header id="home" class="hero-area-2">    
      <div class="overlay"></div>
      <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar menu-bg-fixed">
        <div class="container">
          <a href="javascript:void(0)" ng-click="home()" class="navbar-brand"><span class="text">SVM</span></a>  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="home()">Home</a>
              </li>
              <li class="nav-item dropbutton">
                <a class="nav-link" href="javascript:void(0)"><img src="assets/img/apps_icon.png" alt="apps" style="height: 26px;width: 26px"/></a>
                <ul class="dropdown-content smooth-scrollbar">
                    <li>
                      <a href="javascript:void(0)" ng-click="landingViews('challenge')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/Challenges.png" alt=""/><span>Challenges</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  ng-click="landingViews('solutions')" class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/jigsaw.png" alt=""/><span>Solutions</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  ng-click="landingViews('collaborate')"  class="dropdown-tiles"><img class="menu-icon" src="assets/landingPage/img/cooperation.png" alt=""/><span>Collaborate</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('research')" ><img class="menu-icon" src="assets/landingPage/img/microscope.png" alt=""/><span>Research</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('projects')"><img class="menu-icon" src="assets/landingPage/img/project-management.png" alt=""/><span>Projects</span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageFootprints')"><img class="menu-icon" src="assets/landingPage/img/radar.png" alt=""/>Village Footprints<span></span></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="dropdown-tiles"  ng-click="landingViews('villageBulletin')"><img class="menu-icon" src="assets/landingPage/img/bulletin.png" alt=""/><span>Village Bulletin</span></a>
                    </li>
                </ul> 
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="javascript:void(0)" ng-click="home()">Sign in</a>
              </li>
              </li> 
            </ul>
          </div>
        </div>
      </nav>         
    </header>
    <!-- Header Section End --> 

    <!-- Blog Section -->
    <section id="blog" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">   
          <p class="btn btn-subtitle wow fadeInDown" data-wow-delay="0.2s">Terms & Conditions</p> 
          <h2 class="section-title">Terms & Conditions</h2>      
        </div>
        <div class="row">
          <div class="justify-content">   
            <h5>Please read the following terms and conditions carefully as it sets out the terms of a legally binding agreement between you (the reader) and Smart Village Movement.</h5>
          </div>
          <br>
        </div>
        <div class="row">
          <div>  
            <h4 class="section-title" style="font-weight: bold; font-size:18px;">Introduction</h4>
            <p>This following sets out the terms and conditions on which you may use the content on <a href="http://platform.smartvillagemovement.org">Smart Village Movement Platform</a></p>
          </div>
          <br>
        </div>
        <div class="row">
          <h4 class="section-title" style="font-weight: bold; font-size:18px;">Registration Access and Use</h4>
          <div class="justify-content">   
            <p>We welcome users to register on our digital platform. We offer the below mentioned registration services which may be subject to change in the future. All changes will be appended in the terms and conditions page and communicated to existing users by email. Registration services are offered for individual subscribers only. If multiple individuals propose to access the same account or for corporate accounts kindly contact or write in to us. The nature and volume of Smart Village Platform content services you consume on the digital platform will vary according to the type (Persona) of registration you choose, on the geography you reside .We may in exceptional circumstances cease to provide certain services. We will give you at least 7 days notice of this, if possible (This implies that the notice is not necessary). If we do so, then we will have no further obligation to you.</p>
          </div>
          <br>
        </div>
        <div class="row">
          <h4 class="section-title" style="font-weight: bold; font-size:18px;">Privacy Policy and Registration</h4>
          <div class="justify-content">   
            <p>All information received by us from your registration on our platform will be used by Smart Village Movement in accordance with our Privacy Policy. Kindly read the below mentioned details. On registration, we expect you to provide Smart Village Movement with an accurate and complete information of the compulsory fields. We also expect you to keep the information secure, specifically access passwords. Kindly update the information periodically to keep your account relevant. Smart Village Movement will rely on any information you provide to us. Each registration is for a single user only. On registration, you will choose a user name and password ("ID"). You are not allowed to share your ID or give access to your account to anyone else. On knowledge, Smart Village may cancel or suspend your access to  services if it comes across you sharing your personal access without further obligation to you. You are responsible for all the use of platform service made by you or anyone else using your ID and for preventing unauthorised use of your ID. If you believe there has been any breach of security such as the disclosure, theft or unauthorised use of your ID or any personal information, you must notify Smart Village Movement immediately by e-mailing us at help@smartvillagemovement.org. We recommend that you do not select an obvious user password (such as your name) and that you change it regularly.</p>
            <br>

            <p style="font-weight: bold;">Important - Kindly note:</p>
            <ul style="margin-left: 10px; color: #000000;">
              <li style="margin-bottom: 8px;">1. When you participate and choose to connect with other users on the platform, Smart Village Movement will share your public profile details with the user you connect to.</li>
              <li style="margin-bottom: 8px;">2. Smart Village Movement is not responsible for the behaviour of the users you connect with on the platform. We do not take responsibility of any ,misconduct by the user on the platform.</li>
            </ul>
            <p style="font-weight: bold;">Cancellation by us:</p>
            <ul style="margin-left: 10px; color: #000000;">
              <li style="margin-bottom: 8px;">Smart Village Movement reserves the right to suspend or terminate your subscription if you breach these terms and conditions, with or without notice and without further obligation to you. We may also suspend or terminate your subscription if we are prevented from providing services to you by circumstances beyond our control.</li>
            </ul>
            <p style="font-weight: bold;">Cancellation of your registration:</p>
            <ul style="margin-left: 10px; color: #000000;">
              <li style="margin-bottom: 8px;">If you are a registered user, then Smart Village Movement reserves the right to suspend or terminate your registration at any time, with or without notice and without further obligation to you. If you would like to cancel your registration then please contact our customer services team.</li>
            </ul>
            <br>
          </div>
          <br>
        </div>
        <div class="row">
          <h4 class="section-title" style="font-weight: bold; font-size:18px;">User Generated Content</h4>
          <div>   
            <p>Smart Village Movement platform includes comments sections, blogs and other interactive features that allow interaction between users and between users and Smart Village Movement. We call the information posted by or contributed by users "User Generated Content" or "UGC". If you wish to view or participate by way of UGC then you must comply with specific rules and guidelines. We also recommend that you read our Comments Guidelines which provide further guidance in relation to commenting on Smart Village Movement Platform. You are responsible for all the content of any of your UGC that you or we publish. You are financially responsible to us for any claim against us by any third party that your UGC is not in accordance with the UGC policy.</p>
            <br>
            <p style="font-weight: bold;">You further agree that you will:</p>
            <ul style="margin-left: 10px; color: #000000;">
              <li style="margin-bottom: 8px;">1. Only publish UGC that is your original content and will not infringe the copyright or other rights of any third party when publishing UGC. Not post, link to or otherwise publish any UGC containing any form of advertising or promotion for goods and services or any spam or other form of unsolicited communication.</li>
              <li style="margin-bottom: 8px;">2. Not post, link to or otherwise publish any UGC with recommendations to buy or not buy a particular share or other investment or which contain confidential information of another party or which otherwise have the purpose of affecting the price or value of any share or other investment.</li>
              <li style="margin-bottom: 8px;">3. Not post, link to or otherwise publish any UGC that is threatening, offensive, libellous, indecent or otherwise unlawful.</li>
              <li style="margin-bottom: 8px;">1Not post comments that are discriminatory in nature, for example, comments which make attacks on the grounds of race, religion, sex, gender, sexual orientation, disability or age.</li>
              <li style="margin-bottom: 8px;">4. Respectfully challenge different points of view but not personally attack other commentators.</li>
              <li style="margin-bottom: 8px;">1Not disguise the origin of any UGC and not impersonate any person or entity (including Smart Village Movement employees or Forum guests or hosts) or misrepresent any connection with any person or entity.</li>
              <li style="margin-bottom: 8px;">5. Not post or otherwise publish any UGC unrelated to the Forum or the Forum's topic.</li>
              <li style="margin-bottom: 8px;">6. Not post or transmit any UGC that contains software viruses, files or code designed to interrupt, destroy or limit the functionality of Smart Village Movement or any computer software or equipment.</li>
              <li style="margin-bottom: 8px;">7. Not collect or store other users personal data.</li>
              <li style="margin-bottom: 8px;">8. Not restrict or inhibit any other user from using the Forums.</li>
              <li style="margin-bottom: 8px;">9. Comply with the guidelines for commenting set out in our Commenting FAQ.</li>
            </ul>
            <br>
            <p>It is not possible for Smart Village Movement to fully monitor all UGC published on Smart Village Movement Platform but where we have actually received notice of any UGC that is potentially misleading, untrue, offensive, unlawful, infringes third party rights or is potentially in breach of these terms and conditions, then we will review that UGC, decide whether to remove it from our platform and act accordingly. This may include banning a user from participation in UGC on Smart Village Movement Platform.</p>
          </div>
          <br>
        </div>
        <div class="row">
          <h4 class="section-title" style="font-weight: bold; font-size:18px;">Our Responsibilities towards You</h4>
          <div>   
            <p>A summary of what this section means: this section is important and you should read it carefully. It makes clear to what extent, if any, Smart Village Movement accepts responsibility (liability) to you for your use of Smart Village Platform. We accept no financial responsibility to you arising from your use of Smart Village Movement Platform or the content,  In no circumstances do we accept responsibility for your use of Third Party Sites or services not limited to advertisements, links in respect of any Third Party Products. </p>
            <p style="font-weight: bold;">Limitations of content published on Smart Village Movement Platform:</p>
            <p>All content published on Smart Village Movement Platform is only for your general information and is not intended to address your particular requirements. In particular, Content created by Smart Village Movement, its syndication partners and including UGC and any other content provided by third parties  does not constitute any form of advice, recommendation, representation, endorsement or arrangement by Smart Village Movement. It is not intended to be and should not be relied upon by users in making (or refraining from making) any specific investment, purchase, sale or other decisions. Appropriate independent advice should be obtained before making any such decision, such as from a qualified financial adviser.</p>
            <p style="font-weight: bold;">What we promise:</p>
            <p>Smart Village Movement promises to develop and operate Smart Village Movement Platform with reasonable skill and care and will use reasonable efforts to promptly remedy any faults of which it is aware or made aware of.</p>
          </div>
          <br>
        </div>
        <div class="row">
          <h4 class="section-title" style="font-weight: bold; font-size:18px;">General</h4>
          <div>   
            <p>You may not license or transfer any of your rights under these terms and conditions. We may transfer any of our rights or obligations under these terms and conditions to any individual, organization or entity but if we do so we will ensure that any company/individual/entity to whom we transfer our rights or obligations will continue to honour your rights under them. Any resultant changes to the terms and conditions will be intimated to you via email and updated on this website. If any provision of these terms and conditions is found to be invalid by any court having competent jurisdiction, the invalidity of that provision will not affect the validity of the remaining provisions of these terms and conditions, which will remain in full force and effect. Failure by either party to exercise any right or remedy under these terms and conditions does not constitute a waiver of that right or remedy. Headings in these terms and conditions are for convenience only and will have no legal meaning or effect.</p>
          </div>
          <br>
        </div>
        <div class="row">
          <h4 class="section-title" style="font-weight: bold; font-size:18px;">Content ownership</h4>
          <div>   
            <p>All Content created and published on the digital platforms under the url <a href="http://platform.smartvillagemovement.org">http://platform.smartvillagemovement.org</a> belong to Smart Village Movement and its licensors who own all intellectual property rights (including copyright and database rights) No intellectual property rights in any of the content are transferred to you while you consume the content on this platform. </p>
          </div>
          <br>
        </div>
        <div class="row">
          <div>   
            <h4 class="section-title" style="font-weight: bold; font-size:18px;">Changes to Terms and Conditions and Validity</h4>
            <p>These terms and conditions were published on 19th Aug 2019 and replace with immediate effect the terms and conditions previously published.</p>
          </div>
          <br>
        </div>
      </div>
    </section>
    <!-- blog Section End -->

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="text">
                <h4 class="block-title">Register for a Free Account</h4>
                <ul class="menu">
                  <li><a href="javascript:void(0)" ng-click="tracker('trackerView')">Explore & Sign up</a></li>
                  <li><a href="http://www.smartvillagemovement.org/">Website</a></li>
                  <!-- <li><a href="#">Pricing</a></li>
                  <li><a href="#">Jobs</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h4 class="block-title">Support</h4>
                <ul class="menu">
                  <li><a href="javascript:void(0);" ng-click="landingViews('terms')">Terms & Conditions</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <!-- <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Help</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <img src="" alt="">
              <div class="textwidget">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright Start  -->
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="site-info float-left">
                  <p></p>
                </div>              
                <div class="float-right">  
                  <ul class="footer-social">
                    <!-- <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                    <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li> -->
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
      
    </footer>
    <!-- Footer Section End -->
    <!-- Go To Top Link -->
      <a href="#" class="back-to-top">
        <i class="fa fa-chevron-up"></i>
      </a> 
  </div>