
        .connecting-line {
          height: 5px;
          background: -webkit-linear-gradient(left, #040474 0%, #1CB5E0 100%) !important;
          background: linear-gradient(to right, #040474 0%, #1CB5E0 100%) !important;
          position: absolute;
          width: 55%;
          margin: 60px 0px 0px 285px;
          z-index: 0;
        }
        .circle-align{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .circle-direction {
          display: flex;
          flex-direction: column;
        }
        svg{
          fill: #1c6ae0;
        }
        .font-size-18 {
          font-size: 18px;
          color: #000000;
        }
        .font-size-30 {
          font-size: 30px;
          color: #000000
        }
        .center-element {
          display: flex;
          justify-content: center;
        }
        .card-view {
          height: 300px;
          width: 250px;
          background-color: white;
          box-shadow: 0 5px 50px 0 rgba(0,0,0,.24);
          display: -webkit-flex;
          -webkit-align-items: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
  
        .menu-bg-fixed {
          background: -webkit-linear-gradient(left, #040474 0%, #1CB5E0 100%) !important;
          background: linear-gradient(to right, #040474 0%, #1CB5E0 100%) !important;
          z-index: 9999;
          padding: 5px;
        }
  
  
        .dropdown-content, .menu-bg-fixed .dropdown-content {
          display: none;
          flex-wrap: wrap;
          position: absolute;
          background-color: #ffffff;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          color: #000000;
          height: 300px;
          padding: 0px 0px 0px 0px;
          width: 26%;
          margin-left: -15%;
          overflow-y: auto;
        }
        .dropdown-content > li{
          padding: 1px;
          display: inline-block;
          color: black;
          z-index: 999;
        }
        .menu-icon {
          height: 50px;
          width: 50px;
          margin: 20px 20px;
        }
        .menu{
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #000000;
          width: 120px;
        }
        /*.menu:hover{
          border: 1px solid #6c757d !important;
        }*/
        .dropbutton:hover .dropdown-content{
          display: flex;
        }
     