
    <style type="text/css">
      .card-footer {
        border: 1px solid #ced4da !important;
      }
      .seperation-inCards {
        border-top: 1px solid #dee2e6;
        padding:10px 0px 0px 0px;
      }
      .italic-font {
        font-style:italic;
      }
      .modal-dimension {
        height: auto;
        background-color: white;
      }
      .data-center {
        align-items: center;
      }
      .button-center {
        display:flex;
        justify-content: center;
      }
      .modal-header{
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
      }
      .folder{
        cursor: pointer;
        color: #000000;
      }
      .folder-img{
        width: 94px;
        height: 94px;
      }
      .editFolder > i {
        display: none;
      }
      .editFolder:hover >i {
        display: inline-block;
      }
    </style>
  <div class="">
    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <div style="display: flex;">
            <div class="tx-center mg-r-10">
              <a href="" class="btn btn-primary btn-block mg-b-10" ng-if="userDetails.isAdmin" data-toggle="modal" data-target="#modaldemo6" ng-click="loadSelect()"><i class="fa fa-plus"></i> Add Folder</a>
            </div>
          </div>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Folder List</li>
          </ol>
        </div><!-- slim-pageheader -->
        <div class="card-invoice">
            <div class="invoice-header">
              <div class="billed-from" style="width: 100%;">
                <div class="search-box">
                  <input type="text"  ng-model="searchString" class="form-control" style="width: 100%;"   placeholder="Search">
                  <button class="btn btn-primary" style="margin-left: auto;"><i class="fa fa-search"></i></button>
                </div>
              </div><!-- billed-from -->
            </div><!-- invoice-header -->
        </div>

        <div class="section-wrapper mg-t-20">
          <div class="row">
            <div class="col-md-2" ng-repeat="x in folderList | searchProjectFolder:searchString  track by $index"  ng-if="x.isActive == true && (x.isAccessible == 1 || userDetails.isAdmin == true || userDetails.isSuperUser == true)">
              <div class="card bd-0 folder">
                <div class="card-body tx-center">
                  <span><a href="javascript:void(0)" ng-click="projectList(x);" ><img src="assets/img/folder.png" class="folder-img" alt="folder"/></a></span>
                </div><!-- card-body -->
                <div class="tx-center editFolder">
                  <span><a style="color: #000000;">{{x.name}}</a></span>
                  <i class="icon ion-edit" ng-if="userDetails.isAdmin == true || userDetails.isSuperUser == true" ng-click="getFolderData(x.projectFolderId)"  data-toggle="modal" data-target="#modaldemo7" ></i>
                </div><!-- card-footer -->
              </div><!-- card -->
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- section-wrapper -->
      </div>
    </div>

    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->
    <div   id="modaldemo6" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
          <div class="modal-header pd-x-20">
            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Add Folder</h6>
            <button type="button" class="close" ng-click="closeDialog()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pd-0">
            <div class="row no-gutters">
              <div class="col-lg-12 bg-white">
                <div class="pd-40 modal-dimension">
                  <div class="form-layout form-layout-4">
                    <div class="row data-center pd-b-30">
                      <label class="col-sm-4 form-control-label">Folder Name<span class="tx-danger">*</span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0" ng-class="{validateError: validate.name}">
                        <input type="text" class="form-control" ng-model="project.name" placeholder="Enter Folder Name" ng-class="{error: validate.name}" maxlength="200"/>
                        <span class="tx-danger" ng-if="validate.name.require">Folder Name is required</span>
                      </div>
                    </div>
                    <div class="row data-center pd-b-30">
                      <label class="col-sm-4 form-control-label">Persona<span class="tx-danger"> </span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0" ng-class="{validateError: validate.type}">
                        <select id="type" class="form-control select2-show-search" ng-model="project.category" ng-class="{error: validate.type}" data-placeholder="Select Persona">
                          <option label="Select Persona"></option>
                          <option value="People">People</option>
                          <option value="University">University</option>
                          <option value="Startup">Startup</option>
                          <option value="Government">Government</option>
                          <option value="Corporations">Corporations</option>
                        </select>
                        <span class="tx-danger" ng-if="validate.type.require">Persona is required</span>
                      </div>
                    </div>
                  </div>
                </div>  
              </div><!-- col-6 -->
            </div><!-- row -->
          </div><!-- modal-body -->
          <div class="modal-footer  button-center">
            <button id="closeButton"class="btn btn-primary bd-0 mg-l-10" ng-click="saveFolder()">Submit </button>
            <button class="btn btn-secondary bd-0" ng-click="clear()">Clear</button>
          </div>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div>
    <div id="modaldemo7" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
          <div class="modal-header pd-x-20">
            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Edit Folder</h6>
            <button type="button" class="close" ng-click="closeDialogEditFolder()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pd-0">
            <div class="row no-gutters">
              <div class="col-lg-12 bg-white">
                <div class="pd-40 modal-dimension">
                  <div class="form-layout form-layout-4">
                    <div class="row data-center pd-b-30">
                      <label class="col-sm-4 form-control-label">Folder Name<span class="tx-danger">*</span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0" ng-class="{validateError: validate.name}">
                        <input type="text" class="form-control" ng-model="folder.name" placeholder="Enter Folder Name" ng-class="{error: validate.name}" maxlength="200"/>
                        <span class="tx-danger" ng-if="validate.name.require">Folder Name is required</span>
                      </div>
                    </div>
                    <div class="row data-center pd-b-30">
                      <label class="col-sm-4 form-control-label">Persona<span class="tx-danger"> </span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <select id="type" class="form-control select2-show-search" ng-model="folder.category" data-placeholder="Select Persona">
                          <option label="Select Persona"></option>
                          <option value="People">People</option>
                          <option value="University">University</option>
                          <option value="Startup">Startup</option>
                          <option value="Government">Government</option>
                          <option value="Corporations">Corporations</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>  
              </div><!-- col-6 -->
            </div><!-- row -->
          </div><!-- modal-body -->
          <div class="modal-footer  button-center">
            <button id="closeButton"class="btn btn-primary bd-0 mg-l-10" ng-click="editFolderData(folder)">Submit </button>
            <button class="btn btn-secondary bd-0" ng-click="clearEditFolder()">Clear</button>
          </div>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div>
</div>
 

