<style type="text/css">
  .m-top-135 {
    margin-top: 135px;
  }
  .fa, .icon{
    cursor: pointer;
  }

  .card.pd-30 {
    max-height: 750px;
    margin-top: 35px;
    overflow-y: scroll;
  }

  .editable {
    background: #ffffff;
    margin-bottom: 5px;
  }

  .bd-b {
    border-bottom: 1px solid #dee2e6;
  }

  .participant-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 5px;
    justify-content: center;
    position: relative;
    max-height: 300px;
    overflow-y: auto;
  }

  .participant-list>div {
    margin: 10px;
    padding: 5px;
  }
  .participant-list>div>div.hoveredPopup{
    position: absolute;
    margin-left: -15px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #0883c5;
    max-width: 200px;
    z-index: 1;
  }
  .participant-list>div>div.userLogo{
    cursor: pointer;
    position: relative;
    text-align: center;
    width: 50px;
    margin: 0px auto;
  }
  .participant-list>div>div.userLogo>img {
    width: 50px;
    height: 50px;
    padding: 3px;
    border-radius: 100%;
  }

  .participant-list>div>div.userLogo>.square-10 {
    border: 2px solid #e9ecef;
    border-radius: 100%;
    position: absolute;
    bottom: 0px;
    right: 4px;
  }
  .participant-list>div>div.hoveredPopup>div.userName{
    text-align: center;
    background-color: #0883c5;
    color: #ffffff;
    border-bottom: 2px solid #0883c5;
    padding: 10px;
  }
 .participant-list>div>div.hoveredPopup>div.displayRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
    padding: 10px;
    min-width: 75px;
  }

 .participant-list>div>div.hoveredPopup>div.displayRow>i{
    font-size: 20px;
    color: #0883c5;
    cursor: pointer;
  }

  .messageReply {
    display: inline-block;
    min-height: 32px;
    height: 32px;
    width: calc(100% - 60px);
    outline: -webkit-focus-ring-color auto 5px; 
    margin: 10px 2px
  }

  #messageReplySubmit {
    color: #1b84e7;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    margin: 5px;
  }
  .bg-gray-600 {
    background: #f8f9fa!important;
  }
  .displayRow {
    display: flex;
    flex-direction: row;
  }
  .mg-b--10{
    margin-bottom: -10px !important;
  }
  .replies{
    max-height: 300px !important;
    overflow: auto;
  }
</style>


<div class="">
  <div class="slim-mainpanel m-top-135">
    <div class="container">
      <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
        </ol>
        <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path == null || path == ''">
          <li class="breadcrumb-item">
            <a href="">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0)" ng-click="changeView({}, 'discussion')">Discussions</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{viewDetails.data.discussionName}}</li>
        </ol>
        <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path.pathName == 'Challenges'">
          <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);" ng-click="setView('challengeView')">Challenges</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);" ng-click="setView('editChallengeView')">{{path.challengeName}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Discussions</li>
        </ol>
        <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path.pathName == 'Solutions'">
          <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);" ng-click="setView('solutionView')">Technologies</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);" ng-click="setView('editSolutionView')">{{ path.solutionName }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Discussions</li>
        </ol>
        <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path.pathName == 'Projects'">
          <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);" ng-click="setView('projectView')">Projects</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);" ng-click="setView('projectListView')">{{ path.folderName }}</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0);" ng-click="setView('projectDataView')">{{ path.projectName }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Discussions</li>
        </ol>
        <ol class="slim-pagetitle breadcrumb slim-breadcrumb" ng-if="path == 'Settings'">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)" ng-click="setView('settingsView')">{{path}}</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)" class="tx-inverse">Discussions</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{viewDetails.data.discussionName}}</li>
        </ol>
      </div>
      <!-- slim-pageheader -->
      <div class="mg-b-20">
        Description : {{viewDetails.data.body}}
      </div>
     
      <div class="row row-sm row-timeline">
        <div class="col-lg-9">
          <!-- card -->

          <p class="margin-none">Add a topic and comment :</p>
          <div class="editable tx-16 bd pd-10 tx-inverse bg-gray-600" id="title" data-placeholder="Title for new topic "></div>
          <div class="editable tx-16 bd pd-30 tx-inverse" id="comment" data-placeholder="Comment here"></div>
          <div class="col-sm-3 col-md-3 mg-t-20 mg-sm-t-0 pull-right">
            <div class="btn-demo">
              <button class="btn btn-primary btn-block mg-b-10" ng-click="addComment()">
                <i class="fa fa-send"></i> Submit</button>
            </div>
            <!-- btn-demo -->
          </div>
          <br>

          <div class="mg-t-40" ng-if="thread.message.length">
            <div class="col-lg-12 pd-20 card mg-t-20" ng-repeat="messageItem in thread.message track by $index" >
              <div class="pd-10 bd-b">
                  <div ng-bind-html='toTrustedHTML( messageItem.title )' class="tx-inverse mg-b-0 tx-18"></div>
                <div class="mg-b-0 displayRow">
                  <p class="mg-b-0 mg-l-10 tx-inverse">Posted On: <span class="tx-gray-600">{{messageItem.createdDate}}</span></p>
                  <p class="mg-b-0 mg-l-10 tx-inverse">Posted By: <a href="javascript:void(0)" ng-click="viewProfile(messageItem.postedBy.userId,viewDetails.data.discussionName,viewDetails.data.discussionId)">{{ messageItem.postedBy.userName }} </a></p>
                  <p class="tx-12 mg-b-0 mg-l-40">
                    <a href="javascript:void(0)" ng-click="">
                      <i class="fa fa-thumbs-up" ng-class="{'tx-danger': isActivated(messageItem.upvotes)}" aria-hidden="true" style="font-size: 18px;" ng-click="voted(messageItem, 'upVotes')"></i> {{messageItem.upvotes.length}}
                    </a> &nbsp;&nbsp;
                    <a href="javascript:void(0)" ng-click="">
                      <i class="fa fa-thumbs-down" ng-class="{'tx-danger': isActivated(messageItem.downvotes)}" aria-hidden="true" style="font-size: 18px;" ng-click="voted(messageItem, 'downVotes')"></i> {{messageItem.downvotes.length}}
                    </a> &nbsp;&nbsp;
                  </p>
                </div>
              </div>
              <div class="replies pd-10 mg-l-30">
                <div ng-bind-html='toTrustedHTML( messageItem.message )' class="tx-inverse mg-b--10"></div>
                <a href="javascript:void(0)" ng-click="showReplyBox(messageItem)" class="tx-13 mg-b-10">Reply</a>
                <div class="tx-12 mg-b-0" style="margin-left: 20px;margin-top:8px;" ng-repeat="msgReply in messageItem.replies">
                  <div style="font-size:14px;" ng-bind-html='toTrustedHTML( msgReply.message )'></div>
                  <a href="javascript:void(0)" ng-click="viewProfile(msgReply.repliedBy.userId,viewDetails.data.discussionName,viewDetails.data.discussionId)">{{msgReply.repliedBy.userName}} </a> 
                   <span>&nbsp;To&nbsp;</span> 
                  <a href="javascript:void(0)" ng-click="viewProfile(msgReply.repliedTo.uId,viewDetails.data.discussionId)">{{msgReply.repliedTo.userName}}</a> 
                  <span class="mg-l-10 tx-11"> {{ msgReply.createdDate | convertToTimeHours }}  </span>
                    &nbsp;&nbsp;
                    <br>
                   <a href="javascript:void(0)" ng-click="showReplyBox(messageItem, msgReply.repliedBy)">Reply</a>
               </div>
               <div class="search-box mg-l-15 mg-t-10" ng-if="messageItem.showReplyBox">
                  <textarea id="replyTo" class="form-control" style="width: 100%;height:40px;" placeholder="Type your reply" ng-model="messageItem.reply"></textarea>
                  <button class="btn btn-primary" style="margin-left: auto;" ng-click="replyTo(thread, messageItem)"><i class="fa fa-send tx-white"></i></button>
               </div>
                <!-- <p class="replyEditor" ng-if="messageItem.showReplyBox">
                 <input class="messageReply" ng-model="messageItem.reply" />
                 <div class="editable tx-16 bd tx-inverse messageReply" id="messageReply{{message.messageId}}" data-placeholder="Reply to comment"></div>
                 <i class="fa fa-send" id="messageReplySubmit" ng-click="replyTo(thread, messageItem)"></i>
                </p>  -->
              </div>
            </div>
          </div>
        </div><!-- col-9 -->
        <div class="col-lg-3 mg-t-20 mg-lg-t-0">
          <div class="">
            <h6 class="slim-pagetitle">Participants</h6>

            <div class="">
              <div class="participant-list">
                <div ng-repeat="user in thread.participantIds" ng-mouseleave="user.isHovered = false">
                  <div class="userLogo" ng-mouseover="user.isHovered = true">
                      <img ng-if="!user.logo" src="assets/img/user.png"/>
                      <img ng-src="{{user.logo}}" alt="" ng-if="user.logo"/>
                      <span class="square-10" ng-class="{'bg-success': user.isOnline, 'bg-gray-600': !user.isOnline}"></span>
                  </div>
                  <div ng-if="user.isHovered" class="hoveredPopup">
                      <div class="userName">{{user.userName | uppercase}}</div>
                      <div class="displayRow">
                        <i class="fa fa-id-badge"></i>
                        <i class="icon ion-ios-chatboxes" ng-if="userDetails.userId != user.userId" ng-click="getUserChat('userMessageView', user)"></i>
                      </div>
                  </div>
                  <!-- <div class="displayRow">
                      <i class="fa fa-id-badge"></i>
                      <i class="icon ion-ios-chatboxes"></i>
                  </div> -->
                </div>
              </div>
            </div>
            <!-- messages-list -->
          </div>
          <!-- messages-left -->
        </div>
        <!-- col-3 -->
      </div><!-- row -->
    </div>
  </div>
  <!-- container -->
  <div class="slim-footer">
    <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
  </div><!-- slim-footer -->
</div>
<!-- slim-mainpanel -->

<script type="text/javascript">
    $(function(){
        'use strict';
    });
    var editor;
    editor = {
      title: new MediumEditor('#title'),
      comment: new MediumEditor('#comment')
    };

</script>