
  <style type="text/css">
    .card-footer {
      border: 1px solid #ced4da !important;
    }
    .margin-bottom-30 {
      margin:0px 0px 30px 0px;
    }
    .seperation-inCards {
      border-top: 1px solid #dee2e6;
      padding:10px 0px 0px 0px;
    }
    .padding-bottom-10 {
      padding: 0px 0px 10px 0px;
    }
    .italic-font {
      font-style:italic;
    }
    .modal-dimension {
      height: auto;
      background-color: white;
    }
    .data-center {
      align-items: center;
    }
    .button-center {
      display:flex;
      justify-content: center;
    }
    .modal-header{
      border-top-left-radius: 0rem;
      border-top-right-radius: 0rem;
    }
    .ellipsis{
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 250px;
    }
    .btn-outline-gray{
      border-color: #adb5bd !important;
    }
    .tab-content > .active {
      display: flex !important;
    }
    .tab-pane {
      flex-direction: row;
      justify-content: space-between;
    }
    .card .list-group{
      height: 280px;
      overflow-y: auto;
      width: 48%;
    }
    .card-body-headers {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color: #0000bd;
    }
  </style>

  <div class="" ng-if="viewDetails.view == 'discussion'">
    <div class="slim-mainpanel">
      <div class="container">

        <div class="slim-pageheader">
          <div style="display: flex;">
            <div class="tx-center mg-r-10">
              <a href="" class="btn btn-primary btn-block mg-b-10" data-toggle="modal" data-target="#modaldemo6" ><i class="fa fa-plus"></i> New Discussion</a>
            </div><!-- tx-center -->
          </div>
          <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Discussions</li>
          </ol>
        </div><!-- slim-pageheader -->

        <div class="card-invoice">
          <div class="invoice-header">
            <div class="billed-from" style="width: 100%;">
              <div class="search-box">
                <input type="text" class="form-control" style="width: 100%;" placeholder="Search by Discussion name" ng-model="searchDiscussion">
                <button class="btn btn-primary" style="margin-left: auto;"><i class="fa fa-search"></i></button>
              </div>
            </div><!-- billed-from -->
          </div><!-- invoice-header -->
        </div><!-- invoice-header -->

        <div class="section-wrapper mg-t-20">
          <label class="section-title">Discussions</label>
          <div class="row">
            <div class="col-md">
              <div class="card">
                <div class="card-header bg-grandeur">
                  <ul class="nav nav-tabs nav-tabs-for-dark card-header-tabs">
                    <li class="nav-item" ng-repeat="tab in tabs">
                      <a class="nav-link bd-0" ng-class="{'active': $index == 0}" href="#{{tab}}" data-toggle="tab">
                        <span ng-if="tab !='Solutions'">{{tab}}</span>
                        <span ng-if="tab =='Solutions'">Technologies</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <!-- <div class="card-body-headers">
                      <h4>Full List</h4>
                      <h4 style="color: #dc3545;">Favourite List</h4>
                  </div> -->
                  <div class="tab-content">
                    <div class="tab-pane"  ng-class="{'active': $index == 0}" ng-repeat="tab in tabs" id="{{tab}}">
                      <div class="row" style="overflow-x: auto;">
                        <div class="col-lg-12">
                          <div class="card-columns column-count-2">
                            <div class="card card-table">
                              <div class="card-header bg-crystal-clear">
                                <h6 class="slim-card-title icon ion-heart tx-white"> Following Discussions</h6>
                              </div><!-- card-header -->
                              <div class="table-responsive">
                                <table class="table mg-b-0 tx-12">
                                  <thead>
                                    <tr class="tx-10">
                                      <th class="wd-10p pd-y-5">&nbsp;</th>
                                      <th class="pd-y-5">Discussion Name</th>
                                      <th class="pd-y-5">Description</th>
                                      <!-- <th class="pd-y-5">Category</th> -->
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="discussion in discussionData[tab] | filter: {discussionName: searchDiscussion}" ng-if="discussion.isFollowing && discussion.isActive == true">
                                      <td class="pd-l-20">
                                        <img src="http://via.placeholder.com/500x500" class="wd-40 rounded-circle" alt="Image">
                                      </td>
                                      <td>
                                        <div style="display: flex;flex-direction: row;">
                                          <a href="javascript:void(0)" class="tx-primary tx-14 tx-medium d-block" ng-click="changeView(discussion, 'discussionThread')">{{discussion.discussionName}}</a>
                                          <a href="javascript:void(0)" ng-if="discussion.isFollowing" ng-click="follow(discussion)" title="Following" class="tx-15 tx-danger mg-l-5">
                                            <i class="icon ion-heart tx-danger"></i>
                                          </a>
                                        </div>
                                        <div class="tx-11" ng-if="discussion.location">
                                          <span class="ion-ios-location"> {{discussion.location}}</span>
                                        </div>
                                        <div class="tx-11" >
                                            <span class="tx-11">Followed by: {{discussion.following.length}} People</span>
                                        </div>
                                      </td>
                                      <td class="tx-13">
                                        <p class="ellipsis">{{discussion.body}}</p>
                                        <!-- <button class="btn btn-teal active btn-sm btn-block mg-b-10" ng-if="!discussion.participantIds.includes(userDetails.userId)" ng-click="changeView(discussion, 'discussionThread')"><i class="icon ion-log-in mg-r-5"></i>Goto Discussion</button> -->
                                      </td>
                                    </tr>                                
                                  </tbody>
                                </table>
                              </div><!-- table-responsive -->
                            </div>
                            <div class="card card-table">
                              <div class="card-header bg-crystal-clear">
                                <h6 class="slim-card-title icon ion-planet tx-white"> All Discussions</h6>
                              </div><!-- card-header -->
                              <div class="table-responsive">
                                <table class="table mg-b-0 tx-12">
                                  <thead>
                                    <tr class="tx-10">
                                      <th class="wd-10p pd-y-5">&nbsp;</th>
                                      <th class="pd-y-5">Discussion Name</th>
                                      <th class="pd-y-5">Description</th>
                                      <!-- <th class="pd-y-5">Category</th> -->
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="discussion in discussionData[tab] | filter: {discussionName: searchDiscussion}" ng-if="!discussion.isFollowing && discussion.isActive == true">
                                      <td class="pd-l-20">
                                        <img src="http://via.placeholder.com/500x500" class="wd-50 rounded-circle" alt="Image">
                                      </td>
                                      <td>
                                        <div style="display: flex;flex-direction: row;">
                                          <a href="javascript:void(0)" class="tx-primary tx-14 tx-medium d-block" ng-click="changeView(discussion, 'discussionThread')">{{discussion.discussionName}}</a>
                                          <a href="javascript:void(0)" ng-click="follow(discussion)" title="Following" class="tx-15 tx-danger mg-l-5">
                                            <i class="icon ion-heart tx-gray-500"></i>
                                          </a>
                                        </div>
                                        <div class="tx-11" ng-if="discussion.location">
                                          <span class="ion-ios-location"> {{discussion.location}}</span>
                                        </div>
                                        <div class="tx-11" >
                                            <span class="tx-11">Followed by: {{discussion.following.length}} People</span>
                                        </div>
                                      </td>
                                      <td class="tx-13">
                                        <p class="ellipsis">{{discussion.body}}</p>
                                        <!-- <button class="btn btn-teal active btn-sm btn-block mg-b-10" ng-if="!discussion.participantIds.includes(userDetails.userId)" ng-click="changeView(discussion, 'discussionThread')"><i class="icon ion-log-in mg-r-5"></i>Goto Discussion</button> -->
                                      </td>
                                    </tr>                                
                                  </tbody>
                                </table>
                              </div><!-- table-responsive -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="slim-footer">
      <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
    </div><!-- slim-footer -->

    <!-- MODAL GRID -->
    <div id="modaldemo6" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
          <div class="modal-header pd-x-20">
            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Add Discussion - General </h6>
            <button type="button" class="close" aria-label="Close" ng-click="closeDialog()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pd-0">
            <div class="row no-gutters">
              <div class="col-lg-12 bg-white">
                <div class="pd-40 modal-dimension">
                  <div class="form-layout form-layout-4">
                    <div class="row data-center pd-b-20" ng-class="{validateError: validate.discussionName}">
                      <label class="col-sm-4 form-control-label">Discussion Title<span class="tx-danger">*</span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <input type="text" class="form-control" ng-model="userDiscussions.discussionName" placeholder="Enter Discussion Title Here" ng-class="{error: validate.discussionName}">
                        <span class="tx-danger" ng-if="validate.discussionName.require">Discussion Title is required</span>
                      </div>
                    </div>
                    <div class="row data-center pd-b-20" ng-class="{validateError: validate.body}">
                      <label class="col-sm-4 form-control-label">Description<span class="tx-danger">* </span>:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <textarea class="form-control" ng-model="userDiscussions.body" placeholder="" ng-class="{error: validate.body}"></textarea>
                        <span class="tx-danger" ng-if="validate.body.require">Description is required</span>
                      </div>
                    </div>
                    <div class="row data-center pd-b-20">
                      <label class="col-sm-4 form-control-label">Location:</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <input type="text" class="form-control"  ng-model="userDiscussions.location" placeholder="Enter Location">
                      </div>
                    </div>
                    <div class="row data-center pd-b-20">
                      <label class="col-sm-4 form-control-label">KeyWord<span class="tx-danger"></span> :</label>
                      <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        <input type="text" class="form-control"  ng-model="userDiscussions.keyword" placeholder="Enter KeyWord">
                      </div>
                    </div>
                  </div>  
                </div>
              </div><!-- col-6 -->
            </div><!-- row -->
          </div><!-- modal-body -->
          <div class="modal-footer" style="justify-content: center;">
            <button type="button" class="btn btn-primary" ng-click="addDiscussion(userDiscussions)">Save </button>
            <button type="button" class="btn btn-secondary" ng-click="clear()">Clear</button>
          </div>
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div>
    <script>
      $(function(){
        'use script';

        $('.messages-list .media').on('click', function(e) {
          e.preventDefault();
          if (window.matchMedia("(max-width: 991px)").matches) {
            $('.messages-left').fadeOut();
            $('.messages-right').fadeIn();
          }
        });

        $('.message-back').on('click', function(e) {
          e.preventDefault();
          if (window.matchMedia("(max-width: 991px)").matches) {
            $('.messages-right').fadeOut();
            $('.messages-left').fadeIn();
          }
        });

        $(window).resize(function(){
          if (window.matchMedia("(min-width: 992px)").matches) {
            $('.messages-right').show();
            $('.messages-left').show();
          }
        });
        $('.select2').select2({
          minimumResultsForSearch: Infinity
        });

        // Select2 by showing the search
        $('.select2-show-search').select2({
          minimumResultsForSearch: ''
        });

        $('#category').select2({
            dropdownParent: $('#modaldemo6')
        });

      });
    </script>
  </div>
  <div ng-if="viewDetails.view == 'discussionThread'">
    <div ng-include="'./directives/mainPage/mainBody/discussions/challenges-discussions.html'"></div>
  </div>
