<style type="text/css">
  .italic-font {
    font-style:italic;
  }
  .modal-dimension {
    height: 450px;
    width: 500px;
    background-color: white;
    overflow-y:scroll;
  }
  .modal-header{
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
  }
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ellipsis2{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    display: inline-block;
  }
  tbody>tr>td>img {
  	max-height: 35px !important;
  }
  td {
    vertical-align: middle !important;
  }
  th {
    cursor: pointer;
  }
  .ion-star {
  	cursor: not-allowed;
  }
  .card-table {
  	max-height: 450px;
  }
  .dropdown-item{
    padding: 0.25rem 0.9rem !important;
  }
  .dropdown-item:hover{
    background-color: #1b84e7;
    color: #fff; 
  }
</style>
<div class="">
	<div class="slim-mainpanel">
		<div class="container">
			<div class="slim-pageheader">
		        <div style="display: flex;">
		          <div class="tx-center mg-r-10 mg-l-10">
		          </div><!-- tx-center -->
		        </div>
		        <ol class="slim-pagetitle breadcrumb slim-breadcrumb">
		          <li class="breadcrumb-item"><a href="">Home</a></li>
		          <li class="breadcrumb-item active" aria-current="page">Settings</li>
		        </ol>
		    </div><!-- slim-pageheader -->
		    <a id="managerNavicon"  href="javascript:void(0)" class="contact-navicon"><i class="icon ion-navicon-round"></i></a>	
		    <div class="manager-wrapper">
		    	<div class="manager-right">
		    		<div class="usersTable" ng-if="view == 'users'">
			    		<div class="billed-from" style="display: flex;width: 100%;">
				            <div class="search-box" style="width: 100%">
				              <input type="text" class="form-control" id="search" style="width: 100%;" placeholder="Search Users" ng-model="searchUsers">
				              <button class="btn btn-primary"><i class="fa fa-search"></i></button>
				            </div>
				        </div><!-- billed-from -->
				        <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Admin Users</label>
							<div class="card card-table">
								<div class="table-responsive">
								  <table class="table mg-b-0 tx-12" id="adminUsersTable">
								    <thead>
								      <tr class="tx-10">
								      	<!-- <th class="wd-2p pd-y-5">&nbsp;</th> -->
								        <th class="wd-5p pd-y-5">&nbsp;</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>F.Name</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>L.Name</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Email</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Persona</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
								        <th>Status</th>
								        <th>Actions</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr class="item" ng-repeat="x in adminsList | searchUser:searchUsers track by $index" ng-if="x.status == 'Active' && x.isSuperUser == false">
								      	<!-- <td>
								      		<input type="checkbox" name="selectUser" mg-model="selectUser "ng-click="selectUser()"/>
								      	</td> -->
								        <td class="pd-l-20">
								          <img src="http://via.placeholder.com/500x500"  ng-if="!x.logo" class="wd-35 rounded-circle" alt="Image">
								          <img src="{{x.logo}}" ng-if="x.logo" class="wd-35 rounded-circle" alt="Image">
								        </td>
								        <td class="tx-13">
								        	<a href ng-click="viewProfile(x.userId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.firstName}}">{{x.firstName}}</a>
								        </td>
								        <td class="tx-13">
								        	<a href ng-click="viewProfile(x.userId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.lastName}}">{{x.lastName}}</a>			          
								        </td>
								        <td class="tx-13">
								          {{x.email}}
								        </td>
								        <td class="tx-13">
								          {{x.type}}
								        </td>
								        <td class="tx-13" title="{{x.areaOfInterest.join(',')}}">
								          <span class="ellipsis2">{{x.areaOfInterest.join(",")}}</span>
								        </td>
								        <td class="tx-13">
								        	<span class="square-8 bg-success mg-r-5 rounded-circle"></span>Active
								        </td>
								        <td class="tx-13">
								        	<div class="btn-group" role="group" aria-label="Basic example">
								               <a href="mailto:{{x.email}}" class="btn btn-secondary"><i class="fa fa-envelope"></i></a>
								                <div class="dropdown">
									                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></button>
									                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									                  <a class="dropdown-item" href="javascript:void(0)" ng-click="removeAdmin(x.userId)"><i class="fa fa-user-secret mg-r-5"></i> Remove Admin</a>
									                </div><!-- dropdown-menu -->
									            </div><!-- dropdown -->
								            </div>
								        </td>
								      </tr>                    
								    </tbody>
								  </table>
								</div><!-- table-responsive -->
							</div><!-- card -->
			            </div>
				        <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Active Users</label>
							<div class="card card-table">
								<div class="table-responsive">
								  <table class="table mg-b-0 tx-12" id="allUsersTable">
								    <thead>
								      <tr class="tx-10">
								      	<!-- <th class="wd-2p pd-y-5">&nbsp;</th> -->
								        <th class="wd-5p pd-y-5">&nbsp;</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>F.Name</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>L.Name</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Email</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Persona</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#allUsersTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
								        <th>Status</th>
								        <th>Actions</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr class="item" ng-repeat="x in usersList | searchUser:searchUsers track by $index" ng-if="x.status == 'Active' && x.isSuperUser == false">
								      	<!-- <td>
								      		<input type="checkbox" name="selectUser" mg-model="selectUser "ng-click="selectUser()"/>
								      	</td> -->
								        <td class="pd-l-20">
								          <img src="http://via.placeholder.com/500x500"  ng-if="!x.logo" class="wd-35 rounded-circle" alt="Image">
								          <img src="{{x.logo}}" ng-if="x.logo" class="wd-35 rounded-circle" alt="Image">
								        </td>
								        <td class="tx-13">
								        	<a href ng-click="viewProfile(x.userId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.firstName}}">{{x.firstName}}</a>
								        </td>
								        <td class="tx-13">
								        	<a href ng-click="viewProfile(x.userId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.lastName}}">{{x.lastName}}</a>			          
								        </td>
								        <td class="tx-13">
								          {{x.email}}
								        </td>
								        <td class="tx-13">
								          {{x.type}}
								        </td>
								        <td class="tx-13" title="{{x.areaOfInterest.join(',')}}">
								          <span class="ellipsis2">{{x.areaOfInterest.join(",")}}</span>
								        </td>
								        <td class="tx-13">
								        	<span class="square-8 bg-success mg-r-5 rounded-circle"></span>Active
								        </td>
								        <td class="tx-13">
								        	<div class="btn-group" role="group" aria-label="Basic example">
								                <button type="button" class="btn btn-secondary active" ng-click="deleteUser(x.userId)"><i class="fa fa-trash-o"></i></button>
								                <a href="mailto:{{x.email}}" class="btn btn-secondary"><i class="fa fa-envelope"></i></a>
								                <div class="dropdown">
									                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></button>
									                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									                  <a class="dropdown-item" href="javascript:void(0)" ng-click="makeAdmin(x.userId)"><i class="fa fa-user-secret mg-r-5"></i> Make Admin</a>
									                </div><!-- dropdown-menu -->
									            </div><!-- dropdown -->
								            </div>
								        </td>
								      </tr>                    
								    </tbody>
								  </table>
								</div><!-- table-responsive -->
							</div><!-- card -->
			            </div>
			            <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Archived Users</label>
							<div class="card card-table">
								<div class="table-responsive">
								  <table class="table mg-b-0 tx-12" id="archivedUsersTable">
								    <thead>
								      <tr class="tx-10">
								      	<!-- <th class="wd-2p pd-y-5">&nbsp;</th> -->
								        <th class="wd-5p pd-y-5">&nbsp;</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#archivedUsersTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>F.Name</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#archivedUsersTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>L.Name</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#archivedUsersTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Email</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#archivedUsersTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Persona</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#archivedUsersTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
								        <th>Status</th>
								        <th>Actions</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr class="item" ng-repeat="x in usersList | searchUser:searchUsers track by $index" ng-if="x.status == 'Inactive' && x.isSuperUser == false">
								      	<!-- <td>
								      		<input type="checkbox" name="deselectUser" mg-model="deselectUser" ng-click="deselectUser()"/>
								      	</td> -->
								        <td class="pd-l-20">
								          <img src="http://via.placeholder.com/500x500"  ng-if="!x.logo" class="wd-35 rounded-circle" alt="Image">
								          <img src="{{x.logo}}" ng-if="x.logo" class="wd-35 rounded-circle" alt="Image">
								        </td>
								        <td class="tx-13">
								        	<a href ng-click="viewProfile(x.userId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.firstName}}">{{x.firstName}}</a>
								        </td>
								        <td class="tx-13">
								        	<a href ng-click="viewProfile(x.userId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.lastName}}">{{x.lastName}}</a>			          
								        </td>
								        <td class="tx-13">
								          {{x.email}}
								        </td>
								        <td class="tx-13">
								          {{x.type}}
								        </td>
								        <td class="tx-13" title="{{x.areaOfInterest.join(',')}}">
								          <span class="ellipsis2">{{x.areaOfInterest.join(",")}}</span>
								        </td>
								        <td class="tx-13">
								        	<span class="square-8 bg-danger mg-r-5 rounded-circle"></span>In-Active
								        </td>
								        <td class="tx-13">
								        	<div class="btn-group" role="group" aria-label="Basic example">
								        		<a href="mailto:{{x.email}}" class="btn btn-secondary"><i class="fa fa-envelope"></i></a>
								                <button type="button" class="btn btn-secondary active" ng-click="addUser(x.userId)"><i class="fa fa-plus"></i></button>
								            </div>
								        </td>
								      </tr>                    
								    </tbody>
								  </table>
								</div><!-- table-responsive -->
							</div><!-- card -->
			            </div>
				    </div>
				    <div class="challengesTable" ng-if="view == 'challenges'">
			    		<div class="billed-from" style="display: flex;width: 100%;">
				            <div class="search-box" style="width: 100%">
				              <input type="text" class="form-control" id="search" style="width: 100%;" placeholder="Search Challenges" ng-model="searchChallenges">
				              <button class="btn btn-primary"><i class="fa fa-search"></i></button>
				            </div>
				        </div><!-- billed-from -->
				        <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Active Challenges</label>
							<div class="card card-table">
								<div class="table-responsive">
								  <table class="table mg-b-0 tx-12" id="activeChallengeTable">
								    <thead>
								      <tr class="tx-10 bg-royal">
								      	<!-- <th class="wd-2p pd-y-5">&nbsp;</th> -->
								        <th class="wd-5p pd-y-5">&nbsp;</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#activeChallengeTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#activeChallengeTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Challenge Name</th>
								        <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#activeChallengeTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Short Desc.</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#activeChallengeTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>State</th>
								        <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#activeChallengeTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Key Words</th>
								        <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#activeChallengeTable', '.item', 'td:nth-child(7)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Rating</th>
								        <th>Status</th>
								        <th>Actions</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr class="item" ng-repeat="x in challengesList | searchChallenge:searchChallenges track by $index" ng-if="x.isActive == true">
								      	<!-- <td>
								      		<input type="checkbox" name="selectChallenge" mg-model="selectChallenge "ng-click="selectChallenge()"/>
								      	</td> -->
								        <td class="pd-l-20">
								          <img src="assets/img/Agriculture.png" ng-if="x.sector == 'Agriculture'" class="wd-35" alt="Image"/>
								          <img src="assets/img/Healthcare.png" ng-if="x.sector == 'Healthcare'" class="wd-35" alt="Image"/>
								          <img src="assets/img/Transportation.png" ng-if="x.sector == 'Transportation'" class="wd-35" alt="Image"/>
								          <img src="assets/img/Water & Sanitation.png" ng-if="x.sector == 'Water & Sanitation'" class="wd-35" alt="Image"/>
								          <img src="assets/img/Connectivity.png" ng-if="x.sector == 'Connectivity'" class="wd-35" alt="Image"/>
								          <img src="assets/img/Education.png" ng-if="x.sector == 'Education'" class="wd-35" alt="Image"/>
								          <img src="assets/img/Energy.png"ng-if="x.sector == 'Energy'" class="wd-35" alt="Image"/>
								          <img src="assets/img/Livelihood.png" ng-if="x.sector == 'Livelihood'" class="wd-35" alt="Image"/>
								        </td>
								        <td class="tx-13" title="{{x.sector}}">
								          {{x.sector}}
								        </td>
								        <td>
								          <div style="display: flex;flex-direction: row;">
								            <a href ng-click="viewChallenge(x.challengeId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.title}}">{{x.title}}</a>
								          </div>
								        </td>
								        <td class="tx-13" title="{{x.description}}">
								          <span class="ellipsis2">{{x.description}}</span>
								        </td>
								        <td class="tx-13">
								          {{x.location}}
								        </td>
								        <td class="tx-13" title="{{x.keyword.join(',')}}">
								          <span class="ellipsis2">{{x.keyword.join(",")}}</span>
								        </td>
								        <td class="tx-13">
								          <span ng-repeat="i in getNumber(number) track by $index">
								            <a href ng-if="$index+1<=x.avgRating" class="tx-warning" disabled><i class="icon ion-star"></i></a>
								            <a href ng-if="$index+1>x.avgRating" class="tx-gray-500" disabled><i class="icon ion-star"></i></a>
								          </span>
								          <p>
								            {{x.avgRating}} out of 5
								            <a href="">
								              <span> ({{x.totalRating}} Ratings)</span>
								            </a>
								          </p>
								        </td>
								        <td class="tx-13">
								        	<span class="square-8 bg-success mg-r-5 rounded-circle"></span>Active
								        </td>
										<td class="tx-13">
								        	<div class="btn-group" role="group" aria-label="Basic example">
								                <button type="button" class="btn btn-secondary active" ng-click="deleteChallenge(x)"><i class="fa fa-trash-o"></i></button>
								            </div>
								        </td>
								      </tr>                      
								    </tbody>
								  </table>
								</div><!-- table-responsive -->
							</div><!-- card -->
			            </div>
			            <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Archived Challenges</label>
							<div class="card card-table">
								<div class="table-responsive">
								  <table class="table mg-b-0 tx-12" id="ArchivedChallengeTable">
								    <thead>
								      <tr class="tx-10 bg-royal">
								      	<!-- <th class="wd-2p pd-y-5">&nbsp;</th> -->
								        <th class="wd-5p pd-y-5">&nbsp;</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#ArchivedChallengeTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#ArchivedChallengeTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Challenge Name</th>
								        <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#ArchivedChallengeTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Short Desc.</th>
								        <th class="pd-y-5" onclick="w3.sortHTML('#ArchivedChallengeTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>State</th>
								        <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#ArchivedChallengeTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Key Words</th>
								        <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#ArchivedChallengeTable', '.item', 'td:nth-child(7)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Rating</th>
								        <th>Status</th>
								        <th>Actions</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr class="item" ng-repeat="x in challengesList | searchChallenge:searchChallenges track by $index" ng-if="x.isActive == false">
								      	<!-- <td>
								      		<input type="checkbox" name="deselectChallenge" mg-model="deselectChallenge "ng-click="deselectChallenge()"/>
								      	</td> -->
								        <td class="pd-l-20">
								          <img src="assets/img/Agriculture.png" ng-if="x.sector == 'Agriculture'" class="wd-35" alt="Image"/>
								          <img src="assets/img/Healthcare.png" ng-if="x.sector == 'Healthcare'" class="wd-35" alt="Image"/>
								          <img src="assets/img/Transportation.png" ng-if="x.sector == 'Transportation'" class="wd-35" alt="Image"/>
								          <img src="assets/img/Water & Sanitation.png" ng-if="x.sector == 'Water & Sanitation'" class="wd-35" alt="Image"/>
								          <img src="assets/img/Connectivity.png" ng-if="x.sector == 'Connectivity'" class="wd-35" alt="Image"/>
								          <img src="assets/img/Education.png" ng-if="x.sector == 'Education'" class="wd-35" alt="Image"/>
								          <img src="assets/img/Energy.png"ng-if="x.sector == 'Energy'" class="wd-35" alt="Image"/>
								          <img src="assets/img/Livelihood.png" ng-if="x.sector == 'Livelihood'" class="wd-35" alt="Image"/>
								        </td>
								        <td class="tx-13" title="{{x.sector}}">
								          {{x.sector}}
								        </td>
								        <td>
								          <div style="display: flex;flex-direction: row;">
								            <a href ng-click="viewChallenge(x.challengeId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.title}}">{{x.title}}</a>
								          </div>
								        </td>
								        <td class="tx-13" title="{{x.description}}">
								          <span class="ellipsis2">{{x.description}}</span>
								        </td>
								        <td class="tx-13">
								          {{x.location}}
								        </td>
								        <td class="tx-13" title="{{x.keyword.join(',')}}">
								          <span class="ellipsis2">{{x.keyword.join(",")}}</span>
								        </td>
								        <td class="tx-13">
								          <span ng-repeat="i in getNumber(number) track by $index">
								            <a href ng-if="$index+1<=x.avgRating" class="tx-warning" disabled><i class="icon ion-star"></i></a>
								            <a href ng-if="$index+1>x.avgRating" class="tx-gray-500" disabled><i class="icon ion-star"></i></a>
								          </span>
								          <p>
								            {{x.avgRating}} out of 5
								            <a href="">
								              <span> ({{x.totalRating}} Ratings)</span>
								            </a>
								          </p>
								        </td>
								        <td class="tx-13">
								        	<span class="square-8 bg-danger mg-r-5 rounded-circle"></span>In-Active
								        </td>
										<td class="tx-13">
								        	<div class="btn-group" role="group" aria-label="Basic example">
								                <button type="button" class="btn btn-secondary active" ng-click="addChallenge(x)"><i class="fa fa-plus"></i></button>
								            </div>
								        </td>
								      </tr>                      
								    </tbody>
								  </table>
								</div><!-- table-responsive -->
							</div><!-- card -->
			            </div>
				    </div>
				    <div class="solutionsTable" ng-if="view == 'solutions'">
			    		<div class="billed-from" style="display: flex;width: 100%;">
				            <div class="search-box" style="width: 100%">
				              <input type="text" class="form-control" id="search" style="width: 100%;" placeholder="Search Solutions" ng-model="searchSolutions">
				              <button class="btn btn-primary"><i class="fa fa-search"></i></button>
				            </div>
				        </div><!-- billed-from -->
				        <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Active Technologies</label>
				            <div class="card card-table">
				            	<div class="table-responsive">
					                <table class="table mg-b-0 tx-12" id="activeSolutionTable">
						                <thead>
						                    <tr class="tx-10 bg-royal">
						                      <!-- <th class="wd-2p pd-y-5">&nbsp;</th> -->
						                      <th class="wd-10p pd-y-5">&nbsp;</th>
						                      <th class="pd-y-5" onclick="w3.sortHTML('#activeSolutionTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
						                      <th class="pd-y-5" onclick="w3.sortHTML('#activeSolutionTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Technology Provider</th>
						                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#activeSolutionTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Short Desc.</th>
						                      <th class="pd-y-5" onclick="w3.sortHTML('#activeSolutionTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Type</th>
						                      <th class="pd-y-5" onclick="w3.sortHTML('#activeSolutionTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>State</th>
						                      <th class="pd-y-5" onclick="w3.sortHTML('#activeSolutionTable', '.item', 'td:nth-child(7)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Product Life Cycle</th>
						                      <th class="pd-y-5" onclick="w3.sortHTML('#activeSolutionTable', '.item', 'td:nth-child(8)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Rating</th>
						                      <th>Status</th>
						                      <th>Actions</th>
						                    </tr>
						                </thead>
						                <tbody>
						                    <tr class="item" ng-repeat ="x in solutionsList | searchSolution:searchSolutions track by $index" ng-if="x.isActive == true"> 
								                <!-- <td>
										      		<input type="checkbox" name="selectSolution" mg-model="selectSolution "ng-click="selectSolution()"/>
										      	</td>  -->           
						                      <td class="pd-l-20">
						                        <img src="assets/img/Agriculture.png" ng-if="x.sector == 'Agriculture'" class="wd-35" alt="Image"/>
						                        <img src="assets/img/Healthcare.png" ng-if="x.sector == 'Healthcare'" class="wd-35" alt="Image"/>
						                        <img src="assets/img/Transportation.png" ng-if="x.sector == 'Transportation'" class="wd-35" alt="Image"/>
						                        <img src="assets/img/Water & Sanitation.png" ng-if="x.sector == 'Water & Sanitation'" class="wd-35" alt="Image"/>
						                        <img src="assets/img/Connectivity.png" ng-if="x.sector == 'Connectivity'" class="wd-35" alt="Image"/>
						                        <img src="assets/img/Education.png" ng-if="x.sector == 'Education'" class="wd-35" alt="Image"/>
						                        <img src="assets/img/Energy.png"ng-if="x.sector == 'Energy'" class="wd-35" alt="Image"/>
						                        <img src="assets/img/Livelihood.png" ng-if="x.sector == 'Livelihood'" class="wd-35" alt="Image"/>
						                      </td>
						                      <td class="tx-13" title="{{x.sector.join(',')}}">
						                        <span class="ellipsis2">{{x.sector.join(",")}}</span>
						                      </td>
						                      <td>
						                        <div style="display: flex;flex-direction: row;">
						                          <a href ng-click="viewSolution(x.solutionId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.name}}">{{x.name}}</a>
						                        </div>
						                      </td>
						                      <td class="tx-13" title="{{x.descriptionOfSolution}}">
						                        <span class="ellipsis2">{{x.descriptionOfSolution}}</span>
						                      </td>
						                      <td class="tx-13">
						                        {{x.affiliated}}
						                      </td>
						                      <td class="tx-13">
						                        {{x.location}}
						                      </td>
						                      <td class="tx-13">
						                        {{ x.type | solutionType }}
						                      </td>
						                      <td class="tx-13">
						                        <span ng-repeat="i in getNumber(number) track by $index">
						                          <a href ng-if="$index+1<=x.avgRating" class="tx-warning" disabled><i class="icon ion-star"></i></a>
						                          <a href ng-if="$index+1>x.avgRating" class="tx-gray-500" disabled><i class="icon ion-star"></i></a>
						                        </span>
						                        <p>
						                          {{x.avgRating}} out of 5
						                          <a href="">
						                            <span> ({{x.totalRating}} Ratings)</span>
						                          </a>
						                        </p>
						                      </td>
						                      <td class="tx-13">
						                      	<span class="square-8 bg-success mg-r-5 rounded-circle"></span>Active
						                      </td>
											  <td class="tx-13">
									        	<div class="btn-group" role="group" aria-label="Basic example">
									                <button type="button" class="btn btn-secondary active" ng-click="deleteSolution(x)"><i class="fa fa-trash-o"></i></button>
									            </div>
									          </td>
						                    </tr>                      
						                </tbody>
					                </table>
				            	</div><!-- table-responsive -->
			            	</div><!-- card -->
			        	</div>
			        	<div class="section-wrapper mg-t-10">
				        	<label class="section-title">Archived Technologies</label>
				            <div class="card card-table">
				            	<div class="table-responsive">
					                <table class="table mg-b-0 tx-12" id="archivedSolutionTable">
						                <thead>
						                    <tr class="tx-10 bg-royal">
						                      <!-- <th class="wd-2p pd-y-5">&nbsp;</th> -->
						                      <th class="wd-10p pd-y-5">&nbsp;</th>
						                      <th class="pd-y-5" onclick="w3.sortHTML('#archivedSolutionTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
						                      <th class="pd-y-5" onclick="w3.sortHTML('#archivedSolutionTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Technology Provider</th>
						                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#archivedSolutionTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Short Desc.</th>
						                      <th class="pd-y-5" onclick="w3.sortHTML('#archivedSolutionTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Type</th>
						                      <th class="pd-y-5" onclick="w3.sortHTML('#archivedSolutionTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>State</th>
						                      <th class="pd-y-5" onclick="w3.sortHTML('#archivedSolutionTable', '.item', 'td:nth-child(7)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Product Life Cycle</th>
						                      <th class="pd-y-5" onclick="w3.sortHTML('#archivedSolutionTable', '.item', 'td:nth-child(8)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Rating</th>
						                      <th>Status</th>
						                      <th>Actions</th>
						                    </tr>
						                </thead>
						                <tbody>
						                    <tr class="item" ng-repeat ="x in solutionsList | searchSolution:searchSolutions track by $index" ng-if="x.isActive == false"> 
						                    	<!-- <td>
										      		<input type="checkbox" name="deselectSolution" mg-model="deselectSolution "ng-click="deselectSolution()"/>
										      	</td>    -->         
						                      <td class="pd-l-20">
						                        <img src="assets/img/Agriculture.png" ng-if="x.sector == 'Agriculture'" class="wd-35" alt="Image"/>
						                        <img src="assets/img/Healthcare.png" ng-if="x.sector == 'Healthcare'" class="wd-35" alt="Image"/>
						                        <img src="assets/img/Transportation.png" ng-if="x.sector == 'Transportation'" class="wd-35" alt="Image"/>
						                        <img src="assets/img/Water & Sanitation.png" ng-if="x.sector == 'Water & Sanitation'" class="wd-35" alt="Image"/>
						                        <img src="assets/img/Connectivity.png" ng-if="x.sector == 'Connectivity'" class="wd-35" alt="Image"/>
						                        <img src="assets/img/Education.png" ng-if="x.sector == 'Education'" class="wd-35" alt="Image"/>
						                        <img src="assets/img/Energy.png"ng-if="x.sector == 'Energy'" class="wd-35" alt="Image"/>
						                        <img src="assets/img/Livelihood.png" ng-if="x.sector == 'Livelihood'" class="wd-35" alt="Image"/>
						                      </td>
						                      <td class="tx-13" title="{{x.sector.join(',')}}">
						                        <span class="ellipsis2">{{x.sector.join(",")}}</span>
						                      </td>
						                      <td>
						                        <div style="display: flex;flex-direction: row;">
						                          <a href ng-click="viewSolution(x.solutionId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.name}}">{{x.name}}</a>
						                        </div>
						                      </td>
						                      <td class="tx-13" title="{{x.descriptionOfSolution}}">
						                        <span class="ellipsis2">{{x.descriptionOfSolution}}</span>
						                      </td>
						                      <td class="tx-13">
						                        {{x.affiliated}}
						                      </td>
						                      <td class="tx-13">
						                        {{x.location}}
						                      </td>
						                      <td class="tx-13">
						                        {{ x.type | solutionType }}
						                      </td>
						                      <td class="tx-13">
						                        <span ng-repeat="i in getNumber(number) track by $index">
						                          <a href ng-if="$index+1<=x.avgRating" class="tx-warning" disabled><i class="icon ion-star"></i></a>
						                          <a href ng-if="$index+1>x.avgRating" class="tx-gray-500" disabled><i class="icon ion-star"></i></a>
						                        </span>
						                        <p>
						                          {{x.avgRating}} out of 5
						                          <a href="">
						                            <span> ({{x.totalRating}} Ratings)</span>
						                          </a>
						                        </p>
						                      </td>
						                      <td class="tx-13">
						                      	<span class="square-8 bg-danger mg-r-5 rounded-circle"></span>In-Active
						                      </td>
											  <td class="tx-13">
									        	<div class="btn-group" role="group" aria-label="Basic example">
									                <button type="button" class="btn btn-secondary active" ng-click="addSolution(x)"><i class="fa fa-plus"></i></button>
									            </div>
									          </td>
						                    </tr>                      
						                </tbody>
					                </table>
				            	</div><!-- table-responsive -->
			            	</div><!-- card -->
			        	</div>
				    </div>
				    <div class="researchesTable" ng-if="view == 'research'">
			    		<div class="billed-from" style="display: flex;width: 100%;">
				            <div class="search-box" style="width: 100%">
				              <input type="text" class="form-control" id="search" style="width: 100%;" placeholder="Search Researches" ng-model="searchResearches">
				              <button class="btn btn-primary"><i class="fa fa-search"></i></button>
				            </div>
				        </div><!-- billed-from -->
				        <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Active Research</label>
			            	<div class="card card-table">
			                	<div class="table-responsive">
					                <table class="table mg-b-0 tx-12" id="researchTable">
					                  <thead class="bg-royal">
					                    <tr class="tx-10 bg-royal">
					                      <th class="wd-5p pd-y-5">&nbsp;</th>
					                      <th class="wd-20p pd-y-5" onclick="w3.sortHTML('#researchTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
					                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#researchTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Research Title</th>
					                      <th class="wd-20p pd-y-5" onclick="w3.sortHTML('#researchTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Short Desc.</th>
					                      <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#researchTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Uploaded By</th>
					                      <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#researchTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Author</th>
					                      <th class="wd-15p pd-y-5">Status</th>
					                      <th class="wd-10p pd-y-5">Actions</th>
					                    </tr>
					                  </thead>
					                  <tbody>
					                    <tr class="item" ng-repeat="x in researchList | searchResearch:searchResearches track by $index" ng-if="x.isActive == true">
					                      <td class="pd-l-20">
					                        <img src="assets/img/Agriculture.png" ng-if="x.sector == 'Agriculture'" class="wd-35" alt="Image"/>
					                        <img src="assets/img/Healthcare.png" ng-if="x.sector == 'Healthcare'" class="wd-35" alt="Image"/>
					                        <img src="assets/img/Transportation.png" ng-if="x.sector == 'Transportation'" class="wd-35" alt="Image"/>
					                        <img src="assets/img/Water & Sanitation.png" ng-if="x.sector == 'Water & Sanitation'" class="wd-35" alt="Image"/>
					                        <img src="assets/img/Connectivity.png" ng-if="x.sector == 'Connectivity'" class="wd-35" alt="Image"/>
					                        <img src="assets/img/Education.png" ng-if="x.sector == 'Education'" class="wd-35" alt="Image"/>
					                        <img src="assets/img/Energy.png"ng-if="x.sector == 'Energy'" class="wd-35" alt="Image"/>
					                        <img src="assets/img/Livelihood.png" ng-if="x.sector == 'Livelihood'" class="wd-35" alt="Image"/>
					                      </td>
					                      <td class="tx-13" title="{{x.sector.join(',')}}">
					                        <span class="ellipsis2">{{x.sector.join(",")}}</span>
					                      </td>
					                      <td class="tx-14 tx-inverse tx-medium" title="{{x.researchName}}">
					                        <span class="ellipsis2">{{x.researchName}}</span>
					                      </td>
					                      <td class="tx-13" title="{{x.description}}">
					                        <span class="ellipsis2">{{x.description}}</span>
					                      </td>
					                      <td class="tx-13" title="{{userDetails.firstName}} {{userDetails.lastName}}">
					                        <span class="ellipsis2">{{userDetails.firstName}} {{userDetails.lastName}}</span>
					                      </td>
					                      <td>{{x.author}}</td>
					                      <td class="tx-13">
						                      	<span class="square-8 bg-success mg-r-5 rounded-circle"></span>Active
						                  </td>
					                      <td class="tx-13">
									        	<div class="btn-group" role="group" aria-label="Basic example">
									                <button type="button" class="btn btn-secondary active" ng-click="deleteResearch(x)"><i class="fa fa-trash-o"></i></button>
									            </div>
									      </td>
					                    </tr>                      
					                  </tbody>
					                </table>
					            </div><!-- table-responsive -->
			            	</div><!-- card -->
			            </div>
			            <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Archived Research</label>
			            	<div class="card card-table">
			                	<div class="table-responsive">
					                <table class="table mg-b-0 tx-12" id="archivedResearchTable">
					                  <thead class="bg-royal">
					                    <tr class="tx-10 bg-royal">
					                      <th class="wd-5p pd-y-5">&nbsp;</th>
					                      <th class="wd-20p pd-y-5" onclick="w3.sortHTML('#archivedResearchTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
					                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#archivedResearchTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Research Title</th>
					                      <th class="wd-20p pd-y-5" onclick="w3.sortHTML('#archivedResearchTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Short Desc.</th>
					                      <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#archivedResearchTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Uploaded By</th>
					                      <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#archivedResearchTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Author</th>
					                      <th class="wd-15p pd-y-5">Status</th>
					                      <th class="wd-10p pd-y-5">Actions</th>
					                    </tr>
					                  </thead>
					                  <tbody>
					                    <tr class="item" ng-repeat="x in researchList | searchResearch:searchResearches track by $index" ng-if="x.isActive == false">
					                      <td class="pd-l-20">
					                        <img src="assets/img/Agriculture.png" ng-if="x.sector == 'Agriculture'" class="wd-35" alt="Image"/>
					                        <img src="assets/img/Healthcare.png" ng-if="x.sector == 'Healthcare'" class="wd-35" alt="Image"/>
					                        <img src="assets/img/Transportation.png" ng-if="x.sector == 'Transportation'" class="wd-35" alt="Image"/>
					                        <img src="assets/img/Water & Sanitation.png" ng-if="x.sector == 'Water & Sanitation'" class="wd-35" alt="Image"/>
					                        <img src="assets/img/Connectivity.png" ng-if="x.sector == 'Connectivity'" class="wd-35" alt="Image"/>
					                        <img src="assets/img/Education.png" ng-if="x.sector == 'Education'" class="wd-35" alt="Image"/>
					                        <img src="assets/img/Energy.png"ng-if="x.sector == 'Energy'" class="wd-35" alt="Image"/>
					                        <img src="assets/img/Livelihood.png" ng-if="x.sector == 'Livelihood'" class="wd-35" alt="Image"/>
					                      </td>
					                      <td class="tx-13" title="{{x.sector.join(',')}}">
					                        <span class="ellipsis2">{{x.sector.join(",")}}</span>
					                      </td>
					                      <td class="tx-14 tx-inverse tx-medium" title="{{x.researchName}}">
					                        <span class="ellipsis2">{{x.researchName}}</span>
					                      </td>
					                      <td class="tx-13" title="{{x.description}}">
					                        <span class="ellipsis2">{{x.description}}</span>
					                      </td>
					                      <td class="tx-13" title="{{userDetails.firstName}} {{userDetails.lastName}}">
					                        <span class="ellipsis2">{{userDetails.firstName}} {{userDetails.lastName}}</span>
					                      </td>
					                      <td>{{x.author}}</td>
					                      <td class="tx-13" title="{{x.keyword.join(',')}}">
					                        <span class="ellipsis2">{{x.keyword.join(",")}}</span>
					                      </td>
					                      <td class="tx-13">
						                      	<span class="square-8 bg-danger mg-r-5 rounded-circle"></span>In-Active
						                  </td>
					                      <td class="tx-13">
									        	<div class="btn-group" role="group" aria-label="Basic example">
									                <button type="button" class="btn btn-secondary active" ng-click="addResearch(x)"><i class="fa fa-plus"></i></button>
									            </div>
									      </td>
					                    </tr>                      
					                  </tbody>
					                </table>
					            </div><!-- table-responsive -->
			            	</div><!-- card -->
			            </div>
				    </div>
				    <div class="discussionsTable" ng-if="view == 'discussions'">
				    	<div class="billed-from" style="display: flex;width: 100%;">
				            <div class="search-box" style="width: 100%">
				              <input type="text" class="form-control" id="search" style="width: 100%;" placeholder="Search Discussions" ng-model="searchDiscussions">
				              <button class="btn btn-primary"><i class="fa fa-search"></i></button>
				            </div>
				        </div><!-- billed-from -->
				        <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Active Discussions</label>
			            	<div class="card card-table">
			            		<div class="table-responsive">
				                    <table class="table mg-b-0 tx-12" id="discussionsTable">
				                      <thead>
				                        <tr class="tx-10">
				                          <th class="wd-10p pd-y-5">&nbsp;</th>
				                          <th class="wd-20p pd-y-5" onclick="w3.sortHTML('#discussionsTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Discussion Name</th>
				                          <th class="wd-20p pd-y-5" onclick="w3.sortHTML('#discussionsTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Description</th>
				                          <th class="wd-10p pd-y-5">Status</th>
				                          <th class="wd-15p pd-y-5">Actions</th>
				                        </tr>
				                      </thead>
				                      <tbody>
				                        <tr ng-repeat="discussion in discussionsList | filter: {discussionName: searchDiscussions}"  ng-if="discussion.isActive == true">
				                          <td class="pd-l-20">
				                            <img src="http://via.placeholder.com/500x500" class="wd-35 rounded-circle" alt="Image">
				                          </td>
				                          <td>
				                            <div style="display: flex;flex-direction: row;">
				                              <a href="javascript:void(0)" class="tx-primary tx-14 tx-medium d-block ellipsis2" ng-click="viewDiscussion(discussion)">{{discussion.discussionName}}</a>
				                              <a href="javascript:void(0)" ng-click="follow(discussion)" title="Following" class="tx-15 tx-danger mg-l-5">
				                                <i class="icon ion-heart tx-gray-500"></i>
				                              </a>
				                            </div>
				                            <div class="tx-11" ng-if="discussion.location">
				                              <span class="ion-ios-location"> {{discussion.location}}</span>
				                            </div>
				                            <div class="tx-11" >
				                                <span class="tx-11">Followed by: <a href="">{{discussion.following.length}} People</a></span>
				                            </div>
				                          </td>
				                          <td class="tx-13"  title="{{discussion.body}}">
				                            <span class="ellipsis2">{{discussion.body}}</span>
				                          </td>
				                          <td class="tx-13">
						                      	<span class="square-8 bg-success mg-r-5 rounded-circle"></span>Active
						                  </td>
				                          <td class="tx-13">
								        	<div class="btn-group" role="group" aria-label="Basic example">
								                <button type="button" class="btn btn-secondary active" ng-click="deleteDiscussion(discussion)"><i class="fa fa-trash-o"></i></button>
								            </div>
								          </td>
				                        </tr>                                
				                      </tbody>
				                    </table>
				                </div><!-- table-responsive -->
			            	</div>
			            </div>
			            <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Archived Discussions</label>
			            	<div class="card card-table">
			            		<div class="table-responsive">
				                    <table class="table mg-b-0 tx-12" id="archivedDiscussionsTable">
				                      <thead>
				                        <tr class="tx-10">
				                          <th class="wd-10p pd-y-5">&nbsp;</th>
				                          <th class="wd-20p pd-y-5" onclick="w3.sortHTML('#archivedDiscussionsTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Discussion Name</th>
				                          <th class="wd-20p pd-y-5" onclick="w3.sortHTML('#archivedDiscussionsTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Description</th>
				                          <th class="wd-10p pd-y-5">Status</th>
				                          <th class="wd-15p pd-y-5">Actions</th>
				                        </tr>
				                      </thead>
				                      <tbody>
				                        <tr ng-repeat="discussion in discussionsList | filter: {discussionName: searchDiscussions}"  ng-if="discussion.isActive == false">
				                          <td class="pd-l-20">
				                            <img src="http://via.placeholder.com/500x500" class="wd-35 rounded-circle" alt="Image">
				                          </td>
				                          <td>
				                            <div style="display: flex;flex-direction: row;">
				                              <a href="javascript:void(0)" class="tx-primary tx-14 tx-medium d-block" ng-click="viewDiscussion(discussion)">{{discussion.discussionName}}</a>
				                              <a href="javascript:void(0)" ng-click="follow(discussion)" title="Following" class="tx-15 tx-danger mg-l-5">
				                                <i class="icon ion-heart tx-gray-500"></i>
				                              </a>
				                            </div>
				                            <div class="tx-11" ng-if="discussion.location">
				                              <span class="ion-ios-location"> {{discussion.location}}</span>
				                            </div>
				                            <div class="tx-11" >
				                                <span class="tx-11">Followed by: <a href="">{{discussion.following.length}} People</a></span>
				                            </div>
				                          </td>
				                          <td class="tx-13" title="{{discussion.body}}">
				                            <span class="ellipsis2">{{discussion.body}}</span>
				                          </td>
				                          <td class="tx-13">
						                      	<span class="square-8 bg-danger mg-r-5 rounded-circle"></span>In-Active
						                  </td>
				                          <td class="tx-13">
								        	<div class="btn-group" role="group" aria-label="Basic example">
								                <button type="button" class="btn btn-secondary active" ng-click="addDiscussion(discussion)"><i class="fa fa-plus"></i></button>
								            </div>
								          </td>
				                        </tr>                                
				                      </tbody>
				                    </table>
				                </div><!-- table-responsive -->
			            	</div>
			            </div>
				    </div>
				    <div class="collaboratorsTable" ng-if="view == 'collaborators'">
			    		<div class="billed-from" style="display: flex;width: 100%;">
				            <div class="search-box" style="width: 100%">
				              <input type="text" class="form-control" id="search" style="width: 100%;" placeholder="Search Collaborators" ng-model="searchCollaborators">
				              <button class="btn btn-primary"><i class="fa fa-search"></i></button>
				            </div>
				        </div><!-- billed-from -->
				        <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Active Collaborators</label>
			            	<div class="card card-table">
			                	<div class="table-responsive">
			                  		<table class="table mg-b-0 tx-12" id="activeCollaborateTable">
					                    <thead>
					                      <tr class="tx-10 bg-royal">
					                      	<!-- <th class="wd-2p pd-y-5">&nbsp;</th> -->
					                        <th class="wd-5p pd-y-5">&nbsp;</th>
					                        <th class="pd-y-5" onclick="w3.sortHTML('#activeCollaborateTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
					                        <th class="pd-y-5" onclick="w3.sortHTML('#activeCollaborateTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Collaborator</th>
					                        <th class="pd-y-5" onclick="w3.sortHTML('#activeCollaborateTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Type</th>
					                        <th class="pd-y-5" onclick="w3.sortHTML('#activeCollaborateTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>State</th>
					                        <th class="pd-y-5" onclick="w3.sortHTML('#activeCollaborateTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Rating</th>
					                        <th>Status</th>
					                        <th>Actions</th>
					                      </tr>
					                    </thead>
					                    <tbody>
					                      <tr class="item" ng-repeat ="x in collaboratorsList | searchCollaborate:searchCollaborators track by $index" ng-if="x.isActive == true">
					                      	<!-- <td>
										      	<input type="checkbox" name="selectCollaborator" mg-model="selectCollaborator "ng-click="selectCollaborator()"/>
										    </td> -->
					                        <td class="pd-l-20">
					                          <img src="http://via.placeholder.com/500x500"  ng-if="!x.logo" class="wd-35 rounded-circle" alt="Image">
					                          <img src="{{x.logo}}" ng-if="x.logo" class="wd-35 rounded-circle" alt="Image">
					                        </td>
					                        <td class="tx-13" title="{{x.sector.join(',')}}">
					                          <span class="ellipsis2">{{x.sector.join(",")}}</span>
					                        </td>
					                        <td>
					                          <div style="display: flex;flex-direction: row;">
					                            <a href ng-click="viewCollaborate(x.collaborateId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.name}}">{{x.name}}</a>
					                          </div>
					                        </td>
					                        <td class="tx-13">
					                          {{ x.type }}
					                        </td>
					                        <td class="tx-13">
					                          {{x.location}}
					                        </td>
					                        <td class="tx-13">
					                          <span ng-repeat="i in getNumber(number) track by $index">
					                            <a href ng-if="$index+1<=x.avgRating" class="tx-warning" disabled><i class="icon ion-star"></i></a>
					                            <a href ng-if="$index+1>x.avgRating" class="tx-gray-500" disabled><i class="icon ion-star"></i></a>
					                          </span>
					                          <p>
					                            {{x.avgRating}} out of 5
					                            <a href="">
					                              <span> ({{x.totalRating}} Ratings)</span>
					                            </a>
					                          </p>
					                        </td>
					                        <td class="tx-13">
					                        	<span class="square-8 bg-success mg-r-5 rounded-circle"></span>Active
					                        </td>
											<td class="tx-13">
									        	<div class="btn-group" role="group" aria-label="Basic example">
									                <button type="button" class="btn btn-secondary active" ng-click="deleteCollaborator(x.collaborateId)"><i class="fa fa-trash-o"></i></button>
									            </div>
								        	</td>
					                      </tr>                      
					                    </tbody>
				                	</table>
			                	</div><!-- table-responsive -->
			            	</div><!-- card -->
			            </div>
			            <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Archived Collaborators</label>
			            	<div class="card card-table">
			                	<div class="table-responsive">
			                  		<table class="table mg-b-0 tx-12" id="archivedCollaborateTable">
					                    <thead>
					                      <tr class="tx-10 bg-royal">
					                      	<!-- <th class="wd-2p pd-y-5">&nbsp;</th> -->
					                        <th class="wd-5p pd-y-5">&nbsp;</th>
					                        <th class="pd-y-5" onclick="w3.sortHTML('#archivedCollaborateTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
					                        <th class="pd-y-5" onclick="w3.sortHTML('#archivedCollaborateTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Collaborator</th>
					                        <th class="pd-y-5" onclick="w3.sortHTML('#archivedCollaborateTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Type</th>
					                        <th class="pd-y-5" onclick="w3.sortHTML('#archivedCollaborateTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>State</th>
					                        <th class="pd-y-5" onclick="w3.sortHTML('#archivedCollaborateTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Rating</th>
					                        <th>Status</th>
					                        <th>Actions</th>
					                      </tr>
					                    </thead>
					                    <tbody>
					                      <tr class="item" ng-repeat ="x in collaboratorsList | searchCollaborate:searchCollaborators track by $index" ng-if="x.isActive == false">
					                      	<!-- <td>
										      	<input type="checkbox" name="deselectCollaborator" mg-model="deselectCollaborator "ng-click="deselectCollaborator()"/>
										    </td> -->
					                        <td class="pd-l-20">
					                          <img src="http://via.placeholder.com/500x500"  ng-if="!x.logo" class="wd-35 rounded-circle" alt="Image">
					                          <img src="{{x.logo}}" ng-if="x.logo" class="wd-35 rounded-circle" alt="Image">
					                        </td>
					                        <td class="tx-13" title="{{x.sector.join(',')}}">
					                          <span class="ellipsis2">{{x.sector.join(",")}}</span>
					                        </td>
					                        <td>
					                          <div style="display: flex;flex-direction: row;">
					                            <a href ng-click="viewCollaborate(x.collaborateId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.name}}">{{x.name}}</a>
					                          </div>
					                        </td>
					                        <td class="tx-13">
					                          {{ x.type }}
					                        </td>
					                        <td class="tx-13">
					                          {{x.location}}
					                        </td>
					                        <td class="tx-13">
					                          <span ng-repeat="i in getNumber(number) track by $index">
					                            <a href ng-if="$index+1<=x.avgRating" class="tx-warning" disabled><i class="icon ion-star"></i></a>
					                            <a href ng-if="$index+1>x.avgRating" class="tx-gray-500" disabled><i class="icon ion-star"></i></a>
					                          </span>
					                          <p>
					                            {{x.avgRating}} out of 5
					                            <a href="">
					                              <span> ({{x.totalRating}} Ratings)</span>
					                            </a>
					                          </p>
					                        </td>
					                        <td class="tx-13">
					                        	<span class="square-8 bg-danger mg-r-5 rounded-circle"></span>In-Active
					                        </td>
											<td class="tx-13">
									        	<div class="btn-group" role="group" aria-label="Basic example">
									                <button type="button" class="btn btn-secondary active" ng-click="addCollaborator(x.collaborateId)"><i class="fa fa-plus"></i></button>
									            </div>
								        	</td>
					                      </tr>                      
					                    </tbody>
				                	</table>
			                	</div><!-- table-responsive -->
			            	</div><!-- card -->
			            </div>
				    </div>
				    <div class="collaboratorsTable" ng-if="view == 'projectFolders'">
			    		<div class="billed-from" style="display: flex;width: 100%;">
				            <div class="search-box" style="width: 100%">
				              <input type="text" class="form-control" id="search" style="width: 100%;" placeholder="Search Folders" ng-model="folderName">
				              <button class="btn btn-primary"><i class="fa fa-search"></i></button>
				            </div>
				        </div><!-- billed-from -->
				        <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Active Folders</label>
			            	<div class="card card-table">
			                	<div class="table-responsive">
			                  		<table class="table mg-b-0 tx-12" id="activeProjectFoldersTable">
					                    <thead class="bg-royal">
					                      <tr class="tx-10">
					                        <th class="wd-20p pd-y-5" onclick="w3.sortHTML('#activeProjectFoldersTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>FolderName</th>
					                        <th class="wd-pd-y-5" onclick="w3.sortHTML('#activeProjectFoldersTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Type</th>
					                        <th>Status</th>
					                        <th>Actions</th>
					                      </tr>
					                    </thead>
					                    <tbody>
					                      <tr class="item" ng-repeat ="x in projectFoldersList | searchProjectFolder:folderName track by $index" ng-if="x.isActive == true">
					                        <td class="tx-14 tx-inverse tx-medium" title="{{x.name}}">
					                          <span class="ellipsis2">{{x.name}}</span>
					                        </td>
					                        <td>
					                          <div style="display: flex;flex-direction: row;">
					                            <a href class="tx-inverse tx-13 d-block ellipsis2" title="{{x.category}}">{{x.category}}</a>
					                          </div>
					                        </td>
					                        <td class="tx-13">
					                        	<span class="square-8 bg-success mg-r-5 rounded-circle"></span>Active
					                        </td>
											<td class="tx-13">
									        	<div class="btn-group" role="group" aria-label="Basic example">
									                <button type="button" class="btn btn-secondary active" ng-click="deleteProjectFolders(x.projectFolderId)"><i class="fa fa-trash-o"></i></button>
									            </div>
								        	</td>
					                      </tr>                      
					                    </tbody>
				                	</table>
			                	</div><!-- table-responsive -->
			            	</div><!-- card -->
			            </div>
			            <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Archived Folders</label>
			            	<div class="card card-table">
			                	<div class="table-responsive">
			                  		<table class="table mg-b-0 tx-12" id="archivedProjectFoldersTable">
					                    <thead class="bg-royal">
					                      <tr class="tx-10">
					                        <th class="wd-20p pd-y-5" onclick="w3.sortHTML('#archivedProjectFoldersTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>FolderName</th>
					                        <th class="wd-pd-y-5" onclick="w3.sortHTML('#archivedProjectFoldersTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Type</th>
					                        <th>Status</th>
					                        <th>Actions</th>
					                      </tr>
					                    </thead>
					                    <tbody>
					                      <tr class="item" ng-repeat ="x in projectFoldersList | searchProjectFolder:folderName track by $index" ng-if="x.isActive == false">
					                        <td class="tx-14 tx-inverse tx-medium" title="{{x.name}}">
					                          <span class="ellipsis2">{{x.name}}</span>
					                        </td>
					                        <td>
					                          <div style="display: flex;flex-direction: row;">
					                            <a href class="tx-inverse tx-13 d-block ellipsis2" title="{{x.category}}">{{x.category}}</a>
					                          </div>
					                        </td>
					                        <td class="tx-13">
					                        	<span class="square-8 bg-danger mg-r-5 rounded-circle"></span>In-Active
					                        </td>
											<td class="tx-13">
									        	<div class="btn-group" role="group" aria-label="Basic example">
									                <button type="button" class="btn btn-secondary active" ng-click="addProjectFolders(x.projectFolderId)"><i class="fa fa-plus"></i></button>
									            </div>
								        	</td>
					                      </tr>                      
					                    </tbody>
				                	</table>
			                	</div><!-- table-responsive -->
			            	</div><!-- card -->
			            </div>
				    </div>
				    <div class="projectsTable" ng-if="view == 'projects'">
			    		<div class="billed-from" style="display: flex;width: 100%;">
				            <div class="search-box" style="width: 100%">
				              <input type="text" class="form-control" id="search" style="width: 100%;" placeholder="Search Projects" ng-model="searchProjects">
				              <button class="btn btn-primary"><i class="fa fa-search"></i></button>
				            </div>
				        </div><!-- billed-from -->
				        <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Active Projects</label>
				            <div class="card card-table">
				              	<div class="table-responsive">
					                <table class="table mg-b-0 tx-12" id="activeProjectTable">
					                  <thead>
					                    <tr class="tx-10">
					                     <!--  <th class="wd-2p pd-y-5">&nbsp;</th> -->
					                      <th class="wd-5p pd-y-5">&nbsp;</th>
					                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#activeProjectTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Project Name</th>
					                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#activeProjectTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
					                      <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#activeProjectTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Short Desc.</th>
					                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#activeProjectTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Category</th>
					                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#activeProjectTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Project Type</th>
					                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#activeProjectTable', '.item', 'td:nth-child(8)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>End Date</th>
					                      <th>Status</th>
					                      <th class="wd-10p pd-y-5">Actions</th>
					                    </tr>
					                  </thead>
					                  <tbody>
					                    <tr class="item" ng-repeat="x in projectsList | searchProject:searchProjects track by $index" ng-if="x.isActive == true">
					                    	<!-- <td>
										      	<input type="checkbox" name="selectProject" mg-model="selectProject "ng-click="selectProject()"/>
										    </td> -->
					                      <td class="pd-l-20">
					                        <img src="http://via.placeholder.com/500x500"  ng-if="!x.logo" class="wd-35 rounded-circle" alt="Image">
					                        <img src="{{x.logo}}" ng-if="x.logo" class="wd-35 rounded-circle" alt="Image">
					                      </td>
					                      <td>
					                        <div style="display: flex;flex-direction: row;">
					                          <a href ng-click="viewProject(x.projectId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.name}}">{{x.name}}</a>
					                        </div>
					                      </td>
					                      <td class="tx-13" title="{{x.sector.join(',')}}">
					                        <span class="ellipsis2">{{x.sector.join(",")}}</span>
					                      </td>
					                      <td class="tx-13 ellipsis2" title="{{x.description}}">
					                        {{x.description}}
					                      </td>
					                      <td class="tx-13">
					                        {{x.categories}}
					                      </td>
					                      <td class="tx-13">
					                        {{x.type}}
					                      </td>
					                      <td class="tx-13">{{x.endDate | convertToISTDate}}</td>
					                      <td class="tx-13">
					                        	<span class="square-8 bg-success mg-r-5 rounded-circle"></span>Active
					                      </td>
										  <td class="tx-13">
								        	<div class="btn-group" role="group" aria-label="Basic example">
								                <button type="button" class="btn btn-secondary active" ng-click="deleteProject(x)"><i class="fa fa-trash-o"></i></button>
								            </div>
								          </td>
					                    </tr>                    
					                  </tbody>
					                </table>
				            	</div><!-- table-responsive -->
				            </div><!-- card -->
				        </div>
				        <div class="section-wrapper mg-t-10">
				        	<label class="section-title">Archived Projects</label>
				            <div class="card card-table">
				              	<div class="table-responsive">
					                <table class="table mg-b-0 tx-12" id="archivedProjectTable">
					                  <thead>
					                    <tr class="tx-10">
					                      <!-- <th class="wd-2p pd-y-5">&nbsp;</th> -->
					                      <th class="wd-5p pd-y-5">&nbsp;</th>
					                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#archivedProjectTable', '.item', 'td:nth-child(2)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Project Name</th>
					                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#archivedProjectTable', '.item', 'td:nth-child(3)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Sector</th>
					                      <th class="wd-15p pd-y-5" onclick="w3.sortHTML('#archivedProjectTable', '.item', 'td:nth-child(4)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Short Desc.</th>
					                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#archivedProjectTable', '.item', 'td:nth-child(5)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Category</th>
					                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#archivedProjectTable', '.item', 'td:nth-child(6)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>Project Type</th>
					                      <th class="wd-10p pd-y-5" onclick="w3.sortHTML('#archivedProjectTable', '.item', 'td:nth-child(8)')"><i class="fa fa-sort mg-l-5 tx-inverse"></i>End Date</th>
					                      <th>Status</th>
					                      <th class="wd-10p pd-y-5">Actions</th>
					                    </tr>
					                  </thead>
					                  <tbody>
					                    <tr class="item" ng-repeat="x in projectsList | searchProject:searchProjects track by $index" ng-if="x.isActive == false">
					                    	<!-- <td>
										      	<input type="checkbox" name="deselectProject" mg-model="deselectProject "ng-click="deselectProject()"/>
										    </td> -->
					                      <td class="pd-l-20">
					                        <img src="http://via.placeholder.com/500x500"  ng-if="!x.logo" class="wd-35 rounded-circle" alt="Image">
					                        <img src="{{x.logo}}" ng-if="x.logo" class="wd-35 rounded-circle" alt="Image">
					                      </td>
					                      <td>
					                        <div style="display: flex;flex-direction: row;">
					                          <a href ng-click="viewProject(x.projectId)" class="tx-primary tx-14 tx-medium d-block ellipsis2" title="{{x.name}}">{{x.name}}</a>
					                        </div>
					                      </td>
					                      <td class="tx-13" title="{{x.sector.join(',')}}">
					                        <span class="ellipsis2">{{x.sector.join(",")}}</span>
					                      </td>
					                      <td class="tx-13" title="{{x.description}}">
					                        <span class="ellipsis2">{{x.description}}</span>
					                      </td>
					                      <td class="tx-13">
					                        {{x.categories}}
					                      </td>
					                      <td class="tx-13">
					                        {{x.type}}
					                      </td>
					                      <td class="tx-13">{{x.endDate | convertToISTDate}}</td>
					                      <td class="tx-13">
					                        	<span class="square-8 bg-danger mg-r-5 rounded-circle"></span>In-Active
					                      </td>
										  <td class="tx-13">
								        	<div class="btn-group" role="group" aria-label="Basic example">
								                <button type="button" class="btn btn-secondary active" ng-click="addProject(x)"><i class="fa fa-plus"></i></button>
								            </div>
								          </td>
					                    </tr>                    
					                  </tbody>
					                </table>
				            	</div><!-- table-responsive -->
				            </div><!-- card -->
				        </div>
				    </div>
		    	</div>
		    	<div class="manager-left">
		            <nav class="nav">
						<a href="javascript:void(0)" class="nav-link" ng-click="settingsView('users')" ng-class = "{'active' : view == 'users'}">
						<span><i class="fa fa-user"></i> Users</span>
						<!-- <span>120</span> -->
						</a>
						<a href="javascript:void(0)" class="nav-link" ng-click="settingsView('challenges')" ng-class = "{'active' : view == 'challenges'}">
						<span><i class="icon ion-flash"></i> Challenges</span>
						<!-- <span>16</span> -->
						</a>
						<a href="javascript:void(0)" class="nav-link" ng-click="settingsView('solutions')" ng-class = "{'active' : view == 'solutions'}">
						<span><i class="icon ion-wand"></i> Technologies</span>
						<!-- <span>68</span> -->
						<a href="javascript:void(0)" class="nav-link" ng-click="settingsView('research')" ng-class = "{'active' : view == 'research'}">
						<span><i class="icon ion-ios-flask"></i> Research</span>
						<!-- <span>68</span> -->
						<a href="javascript:void(0)" class="nav-link" ng-click="settingsView('discussions')" ng-class = "{'active' : view == 'discussions'}">
						<span><i class="icon ion-ios-chatboxes-outline"></i> Discussions</span>
						<!-- <span>68</span> -->
						</a>
						<a href="javascript:void(0)" class="nav-link" ng-click="settingsView('collaborators')" ng-class = "{'active' : view == 'collaborators'}">
						<span><i class="icon ion-ios-people"></i> Collaborators</span>
						<!-- <span>38</span> -->
						</a>
						<a href="javascript:void(0)" class="nav-link" ng-click="settingsView('projectFolders')" ng-class = "{'active' : view == 'projectFolders'}">
						<span><i class="tx-10-force fa fa-cubes"></i> Project Folders</span>
						<a href="javascript:void(0)" class="nav-link" ng-click="settingsView('projects')" ng-class = "{'active' : view == 'projects'}">
						<span><i class="icon ion-ios-flower"></i> Projects</span>
						<!-- <span>9</span> -->
						</a>
		            </nav>
		        </div><!-- manager-left -->
		    </div>	    
		</div>
	</div>
	<div class="slim-footer">
	    <div class="container">
        <p>SVM Copyright 2019 &copy; All Rights Reserved.</p>
        <p>Version 1.0(Beta)</p>
      </div><!-- container -->
 	</div><!-- slim-footer -->
</div>